<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
      function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
      }
      </script>
    <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'lti'}); %>
    <div id="content" class="container">
      <%- include('../partials/instructorAdminTabs', {navSubPage: 'lti'}); %>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">LTI configuration</div>
        <div class="card-body">
          <p class="mb-0">
            The LTI (Learning Tools Interoperability) standard allows
            other online learning websites to embed PrairieLearn
            assessments within them. PrairieLearn acts as a <em>Tool
            Provider</em> for LTI. See
            the <a href="https://www.imsglobal.org/basic-overview-how-lti-works">LTI
            overview</a> for more information.
          </p>
          <% if (!config.hasLti) { %>
          <p class="mb-0 mt-3">
            <em>LTI not enabled on this server.</em>
          </p>
          <% } %>
        </div>
      </div> 

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <% if (config.hasLti) { %>
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">LTI credentials</div>
        <div class="card-body">
          <p class="mb-0">
            Use these credentials with your LMS (Learning Management System) to connect into this course instance.
            A single credential can be shared with multiple links.
          </p>
        </div>
        
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Launch URL</th>
              <th>Consumer key</th>
              <th>Shared secret</th>
              <th>Created</th>
              <th>Deleted</th>
            </tr>
          </thead>
          <tbody>
            <% if (lti_credentials) { %>
            <% lti_credentials.forEach(function(tc) { %>
            <tr>
              <td>
                <code><%= config.ltiRedirectUrl %></code>
                <i class="far fa-copy" title="Copy to clipboard"
                   onClick="copyToClipboard($(this).prev());$(this).fadeOut({queue: true});$(this).fadeIn({queue:true});"></i>
              </td>
              <td>
                <code><%= tc.consumer_key %></code>
                <i class="far fa-copy" title="Copy to clipboard"
                   onClick="copyToClipboard($(this).prev());$(this).fadeOut({queue: true});$(this).fadeIn({queue:true});"></i>
              </td>
              <td>
                <code><%= tc.secret %></code>
                <i class="far fa-copy" title="Copy to clipboard"
                   onClick="copyToClipboard($(this).prev());$(this).fadeOut({queue: true});$(this).fadeIn({queue:true});"></i>
              </td>
              <td><%= tc.created %></td>
              <td>
                <% if (tc.deleted) { %>
                <%= tc.deleted %>
                <% } else { %>
                <a tabindex="0" class="btn btn-sm btn-danger" role="button"
                   data-toggle="popover" data-trigger="focus" data-container="body"
                   data-html="true" data-placement="auto" title="Confirm delete"
                   data-content="
                                 <form method=&quot;post&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;lti_del_cred&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;lti_link_id&quot; value=&quot;<%= tc.id %>&quot;>
                                   <input type=&quot;submit&quot; class=&quot;btn btn-danger&quot; value=&quot;Delete&quot;>
                                 </form>
                                 ">Delete</a>
                <% } %>
              </td>
            </tr>
            <% }); %>
            <% } else { %>
            <tr>
              <td colspan="5">
                <em>No LTI credentials have been created.</em>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>

        <div class="card-body">
          <form method="post">
            <input type="hidden" name="__action" value="lti_new_cred">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <input type="submit" class="btn btn-success" value="Create new LTI credential">
          </form>
        </div>
      </div>
      <% } %>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <% if (config.hasLti) { %>
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">LTI link targets</div>
        <div class="card-body">
          <p>
            LTI links connect an assessment from your LMS directly into a PrairieLearn assessment.
            This is required for PrairieLearn to update scores in your LMS.
          </p>
          <p class="mb-0">
            To create a link, first create and follow the link in your LMS, then configure it here.
          </p>
        </div>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Link info</th>
              <th>Assessment</th>
              <th>Link first seen</th>
            </tr>
          </thead>
          <tbody>
            <% if (lti_links) { %>
            <% lti_links.forEach(function(link) { %>
            <tr>
              <td title="<%= link.resource_link_description %>">
                <%= link.resource_link_title %>
              </td>
              <td>
                <form method="post">
                  <input type="hidden" name="__action" value="lti_link_target">
                  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                  <input type="hidden" name="lti_link_id" value="<%= link.id %>">
                  <select onChange="this.form.submit();" name="newAssessment">
                    <option value="" <% if (!link.assessment_id) { %>selected<% } %>>
                      -- None
                    </option>
                    <% assessments.forEach(function(a) { %>
                    <option value="<%= a.assessment_id %>"
                            <% if (link.assessment_id == a.assessment_id) { %>selected<% } %>
                            ><%= a.label %>: <%= a.title %> (<%= a.tid %>)
                    </option>
                    <% }); %>
                  </select>
                </form>
              </td>
              <td><%= link.created %></td>
            </tr>
            <% }); %>
            <% } else { %>
            <tr>
              <td colspan="3">
                <em>No LTI links have been created.</em>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% } %>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

    </div>
  </body>
</html>
