<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <script src="/localscripts/histmini.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'assessments'}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Assessments</div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th style="width: 1%"></th>
                <th></th>
                <th>TID</th>
                <th class="text-center">Students</th>
                <th class="text-center">Scores</th>
                <th class="text-center">Mean Score</th>
                <th class="text-center">Mean Duration</th>
              </tr>
            </thead>
            <tbody>
              <% rows.forEach(function(row, i) { %>
              <% if (row.start_new_set) { %>
              <tr>
                <th colspan="7"><%= row.heading %></th>
              </tr>
              <% } %>
              <tr>
                <td class="align-middle" style="width: 1%">
                  <a href="<%= urlPrefix %>/assessment/<%= row.id %>/" class="badge color-<%= row.color %> color-hover" role="button"><%= row.label %></a>
                </td>
                <td class="align-middle">
                  <a href="<%= urlPrefix %>/assessment/<%= row.id %>/"><%= row.title %></a>
                  <%- include('../partials/issueBadge', {count: row.open_issue_count}); %>
                </td>
                <td class="align-middle"><%= row.tid %></td>

                <td class="text-center align-middle"><%= row.number %></td>

                <% if (row.number > 0) { %>
                <td class="text-center align-middle"><div id="scoreHist<%= i %>" class="miniHist"></div></td>
                <script>
                  $(function() {
                      var data = [<%= row.score_hist %>];
                      var options = {
                          width: 60,
                          height: 20,
                      };
                      histmini("#scoreHist<%= i %>", data, options);
                  });
                </script>
                <% } else { %>
                <td class="text-center align-middle"></td>
                <% } %>

                <% if (row.number > 0) { %>
                <td class="text-center align-middle"><%- include('../partials/scorebar', {score: Math.round(row.mean)}); %></td>
                <% } else { %>
                <td class="text-center align-middle"></td>
                <% } %>

                <% if (row.number > 0) { %>
                <td class="text-center align-middle"><%= row.mean_duration %></td>
                <% } else { %>
                <td class="text-center align-middle"></td>
                <% } %>

              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <p>
            Download <a href="<%= urlPrefix %>/assessments/<%= csvFilename %>"><%= csvFilename %></a>
            (includes more statistics columns than displayed above)
          </p>
          <p class="mb-0">
            Download <a href="<%= urlPrefix %>/assessments/<%= fileSubmissionsFilename %>"><%= fileSubmissionsFilename %></a>
            (includes all files ever submitted for this course instance)
          </p>
        </div>

      </div>
    </div>
  </body>
</html>
