<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/adminNavbar', {navPage: 'effective'}); %>
    <div id="content" class="container">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Authenticated user</h3>
        </div>

        <div class="panel-body">
          <p><strong>UID:</strong> <%= authn_user.uid %></p>
          <p><strong>Name:</strong> <%= authn_user.name %></p>
          <p><strong>Role:</strong> <%= authn_enrollment.role %></p>

          <form id="revertForm">
            <button type="submit" class="btn btn-primary">Reset all values</button>
          </form>
        </div>

        <div class="panel-footer">
          <p>
            <small>
              The values above are the ones that you logged in with and the “Reset all values” button will reset everything below to your logged-in values. Your <em>role</em> determines the permissions that you have to view and edit data in PrairieLearn. It is specific to this course instance, so you can be a Student in one course but a TA in a different course. 
            </small>
          </p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Effective user</h3>
        </div>

        <div class="panel-body">
          <p><strong>Effective UID:</strong> <%= user.uid %></p>
          <p><strong>Effective name:</strong> <%= user.name %></p>
          <p><strong>Effective role:</strong> <%= authz_data.role %></p>

          <div class="well well-sm">
            <form id="changeUidForm">
              <div class="form-group">
                <label for="changeEffectiveUid">Change effective UID to:</label>
                <input list="userList" type="text" class="form-control" id="changeEffectiveUid" placeholder="username@domain.org">
                <datalist id="userList">
                  <% available_uids.forEach(function(available_uid) { %>
                  <option value="<%= available_uid %>"><%= available_uid %></option>
                  <% }); %>
                </datalist>
              </div>
              <button type="submit" class="btn btn-default">Change UID</button>
              <button id="changeUidToAuth" type="button" class="btn btn-default">Change back to <%= authn_user.uid %></button>
            </form>
          </div>

          <div class="well well-sm no-bottom-margin">
            <form class="form-inline" id="changeRoleForm">
              <div class="form-group">
                <label for="changeEffectiveRole">Change effective role to:</label>
                <select class="form-control" id="changeEffectiveRole">
                  <% available_roles.reverse().forEach(function(available_role) { %>
                  <% if (available_role == authz_data.role) { %>
                  <option value="<%= available_role %>" selected><%= available_role %> (currently active)</option>
                  <% } else { %>
                  <option value="<%= available_role %>"><%= available_role %></option>
                  <% } %>
                  <% }); %>
                </select>
              </div>
              <button type="submit" class="btn btn-default">Change role</button>
            </form>
          </div>
        </div>

        <div class="panel-footer">
          <p>
            <small>
              The <em>effective</em> values above allow you to view PrairieLearn as if you had a different <em>role</em> (e.g., as a Student or TA), or as if you were a specific other person. This can be used to test out how PrairieLearn will look from different points of view. If you are emulating a different effective user then your effective role is limited to that of the effective user. You also cannot emulate an effective user with a higher access level than your own.
            </small>
          </p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">PrairieLearn Mode</h3>
        </div>

        <div class="panel-body">

          <p><strong>Active mode:</strong> <%= authz_data.mode %></p>

          <div class="well well-sm">
            <form class="form-inline" id="changeModeForm">
              <div class="form-group">
                <label for="changeMode">Change mode to:</label>
                <select class="form-control" id="changeMode">
                  {{#modeList}}
                  <option value="{{value}}" {{selected}}>{{name}}</option>
                  {{/modeList}}
                </select>
              </div>
              <button type="submit" class="btn btn-default">Change mode</button>
            </form>
          </div>

          <p class="no-bottom-margin"><small>
              The <em>mode</em> of the server determines which tests and questions are available to a student. The <em>Public</em> mode is used when students are accessing PrairieLearn from the general internet (on campus, at home, etc). The <em>Exam</em> mode is used when the student is physically sitting at a computer in the CBTF (Computer-Based Testing Facility). The options above allow you to test out the different modes to see which assessments a student will see in either Public or Exam mode. Setting the mode to <em>Default</em> means that the server will use whichever mode a student would use if they were sitting at your computer right now (i.e., Exam mode if you are sitting in the CBTF right now, otherwise Public mode).
          </small></p>

        </div>
      </div>

    </div>
  </body>
</html>
