<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <style>
            .popover{
                max-width: 50%;
            }
        </style>
    </head>
    <body>
        <script>
            $(function() {
                $('[data-toggle="popover"]').popover({
                    sanitize: false
                })
            });
        </script>
        <%- include('../partials/navbar'); %>
        <main id="content" class="container mb-5 px-0">
            <%- include('../partials/courseSyncErrorsAndWarnings'); %>
            <div class="card">
            <div class="card-header bg-primary text-white d-flex mb-2">
                <h2 class="h4">
                    Course Settings
                </h2>
            </div>
            <form class="mb-3 mx-4">
                <div class="form-group">
                    <label for="short_name">Short Name</label>
                    <input 
                      type="text"
                      class="form-control" 
                      id="short_name" 
                      name="short_name" 
                      value="<%= course.short_name %>" 
                      disabled
                    >
                    <small class="form-text text-muted">
                        The short name of the course. Often this is the course rubric
                        and number (e.g., "MATH 101" or "PHYS 440").
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input 
                      type="text"
                      class="form-control" 
                      id="title" 
                      name="title" 
                      value="<%= course.title %>" 
                      disabled
                    >
                    <small class="form-text text-muted">
                        This is the official title of the course, as given in the course catalog.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="institution">Institution</label>
                    <input 
                      type="text"
                      class="form-control" 
                      id="institution" 
                      name="institution" 
                      value="<%= institution.short_name %> (<%= institution.long_name %>)" 
                      disabled
                    >
                    <small class="form-text text-muted">
                      This is your academic institution (e.g., "University of Illinois").
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="display_timezone">Timezone</label>
                    <input 
                      type="text"
                      class="form-control" 
                      id="display_timezone" 
                      name="display_timezone" 
                      value="<%= course.display_timezone %>" 
                      disabled
                    >
                    <small class="form-text text-muted">
                      The allowable timezones are from the tz database. It's best to use
                       a city-based timezone that has the same times as you.
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="path">Path</label>
                    <input 
                      type="text"
                      class="form-control" 
                      id="path" 
                      name="path" 
                      value="<%= course.path %>" 
                      disabled
                    >
                    <small class="form-text text-muted">
                      The path where course files can be found. 
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="repository">Repository</label>
                    <input 
                      type="text"
                      class="form-control" 
                      id="repository" 
                      name="repository" 
                      value="<%= course.repository %>" 
                      disabled
                    >
                    <small class="form-text text-muted">
                      The Github repository that can be used to sync course files. 
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="configuration">Configuration</label>
                    <div
                      class="form-control" 
                      id="configuration" 
                      name="configuration" 
                      value="infoCourse.json"
                    >
                      <% if (locals.needToSync) { %>
                        <% if (authz_data.has_course_permission_edit && (! course.example_course)) { %>
                            <span class="text-danger">You must <a href="<%= urlPrefix %>/<%= navPage %>/syncs">sync your course</a> before viewing or editing its configuration</span>
                        <% } else { %>
                            <span class="text-danger">A course editor must sync this course before anyone can view or edit its configuration</span>
                        <% } %>
                    <% } else if (locals.noInfo) { %>
                        <span class="text-danger">Missing configuration file</span>
                        <% if (authz_data.has_course_permission_edit && (! course.example_course)) { %>
                            <form name="add-configuration-form" class="d-inline" method="POST">
                                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                <button name="__action" value="add_configuration" class="btn btn-xs btn-secondary mx-2">
                                    <i class="fa fa-edit"></i>
                                    <span class="d-none d-sm-inline">Create infoCourse.json</span>
                                </button>
                            </form>
                        <% } %>
                    <% } else { %>
                        <% if (authz_data.has_course_permission_view) { %>
                            <a href="<%= urlPrefix %>/<%= navPage %>/file_view/infoCourse.json">
                                infoCourse.json
                            </a>
                            <% if (authz_data.has_course_permission_edit && (! course.example_course)) { %>
                                <a tabindex="0" class="btn btn-xs btn-secondary mx-2" role="button" href="<%= urlPrefix %>/<%= navPage %>/file_edit/infoCourse.json">
                                    <i class="fa fa-edit"></i>
                                    <span>Edit</span>
                                </a>
                            <% } %>
                        <% } else { %>
                            infoCourse.json
                        <% } %>
                    <% } %> 
                    </div>
                    <small class="form-text text-muted">
                      The configuration file for the course. 
                    </small>
                  </div>
            </form>
            </div>
        </main>
    </body>
</html>
