<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <style>
            .popover{
                max-width: 50%;
            }
        </style>
    </head>
    <body>
        <script>
            $(function() {
                $('[data-toggle="popover"]').popover({
                    sanitize: false
                })
            });
        </script>
        <%- include('../partials/navbar'); %>
        <main id="content" class="container-fluid">
            <%- include('../partials/courseSyncErrorsAndWarnings'); %>
            <div class="card mb-4">
                <div class="card-header bg-primary text-white d-flex">
                    Course <%= course.short_name %>
                </div>
                <table class="table table-sm table-hover two-column-description">
                    <tbody>
                        <tr><th>Short Name</th><td><%= course.short_name %></td></tr>
                        <tr><th>Title</th><td><%= course.title %></td></tr>
                        <tr><th>Institution</th><td><%= institution.short_name %> (<%= institution.long_name %>)</td></tr>
                        <tr><th>Timezone</th><td><%= course.display_timezone %></td></tr>
                        <tr><th>Path</th><td><%= course.path %></td></tr>
                        <tr><th>Repository</th><td><%= course.repository %></td></tr>
                        <tr><th>Configuration</th>
                            <td>
                                <% if (locals.needToSync) { %>
                                    <% if (authz_data.has_course_permission_edit && (! course.example_course)) { %>
                                        <span class="text-danger">You must <a href="<%= urlPrefix %>/<%= navPage %>/syncs">sync your course</a> before viewing or editing its configuration</span>
                                    <% } else { %>
                                        <span class="text-danger">A course editor must sync this course before anyone can view or edit its configuration</span>
                                    <% } %>
                                <% } else if (locals.noInfo) { %>
                                    <span class="text-danger">Missing configuration file</span>
                                    <% if (authz_data.has_course_permission_edit && (! course.example_course)) { %>
                                        <form name="add-configuration-form" class="d-inline" method="POST">
                                            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                            <button name="__action" value="add_configuration" class="btn btn-xs btn-secondary mx-2">
                                                <i class="fa fa-edit"></i>
                                                <span class="d-none d-sm-inline">Create infoCourse.json</span>
                                            </button>
                                        </form>
                                    <% } %>
                                <% } else { %>
                                    <% if (authz_data.has_course_permission_view) { %>
                                        <a href="<%= urlPrefix %>/<%= navPage %>/file_view/infoCourse.json">
                                            infoCourse.json
                                        </a>
                                        <% if (authz_data.has_course_permission_edit && (! course.example_course)) { %>
                                            <a tabindex="0" class="btn btn-xs btn-secondary mx-2" role="button" href="<%= urlPrefix %>/<%= navPage %>/file_edit/infoCourse.json">
                                                <i class="fa fa-edit"></i>
                                                <span>Edit</span>
                                            </a>
                                        <% } %>
                                    <% } else { %>
                                        infoCourse.json
                                    <% } %>
                                <% } %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
