<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>

    <script src="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.js') %>"></script>
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.css') %>" rel="stylesheet" />
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css') %>" rel="stylesheet" />

    <script src="<%= urlPrefix %>/assessment/<%= assessment.id %>/instances/client.js"></script>
  </head>
  <style>
    .sticky-column {
      position: sticky;
      left: 0;
      background: white;
      background-clip: padding-box;
      box-shadow: inset -1px 0 #dee2e6;
    }
    .table-hover tbody tr:hover td.sticky-column {
        color: #212529;
        background-color: #efefef;
    }
    .fixed-table-toolbar {
        padding: 0 1em 0 1em;
    }
    .fixed-table-toolbar div.pagination,
    .fixed-table-toolbar div.pagination-detail {
        margin: 0 1em 0 0 !important;
    }
  </style>
  <body>
    <script>
      window.csrf_token = '<%= __csrf_token %>';
    </script>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <% if (authz_data.has_course_instance_permission_edit) { %>
      <div class="modal fade" id="deleteAssessmentInstanceModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssessmentInstanceModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="deleteAssessmentInstanceModalLabel">Delete assessment instance</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete assessment instance
              <span class="modal-number"></span> of
              <strong><%= assessment_set.name %>
              <%= assessment.number %></strong> for
              <% if (assessment.group_work) { %>
                <strong><span class="modal-group-name"></span></strong>
                (<span class="modal-uid-list"></span>)
              <% } else { %>
                <strong><span class="modal-name"></span></strong>
                (<span class="modal-uid"></span>)
              <% } %>
              started at <strong><span class="modal-date"></span></strong> with a
              score of
              <strong><span class="modal-score-perc"></span>%</strong>?
            </div>
            <div class="modal-footer">
              <form name="delete-form" method="POST">
                <input type="hidden" name="__action" value="delete">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <input type="hidden" name="assessment_instance_id" class="modal-assessment-instance-id" value="">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="deleteAllAssessmentInstancesModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllAssessmentInstancesModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="deleteAllAssessmentInstancesModalLabel">Delete all assessment instances</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete all assessment instances
              for <strong><%= assessment_set.name %>
              <%= assessment.number %></strong>? This cannot be
              undone.
            </div>
            <div class="modal-footer">
              <form name="delete-all-form" method="POST">
                <input type="hidden" name="__action" value="delete_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete all</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="gradeAllAssessmentInstancesModal" tabindex="-1" role="dialog" aria-labelledby="gradeAllAssessmentInstancesModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="gradeAllAssessmentInstancesModalLabel">Grade all assessment instances</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to grade pending submissions for all assessment instances
              for <strong><%= assessment_set.name %>
              <%= assessment.number %></strong>? This cannot be
              undone.
            </div>
            <div class="modal-footer">
              <form name="grade-all-form" method="POST">
                <input type="hidden" name="__action" value="grade_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Grade all</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="closeAllAssessmentInstancesModal" tabindex="-1" role="dialog" aria-labelledby="closeAllAssessmentInstancesModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="closeAllAssessmentInstancesModalLabel">Grade and Close all assessment instances</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to grade and close all assessment instances
              for <strong><%= assessment_set.name %>
              <%= assessment.number %></strong>? This cannot be
              undone.
            </div>
            <div class="modal-footer">
              <form name="grade-all-form" method="POST">
                <input type="hidden" name="__action" value="close_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Grade and Close all</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Students
          <% if (authz_data.has_course_instance_permission_edit) { %>
          <div class="ml-auto">
            <div class="dropdown d-flex flex-row">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action for all instances <span class="caret"></span>
              </button>
              <%# Capture all clicks to dropdown items to prevent scrolling to the top of the page %>
              <div class="dropdown-menu dropdown-menu-right" onclick="window.event.preventDefault();">

                <% if (authz_data.has_course_instance_permission_edit) { %>
                <a class="dropdown-item"
                   role="button" tabindex="0"
                   data-toggle="modal" data-target="#deleteAllAssessmentInstancesModal">
                  <i class="fas fa-times" aria-hidden="true"></i> Delete all instances
                </a>
                <a role="button" tabindex="0" class="dropdown-item time-limit-edit-button time-limit-edit-all-button">
                  <i class="far fa-clock" aria-hidden="true"></i> Change time limit for all instances
                </a>
                <a class="dropdown-item"
                   role="button" tabindex="0"
                   data-toggle="modal" data-target="#gradeAllAssessmentInstancesModal">
                  <i class="fas fa-clipboard-check" aria-hidden="true"></i> Grade all instances
                </a>
                <a class="dropdown-item"
                   role="button" tabindex="0"
                   data-toggle="modal" data-target="#closeAllAssessmentInstancesModal">
                  <i class="fas fa-ban" aria-hidden="true"></i> Grade and close all instances
                </a>
                <% } else { %>
                <button class="dropdown-item disabled" disabled>
                  Must have editor permission
                </a>
                <% } %>

              </div>
            </div>
          </div>
          <% } %>
        </div>

        <table id="usersTable"
               data-unique-id="assessment_instance_id"
               data-classes="table table-sm table-hover table-bordered"
               data-show-button-text="true"
               data-url="<%= urlPrefix %>/assessment/<%= assessment.id %>/instances/raw_data.json"
               data-search="true"
               data-show-columns="true"
               data-show-refresh="true"
               data-auto-refresh="true"
               data-auto-refresh-status="false"
               data-auto-refresh-interval="30"
               data-buttons-order="['refresh', 'autoRefresh', 'columns']"
               data-thead-classes="thead-light"
               data-pagination="true"
               data-pagination-v-align="both"
               data-pagination-h-align="left"
               data-pagination-detail-h-align="right"
               data-toolbar=".fixed-table-pagination:nth(0)"
               data-page-list="[10,20,50,100,200,500,unlimited]"
               data-page-size="50"
               data-smart-display="false"
               data-show-extended-pagination="true"
               data-sticky-header="true">
          <thead>
            <tr>
              <th data-field="assessment_instance_id"
                  data-sortable="true"
                  data-sorter="detailsLinkSorter"
                  data-formatter="detailsLinkFormatter"
                  data-class="align-middle sticky-column text-nowrap"
                  data-switchable="false">
                <span class="sr-only">Assessment instance</span>
              </th>
              <% if (assessment.group_work) { %>
              <th data-field="group_name"
                  data-visible="false"
                  data-sortable="true"
                  data-class="align-middle"
                  data-switchable="true">Name</th>
              <th data-field="uid_list"
                  data-sortable="true"
                  data-class="text-center align-middle text-wrap"
                  data-formatter="listFormatter"
                  data-switchable="true">Group Members</th>
              <th data-field="user_name_list"
                  data-sortable="true"
                  data-visible="false"
                  data-class="text-center align-middle text-wrap"
                  data-formatter="listFormatter"
                  data-switchable="true">Group Member Names</th>
              <th data-field="group_roles"
                  data-sortable="true"
                  data-class="text-center align-middle text-nowrap"
                  data-formatter="uniqueListFormatter"
                  data-switchable="true">Roles
                <button class="btn btn-xs" type="button" title="Show roles help" data-toggle="modal" data-target="#role-help">
                  <i class="bi-question-circle-fill" aria-hidden="true"></i>
                </button>
              </th>
              <% } else { %>
              <th data-field="uid"
                  data-visible="false"
                  data-sortable="true"
                  data-class="align-middle text-nowrap"
                  data-switchable="true">UID</th>
              <th data-field="name"
                  data-sortable="true"
                  data-class="align-middle text-nowrap"
                  data-switchable="true">Name</th>
              <th data-field="role"
                  data-sortable="true"
                  data-class="text-center align-middle text-nowrap"
                  data-switchable="true">Role
                <button class="btn btn-xs" type="button" title="Show roles help" data-toggle="modal" data-target="#role-help">
                  <i class="bi-question-circle-fill" aria-hidden="true"></i>
                </button>
              </th>
              <% } %>
              <th data-field="number"
                  data-visible="false"
                  data-sortable="true"
                  data-class="text-center align-middle"
                  data-switchable="true">Instance</th>
              <th data-field="score_perc"
                  data-sortable="true"
                  data-class="text-center align-middle"
                  data-formatter="scorebarFormatter"
                  data-switchable="true"
                  data-search-formatter="false">Score</th>
              <th data-field="date_formatted"
                  data-sortable="true"
                  data-sort-name="date"
                  data-class="text-center align-middle text-nowrap"
                  data-switchable="true">Date started</th>
              <th data-field="duration"
                  data-sortable="true"
                  data-sort-name="duration_secs"
                  data-class="text-center align-middle text-nowrap"
                  data-switchable="true">Duration
                <button class="btn btn-xs" type="button" title="Show duration help" data-toggle="modal" data-target="#duration-help">
                  <i class="bi-question-circle-fill" aria-hidden="true"></i>
                </button>
              </th>
              <th data-field="time_remaining"
              data-sortable="true"
              data-sort-name="time_remaining_sec"
              data-sorter="timeRemainingLimitSorter"
              data-formatter="timeRemainingLimitFormatter"
              data-class="text-center align-middle text-nowrap"
              data-switchable="true"
              data-search-formatter="false">Remaining
              <button class="btn btn-xs" type="button" title="Show remaining time help" data-toggle="modal" data-target="#time-remaining-help">
                <i class="bi-question-circle-fill" aria-hidden="true"></i>
              </button></th>
              <th data-field="total_time"
              data-visible="false"
              data-sortable="true"
              data-sort-name="total_time_sec"
              data-formatter="timeRemainingLimitFormatter"
              data-class="text-center align-middle"
              data-switchable="true"
              data-search-formatter="false">Total Time Limit</th>
              <% if (!assessment.group_work) { %>
                <th
                  data-field="client_fingerprint_id_change_count"
                  data-sortable="true"
                  data-class="text-center align-middle"
                  data-switchable="true"
                >
                  Fingerprint Changes
                  <button class="btn btn-xs" type="button" title="Show fingerprint changes help" data-toggle="modal" data-target="#fingerprint-changes-help">
                    <i class="bi-question-circle-fill" aria-hidden="true"></i>
                  </button>
                </th>
              <% } %>
              <th data-field="action_button"
                  data-sortable="false"
                  data-formatter="actionButtonFormatter"
                  data-class="text-center align-middle"
                  data-switchable="false"
                  data-search-formatter="false">
                Actions
              </th>
            </tr>
          </thead>
        </table>

        <div class="spinning-wheel card-body spinner-border"><span class="sr-only">Loading...</span></div>

        <div class="modal fade" id="role-help" tabindex="-1" role="dialog" aria-labelledby="role-help-title">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="role-help-title">Roles</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li><strong>Staff</strong> is a member of the course staff. They can see the data of all users, and depending on course settings may have permission to edit the information of other users.</li>
                  <li><strong>Student</strong> is a student participating in the class. They can only see their own information, and can do assessments.</li>
                  <li><strong>None</strong> is a user who at one point added the course and later removed themselves. They can no longer access the course but their work done within the course has been retained.</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="fingerprint-changes-help" tabindex="-1" role="dialog" aria-labelledby="fingerprint-help-title">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="fingerprint-help-title">Client Fingerprints</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Client fingerprints are a record of a user's IP address, user agent and sesssion. These attributes are tracked while a user is accessing an assessment. This value indicates the amount of times that those attributes changed as the student accessed the assessment, while the assessment was active. Some changes may naturally occur during an assessment, such as if a student changes network connections or browsers. However, a high number of changes in an exam-like environment could be an indication of multiple people accessing the same assessment simultaneously, which may suggest an academic integrity issue. Accesses taking place after the assessment has been closed are not counted, as they typically indicate scenarios where a student is reviewing their results, which may happen outside of a controlled environment.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="duration-help" tabindex="-1" role="dialog" aria-labelledby="duration-help-title">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="duration-help-title">Duration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>The "Duration" is the amount of time that a student
                  has spent actively working on the assessment. The
                  duration time measurement begins when the student
                  starts the assessment and continues until the most
                  recent answer submission.</p>
                <p><strong>For Homework assessments</strong>, a
                  student is considered to be actively working if they
                  have at least one answer submission per hour, so the
                  duration measurement is paused if there is a gap of
                  more than one hour between answer submissions. For
                  example:</p>
                <ul>
                  <li>08:00 - student starts assessment;</li>
                  <li>08:30 - student submits answer;</li>
                  <li>09:00 - student submits answer;</li>
                  <li>(gap of more than one hour)</li>
                  <li>11:00 - student submits answer;</li>
                  <li>11:30 - student submits answer;</li>
                  <li>12:00 - student submits answer.</li>
                </ul>
                <p>In the above example, the "duration" would be 2
                  hours: one hour from 08:00 to 09:00, and another
                  hour from 11:00 to 12:00. The two-hour gap between
                  09:00 to 11:00 is not counted as part of the
                  duration.</p>
                <p><strong>For Exam assessments</strong>, a student is
                  considered to be actively working between the start
                  of the assessment and the last submission,
                  regardless of any potential inactivity. For the same
                  example above, the "duration" would be 4 hours, from
                  08:00 to 12:00. The two-hour gap is not considered
                  inactivity, since it is assumed that this kind of
                  assessment requires students to be active for the
                  duration of the assesment.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="time-remaining-help" tabindex="-1" role="dialog" aria-labelledby="time-remaining-help-title">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="time-remaining-help-title">Time Remaining</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>For open assessments with a time limit, this column
                  will indicate the number of minutes (rounded down)
                  the student has left to complete the assessment. If
                  the value is <strong>&lt; 1 min</strong>, the student has
                  less than one minute to complete it. This column may
                  also contain one of the following special
                  values.</p>
                <ul>
                  <li><strong>Expired</strong> indicates the assessment time limit has expired, and will be automatically closed as soon as possible. If an assessment is Expired for a prolonged period of time, this typically means the student has closed their browser or lost connectivity, and the assessment will be closed as soon as the student opens the assessment. No further submissions are accepted at this point.</li>
                  <li><strong>Closed</strong> indicates the assessment has been closed, and no further submissions are accepted.</li>
                  <li><strong>Open (no time limit)</strong> indicates that the assessment is still open and accepting submissions, and there is no time limit to submit the assessment (other than those indicated by access rules).</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
  </body>
</html>
