<!DOCTYPE html>
<html>

<head>
<%- include('../partials/head'); %>
<link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
<link href="/stylesheets/highlight-default.css" rel="stylesheet" />
<script src="/javascripts/jquery.tablesorter.min.js"></script>
<script src="/javascripts/jquery.tablesorter.widgets.js"></script>
<script src="/javascripts/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<%- include('../partials/navbar', {navPage: 'adminDashboard'}); %>

<%
function linkify(row, col) {

  var href= null;

  if (col == 'course_id') {
    href = urlPrefix + '/course/' + row[col];
  } else if (col == 'course_instance_id') {
    href = urlPrefix + '/course_instance/' + row[col];
  } else if (col == 'assessment_id' && 'course_instance_id' in row) {
    href = urlPrefix + '/course_instance/' + row['course_instance_id'] + '/instructor/assessment/' + row[col];
  }

  if (href) { %>
<a href="<%= href %>"><%= row[col] %></a>
  <% } else { %>
<%= row[col] %>
  <% }
}; %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-light">
            <h1>SQL Dashboards</h1>
            <ul>
                <% otherDashboards.forEach(function(dash) { %>
                <li><a href="<%= baseUrl %>/<%= dash %>"><%= dash %></a></li>
                <% }); %>
            </ul>

        </div>
        <div class="col-md-4 bg-light">
            <h2><%= dashboardName %></h2>
            <ul>
                <% queries.forEach(function(q) { %>
                <li><a href="#<%= q.SQLFilename%>"><%= q.SQLFilename %></a>
                <span class="badge badge-pill badge-info"><%= q.rowCount %></span></li>
                <% }); %>
            </ul>

            As of <%= req_date_present %> UTC.
        </div>
    </div>
    <div class="row">
    <div class="col-12">

<% queries.forEach(function(q, qIndex) {
   var columns = [];
%>

<h2 id="<%= q.SQLFilename %>">
    <%= q.SQLFilename %>
    <span class="badge badge-pill badge-info"><%= q.rowCount %></span>
</h2>
<button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#SQL-<%= qIndex %>"
  aria-expanded="false" aria-controls="SQL-<%= qIndex %>">SQL</button>
<button class="btn btn-xs btn-info" onClick="window.scrollTo(0,0);">Return to top</button>
<div id="SQL-<%= qIndex %>" class="collapse">
<pre><code class="sql">
<%= q.SQLstring %>
</code></pre>
</div>
<table class="table tablesorter">
    <thead>
        <tr>
    <% q.fields.forEach(function(field) { %>
        <th><%= field.name %></th>
    <% columns.push(field.name);
        }); %>
    </tr></thead>
    <tbody>
    <% q.rows.forEach(function(row) { %>

    <tr>
        <% columns.forEach(function(col) { %>
        <td>
            <% if (col.match(/(date|time)$/)) { %>
              <%= row[col] %>
            <% } else if (typeof(row[col]) == 'object') { %>
            <code><%= JSON.stringify(row[col]); %></code>
              <% } else if (['assessment_id', 'course_id', 'course_instance_id'].includes(col)) {
                    linkify(row, col);
                 } else { %>
              <%= row[col] %>
            <% } %>
        </td>

        <% }); %>
    </tr>
    <% }); %>
</tbody>
</table>
<% }); %>
</div>
</div>

<script>
  $(function() {
     $(".tablesorter").tablesorter({
         theme: "bootstrap",
         widgets: ["columns"],
         widgetOptions: {
            columns: ["primary", "secondary", "tertiary"],
         },
     });
  });
</script>
