<!-- TODO: add way to submit table -->
<table class="table table-bordered table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Select Role</th>
      <th scope="col">Manager</th>
      <th scope="col">Recorder</th>
      <th scope="col">Reflector</th>
      <th scope="col">Contributor</th>
    </tr>
  </thead>
  <tbody>
    <% group_info.forEach(function (row) { %>
    <tr>
      <td><%= row.uid %></td>
      <td>
        <div>
          <input type="checkbox" id="manager-<%= row.uid %>" />
          <label for="manager-<%= row.uid %>">&nbsp;</label>
        </div>
      </td>
      <td>
        <div>
          <input type="checkbox" id="recorder-<%= row.uid %>" />
          <label for="recorder-<%= row.uid %>">&nbsp;</label>
        </div>
      </td>
      <td>
        <div>
          <input type="checkbox" id="reflector-<%= row.uid %>" />
          <label for="reflector-<%= row.uid %>">&nbsp;</label>
        </div>
      </td>
      <td>
        <div>
          <input type="checkbox" id="contributor-<%= row.uid %>" />
          <label for="contributor-<%= row.uid %>">&nbsp;</label>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
