<form id="role-select-form" name="role-select-form" method="POST">
  <table class="table table-bordered table-striped mt-3 pl-3 pr-3">
    <thead>
      <tr>
        <th scope="col">Select Role</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody>
      <% group_info.forEach(function (row) { %>
      <tr>
        <td><%= row.uid %></td>
        <td>
          <% group_roles.forEach(function (role) { %>
            <input
              class="ml-2"
              type="checkbox"
              id="<%= role.role_name %>-<%= row.uid %>"
              name="<%= role.role_name %>-<%= row.uid %>"
              value="checked"
              form="role-select-form"
            >
            <label for="<%= role.role_name %>-<%= row.uid %>">
              <%= role.role_name %>
            </label>
          <% }) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="mt-4 d-flex justify-content-center">
    <input type="hidden" name="__action" value="claim_role" />
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>" />
    <button type="submit" class="btn btn-primary">Claim role</button>
  </div>
</form>
