<form id="role-select-form" name="role-select-form" method="POST">
  <table class="table table-bordered table-striped mt-3 pl-3 pr-3">
    <thead>
      <tr>
        <th scope="col">Select Role</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody>
      <% group_info.forEach(function (user) { %>
      <tr>
        <td><%= user.uid %></td>
        <td>
          <% group_roles.forEach(function (role) { %>
            <input
              class="ml-2"
              type="checkbox"
              id="<%= role.id %>-<%= user.uid %>"
              name="<%= role.id %>-<%= user.uid %>"
              value="checked"
              <% if (user.role_names.includes(role.role_name)) { %>
                checked
              <% }%>
              form="role-select-form"
            >
            <label for="<%= role.id %>-<%= user.uid %>">
              <%= role.role_name %>
            </label>
          <% }) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="mt-4 d-flex justify-content-center">
    <input type="hidden" name="__action" value="update_group_roles" />
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>" />
    <button type="submit" class="btn btn-primary">Update Roles</button>
  </div>
</form>
