<!-- TODO: add way to submit table -->
<div class="accordion mt-3" id="roleDescriptions">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-controls="collapseOne"
        >
          Role Descriptions
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#roleDescriptions"
    >
      <p class="mt-3 pl-4 pr-4">
        Instructions:
        <ul>
          <li>Give each team member at least on role</li>
          <li>Each role (except contributor) must have at least one student assigned</li>
          <li>If you have more team members than roles, extra team members can be given the contributor role</li>
        </ul>
      </p>
      <dl class="row p-4">
        <dt class="col-sm-2">Manager</dt>
        <dd class="col-sm-10">
          Required: 1 Manager
          <ul>
            <li>
              Makes sure group starts quickly and remains focused during the
              activity.
            </li>
            <li>Takes care of time management.</li>
            <li>Makes sure all voices in the group are heard.</li>
          </ul>
        </dd>

        <dt class="col-sm-2">Recorder</dt>
        <dd class="col-sm-10">
          Required: 1 Recorder
          <ul>
            <li>
              Records important aspects of group discussions, observations, and
              insights.
            </li>
            <li>Records names and roles of group members if necessary.</li>
            <li>
              Transcribes and submits the group's answers after discussing the
              problems.
            </li>
          </ul>
        </dd>

        <dt class="col-sm-2">Reflector</dt>
        <dd class="col-sm-10">
          Required: 1 Reflector
          <ul>
            <li>
              Guides consensus-building process; group must agree on responses
              to questions.
            </li>
            <li>
              Reports to the group periodically during the activity on how the
              group performs.
            </li>
            <li>
              Submits any reflection-related surveys at the end of the activity.
            </li>
          </ul>
        </dd>

        <dt class="col-sm-2">Contributor</dt>
        <dd class="col-sm-10">
          Required: 0 Contributors
          <ul>
            <li>Fills in the gaps not covered by other group members.</li>
            <li>
              Supports the group through looking up documentation, researching
              answers, etc.
            </li>
            <li>
              Communicates questions, clarifications, and insights to the group.
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</div>

<form id="role-select-form" name="role-select-form" method="POST">
  <table class="table table-bordered table-striped mt-3 pl-3 pr-3">
    <thead>
      <tr>
        <th scope="col">Select Role</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody>
      <% group_info.forEach(function (row) { %>
      <tr>
        <td><%= row.uid %></td>
        <td>
          <% ['Manager', 'Reflector', 'Recorder', 'Contributor'].forEach(function (role) { %>
            <input
              class="ml-2"
              type="checkbox"
              id="<%= role %>-<%= row.uid %>"
              name="<%= role %>-<%= row.uid %>"
              value="checked"
              form="role-select-form"
            >
            <label for="<%= role %>-<%= row.uid %>">
              <%= role %>
            </label>
          <% }) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="mt-4 d-flex justify-content-center">
    <input type="hidden" name="__action" value="claim_role" />
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>" />
    <button type="submit" class="btn btn-primary">Claim role</button>
  </div>
</form>
