<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Select Role</th>
        <th scope="col">Manager</th>
        <th scope="col">Recorder</th>
        <th scope="col">Reflector</th>
        <th scope="col">Contributor</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: Change these names to the names of actual group members -->
      <% group_info.forEach(function (row, index) { %>
      <tr>
        <td><%= row.uid %></td>
        <td>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="manager-<%= index %>"
            />
            <label class="custom-control-label" for="manager-<%= index %>"
              >&nbsp;</label
            >
          </div>
        </td>
        <td>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="recorder-<%= index %>"
            />
            <label class="custom-control-label" for="recorder-<%= index %>"
              >&nbsp;</label
            >
          </div>
        </td>
        <td>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="reflector-<%= index %>"
            />
            <label class="custom-control-label" for="reflector-<%= index %>"
              >&nbsp;</label
            >
          </div>
        </td>
        <td>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="contributor-<%= index %>"
            />
            <label class="custom-control-label" for="contributor-<%= index %>"
              >&nbsp;</label
            >
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
