<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'administrators'}); %>
    <div id="content" class="container-fluid">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Administrators -------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Administrators
          <button type="button" class="btn btn-sm btn-light ml-auto"
              id="administratorInsertButton" tabindex="0"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Add new administrator"
             data-content="<%= include('administratorInsertForm',
                           {id: 'administratorInsertButton'}) %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">Add administrator</span>
        </button>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>UID</th>
                <th>Name</th>
                <th></th>
            </thead>
            <tbody>
              <% administrator_users.forEach(function(administrator_user, i) { %>
              <tr>
                <td class="align-middle"><%= administrator_user.uid %></td>
                <td class="align-middle"><%= administrator_user.name %></td>
                <td class="align-middle">
                  <button type="button" class="btn btn-sm btn-danger float-right"
                     id="administratorDeleteButton<%= i %>" tabindex="0"
                     data-toggle="popover" data-container="body"
                     data-html="true" data-placement="auto" title="Remove administrator access"
                     data-content="<%= include('administratorDeleteForm',
                                   {id: 'administratorDeleteButton' + i, uid: administrator_user.uid,
                                   user_id: administrator_user.user_id}) %>"
                     data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-times" aria-hidden="true"></i> Remove
                  </button>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            Administrators have full access to every course and course
            instance. They are automatically Owners of every course
            and Instructors of every course instance. They can add and
            remove other administrators.
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
