<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= plainUrlPrefix %>">PrairieLearn</a>
    </div>
    <div class="collapse navbar-collapse">
      <% if (typeof course_instance !== 'undefined') { %>
      <ul class="nav navbar-nav" id="main-nav">
        
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Course switcher ------------------------------------------------------------->

        <% if (authz_data.has_admin_view) { // ################################################### %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= course.short_name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% nav_data.courses.forEach(function(course) { %>
            <li><a href="<%= plainUrlPrefix %>/<%= course.course_instance_id %>/<%= navPage %>"><%= course.short_name %></a></li>
            <% }); %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= course_instance.short_name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% nav_data.instances_for_course.forEach(function(course_instance) { %>
            <li><a href="<%= plainUrlPrefix %>/<%= course_instance.id %>/<%= navPage %>"><%= course_instance.short_name %></a></li>
            <% }); %>
          </ul>
        </li>
        <% } else { // has_admin_view ################################################### %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= course.short_name %>, <%= course_instance.short_name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% nav_data.course_instances.forEach(function(course_instance) { %>
            <li><a href="<%= plainUrlPrefix %>/<%= course_instance.id %>/<%= navPage %>"><%= course_instance.course_short_name %>, <%= course_instance.short_name %></a></li>
            <% }); %>
          </ul>
        </li>
        <% } // has_admin_view ####################################################### %>

        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Main pages ------------------------------------------------------------------>

        <li <% if (navPage == "assessments") { %>class="active"<% } %>><a href="<%= urlPrefix %>/assessments">Assessments</a></li>

        <% if (authz_data.has_admin_view) { %>
        <li <% if (navPage == "questions")   { %>class="active"<% } %>><a href="<%= urlPrefix %>/questions">Questions</a></li>
        <li <% if (navPage == "users")       { %>class="active"<% } %>><a href="<%= urlPrefix %>/users">Users</a></li>
        <% } // has_admin_view %>
      </ul>
      <% } // course_instance != undefined %>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- User and logout ------------------------------------------------------------->

      <div class="navbar-right">

        <% if (typeof course_instance !== 'undefined' && authz_data.authn_has_admin_view) { %>
        <ul class="nav navbar-nav" id="main-nav">
          <li <% if (navPage == "effective") { %>class="active"<% } %>>
            <a href="<%= urlPrefix %>/effective">
              <%= authz_data.user.name %> (<%= authz_data.role %>), <%= authz_data.mode %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
        <% } else { // authn_has_admin_view %>
        <p class="navbar-text"><%= authn_user.name %></p>
        <% } // authn_has_admin_view %>

        <a class="btn btn-default navbar-btn" href="https://prairielearn.engr.illinois.edu/Shibboleth.sso/Logout">Log out</a>
      </div>
    </div>
  </div>
</nav>
