<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/adminNavbar', {navPage: 'assessments'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Courses</h3>
        </div>

        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Course</th>
              <th>Instances</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(function(row) { %>
            <tr>
              <td>
                <%= row.short_name %>: <%= row.title %>
              </td>
              <td>
                <% row.course_instances.forEach(function(course_instance, i) { %><% if (i > 0) { %>,<% } %>
                <a href="/admin/<%= course_instance.id %>"><%= course_instance.long_name %><% }); %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
