<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
  <%- include('../partials/head'); %>
  <style>
  html, body {
    height: 100%;
    background-color: #e9ecef;
  }
  .login-container-wrapper {
    width: 100%;
    height: 100%;
  }
  .login-container {
    background-color: white;
    padding: 20px;
    height: 100%;
  }
  .login-methods > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
  @media (min-width: 576px) {
    .login-container-wrapper {
      max-width: 500px;
      margin: auto;
      height: auto;
    }
    .login-container {
      border-radius: 5px;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      height: auto;
      margin: 20px;
    }
  }
  .subheader {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .btn .social-icon {
    position: absolute;
    left: 7px;
    height: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .btn-shib {
    background-color: <%- config.shibLinkColors.normal.background %>;
    border-color: <%- config.shibLinkColors.normal.border %>;
    color: <%- config.shibLinkColors.normal.text %>;
  }
  .btn-shib:hover {
    background-color: <%- config.shibLinkColors.hover.background %>;
    border-color: <%- config.shibLinkColors.hover.border %>;
    color: <%- config.shibLinkColors.hover.text %>;
  }
  .btn-shib:focus {
    box-shadow: 0 0 0 0.2rem <%- config.shibLinkColors.focus.shadow %>;
  }
  .btn-shib:active {
    background-color: <%- config.shibLinkColors.active.background %>;
    border-color: <%- config.shibLinkColors.active.border %>;
    color: <%- config.shibLinkColors.active.text %>;
  }
  <% if (institutionAuthnProviders) { %>
  .institution-header {
    overflow: hidden;
    text-align: center;
  }
  .institution-header:before, .institution-header:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .institution-header:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .institution-header:after {
    left: 0.5em;
    margin-right: -50%;
  }
  <% } %>
  </style>
</head>
<body class="d-flex bg-dark">
  <main class="login-container-wrapper">
    <div class="login-container">
      <div>
        <h1 class="text-center">PrairieLearn</h1>
        <h2 class="text-center subheader">
          Sign in
          <% if (service) { %>
              to continue to <%= service %>
          <% } %>
        </h2>
        <div class="login-methods mt-5">
          <% if (devMode) { %>
            <a class="btn btn-success w-100" href="/pl/dev_login" role="button">
              <span class="font-weight-bold">DevMode by-pass</span>
            </a>
          <% } %>
          <% if (config.hasShib && !config.hideShibLogin) { %>
            <a class="btn btn-shib w-100 position-relative" href="/pl/shibcallback" role="button">
              <% if (config.shibLinkLogo != null) { %>
                <img src="<%- config.shibLinkLogo %>" class="social-icon"/>
              <% } else { %>
                <span class="social-icon"></span>
              <% } %>
              <span class="font-weight-bold"><%= config.shibLinkText %></span>
            </a>
          <% } %>
          <% if (config.hasOauth) { %>
            <a class="btn btn-primary w-100 position-relative" href="/pl/oauth2login" role="button">
              <img src="<%= asset_path('images/google_logo.svg') %>" class="social-icon"/>
              <span class="font-weight-bold">Sign in with Google</span>
            </a>
          <% } %>
          <% if (hasAzure) { %>
            <a class="btn btn-dark w-100 position-relative" href="/pl/azure_login" role="button">
              <img src="<%= asset_path('images/ms_logo.svg') %>" class="social-icon"/>
              <span class="font-weight-bold">Sign in with Microsoft</span>
            </a>
          <% } %>
        </div>
        <% if (institutionAuthnProviders?.length > 0) { %>
          <div class="institution-header text-muted my-3">
            Institution sign-on
          </div>
          <div class="login-methods">
          <% institutionAuthnProviders.forEach((provider) => { %>
            <a href="<%= provider.url %>" class="btn btn-outline-dark btn-block">
              <%= provider.name %>
            </a>
          <% }) %>
          </div>
        <% } %>
      </div>
    </div>
  </main>
</body>
</html>
