<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'queries'}); %>
    <div id="content" class="container-fluid">

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Queries</div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <tbody>
              <% queries.forEach((query, i) => { %>
              <tr>
                <td><a href="<%= urlPrefix %>/administrator/query/<%= query.link %>"><tt><%= query.sqlFilename %></tt></a></td>
                <td><%= query.description %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
