<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
  <script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
  </script>
    <%- include('../partials/navbar', {navPage: 'lti'}); %>

    <div id="content" class="container">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">LTI configuration</div>
            <div class="card-body">
                <h5 class="card-title">LTI credentials</h5>

                <p>Use these credentials with Coursera to connect into PrairieLearn.</p>
                <table class="table">
                    <thead><tr><th>Consumer key</th>
                            <th>Shared secret</th>
                            <th>Created</th>
                            <th>Deleted</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (lti_credentials) { %>
                    <% lti_credentials.forEach(function(tc) { %>
                    <tr><td><code><%= tc.consumer_key %></code></td>
                        <td><code><%= tc.secret %></code></td>
                        <td><%= tc.created_at %></td>
                        <td>
                            <% if (tc.deleted_at) { %>
                            <%= tc.deleted_at %>
                        <% } else { %>
                            <a tabindex="0" class="btn btn-danger" role="button"
                                data-toggle="popover" data-trigger="focus" data-container="body"
                                data-html="true" data-placement="auto" title="Confirm delete"
                                data-content="
                            <form method=&quot;post&quot;>
                                <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;lti_del_cred&quot;>
                                <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                <input type=&quot;hidden&quot; name=&quot;lti_link_id&quot; value=&quot;<%= tc.id %>&quot;>
                                <input type=&quot;submit&quot; class=&quot;btn btn-danger&quot; value=&quot;Delete&quot;>
                                ">Delete</a>
                            </form>
                            <% } %>
                        </td>
                        </tr>
                        <% }); %>
                        <% } else { %>
                            <tr><td colspan=99><em>No credentials have been established.</em></td></tr>
                        <% } %>
                    <tr>
                        <td colspan="99">
                            <form method="post">
                                <input type="hidden" name="__action" value="lti_new_cred">
                                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                <input type="submit" class="btn btn-success" value="Create new">
                            </form>
                        </td>
                    </tr>
                </table>

                <hr>
                <h5 class="card-title">LTI link targets</h5>
                <p>Map a link from your LMS directly into a PrairieLearn assessment.</p>
                <% if (lti_links) { %>
                <table class="table">
                    <thead><tr><th>Link info</th>
                            <th>Assessment</th>
                            <th>Link association created</th>
                    </tr></thead>
                    <tbody>
                    <% lti_links.forEach(function(l) { %>
                        <tr>
                        <td title="<%= l.resource_link_description %>">
                            <%= l.resource_link_title %>
                        </td>
                        <td>
                            <form method="post">
                            <input type="hidden" name="__action" value="lti_link_target">
                            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                            <input type="hidden" name="lti_link_id" value="<%= l.id %>">
                            <select onChange="this.form.submit();" name="newAssessment">
                            <option value=""
                            <% if (!l.assessment_id) { %>selected<% } %>
                                >-- None</option>
                            <% assessments.forEach(function(a) { %>
                                <option value="<%= a.assessment_id %>"
                                <% if (l.assessment_id == a.assessment_id) { %>selected<% } %>
                                ><%= a.label %>: <%= a.title %> (<%= a.tid %>)</option>
                                <% }); %>
                            </select>
                            </form>
                        </td>
                        <td><%= l.created_at %></td>
                        </tr>
                        <% }); %>
            </tbody>
                </table>
                <% } else { %>
                    <em>No links have been established.</em>
                    <% } %>
            </div>
            <div class="card-footer">
                If no assessment is provided for a LMS link, students will be directed to the Assessments tab.
                Instructors and TAs will be directed to this page to configure. If an assessment is linked, all
                users will be routed there. This config can be updated later by instructors from the LTI tab.
            </div>
        </div>
    </div>
    </body>
    </html>
