<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <%- compiled_stylesheet_tag('instructorIssues.css') %>
    <script>
      $(() => {
          $('[data-toggle=tooltip]').tooltip();
      });
    </script>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
      <%- include('../partials/courseSyncErrorsAndWarnings'); %>
      <% if (authz_data.has_course_permission_edit) { %>
      <div class="modal fade" id="closeMatchingIssuesModal" tabindex="-1" role="dialog" aria-labelledby="closeMatchingIssuesModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="closeMatchingIssuesModalLabel">Close matching issues</h4>
            </div>
            <div class="modal-body">
              <p>
                Are you sure you want to close the <strong><%= openFilteredIssuesCount %></strong> open
                <%= openFilteredIssuesCount === 1 ? 'issue' : 'issues' %> visible on the current page?
              </p>
            </div>
            <div class="modal-footer">
              <form name="close-matching-form" method="POST">
                <input type="hidden" name="__action" value="close_matching">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <input type="hidden" name="unsafe_issue_ids" value="<%= rows.map(row => row.issue_id).join(',') %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Close issues</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <div class="modal fade" id="filterHelpModal" tabindex="-1" role="dialog" aria-labelledby="filterHelpModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="filterHelpModalLabel">Filter help</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Issues can be filtered and searched in a variety of ways. Filtering
                is done with the following set of qualifiers.</p>
              <table class="table table-bordered">
                <thead>
                  <th>Qualifier</th>
                  <th>Explanation</th>
                </thead>
                <tbody>
                  <tr>
                    <td><code>is:open</code></td>
                    <td>Shows all issues that are open</td>
                  </tr>
                  <tr>
                    <td><code>is:closed</code></td>
                    <td>Shows all issues that are closed</td>
                  </tr>
                  <tr>
                    <td><code>is:manually-reported</code></td>
                    <td>Shows all issues that were manually reported by a student</td>
                  </tr>
                  <tr>
                    <td><code>is:automatically-reported</code></td>
                    <td>Shows all issues that were automatically reported by PrairieLearn</td>
                  </tr>
                  <tr>
                    <td><code>qid:<em>QID</em></code></td>
                    <td>
                      Shows all issues with a question ID like <code>QID</code>.
                      <br>
                      <strong>Example:</strong> <code>qid:graph</code> shows all issues associated with questions such as <code>graphConnectivity</code> and <code>speedTimeGraph</code>.</td>
                  </tr>
                  <tr>
                    <td><code>user:<em>USER</em></code></td>
                    <td>
                      Shows all issues that were reported by a user ID like <code>USER</code>.
                      <br>
                      <strong>Example:</strong> <code>user:student@example.com</code> shows all issues that were reported by <code>student@example.com</code>.</td>
                  </tr>
                </tbody>
              </table>
              <h4>Full-text search</h4>
              <p>You can also search the issue message by simply entering text. For example, <code>no picture</code> would return any issues that contain text like "no picture".</p>

              <h4>Qualifier negation</h4>
              <p>Any qualifier can be negated with the a hyphen (<code>-</code>). For example, <code>-is:manually-reported</code> would return all issues that were <strong>not</strong> manually reported.</p>

              <h4>Combining qualifiers</h4>
              <p>These can be combined to form complex searches. An example:</p>
              <code><pre>is:open qid:vector answer is wrong</pre></code>
              <p>This would return any open issues with a QID like <code>vector</code> whose message contains text like "answer is wrong".</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <div class="d-flex flex-row align-items-center mb-2">
            <div class="d-flex flex-column">
              Issues
              <small>
                <a href="<%= commonQueries.allOpenQuery %>" class="mr-3 text-white">
                  <i class="fa fa-exclamation-circle"></i> <%= openCount %> open
                </a>
                <a href="<%= commonQueries.allClosedQuery %>" class="text-white">
                  <i class="fa fa-check-circle"></i> <%= closedCount %> closed
                </a>
              </small>
            </div>
            <% if (authz_data.has_course_permission_edit && openFilteredIssuesCount > 0) { %>
            <button class="btn btn-sm btn-danger ml-auto" data-toggle="modal" data-target="#closeMatchingIssuesModal">
              <i class="fa fa-times" aria-hidden="true"></i> Close matching issues
            </button>
            <% } %>
          </div>
          <form name="query-form" method="GET">
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-med-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="<%= commonQueries.allOpenQuery %>">Open issues</a>
                  <a class="dropdown-item" href="<%= commonQueries.allClosedQuery %>">Closed issues</a>
                  <a class="dropdown-item" href="<%= commonQueries.allManuallyReportedQuery %>">Manually-reported issues</a>
                  <a class="dropdown-item" href="<%= commonQueries.allAutomaticallyReportedQuery %>">Automatically-reported issues</a>
                </div>
              </div>
              <input type="text" class="form-control" name="q" value="<%= filterQuery %>" aria-label="Search all issues">
              <div class="input-group-append">
                <a class="btn btn-med-light" href="<%= urlPrefix %>/course_admin/issues?q=" title="Clear filters">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <button class="btn btn-med-light" type="button" title="Show filter help" data-toggle="modal" data-target="#filterHelpModal">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <%
        var getFormattedMessage = function(row) {
          if (row.student_message == null || row.student_message.length == 0) {
            return '—';
          }

          var msg = row.student_message;
          if (row.manually_reported) {
            msg = '"' + msg + '"';
          }
          return msg;
        };
        %>

        <% if (rows.length == 0) { %>
          <div class="card-body">
            <div class="text-center text-muted">No matching issues found</div>
          </div>
        <% } else { %>
        <div class="list-group list-group-flush">
          <% rows.forEach(row => { %>
          <div class="list-group-item issue-list-item d-flex flex-row align-items-center">
            <div style="min-width: 0;">
              <% if (row.open) { %>
              <i class="fa fa-exclamation-circle text-danger issue-status-icon"></i>
              <% } else { %>
              <i class="fa fa-check-circle text-success issue-status-icon"></i>
              <% } %>
              <div class="d-block">
                <strong><%= row.question_qid %></strong>
                <% if (row.instance_question_id && row.show_user) { %>
                (<a href="<%= urlPrefix %>/question/<%= row.question_id %>/?variant_id=<%= row.variant_id %>">instructor view</a>,
                <a href="<%= plainUrlPrefix %>/course_instance/<%= row.course_instance_id %>/instance_question/<%= row.instance_question_id %>/?variant_id=<%= row.variant_id %>">student view</a>,
                <a href="<%= plainUrlPrefix %>/course_instance/<%= row.course_instance_id %>/instructor/assessment/<%= row.assessment_id %>/manual_grading/instance_question/<%= row.instance_question_id %>">manual grading</a>,
                <a href="<%= plainUrlPrefix %>/course_instance/<%= row.course_instance_id %>/instructor/assessment_instance/<%= row.assessment_instance_id %>">assessment details</a>)
                <% } else if (!row.instance_question_id) { %>
                (<a href="<%= urlPrefix %>/question/<%= row.question_id %>/?variant_id=<%= row.variant_id %>">instructor view</a>)
                <% } else { %>
                (<a href="<%= urlPrefix %>/question/<%= row.question_id %>/?variant_seed=<%= row.variant_seed %>">instructor view</a>)
                <a tabindex="0" class="badge badge-warning badge-sm"
		   data-toggle="tooltip" data-html="true"
		   title="This issue was raised in course instance <strong><%= row.course_instance_short_name %></strong>. You do not have student data access for <%= row.course_instance_short_name %>, so you can't view some of the issue details. Student data access can be granted by a course owner on the Staff page.">
                  No student data access
                </a>
                <% } %>
              </div>
              <p class="mb-0">
                <%= getFormattedMessage(row) %>
              </p>
              <small class="text-muted mr-2">
                #<%= row.issue_id %> reported <span title="<%= row.formatted_date %>"><%= row.relative_date %></span>
                <% if (row.show_user) { %>
                  <% if (row.manually_reported) { %>by<% } else { %>for<% } %>
                  <% let body = encodeURIComponent("Hello " + row.user_name + ",\n\nRegarding the issue of:\n\n\"" + (row.student_message || '-') +"\"\n\nWe've..."); %>
                  <%= row.user_name || '-' %> (<a href="mailto:<%= row.user_uid || '-' %>?subject=Reported%20PrairieLearn%20Issue&body=<%= body %>"><%= row.user_uid || '-' %></a>)
                <% } %>
              </small>
              <% if (row.manually_reported) { %>
              <span class="badge badge-info">Manually reported</span>
              <% } else { %>
              <span class="badge badge-warning">Automatically reported</span>
              <% } %>
              <% if (row.assessment) { %>
              <%- include('../partials/assessment', {assessment: row.assessment}) %>
              <% } %>
              <% if (row.course_instance_short_name) { %>
              <span class="badge badge-dark"><%= row.course_instance_short_name || '—' %></span>
              <% } %>
            </div>
            <% if (authz_data.has_course_permission_edit) { %>
            <div class="ml-auto pl-4">
              <%- include('../partials/issueActionButtons', {issue: row}) %>
            </div>
            <% } %>
          </div>
          <% }); %>
        </div>
        <% } %>

        <% if (shouldPaginate) { %>
        <div class="card-body">
          <%- include('../partials/pager', {params: 'q=' + encodedFilterQuery}) %>
        </div>
        <% } %>

      </div>
    </main>
  </body>
</html>
