<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbarInstructor', {navPage: 'gradebook'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Users</h3>
        </div>

        <div class="panel-body">
          Download <a href="<%= urlPrefix %>/instructor/users/<%= csvFilename %>"><%= csvFilename %></a>
        </div>

        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Role</th>
                <% course_assessments.forEach(function(assessment) { %>
                <th><%- include('../partials/assessmentInstructor', {assessment: assessment}); %></th>
                <% }); %>
              </tr>
            </thead>
            <tbody>
              <% user_scores.forEach(function(row) { %>
              <tr>
                <td><%= row.uid %></td>
                <td><%= row.user_name %></td>
                <td><%= row.role %></td>
                <% row.score_percs.forEach(function(score_perc) { %>
                <td>
                  <% if (score_perc == null) { %>
                  —
                  <% } else { %>
                  <%= Math.floor(score_perc) %>%
                  <% } %>
                </td>
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="panel-footer">
          Download <a href="<%= urlPrefix %>/instructor/users/<%= csvFilename %>"><%= csvFilename %></a>
        </div>

      </div>
    </div>
  </body>
</html>
