<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <script>
    $(function() {
      $('a.edit-score').popover({
        sanitize: false,
        placement: 'auto',
        container: 'body',
        html: true,
        content: function() {
          var that = this
          var assessmentInstanceId = $(this).data('ai-id')
          var score = $(this).data('score')
          var form = $('<form name="edit-total-score-perc-form" method="POST"></form>')
          form.append('<input type="hidden" name="__action" value="edit_total_score_perc">')
          form.append('<input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">')
          form.append('<input type="hidden" name="assessment_instance_id" value="' + assessmentInstanceId + '">')
          var formGroup = $('<div class="form-group">')
          var inputGroup = $('<div class="input-group">')
          inputGroup.append('<input type="text" class="form-control" name="score_perc" value="' + score + '">')
          inputGroup.append('<div class="input-group-append"><span class="input-group-text">%</span></div>')
          formGroup.append(inputGroup)
          form.append(formGroup)
          form.append('<p><small>This change will be overwritten if further questions are answered by the student.</small></p>')
          var cancel = $('<button type="button" class="btn btn-secondary mr-2">Cancel</button>')
          cancel.on('click', function() {
            $(that).popover('hide')
          })
          form.append(cancel)
          form.append('<button type="submit" class="btn btn-primary">Change</button>')
          return form
        },
        title: 'Change total percentage score',
        trigger: 'click',
      })
    })
  </script>
  <body>
    <%- include('../partials/navbar', {navPage: 'gradebook'}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Users
        </div>

        <div class="card-body">
          Download <a href="<%= urlPrefix %>/gradebook/<%= csvFilename %>"><%= csvFilename %></a>
        </div>

        <div class="table-responsive table-no-wrap">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Role</th>
                <% course_assessments.forEach(function(assessment) { %>
                <th><%- include('../partials/assessment', {assessment: assessment}); %></th>
                <% }); %>
              </tr>
            </thead>
            <tbody>
              <% user_scores.forEach(function(row, iRow) { %>
              <tr>
                <td><%= row.uid %></td>
                <td><%= row.user_name %></td>
                <td><%= row.role %></td>
                <% row.scores.forEach(function(score, iScore) { %>
                <td>
                  <% if (score.score_perc == null) { %>
                  —
                  <% } else { %>
                  <a href="<%= urlPrefix %>/assessment_instance/<%= score.assessment_instance_id %>">
                    <%= Math.floor(score.score_perc) %>%
                  </a>
                  <% if (authz_data.has_instructor_edit) { %>
                  <a class="btn btn-xs btn-secondary edit-score"
                     role="button"
                     tabindex="0"
                     data-ai-id="<%= score.assessment_instance_id%>"
                     data-score="<%= score.score_perc %>">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  <a/>
                  <% } %>
                  <% } %>
                </td>
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          Download <a href="<%= urlPrefix %>/gradebook/<%= csvFilename %>"><%= csvFilename %></a>
        </div>

      </div>
    </div>
    <!-- needed for tests since we can't grab it out of javascript -->
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>"
  </body>
</html>
