<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js') %>"></script>
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.css') %>" rel="stylesheet" />
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css') %>" rel="stylesheet" />
  </head>
  <script>
    $(function() {
      $('button.edit-score').popover({
        sanitize: false,
        placement: 'auto',
        container: 'body',
        html: true,
        content: function() {
          var that = this
          var assessmentInstanceId = $(this).data('ai-id')
          var score = $(this).data('score')
          var form = $('<form name="edit-total-score-perc-form" method="POST"></form>')
          form.append('<input type="hidden" name="__action" value="edit_total_score_perc">')
          form.append('<input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">')
          form.append('<input type="hidden" name="assessment_instance_id" value="' + assessmentInstanceId + '">')
          var formGroup = $('<div class="form-group">')
          var inputGroup = $('<div class="input-group">')
          inputGroup.append('<input type="text" class="form-control" name="score_perc" value="' + score + '">')
          inputGroup.append('<div class="input-group-append"><span class="input-group-text">%</span></div>')
          formGroup.append(inputGroup)
          form.append(formGroup)
          form.append('<p><small>This change will be overwritten if further questions are answered by the student.</small></p>')
          var cancel = $('<button type="button" class="btn btn-secondary mr-2">Cancel</button>')
          cancel.on('click', function() {
            $(that).popover('hide')
          })
          form.append(cancel)
          form.append('<button type="submit" class="btn btn-primary">Change</button>')
          return form
        },
        title: 'Change total percentage score',
        trigger: 'click',
      })
    });
    function scoreFormatter(value, row, index, field) {
        let score = JSON.parse(value);
        if (score.score_perc === null) {
            return "—";
        } else {
        console.log(score, score.score_perc);
            return `<a href="<%= urlPrefix %>/assessment_instance/${score.assessment_instance_id}">` +
                Math.floor(score.score_perc) + `%</a>` <% if (authz_data.has_instructor_edit) { %> +
                ` <button type="button" class="btn btn-xs btn-secondary edit-score" tabindex="0"
                         data-ai-id="${score.assessment_instance_id}"
                         data-score="${score.score_perc}">
                   <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>` <% } %>;
        }
    }
    function scoreSorter(value1, value2, row1, row2) {
        let score1 = JSON.parse(value1);
        let score2 = JSON.parse(value2);
        if (score1.score_perc === null)
            return score2.score_perc === null ? 0 : -1;
        else if (score2.score_perc === null)
            return +1;
        else
            return score1.score_perc - score2.score_perc;
    }
  </script>
  <style>
    .sticky-column {
      position: sticky;
      left: 0;
      background: white;
    }
  </style>
  <body>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/courseInstanceSyncErrorsAndWarnings'); %>
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Users
        </div>

        <div id="table-toolbar" class="p-2 pl-3">
          Download <a href="<%= urlPrefix %>/<%= navPage %>/gradebook/<%= csvFilename %>"><%= csvFilename %></a>
        </div>

        <table data-classes="table table-sm table-hover table-bordered table-responsive"
               data-toggle="table" data-search="true"
               data-show-columns="true" data-show-columns-toggle-all="true"
               data-show-toggle="true"
               data-toolbar="#table-toolbar"
               data-sticky-header="true">
            <thead>
              <tr>
                <th data-sortable="true"
                    data-class="sticky-column bg-white"
                    data-switchable="false">UID</th>
                <th data-sortable="true"
                    data-switchable="false">UIN</th>
                <th data-sortable="true"
                    data-switchable="false">Name</th>
                <th data-sortable="false"
                    data-switchable="false">Role</th>
                <% course_assessments.forEach(function(assessment) { %>
                <th data-sortable="true"
                    data-class="text-nowrap"
                    data-formatter="scoreFormatter"
                    data-sort-order="desc"
                    data-sorter="scoreSorter"><%- include('../partials/assessment', {assessment: assessment}); %></th>
                <% }); %>
              </tr>
            </thead>
            <tbody>
              <% user_scores.forEach(function(row, iRow) { %>
              <tr>
                <td><%= row.uid %></td>
                <td><%= row.uin %></td>
                <td><%= row.user_name %></td>
                <td><%= row.role %></td>
                <% row.scores.forEach(function(score, iScore) { %>
                <td>
                  <%= JSON.stringify(score) %>
                </td>
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
          </table>

        <div class="card-footer">
          <p>Download <a href="<%= urlPrefix %>/<%= navPage %>/gradebook/<%= csvFilename %>"><%= csvFilename %></a></p>
          <small>
            <strong>Roles:</strong>
             <ul>
                 <li><strong>Instructor</strong> is a person in charge of the course. They have full permission to see and edit the information of other users.</li>
                 <li><strong>TA</strong> is a teaching assistant. They can see the data of all users, but can only edit their own information.</li>
                 <li><strong>Student</strong> is a student participating in the class. They can only see their own information, and can do assessments.</li>
                 <li><strong>None</strong> is a user who at one point added the course and later removed themselves. They can no longer access the course but their work done within the course has been retained.</li>
            </ul>
          </small>
        </div>

      </div>
    </div>
    <!-- needed for tests since we can't grab it out of javascript -->
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>"
  </body>
</html>
