<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/lodash.min.js"></script>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script src="/node_modules/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="/node_modules/crypto-js/crypto-js.js"></script>
    <script src="./edit/instructorFileEditorClient.js"></script>
    <script src="/javascripts/socket.io.js"></script>
</head>

<body>
    <%- include('../partials/navbar'); %>

    <div class="container">
        <%- include('../partials/navtabs'); %>

        <script>
            $(function() {
                new window.InstructorFileEditor({
                    contents: "<%- fileEdit.editContents %>",
                    aceMode: "ace/mode/<%= fileEdit.aceMode %>",
                    origHash: "<%- fileEdit.origHash %>",
                    diskHash: "<%- fileEdit.diskHash %>",
                    elementId: "file-editor-<%= fileEdit.uuid %>-draft",
                    saveElementId: "file-editor-<%= fileEdit.uuid %>-save-button",
                    <% if (fileEdit.alertChoice) { %>
                    altElementId: "file-editor-<%= fileEdit.uuid %>-disk",
                    <% } %>
                });

                <% if (fileEdit.alertChoice) { %>
                new window.InstructorFileEditor({
                    contents: "<%- fileEdit.diskContents %>",
                    aceMode: "ace/mode/<%= fileEdit.aceMode %>",
                    elementId: "file-editor-<%= fileEdit.uuid %>-disk",
                    readOnly: true,
                });
                <% } %>

                <% if (fileEdit.alertResults) { %>
                    let showDetailElement = $("#results-<%= fileEdit.uuid %>-button");
                    showDetailElement.click(() => {
                        showDetailElement.text(showDetailElement.text() == "Show Detail" ? "Hide Detail" : "Show Detail");
                    });
                <% } %>
            });
        </script>

        <form name="editor-form" method="POST">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">

            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            Editing file <%= fileEdit.dirName %>/<%= fileEdit.fileName %>
                        </div>
                        <div class="col-auto">
                            <button id="file-editor-<%= fileEdit.uuid %>-save-button" name="__action" value="save_and_sync" class="btn btn-primary" disabled>Save and Sync</button>
                        </div>
                    </div>

                </div>
                <div class="card-body p-0 row">
                    <div class="container">
                        <% if (fileEdit.alertResults) { %>
                        <div class="alert <% if (fileEdit.didSave && fileEdit.didSync) { %>alert-success<% } else { %>alert-danger<% } %> alert-dismissible fade show m-2" role="alert">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <% if (fileEdit.didSave) { %>
                                        <% if (fileEdit.didSync) { %>
                                            File was both saved and synced successfully.
                                        <% } else { %>
                                            File was saved, but failed to sync.
                                        <% } %>
                                    <% } else { %>
                                        Failed to save and sync file.
                                    <% } %>
                                </div>
                                <% if (fileEdit.jobSequenceId != null) { %>
                                <div class="col-auto">
                                    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#results-<%= fileEdit.uuid %>" role="button" id="results-<%= fileEdit.uuid %>-button">Show Detail</a>
                                </div>
                                <% } %>
                                <% if (fileEdit.failedPush) { %>
                                <div class="col-auto">
                                    <a class="btn btn-primary btn-sm" href="<%= urlPrefix %>/syncs" role="button" target="_blank" rel="noreferrer">Open Sync Page in New Window</a>
                                </div>
                                <% } %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <% if (fileEdit.failedPush) { %>
                            <div class="row mt-4">
                                <div class="col-auto">
                                    In particular, it looks like there was a failure to push your changes to the remote git repo. The most likely cause is that another user made changes to other course files while you were editing. In this case, you should open the sync page in a new browser window, pull from remote git repo, close the window, and continue editing.
                                </div>
                            </div>
                            <% } %>
                            <% if (fileEdit.jobSequenceId != null) { %>
                            <div class="row collapse mt-4" id="results-<%= fileEdit.uuid %>">
                                <div class="card card-body">
                                    <%- include('../partials/jobSequenceResults', {job_sequence: fileEdit.jobSequence, job_sequence_enable_live_update: false}); %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>

                        <% if (fileEdit.alertChoice) { %>
                        <div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
                            <% if (fileEdit.hasSameHash) { %>
                            You were editing this file and made changes. You may choose either to continue editing or to discard your changes.
                            <% } else { %>
                            Both you and another user made changes to this file. You may choose either to continue editing your draft or to discard your changes.
                            <% } %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <% } %>
                    </div>

                    <div id="file-editor-<%= fileEdit.uuid %>-draft" class="col">
                        <div class="card p-0">
                            <% if (fileEdit.alertChoice) { %>
                            <div class="card-header text-center">
                                <h4 class="mb-4">My version</h4>
                                <button id="choose" class="btn btn-primary" type="button">Choose my version (continue editing)</button>
                            </div>
                            <% } %>
                            <div class="card-body p-0">
                                <input type="hidden" name="file_edit_user_id" value="<%= fileEdit.userID %>">
                                <input type="hidden" name="file_edit_course_id" value="<%= fileEdit.courseID %>">
                                <input type="hidden" name="file_edit_dir_name" value="<%= fileEdit.dirName %>">
                                <input type="hidden" name="file_edit_file_name" value="<%= fileEdit.fileName %>">
                                <input type="hidden" name="file_edit_orig_hash" value="<%= fileEdit.origHash %>">
                                <input type="hidden" name="file_edit_contents">
                                <div class="editor"></div>
                            </div>
                        </div>
                    </div>
                    <% if (fileEdit.alertChoice) { %>
                    <div id="file-editor-<%= fileEdit.uuid %>-disk" class="col">
                        <div class="card p-0">
                            <div class="card-header text-center">
                                <h4 class="mb-4">Their version</h4>
                                <button class="btn btn-primary" type="button" onClick="window.location.reload()">Choose their version (discard my changes)</button>
                            </div>
                            <div class="card-body p-0">
                                <div class="editor"></div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
