<!DOCTYPE html>
<html class="h-100">

<head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script src="/javascripts/ace/ace.js"></script>
    <script src="./edit/instructorFileEditorClient.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <style>
        [id^=file-editor] .editor {
            min-height: 300px;
        }
    </style>
</head>

<body class="d-flex flex-column flex-fill h-100">
    <script>
        $(function() {
            $('[data-toggle="popover"]').popover()
        });
    </script>

    <!-- FIXME: correct navPage? -->
    <%- include('../partials/navbar', {navPage: 'editor'}); %>
    <div class="container-fluid d-flex flex-column flex-fill">
        <script>
            $(function() {
                new window.InstructorFileEditor("<%= fileEdit.uuid %>", {
                    contents: "<%- fileEdit.editContents %>",
                    aceMode: "ace/mode/json",
                });
            });
        </script>

        <div id="file-editor-<%= fileEdit.uuid %>" class="d-flex flex-column flex-fill mb-4">
            <form name="editor-form" method="POST" class="d-flex flex-column flex-fill">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <input type="hidden" name="file_edit_contents">
                <input type="hidden" name="file_edit_user_id" value="<%= fileEdit.userID %>">
                <input type="hidden" name="file_edit_course_id" value="<%= fileEdit.courseID %>">
                <input type="hidden" name="file_edit_id" value="<%= fileEdit.editID %>">
                <input type="hidden" name="file_edit_dir_name" value="<%= fileEdit.dirName %>">
                <input type="hidden" name="file_edit_file_name" value="<%= fileEdit.fileName %>">

                <% if (fileEdit.didReadEdit) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Found a saved draft of this file.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>

                <% if (fileEdit.didDeleteEdit) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Found and deleted an outdated saved draft of this file.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>

                <div class="card d-flex flex-column flex-fill">
                    <div class="card-header">
                        <%= fileEdit.dirName %>/
                        <%= fileEdit.fileName %>
                    </div>
                    <div class="editor flex-fill"></div>
                    <div class="card-footer">
                        <button name="__action" value="revert_to_original" class="btn btn-sm btn-outline-primary">Revert to original</button>
                        <button name="__action" value="revert_to_draft" class="btn btn-sm btn-outline-primary">Revert to draft</button>
                        <button name="__action" value="save_draft" class="btn btn-sm btn-outline-primary">Save draft</button>
                        <button name="__action" value="save_and_sync" class="btn btn-sm btn-outline-primary">Save and sync</button>
                        <!-- FIXME: add icons? <i class="fa fa-cloud-download-alt" aria-hidden="true"></i> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
