<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/socket.io.js"></script>
  </head>
  <body>
    <script>
      var socket = io();
      socket.on('reload', function() {window.location.reload(true);});
      socket.on('updateStderr', function(msg) {$("#stderr").text(msg.text);});
      socket.on('updateStdout', function(msg) {$("#stdout").text(msg.text);});
      socket.emit('joinJob', {job_id: <%= job.id %>}, function(msg) {
          if (msg.status != '<%= job.status %>') {
              window.location.reload(true);
          }
      });
    </script>
    <%- include('../partials/navbarAdmin', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Sync job</h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr><th>Job number</th>  <td><%= job.number %></td></tr>
            <tr><th>Start date</th>  <td><%= job.start_date_formatted %></td></tr>
            <tr><th>Finish date</th> <td><%= job.finish_date_formatted %></td></tr>
            <tr><th>User</th>        <td><%= job.user_uid %></td></tr>
            <tr><th>Authn user</th>  <td><%= job.authn_user_uid %></td></tr>
            <tr><th>Status</th>      <td><%- include('../partials/jobStatus', {status: job.status}); %></td></tr>
            <tr><th>Command</th>     <td><%= job.command %></td></tr>
            <tr><th>Arguments</th>   <td><%= job.arguments %></td></tr>
            <tr><th>Working dir</th> <td><%= job.working_directory %></td></tr>
            <tr><th>Exit code</th>   <td><%= job.exit_code %></td></tr>
            <tr><th>Exit signal</th> <td><%= job.exit_signal %></td></tr>
            <tr><th>Stderr</th>      <td><pre id="stderr"><%= job.stderr %></pre></td></tr>
            <tr><th>Stdout</th>      <td><pre id="stdout"><%= job.stdout %></pre></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
