<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'assessment_instance'}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
        </div>

        <div class="card-body">
          <div class="row align-items-center mb-4">
            <div class="col-md-3 col-sm-6 col-xs-12">
              Total points: <%= assessment_instance.points %>/<%= assessment_instance.max_points %>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <%- include('../partials/scorebar', {score: assessment_instance.score_perc}) %>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right">
              Available credit: <%= authz_result.credit_date_string %>
              <%- include('../partials/studentAccessRulesPopover', {
                  accessRules: authz_result.access_rules,
                  assessmentSetName: assessment_set.name,
                  assessmentNumber: assessment.number,
                }) %>
            </div>
          </div>

          <div class="alert alert-secondary mb-0">
            <p class="mb-0"><small>
              Answer questions in any order. Questions can be repeated and not all
              questions must be completed. Answering a question
              correctly will increase its score by its current
              value<%= (assessment.constant_question_value ? '.' : ', and will also increase its value.') %> Answering
              a question incorrectly will reset its value. Total
              points is the sum of all question
              points.
            </small></p>
            <% if (assessment_text_templated) { %>
            <hr>
            <div class="well well-sm">
              <%- assessment_text_templated %>
            </div>
            <% } %>
          </div>
        </div>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Question</th>
              <th class="text-center">Value</th>
              <th class="text-center">History</th>
              <th class="text-center">Awarded points</th>
            </tr>
          </thead>
          <tbody>
            <% questions.forEach(function(question) { %>
            <% if (question.start_new_zone && question.zone_title) { %>
            <tr>
              <th colspan="4">
                <%= question.zone_title %>
                <% if (question.zone_has_max_points) { %>
                    &nbsp;<a tabindex="0" class="btn btn-xs btn-secondary" role="button"
                       data-toggle="popover" data-trigger="focus" data-container="body"
                       data-html="true"
                       data-content="Of the points that you are awarded for answering these questions, at most <%= question.zone_max_points %> will count toward your total points."><span class="badge badge-secondary align-top">maximum <%= question.zone_max_points %> points &nbsp;<i class="far fa-question-circle" aria-hidden="true"></i></span></a>
                <% } %>
                <% if (question.zone_has_best_questions) { %>
                    &nbsp;<a tabindex="0" class="btn btn-xs btn-secondary" role="button"
                       data-toggle="popover" data-trigger="focus" data-container="body"
                       data-html="true"
                       data-content="Of these questions, only the <%= question.zone_best_questions %> with the highest number of awarded points will count toward your total points."><span class="badge badge-secondary align-top">best <%= question.zone_best_questions %> questions &nbsp;<i class="far fa-question-circle" aria-hidden="true"></i></span></a>
                <% } %>
              </th>
            </tr>
            <% } %>
            <tr>
              <td>
                <a href="<%= urlPrefix %>/instance_question/<%= question.id %>/">
                  <%= question.question_number %>. <%= question.question_title %>
                </a>
              </td>
              <td class="text-center"><%- include('../partials/questionValue', {value: question.current_value});  %></td>
              <td class="text-center"><%- include('../partials/questionAwardedPoints', {awarded_points: question.variants_points_list, init_points: question.init_points});  %></td>
              <td class="text-center"><%- include('../partials/questionPointsOfMax', {points: question.points, max_points: question.max_points}); %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

      </div>
    </div>
  </body>
</html>
