<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false, container: 'body'});
      });
  
      // make the file inputs display the file name
      $(document).on('change', '.custom-file-input', function () {
          let filename = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
          $(this).parent('.custom-file').find('.custom-file-label').text(filename);
      });
    </script>

    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'assessment_instance'}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
        </div>

        <div class="card-body">
          <div class="row align-items-center mb-4">
            <div class="col-md-3 col-sm-6 col-xs-12">
              Total points: <%= assessment_instance.points %>/<%= assessment_instance.max_points %>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <%- include('../partials/scorebar', {score: assessment_instance.score_perc}) %>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right">
              Available credit: <%= authz_result.credit_date_string %>
              <%- include('../partials/studentAccessRulesPopover', {
                  accessRules: authz_result.access_rules,
                  assessmentSetName: assessment_set.name,
                  assessmentNumber: assessment.number,
                }) %>
            </div>
          </div>
          <% if (assessment.group_work) { %>
          <div class="container-fluid">
            <div class="row">
              <% if (groupinfo[0].student_authz_join) { %>
              <div class="col-sm bg-light py-4 px-4 border">
                <p>This is a group homework. Use your friend code to invite others to join the group.</p>
                <span class="badge badge-secondary">Group Name</span>
                <%= groupinfo[0].name %><br>
                <span class="badge badge-secondary">Friend Code</span>
                <%= friendcode %><br>
              </div>
              <% } %>
              <div class="col-sm bg-light py-4 px-4 border">
                <% if (groupinfo[0].student_authz_leave) { %>
                <form id="confirm-form" name="confirm-form" method="POST" class="d-flex justify-content-end">
                  <input type="hidden" name="__action" value="leaveGroup">
                  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                  <button id="quit-group" type="submit" class="btn btn-danger">Leave the Group</button>
                </form>
                <% } %>
                <span class="badge badge-secondary">Group Members</span>
                <% groupinfo.forEach(function(row) {%>
                <li><%= row.uid %></li>
                <% }); %>
              </div>
            </div>
          </div>
          <% } %>

          <% if (assessment_text_templated) { %>
          <div class="alert alert-secondary mb-0">
              <%- assessment_text_templated %>
          </div>
          <% } %>
        </div>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Question</th>
              <th class="text-center">Value</th>
              <th class="text-center">History</th>
              <th class="text-center">Awarded points</th>
            </tr>
          </thead>
          <tbody>
            <% questions.forEach(function(question) { %>
            <% if (question.start_new_zone && question.zone_title) { %>
            <tr>
              <th colspan="4">
                <%= question.zone_title %>
                <% if (question.zone_has_max_points) { %>
                    &nbsp;<a tabindex="0" class="btn btn-xs btn-secondary" role="button"
                       data-toggle="popover" data-trigger="focus" data-container="body"
                       data-html="true"
                       data-content="Of the points that you are awarded for answering these questions, at most <%= question.zone_max_points %> will count toward your total points."><span class="badge badge-secondary align-top">maximum <%= question.zone_max_points %> points &nbsp;<i class="far fa-question-circle" aria-hidden="true"></i></span></a>
                <% } %>
                <% if (question.zone_has_best_questions) { %>
                    &nbsp;<a tabindex="0" class="btn btn-xs btn-secondary" role="button"
                       data-toggle="popover" data-trigger="focus" data-container="body"
                       data-html="true"
                       data-content="Of these questions, only the <%= question.zone_best_questions %> with the highest number of awarded points will count toward your total points."><span class="badge badge-secondary align-top">best <%= question.zone_best_questions %> questions &nbsp;<i class="far fa-question-circle" aria-hidden="true"></i></span></a>
                <% } %>
              </th>
            </tr>
            <% } %>
            <tr>
              <td>
                <a href="<%= urlPrefix %>/instance_question/<%= question.id %>/">
                  <%= question.question_number %>. <%= question.question_title %>
                </a>
                <% if (question.file_count > 0) { %>
                  <i class="fas fa-paperclip"></i>
                <% } %>
              </td>
              <td class="text-center"><%- include('../partials/questionValue', {value: question.current_value});  %></td>
              <td class="text-center"><%- include('../partials/questionAwardedPoints', {awarded_points: question.variants_points_list, init_points: question.init_points});  %></td>
              <td class="text-center"><%- include('../partials/questionPointsOfMax', {points: question.points, max_points: question.max_points}); %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <%- include('../partials/attachFilePanel') %>
      <%- include('../partials/instructorInfoPanel') %>
    </div>
  </body>
</html>
