<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover()
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'assessment_instance'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %></h3>
        </div>

        <div class="panel-body">
          <div class="well well-sm small-bottom-margin">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                Total points: <%= assessment_instance.points %>/<%= assessment_instance.max_points %>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <%- include('../partials/scorebar', {score: assessment_instance.score_perc}) %>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                Available credit: <%= authz_result.credit_date_string %>
                <%- include('../partials/studentAccessRulesPopover', {
                    accessRules: authz_result.access_rules,
                    assessmentSetName: assessment_set.name,
                    assessmentNumber: assessment.number,
                    }) %>
              </div>
            </div> <!-- row -->
          </div> <!-- well -->

          <div class="well well-sm no-bottom-margin">
            <div class="row">
              <div class="col-xs-12">
                <p class="no-bottom-margin"><small>Answer questions in
                    any order. Questions can be repeated and not all
                    questions must be completed. Answering a question
                    correctly will increase its score by its current
                    value, and will also increase its value. Answering
                    a question incorrectly will reset its value. Total
                    points is the sum of all question
                    points.</small></p>
              </div>
            </div> <!-- row -->
          </div> <!-- well -->

          <% if (assessment_text_templated) { %>
          <div class="well well-sm small-bottom-margin">
            <%- assessment_text_templated %>
          </div> <!-- well -->
          <% } %>

        </div> <!-- panel-body -->

        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Question</th>
              <th class="cell-center">Value</th>
              <th class="cell-center">Awarded</th>
              <th class="cell-center">Points</th>
            </tr>
          </thead>
          <tbody>
            <% questions.forEach(function(question) { %>
            <% if (question.start_new_zone && question.zone_title) { %>
            <tr>
              <th colspan="3"><%= question.zone_title %></th>
            </tr>
            <% } %>
            <tr>
              <td>
                <a href="<%= urlPrefix %>/instance_question/<%= question.id %>/">
                  <%= question.question_number %>. <%= question.question_title %>
                </a>
              </td>
              <td class="cell-center"><%- include('../partials/questionValue', {value: question.current_value});  %></td>
              <td class="cell-center"><%- include('../partials/questionAwardedPoints', {awarded_points: question.variants_points_list, init_points: question.init_points});  %></td>
              <td class="cell-center"><%- include('../partials/questionPointsOfMax', {points: question.points, max_points: question.max_points}); %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

      </div>
    </div>
  </body>
</html>
