<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <script src="/localscripts/histmini.js"></script>
  </head>
  <body>
    <% if (navbarType == 'instructor') { %>
      <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'course'}); %>
      <div id="content" class="container">
      <%- include('../partials/instructorAdminTabs', {navSubPage: 'course'}); %>
    <% } else { %>
      <%- include('../partials/navbar', {navPage: 'courseOverview'}); %>
      <div id="content" class="container">
    <% } %>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Course information ---------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Course information</div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <tbody>
              <tr><th>Short name:</th><td><%= course.short_name %></td></tr>
              <tr><th>Title:</th><td><%= course.title %></td></tr>
              <tr><th>Timezone:</th><td><%= course.display_timezone %></td></tr>
              <tr><th>Grading queue:</th><td><%= course.grading_queue %></td></tr>
              <tr><th>Path:</th><td><%= course.path %></td></tr>
              <tr><th>Repository:</th><td><%= course.repository %></td></tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Access roles ---------------------------------------------------------------->

      <% if (authz_data.has_course_permission_own) { %>
      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Course access roles
          <a id="coursePermissionsInsertButton"
             tabindex="0" class="btn btn-light btn-sm ml-auto" role="button"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Add user"
             data-content="<%= include('coursePermissionsInsertForm',
                           {id: 'coursePermissionsInsertButton'}) %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">Add user</span>
          </a>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Course access role</th>
            </thead>
            <tbody>
              <% course_users.forEach(function(course_user, i) { %>
              <tr>
                <td class="align-middle"><%= course_user.uid %></td>
                <td class="align-middle"><%= course_user.name %></td>
                <td class="align-middle">
                  <%= course_user.course_role %>

                  <a id="coursePermissionsUpdateRoleButton<%= i %>"
                     tabindex="0" class="btn btn-xs btn-secondary" role="button"
                     data-toggle="popover" data-container="body"
                     data-html="true" data-placement="auto" title="Change course role"
                     data-content="<%= include('coursePermissionsUpdateRoleForm',
                                   {id: 'coursePermissionsUpdateRoleButton' + i,
                                   uid: course_user.uid, user_id: course_user.user_id,
                                   course_role: course_user.course_role}) %>"
                     data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-edit" aria-hidden="true"></i> Change
                  </a>

                  <a id="coursePermissionsDeleteButton<%= i %>"
                     tabindex="0" class="btn btn-xs btn-secondary" role="button"
                     data-toggle="popover" data-container="body"
                     data-html="true" data-placement="auto" title="Remove user access"
                     data-content="<%= include('coursePermissionsDeleteForm',
                                   {id: 'coursePermissionsDeleteButton' + i,
                                   uid: course_user.uid, user_id: course_user.user_id}) %>"
                     data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-times" aria-hidden="true"></i> Remove
                  </a>

                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            The <strong>Viewer</strong> role can see all questions in
            the course. The <strong>Editor</strong> role can
            additionally sync the course configuration from the git
            repository. The <strong>Owner</strong> role can
            additionally add and remove other access roles. Users must
            already have logged in to PrairieLearn before they can be
            given course access. These roles do not give access to
            course instances for each semester. To do that, add users
            to the <tt>infoCourseInstance.json</tt> file for the
            course instance.
          </small>
        </div>
      </div>
      <% } %>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Assessment sets ------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Assessment sets</div>

        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Number</th>
                <th>Abbreviation</th>
                <th>Name</th>
                <th>Heading</th>
                <th>Color</th>
            </thead>
            <tbody>
              <% assessment_sets.forEach(function(assessment_set) { %>
              <tr>
                <td class="align-middle"><%= assessment_set.number %></td>
                <td class="align-middle">
                  <span class="badge color-<%= assessment_set.color %>">
                    <%= assessment_set.abbreviation %>
                  </span>
                </td>
                <td class="align-middle"><%= assessment_set.name %></td>
                <td class="align-middle"><%= assessment_set.heading %></td>
                <td class="align-middle"><%= assessment_set.color %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- External Grading ------------------------------------------------------------>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          External grading
          <a tabindex="0" class="btn btn-light btn-sm ml-auto" onclick="alert('External grading dashboard coming soon!')">
            External grading dashboard <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-body">
          <% if (external_grading_stats_all.total > 0) { %>
          <div>
            <ul class="nav nav-pills" role="tablist" style="margin-bottom: 15px;">
              <li role="presentation" class="nav-item"><a class="nav-link active" href="#external-day" role="tab" data-toggle="tab">Past day</a></li>
              <li role="presentation" class="nav-item"><a class="nav-link" href="#external-week" role="tab" data-toggle="tab">Past week</a></li>
              <li role="presentation" class="nav-item"><a class="nav-link" href="#external-all" role="tab" data-toggle="tab">All time</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="external-day">
                <%- include('../partials/externalGradingOverview', {stats: external_grading_stats_day}); %>
              </div>
              <div role="tabpanel" class="tab-pane" id="external-week">
                <%- include('../partials/externalGradingOverview', {stats: external_grading_stats_week}); %>
              </div>
              <div role="tabpanel" class="tab-pane" id="external-all">
                <%- include('../partials/externalGradingOverview', {stats: external_grading_stats_all}); %>
              </div>
            </div>
          </div>

          <% } else { %>
            It looks like your course doesn't have any externally graded questions yet.
            Why not <a href="http://prairielearn.readthedocs.io/en/latest/externalGrading/">add one now</a>?
          <% } %>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Topics ---------------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Topics</div>

        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Color</th>
                <th>Description</th>
            </thead>
            <tbody>
              <% topics.forEach(function(topic) { %>
              <tr>
                <td class="align-middle"><%= topic.number %></td>
                <td class="align-middle"><%- include('../partials/topic', {topic}); %></td>
                <td class="align-middle"><%= topic.color %></td>
                <td class="align-middle"><%= topic.description %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Tags ------------------------------------------------------------------------>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Tags</div>

        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Color</th>
                <th>Description</th>
            </thead>
            <tbody>
              <% tags.forEach(function(tag) { %>
              <tr>
                <td class="align-middle"><%= tag.number %></td>
                <td class="align-middle"><%- include('../partials/tag', {tag}); %></td>
                <td class="align-middle"><%= tag.color %></td>
                <td class="align-middle"><%= tag.description %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->

    </div>
  </body>
</html>
