<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <script src="/javascripts/lodash.min.js"></script>
        <script src="/javascripts/d3.min.js"></script>
        <script src="/localscripts/histmini.js"></script>
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <div id="content" class="container">
            <%- include('../partials/navtabs'); %>
            <div class="card mb-4">
                <div class="card-header bg-primary text-white d-flex">
                    Course information
                </div>

                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <tbody>
                            <tr><th>Short name:</th><td><%= course.short_name %></td></tr>
                            <tr><th>Title:</th><td><%= course.title %></td></tr>
                            <tr><th>Timezone:</th><td><%= course.display_timezone %></td></tr>
                            <tr><th>Grading queue:</th><td><%= course.grading_queue %></td></tr>
                            <tr><th>Path:</th><td><%= course.path %></td></tr>
                            <tr><th>Repository:</th><td><%= course.repository %></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
