<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('../partials/head'); %>
    <%- compiled_script_tag('instructorQuestions.ts') %>
    <%- encoded_data({
          urlPrefix,
          plainUrlPrefix, 
          questions, 
          course_instances: authz_data.course_instances.map(ci => ({
            id: ci.id, 
            short_name: ci.short_name, 
            current: locals.course_instance?.id == ci.id
          })),
        }, 'questions-data') %>
    <%- compiled_stylesheet_tag('instructorQuestions.css') %>
  </head>
  
  <body>
    <%- include('../partials/navbar'); %>
    <form class="ml-1 btn-group" name="add-question-form" method="POST">
      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
      <input type="hidden" name="__action" value="add_question">
    </form>
    <main id="content" class="container-fluid">
      <%- include('../partials/courseSyncErrorsAndWarnings'); %>
      <div class="card mb-4">
        <div class="card-header bg-primary">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <span class="text-white">Questions</span>
            </div>
          </div>
        </div>

        <!-- TODO Buttons for column visibility, clear filter, add question -->
        <!-- TODO Add placeholder for pagination on top and bottom -->
        <!-- TODO Sticky header -->
        <!-- TODO Sticky first column -->
        <!-- TODO Ctrl/Cmd-F calls table.setHeaderFilterFocus("qid"); -->
        <div id="questionsTable" class="table table-sm table-hover table-bordered"></div>
      </div>
    </main>
</body>

</html>
