<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'errors'}); %>
    <div id="content" class="container">

      <div class="modal fade" id="closeAllErrorsModal" tabindex="-1" role="dialog" aria-labelledby="closeAllErrors">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="closeAllErrorsModalLabel">Close all errors</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to close all errors? This cannot
              be undone.
            </div>
            <div class="modal-footer">
              <form name="close-all-form" method="POST">
                <input type="hidden" name="__action" value="close_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Close all</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Errors</h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr>
              <th>Number of errors</th>
              <td><%= errorCount %></td>
            </tr>
            <tr>
              <th>Open errors</th>
              <td><%- include('../partials/errorBadge', {count: openCount}) %></td>
            </tr>
            <tr>
              <th>Actions</th>
              <td>
                <a class="btn btn-xs btn-default" role="button"
                   data-toggle="modal" data-target="#closeAllErrorsModal">
                  <i class="fa fa-times" aria-hidden="true"></i> Close all errors
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="panel-body">
          <% if (typeof filterQid != 'undefined') { %>
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Filter:</span>
                <input type="text" class="form-control" disabled value="QID:<%= filterQid %>">
                <span class="input-group-btn">
                  <a class="btn btn-primary" type="button" href="<%= urlPrefix %>/errors">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Clear
                  </a>
                </span>
              </div>
            </div>
          </div>
          <% } %>
          <%- include('../partials/pager') %>
        </div>

        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Instance</th>
              <th>Assessment</th>
              <th>Question</th>
              <th>User</th>
              <th>Message</th>
              <th>Link</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(row => { %>
            <tr>
              <td><%= row.display_id %></td>
              <td><%= row.formatted_date %></td>
              <td><%= row.course_instance_short_name || '—' %></td>
              <td>
                <% if (row.assessment) { %>
                <%- include('../partials/assessment', {assessment: row.assessment}) %>
                <% } else { %>
                —
                <% } %>
              </td>
              <td>
                <% if (row.question_qid) { %>
                <%= row.question_qid %>
                <% } else { %>
                —
                <% } %>
              </td>
              <td><%= row.user_uid || '—' %></td>
              <td><%= row.student_message || '—' %></td>
              <td>
                <% if (row.variant_id) { %>
                <a href="<%= urlPrefix %>/question/<%= row.question_id %>/?variant_id=<%= row.variant_id %>" class="btn btn-xs btn-primary">View</a>
                <% } %>
              </td>
              <td><%- include('../partials/errorStatus', {open: row.open, error_id: row.error_id}) %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

      </div>
    </div>
  </body>
</html>
