<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
  <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
  <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
</head>

<body>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({ sanitize: false })
    });

    // make the file inputs display the file name
    $(document).on('change', '.custom-file-input', function () {
      let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
      $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
    });
  </script>
  <%- include('../partials/navbar'); %>
  <main id="content" class="container-fluid">
    <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

    <% if (typeof errormsg !== 'undefined' && errormsg.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= errormsg %>
      </div>
    <% } %>

    <% if (!isGroup) { %>
    <div class="card mb-4">
      <div class="card-header bg-primary text-white d-flex align-items-center">
        <%= assessment_set.name %> <%= assessment.number %>: Groups
      </div>
      <div class="card-body">
        This is not a group assessment. To enable this functionality, please set <code>"groupWork": true</code> in <code>infoAssessment.json</code>.
      </div>
    </div>

    <% } else { %>
    <% if (authz_data.has_course_instance_permission_edit) { %>
    <div class="container-fluid">
      <div class="modal fade" id="uploadAssessmentGroupsModal" tabindex="-1" role="dialog"
        aria-labelledby="uploadAssessmentGroupsModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="h4 modal-title" id="uploadAssessmentGroupsModalLabel">Upload new group assignments</h1>
            </div>
            <div class="modal-body">
              <p>
                Upload a CSV file in the format of:
              </p>
            </div>
            <div class="modal-body">
              <code class="mb-0 text-dark">
                        groupName,UID<br>
                        groupA,one@example.com<br>
                        groupA,two@example.com<br>
                        groupB,three@example.com<br>
                        groupB,four@example.com</code>
              <%# Closing code tag not on its own line to improve copy/paste formatting %>
            </div>
            <div class="modal-body">
              <p>
                The <code>groupname</code> column should be a unique identifier for each group. To change the grouping, link
                uids to the groupname.
              </p>
              <form name="upload-assessment-group-form" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" accept=".csv" name="file" class="custom-file-input" id="uploadAssessmentGroupsFileInput">
                    <label class="custom-file-label" for="uploadAssessmentGroupsFileInput">Choose CSV file</label>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="form-group mb-0">
                    <input type="hidden" name="__action" value="upload_assessment_groups">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="modal fade" id="autoAssessmentGroupsModal" tabindex="-1" role="dialog"
          aria-labelledby="autoAssessmentGroupsModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="h4 modal-title" id="autoAssessmentGroupsModalLabel">Auto new group setting</h1>
              </div>
              <div class="modal-body">
                <form name="auto-assessment-group-form" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="formMin">Min number of members in a group</label>
                    <input type="text" value=<%= config_info.defaultMin %> class="form-control" id="formMin" name="min_group_size">
                  </div>
                  <div class="form-group">
                    <label for="formMax">Max number of members in a group</label>
                    <input type="text" value=<%= config_info.defaultMax %> class="form-control" id="formMax" name="max_group_size">
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio" value=1 checked> Grouping entire class (Please delete all
                      groups before executing)</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio" value=2 disabled> [WIP] Grouping not-assigned students (fill
                      existing groups first)</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio" value=3 disabled> [WIP] Grouping not-assigned students (will
                      not
                      change existing groups; create new groups only)</label>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="form-group mb-0">
                      <input type="hidden" name="__action" value="auto_assessment_groups">
                      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Group</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="copyAssessmentGroupsModal" tabindex="-1" role="dialog"
          aria-labelledby="copyAssessmentGroupsModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="h4 modal-title" id="copyAssessmentGroupsModalLabel">Copy group setting</h1>
              </div>
              <div class="modal-body">
                <form name="copy-assessment-group-form" method="POST" enctype="multipart/form-data">
                  <div class="input-group mb-3">
                    <select class="custom-select" name="copy_assessment_id">
                      <option selected>Choose Assessment...</option>
                      <% assessment_list_rows.forEach(function(row, iRow) {%>
                      <option value=<%= row.id %>><%= row.tid %>: <%= row.title %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="form-group mb-0">
                      <input type="hidden" name="__action" value="copy_assessment_groups">
                      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Copy</button>
                    </div>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="h4 modal-title" id="addGroupModalLabel">Add a group</h1>
              </div>
              <form name="add-group-form" method="POST">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="formName">Group Name</label>
                    <input type="text" class="form-control" id="formName" name="group_name">  
                  </div>
                <br>
                  <div class="form-group">
                    <label for="formUids">UIDs</label>
                    <input type="text" class="form-control" id="formUids" name="uids"
                      placeholder="one@example.com, two@example.com, three@example.com">
                    <small id="uidHelp" class="form-text text-muted">Seperate with ","
                      <br>Please make sure they are not in any other groups</small>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden" name="__action" value="add_group">
                  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="deleteAllGroupsModal" tabindex="-1" role="dialog"
          aria-labelledby="deleteAllGroupsModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="h4 modal-title" id="deleteAllGroupsModalLabel">Delete all existing groups</h1>
              </div>
              <div class="modal-body">
                Are you sure you want to delete all existing groups
                for <strong><%= assessment_set.name %>
                  <%= assessment.number %></strong>? This cannot be
                undone.
              </div>
              <div class="modal-footer">
                <form name="delete-all-form" method="POST">
                  <input type="hidden" name="__action" value="delete_all">
                  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-danger">Delete all</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <div class="card mb-4">
      <div class="card-header bg-primary text-white d-flex align-items-center">
        <%= assessment_set.name %> <%= assessment.number %>: Groups
        <% if (authz_data.has_course_instance_permission_edit) { %>
        <div class="ml-auto">
          <button type="button" class="btn btn-sm btn-light" tabindex="0" data-toggle="modal"
            data-target="#addGroupModal">
            <i class="fa fa-plus" aria-hidden="true"></i> Add a group
          </button>
          <button type="button" class="btn btn-sm btn-danger" tabindex="0" data-toggle="modal"
            data-target="#deleteAllGroupsModal">
            <i class="fa fa-times" aria-hidden="true"></i> Delete all groups
          </button>
        </div>
        <% } %>
      </div>
      <% if (authz_data.has_course_instance_permission_edit) { %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm bg-light py-4 border" align="center">
            <button type="button" class="btn btn-primary text-nowrap" data-toggle="modal"
              data-target="#uploadAssessmentGroupsModal">
              <i class="fas fa-upload" aria-hidden="true"></i> Upload
            </button>
            <div class="mt-2">
              Upload a CSV file with group assignments.
            </div>
          </div>
          <div class="col-sm bg-light py-4 border" align="center">
            <button type="button" class="btn btn-primary text-nowrap" data-toggle="modal"
              data-target="#autoAssessmentGroupsModal">
              <i class="fas fa-robot" aria-hidden="true"></i> Auto
            </button>
            <div class="mt-2">
              Automatically assign students to groups.
            </div>
          </div>
          <div class="col-sm bg-light py-4 border" align="center">
            <button type="button" class="btn btn-primary text-nowrap" data-toggle="modal"
              data-target="#copyAssessmentGroupsModal">
              <i class="fas fa-copy" aria-hidden="true"></i> Copy
            </button>
            <div class="mt-2">
              Copy the group assignments from another assessment.
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="table-responsive">
        <table id="usersTable" class="table table-sm table-hover tablesorter">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th class="text-center">Group Members (UIDs)</th>
              <% if (authz_data.has_course_instance_permission_edit) { %>
              <th class="sorter-false"></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% groups.forEach(function(row, iRow) { %>
            <tr>
              <td><%= row.name %></td>
              <td class="text-center"><%= row.size %></td>
              <td class="text-center" style="word-break:break-all;">
                <small><%= row.uid_list.length > 0 ? row.uid_list : '(empty)' %></small>
              </td>
              <% if (authz_data.has_course_instance_permission_edit) { %>
              <td class="text-center">
                <div class="dropdown">
                  <button type="button"
                          class="btn btn-xs dropdown-toggle"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                    Action <span class="caret"></span>
                  </button>
                  <div id="row<%= iRow %>PopoverAdd"
                        tabindex="0"
                        data-toggle="popover"
                        data-trigger="manual"
                        data-container="body"
                        data-html="true"
                        data-placement="auto"
                        title="Add Members"
                        data-content="<%= include('formAddMembers.ejs', {row: row, iRow: iRow }); %>">
                  </div>
                  <div id="row<%= iRow %>Popoverdeletemember"
                        tabindex="0"
                        data-toggle="popover"
                        data-trigger="manual"
                        data-container="body"
                        data-html="true"
                        data-placement="auto"
                        title="Remove Members"
                        data-content="<%= include('formRemoveMembers.ejs', {row: row, iRow: iRow }); %>">
                  </div>
                  <div id="row<%= iRow %>Popoverdeletegroup"
                        tabindex="0"
                        data-toggle="popover"
                        data-trigger="manual"
                        data-container="body"
                        data-html="true"
                        data-placement="auto"
                        title="Confirm delete this group"
                        data-content="<%= include('formDeleteGroup.ejs', {row: row, iRow: iRow }); %>">
                  </div>

                  <%# Capture all clicks to dropdown items to prevent scrolling to the top of the page %>
                  <div class="dropdown-menu" onclick="window.event.preventDefault();">

                    <% if (authz_data.has_course_instance_permission_edit) { %>
                    <a class="dropdown-item" onclick="$('#row<%= iRow %>PopoverAdd').popover('show')" href="#">
                      <i class="fa fa-user-plus" aria-hidden="true"></i> Add members
                    </a>

                    <a class="dropdown-item" onclick="$('#row<%= iRow %>Popoverdeletemember').popover('show')" href="#">
                      <i class="fa fa-user-minus" aria-hidden="true"></i> Remove members
                    </a>

                    <a class="dropdown-item" onclick="$('#row<%= iRow %>Popoverdeletegroup').popover('show')" href="#">
                      <i class="fa fa-times" aria-hidden="true"></i> Delete this group
                    </a>
                    <% } %>

                  </div>
                </div>
              </td>
              <% } %>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <div class="card-footer">
          <p>
            Download <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/downloads/<%= groupsCsvFilename %>"><%= groupsCsvFilename %></a>
          </p>
          <small>
            <% if (notAssigned.length == 0) { %>
            <strong>
              All students have been assigned groups.
            </strong>
            <% } else { %>
            <strong>
              <%= notAssigned.length %>
              student<% if (notAssigned.length > 1) { %>s<% } %>
              not yet assigned:
            </strong>
            <ul class="mb-0">
              <% notAssigned.forEach(function(uid) {%>
              <li><%= uid %></li>
              <% }); %>
            </ul>
            <% } %>
          </small>
        </div>
      </div>
      <script>
        $(function () {
          $("#usersTable").tablesorter({
            theme: "bootstrap",
            widthFixed: true,
            headerTemplate: '{content} {icon}',
            widgets: ["uitheme"],
            headers: {
              3: { sorter: false },
            },
          });
        });
      </script>
    </div>
    <% } %>

  </main>
</body>

</html>
