<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
<body>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({sanitize: false})
            $('#add_new_override').on('submit', function (event) {
                var startDate = new Date($('#start_date').val());
                var endDate = new Date($('#end_date').val());

                if (startDate >= endDate) {
                    event.preventDefault();
                    $('#end_date').addClass('is-invalid');
                    $('#end_date_error').text('End date should be greater than the start date.').show();
                }
                // Check if either user_id or group_id is not empty
                if (userId === '' && groupId === '') {
                    event.preventDefault();
                    $('#group_id').addClass('is-invalid');
                    $('#group_id_error').text('Either user ID or group ID should be filled.').show();
                }
            });
                      
          // Set the current timestamp for created_at field
          function convertToChicagoTime(utcDate) {
              const chicagoOffset = -5; // UTC offset for Chicago (in hours)
              const chicagoTime = new Date(utcDate);
              chicagoTime.setHours(chicagoTime.getHours() + chicagoOffset);
              return chicagoTime.toISOString().slice(0, 16);
            }
          var currentDate = convertToChicagoTime(new Date());;
          var createdAtField = $('#created_at');
          createdAtField.val(currentDate);
          createdAtField.prop('readonly', true);
        });
        
    </script>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
                Access Overrides
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addPolicyModal">
                    Add <i class="fas fa-plus"></i>
                </button>
            </div>

            
            <div class="modal fade" id="addPolicyModal" tabindex="-1" role="dialog" aria-labelledby="addPolicyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addPolicyModalLabel">Add New Override</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="add_new_override"  method="POST">
                              <input type="hidden" name="__action" value="add_new_override">
                              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                <div class="form-group">
                                    <!-- <label for="assessment_id">Assessment ID</label> -->
                                    <input type="hidden" class="form-control" id="assessment_id" name="assessment_id" value="<%= assessment_id %>" required readonly>
                                </div>
                                <div class="form-group">
                                  <label for="user_id">User ID</label>
                                  <input type="number" class="form-control" id="user_id" name="user_id">
                                </div>
                                <div class="form-group">
                                  <label for="group_id">Group ID</label>
                                  <input type="number" class="form-control" id="group_id" name="group_id">
                                  <div id="group_id_error" class="invalid-feedback" style="display: none; color: red;"></div>
                                </div>
                                <div class="form-group">
                                    <label for="created_at">Created At</label>
                                    <input type="datetime-local" class="form-control" id="created_at" name="created_at" required readonly>
                                </div>
                                <div class="form-group">
                                  <label for="start_date">Start Date</label>
                                  <input type="datetime-local" class="form-control" id="start_date" name="start_date" required>
                                </div>
                                <div class="form-group">
                                  <label for="end_date">End Date</label>
                                  <input type="datetime-local" class="form-control" id="end_date" name="end_date" required>
                                  <div id="end_date_error" class="invalid-feedback" style="display: none; color: red;"></div>
                                </div>
                                <div class="form-group">
                                  <label for="created_by">Created By</label>
                                  <input type="number" class="form-control" id="current_user_id" name="current_user_id" value="<%=current_user_id%>" required readonly>
                                </div>
                                <div class="form-group">
                                    <label for="credit">Credit</label>
                                    <input type="number" class="form-control" id="credit" name="credit">
                                </div>
                                
                                
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea class="form-control" id="note" name="note"></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select class="form-control" id="type" name="type" required>
                                        <option value="">Select a type</option>
                                        <option value="manual">Manual</option>
                                        <option value="extension_token">Extension Token</option>
                                    </select>
                                </div>
                                
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
         <div class="table-responsive">
           <table class="table table-sm table-hover">
             <thead>
               <tr>
                 <th>Assessment ID</th>
                 <th>User ID</th>
                 <th>Group ID</th>
                 <th>Created At</th>
                 <th>Start Date</th>
                 <th>End Date</th>
                 <th>Created By</th>
                 <th>Credit</th>
                 <th>Note</th>
                 <th>Extension Type</th>      
               </tr>
             </thead>
             <tbody>
               <% policies.forEach(function(policy) { %>
               <tr>
                 <td><%= policy.assessment_id %></td>
                 <td><%= policy.user_id %></td>
                 <td><%= policy.group_id %></td>
                 <td><%= policy.created_at %></td>
                 <td><%= policy.start_date %></td>
                 <td><%= policy.end_date %></td>
                 <td><%= policy.created_by %></td>
                 <td><%= policy.credit %></td>
                 <td><%= policy.note %></td>
                 <td><%= policy.type %></td>
               </tr>
               <% }); %>
             </tbody>
           </table>
         </div>
         <div class="card-footer">
      </div>
    </div>
  </main>
</body>
</html>