<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('d3/dist/d3.min.js') %>"></script>
    <script src="<%= asset_path('localscripts/histmini.js') %>"></script>
</head>
<body>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({sanitize: false})
             // set the assessment id in the form
          var assessment_id = <%= assessment_id %> ;
          $('#assessment_id').val(assessment_id);
        });
    </script>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
                Assessment Access Overrides
                
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addPolicyModal">
                    Add <i class="fas fa-plus"></i>
                </button>
            </div>

            
            <div class="modal fade" id="addPolicyModal" tabindex="-1" role="dialog" aria-labelledby="addPolicyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addPolicyModalLabel">Add New Overide</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id = 'add_new_override'  method="POST">
                              <input type="hidden" name="__action" value="add_new_override">
                              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                <div class="form-group">
                                    <label for="assessment_id">Assessment ID</label>
                                    <input type="number" class="form-control" id="assessment_id" name="assessment_id" value="assessment_id" required readonly>
                                </div>
                                <div class="form-group">
                                  <label for="user_id">User ID</label>
                                  <input type="number" class="form-control" id="user_id" name="user_id" required>
                                </div>
                                <div class="form-group">
                                    <label for="created_at">Created At</label>
                                    <input type="datetime-local" class="form-control" id="created_at" name="created_at" required>
                                </div>
                                <div class="form-group">
                                  <label for="start_date">Start Date</label>
                                  <input type="datetime-local" class="form-control" id="start_date" name="start_date" required>
                                </div>
                                <div class="form-group">
                                  <label for="end_date">End Date</label>
                                  <input type="datetime-local" class="form-control" id="end_date" name="end_date" required>
                                </div>
                                <div class="form-group">
                                  <label for="created_by">Created By</label>
                                  <input type="number" class="form-control" id="created_by" name="created_by" required>
                                </div>
                                <div class="form-group">
                                    <label for="credit">Credit</label>
                                    <input type="number" class="form-control" id="credit" name="credit">
                                </div>
                                
                                <div class="form-group">
                                    <label for="group_id">Group ID</label>
                                    <input type="number" class="form-control" id="group_id" name="group_id">
                                </div>
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <textarea class="form-control" id="note" name="note"></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select class="form-control" id="type" name="type" required>
                                        <option value="">Select a type</option>
                                        <option value="manual">Manual</option>
                                        <option value="extension_token">Extension Token</option>
                                    </select>
                                </div>
                                
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>

 
         <div class="table-responsive">
           <table class="table table-sm table-hover">
             <thead>
               <tr>
                 <th>Assessment ID</th>
                 <th>User ID</th>
                 <th>Created At</th>
                 <th>Start Date</th>
                 <th>End Date</th>
                 <th>Created By</th>
                 <th>Credit</th>
                 <th>Group ID</th>
                 <th>Note</th>
                 
                 <th>Type</th>
                 
               </tr>
             </thead>
             <tbody>
               <% policies.forEach(function(policy) { %>
               <tr>
                 <td><%= policy.assessment_id %></td>
                 <td><%= policy.user_id %></td>
                 <td><%= policy.created_at %></td>
                 <td><%= policy.start_date %></td>
                 <td><%= policy.end_date %></td>
                 <td><%= policy.created_by %></td>
                 <td><%= policy.credit %></td>
                 <td><%= policy.group_id %></td>
                 <td><%= policy.note %></td>
                 <td><%= policy.type %></td>
                 
               </tr>
               <% }); %>
             </tbody>
           </table>
         </div>
         <div class="card-footer">
          <small>Instructions on how to change the access overrides can be found in the <a href="https://prairielearn.readthedocs.io/en/latest/accessControl/" target="_blank">PrairieLearn documentation</a>.</small>
      </div>
    </div>
  </main>
</body>
</html>