{{#setVar "navPage"}}questions{{/setVar}}
{{setRadio "navItem" "questions"}}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Questions</h3>
  </div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <td></td>
        <th>QID</th>
        <th>Tests</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      {{#if start_new_topic}}
      <tr class="info">
        <th>{{topic_name}}</th>
        <td></td>
        <td></td>
      </tr>
      {{/if}}
      <tr>
        <td><a href="{{../urlPrefix}}/questions/{{qid}}/">{{title}}</a></td>
        <td>{{qid}}</td>
        <td>{{tests}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
