{{#setVar "navPage"}}tests{{/setVar}}
{{unsetRadio "navItem"}}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{testSet.short_name}}{{test.number}}: {{test.title}}</h3>
  </div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <td></td>
        <th>QID</th>
        <th>Topic</th>
        <th>Points</th>
        <th>Other Tests</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      {{#if start_new_zone}}
      <tr>
        <th colspan="5">Zone {{zone_number}}. {{zone_title}}</th>
      </tr>
      {{/if}}
      <tr>
        <td><a href="{{../urlPrefix}}/tests/{{../test.id}}/testQuestion/{{id}}/">{{number}}. {{title}}</a></td>
        <td>{{qid}}</td>
        <td>{{topic_name}}</td>
        <td>
          {{#ifEqual ../test.type "RetryExam"}}{{points_list}}{{/ifEqual}}
          {{#ifEqual ../test.type "Exam"}}{{max_points}}{{/ifEqual}}
          {{#ifEqual ../test.type "Basic"}}{{max_points}}{{/ifEqual}}
          {{#ifEqual ../test.type "Game"}}{{init_points}}/{{max_points}}{{/ifEqual}}
        </td>
        <td>
          {{#each tests}}
          <a href="{{../../urlPrefix}}/tests/{{test_id}}" class="btn btn-{{color}} btn-xs" role="button">
            {{label}}</a>
          {{/each}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
