{{#setVar "navPage"}}questions{{/setVar}}
{{unsetRadio "navItem"}}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{testSet.short_name}}{{test.number}}.{{result.number}}. {{result.title}} ({{result.qid}})</h3>
  </div>

  <table class="table table-condensed table-hover">
    <tbody>
      <tr>
        <th>Test</th>
        <td>{{testSet.short_name}}{{test.number}}: {{test.title}}</td>
      </tr>
      <tr>
        <th>Number in test</th>
        <td>{{result.number}}</td>
      </tr>
      <tr>
        <th>Title</th>
        <td>{{result.title}}</td>
      </tr>
      <tr>
        <th>QID</th>
        <td>{{result.qid}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{result.type}}</td>
      </tr>
      <tr>
        <th>Topic</th>
        <td>{{result.topic_name}}</td>
      </tr>
    </tbody>
  </table>
</div>
