{{#setVar "navPage"}}tests{{/setVar}}
{{setRadio "navItem" "tests"}}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Assessments</h3>
  </div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>TID</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      {{#if start_new_set}}
      <tr class="{{color}}">
        <th>{{long_name}}</th>
        <td></td>
      </tr>
      {{/if}}
      <tr>
        <td><a href="{{../urlPrefix}}/tests/{{id}}/">{{short_name}}{{number}}: {{title}}</a></td>
        <td>{{tid}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="panel-footer">
    <p>
      <small>
        Hover over a date to see details. For assessments with a "New version" button, clicking it will generate a new random assessment of that type. Active assessments that can still be worked on have a yellow background.
      </small>
    </p>
  </div>
</div>
