{{#setVar "navPage"}}tests{{/setVar}}
{{setRadio "navItem" "tests"}}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Assessments</h3>
  </div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th style="width: 1%"></th>
        <th></th>
        <th>TID</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      {{#if start_new_set}}
      <tr class="{{color}}">
        <th colspan="3">{{long_name}}</th>
      </tr>
      {{/if}}
      <tr>
        <td style="width: 1%">
          <a href="{{../urlPrefix}}/tests/{{id}}/" class="btn btn-{{color}} btn-xs" role="button">{{label}}</a>
        </td>
        <td>
          <a href="{{../urlPrefix}}/tests/{{id}}/">{{title}}</a>
        </td>
        <td>{{tid}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
