<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/userNavbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= assessmentSet.abbrev %><%= assessment.number %>: <%= assessment.title %></h3>
        </div>

        <div class="panel-body">

          <p class="lead text-center">
            Please wait until instructed to start by a proctor
          </p>
          <p class="text-center">
            <a href="./?confirm=yes" class="btn btn-primary">Start assessment</a>
          </p>
          
        </div> <!-- panel-body -->

      </div>
    </div>
  </body>
</html>
