<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: 'cheat_detection_pair'}); %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('d3/dist/d3.min.js') %>"></script>
    <script src="<%= asset_path('localscripts/histogram.js') %>"></script>
    <script src="<%= asset_path('localscripts/scatter.js') %>"></script>
    <script src="<%= asset_path('localscripts/histmini_with_marker.js') %>"></script>
    <script src="<%= asset_path('localscripts/parallel_histograms.js') %>"></script>
    <!-- Load Chart.js Library-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <!-- Load Papa Parse Library-->
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
    <style>
      tr[data-href] {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script> 
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>
      <!-- pair detail on each rule -->
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Detailed Report for Pair (Student1, Student2)
        </div>
        <p style="margin:2%">Student1, Student2 have been detected by 6 abnormal behaviors with a confidence score of 86%: </p>
        <ol>

        <!-- rule#0: Abnormal time-score-ration -->
        <li> 
          <h5>Earn High Score in an Abnormally Short Period of Time (confidence: x%)</h5> 
          <p>This student's overall time-score-ratio <i style="color:rgb(0, 132, 255)">(total score earned / total time spent)</i> is abnornally high. Only 0.05% students (1 out of 200) among the whole class have same or higher socre-time-ratio.
            In addition, out of 13 questions, 8 questions (q2, q4, q5, q6, q7, q8, q9, q10) has abnormal time-score-ratio. </p>
          <p>A Quintiles Graph demonstrates how rare the similarity is</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <p>See Submission Log Details</p>
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-sm table-hover">
                    <thread>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Number of Occurance</th>
                        <th class="text-center">Probability of Getting This Wrong Answer</th>
                        <th class="text-center">Probability of Getting Same Answer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Q4</td>
                        <td class="text-center">5</td>
                        <td class="text-center">2.5%</td>
                        <td class="text-center">15%</td>
                      </tr>
                      <tr>
                        <td>Q7</td>
                        <td class="text-center">2</td>
                        <td class="text-center">1%</td>
                        <td class="text-center">25%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </li><br>

          <!-- rule#1 Time -->
        <li> 
          <h5>Submit Multiple Exam Questions in Close Time (confidence: x%)</h5> 
          <p>Out of 13 same questions, 9 questions (q1, q2, q4, q6, q7, q8, q9, q10, q14) are answered within 60 seconds time difference. Only 0.0025% pairs (1 out of 40000) among the whole class have answered 9 or more questions within 60 seconds.</p>
          <p>A Quintiles Graph demonstrates how rare the count is</p>
          <!-- <p>A Quintiles Graph demonstrates time diff distribution</p> -->
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    <p>See Submission Log Details</p>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-sm table-hover">
                    <thread>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Student1</th>
                        <th class="text-center">Student3</th>
                        <th class="text-center">Time Difference</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Q1 Start Time</td>
                        <td class="text-center">23:11:35</td>
                        <td class="text-center">23:11:45</td>
                        <td class="text-center">00:00:10</td>
                      </tr>
                      <tr>
                        <td>Q1 End Time</td>
                        <td class="text-center">23:14:11</td>
                        <td class="text-center">23:12:55</td>
                        <td class="text-center">00:01:16</td>
                      </tr>
                      <tr>
                        <td>Q2 Start Time</td>
                        <td class="text-center">23:15:33</td>
                        <td class="text-center">23:12:59</td>
                        <td class="text-center">00:02:34</td>
                      </tr>
                      <tr>
                        <td>Q2 End Time</td>
                        <td class="text-center">23:18:55</td>
                        <td class="text-center">23:15:01</td>
                        <td class="text-center">00:03:54</td>
                      </tr>
                      <tr>
                        <td>Q3 Start Time</td>
                        <td class="text-center">23:19:01</td>
                        <td class="text-center">23:15:10</td>
                        <td class="text-center">00:03:51</td>
                      </tr>
                      <tr>
                        <td>Q3 End Time</td>
                        <td class="text-center">23:25:46</td>
                        <td class="text-center">23:20:55</td>
                        <td class="text-center">00:04:09</td>
                      </tr>
                      <tr>
                        <td>...</td>
                        <td class="text-center">...</td>
                        <td class="text-center">...</td>
                        <td class="text-center">...</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          
        </li><br>

          <!-- rule#3 Order -->
          <li> 
            <h5>Submit Multiple Exam Questions in Close Order</h5>
            <p>Out of 13 same questions, 2 questions (q4, q7) are flagged due to same wrong answers. Only 0.005% pairs (2 out of 40000) among the whole class have higher wrong answer similarity scores.</p>
            <p>A Quintiles Graph demonstrates how rare the similarity is</p>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                      <p>See Submission Log Details</p>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <table class="table table-sm table-hover">
                      <thread>
                        <tr>
                          <th class="text-center">Student1's Question Answering Order</th>
                          <th class="text-center">Student1's Question Answering Order</th>
                          <th class="text-center">Edit Distance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">q1, q2, q4, q5, q6, q7, q8, q9, q10</td>
                          <td class="text-center">q2, q1, q4, q5, q6, q7, q8, q9, q10</td>
                          <td class="text-center">1</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </li><br>
          

          <!-- rule#2: same anwer -->
          <li> 
            <h5>Submit Multiple Exam Questions with Same Answers</h5> 
            <p>Out of 13 same questions, 8 questions (q2, q4, q5, q6, q7, q8, q9, q10) are flagged due to same answers. Only 0.005% pairs (2 out of 40000) among the whole class have same or higher answer similarity scores.</p>
            <p>A Quintiles Graph demonstrates how rare the similarity is</p>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                      <p>See Submission Log Details</p>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <table class="table table-sm table-hover">
                      <thread>
                        <tr>
                          <th class="text-center"></th>
                          <th class="text-center">Number of Occurance</th>
                          <th class="text-center">Probability of Getting This Wrong Answer</th>
                          <th class="text-center">Probability of Getting Same Answer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Q4</td>
                          <td class="text-center">5</td>
                          <td class="text-center">2.5%</td>
                          <td class="text-center">15%</td>
                        </tr>
                        <tr>
                          <td>Q7</td>
                          <td class="text-center">2</td>
                          <td class="text-center">1%</td>
                          <td class="text-center">25%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </li><br>


          <!-- rule#4: same wrong anwer -->
          <li> 
            <h5>Submit Multiple Exam Questions with Same Wrong Answers</h5> 
            <p>Out of 13 same questions, 2 questions (q4, q7) are flagged due to same wrong answers. Only 0.005% pairs (2 out of 40000) among the whole class have same or higher wrong answer similarity scores.</p>
            <p>A Quintiles Graph demonstrates how rare the similarity is</p>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                      <p>See Submission Log Details</p>
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <table class="table table-sm table-hover">
                      <thread>
                        <tr>
                          <th class="text-center"></th>
                          <th class="text-center">Number of Occurance</th>
                          <th class="text-center">Probability of Getting This Wrong Answer</th>
                          <th class="text-center">Probability of Getting Same Answer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Q4</td>
                          <td class="text-center">5</td>
                          <td class="text-center">2.5%</td>
                          <td class="text-center">15%</td>
                        </tr>
                        <tr>
                          <td>Q7</td>
                          <td class="text-center">2</td>
                          <td class="text-center">1%</td>
                          <td class="text-center">25%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </li><br>

        <!-- rule#5: same score -->
        <li> 
          <h5>Submit Multiple Exam Questions with Same Score Distribution</h5> 
          <p>Out of 13 same questions, 8 questions (q2, q4, q5, q6, q7, q8, q9, q10) are flagged due to same score distribution. Only 0.005% pairs (2 out of 40000) among the whole class have same or higher wrong answer similarity scores.</p>
          <p>A Quintiles Graph demonstrates how rare the similarity is</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                    <p>See Submission Log Details</p>
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-sm table-hover">
                    <thread>
                      <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Number of Occurance</th>
                        <th class="text-center">Probability of Getting This Wrong Answer</th>
                        <th class="text-center">Probability of Getting Same Answer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Q4</td>
                        <td class="text-center">5</td>
                        <td class="text-center">2.5%</td>
                        <td class="text-center">15%</td>
                      </tr>
                      <tr>
                        <td>Q7</td>
                        <td class="text-center">2</td>
                        <td class="text-center">1%</td>
                        <td class="text-center">25%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        </li><br>

      </ol>
      
      
      <!-- Footer for download report -->
      <div class="card-footer">
        <p>
          Download <a href="/pl/course_instance/57/instructor/instance_admin/assessments/BJC_Fa22_assessment_stats.csv">Report_for_pair_s1_s2.pdf</a> (of this pair).<br>
          Download <a href="/pl/course_instance/57/instructor/instance_admin/assessments/BJC_Fa22_assessment_stats.csv">Report_all.pdf</a> (of all pairs in the class).
        </p>
      </div>
      </div>
    </div>

  </body>
</html>
