<form name="create-course-from-request-form-<%= request.id %>" method="POST">
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
    <input type="hidden" name="__action" value="create_course_from_request">
    <input type="hidden" name="request_id" value="<%= request.id %>">

    <div class="form-group">
        <label>Institution:</label>
        <select name="institution_id" class="form-control" onchange="this.closest('form').querySelector('[name=display_timezone]').value = this.querySelector('option:checked').dataset.timezone;">
            <% institutions.forEach(function(i) { %>
                <option value="<%= i.id %>" data-timezone="<%= i.display_timezone %>"><%= i.short_name %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <label for="courseRequestAddInputShortName">Short name:</label>
        <input type="text" class="form-control" id="courseRequestAddInputShortName" name="short_name" placeholder="XC 101" value="<%= request.short_name %>">
    </div>
    <div class="form-group">
        <label for="courseRequestAddInputTitle">Title:</label>
        <input type="text" class="form-control" id="courseRequestAddInputTitle" name="title" placeholder="Template course title" value="<%= request.title %>">
    </div>
    <div class="form-group">
        <label for="courseRequestAddInputTimezone">Timezone:</label>
        <input type="text" class="form-control" id="courseRequestAddInputTimezone" name="display_timezone" value="<%= institutions[0]?.display_timezone %>">
    </div>
    <% const repo_name = 'pl-' + request.short_name.replace(' ', '').toLowerCase(); %>
    <div class="form-group">
        <label for="courseRequestAddInputPath">Path:</label>
        <input type="text" class="form-control" id="courseRequestAddInputPath" name="path" value="<%= coursesRoot %>/<%= repo_name %>">
    </div>
    <div class="form-group">
        <label for="courseRequestAddInputRepositoryName">Repository Name:</label>
        <input type="text" class="form-control" id="courseRequestAddInputRepository" name="repository_short_name" value="<%= repo_name %>">
    </div>
    <div class="form-group">
        <label for="courseRequestAddInputGithubUser">GitHub Username:</label>
        <input type="text" class="form-control" id="courseRequestAddInputGithubUser" name="github_user" value="<%= request.github_user %>">
    </div>

    <div class="text-right">
        <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')"> Cancel </button>
        <button type="submit" class="btn btn-primary"> Create course </button>
    </div>
</form>
