<!DOCTYPE html>
<html lang="en">

<head>
    <%
    let pageTitle = 'Edit';
    if (locals.fileEdit) {
      pageTitle += ` ${fileEdit.fileName}`;
    }
    %>
    <%- include('../partials/head', {pageTitle: pageTitle}); %>
    <script src="<%= node_modules_asset_path('ace-builds/src-min-noconflict/ace.js') %>"></script>
    <script src="<%= node_modules_asset_path('crypto-js/crypto-js.js') %>"></script>
    <script src="<%= compiled_script_path('instructorFileEditorClient.js') %>"></script>
</head>

<body>
    <%- include('../partials/navbar'); %>

    <main id="content" class="container-fluid">
      <% if (!authz_data.has_course_permission_edit) { %>
        <div class="card mb-4">
          <div class="card-header bg-danger text-white">
            File editor
          </div>
          <div class="card-body">
            <h2>Insufficient permissions</h2>
            <p>You must have at least &quot;Editor&quot; permissions for this course.</p>
            <% if (course_owners.length > 0) { %>
              <p>Contact one of the below course owners to request access.</p>
              <ul>
              <% course_owners.forEach(function(owner) { %>
              <li>
                  <%= owner.uid %> <% if (owner.name) { %> (<%= owner.name %>) <% } %>
              </li>
              <% }); %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } else if (course.example_course) { %>
        <div class="card mb-4">
          <div class="card-header bg-danger text-white">
            File editor
          </div>
          <div class="card-body">
            <h2>Insufficient permissions</h2>
            <p>No one is allowed to edit the example course.</p>
          </div>
      </div>
      <% } else { %>
        <% if (fileEdit.sync_errors) { %>
        <div class="alert alert-danger" role="alert">
            <h2 class="h5 alert-heading">Sync error</h2>
            <p>
                There were one or more errors in this file the last time you tried to sync.
                This file will not be able to be synced until the errors are corrected.
                The errors are listed below.
            </p>
            <pre class="text-white rounded p-3 mb-0" style="background-color: black;"><code><%- fileEdit.sync_errors_ansified %></code></pre>
        </div>
        <% } %>
        <% if (fileEdit.sync_warnings) { %>
        <div class="alert alert-warning" role="alert">
            <h2 class="h5 alert-heading">Sync warning</h2>
            <p>
                There were one or more warnings in this file the last time you tried to sync.
                These warnings do not prevent this file from being synced, but they should still be fixed.
                The warnings are listed below.
            </p>
            <pre class="text-white rounded p-3 mb-0" style="background-color: black;"><code><%- fileEdit.sync_warnings_ansified %></code></pre>
        </div>
        <% } %>

        <script>
            $(function() {
                new window.InstructorFileEditor({
                    contents: "<%- fileEdit.editContents %>",
                    <% if (fileEdit.aceMode) { %>
                    aceMode: "<%= fileEdit.aceMode %>",
                    <% } %>
                    origHash: "<%- fileEdit.origHash %>",
                    diskHash: "<%- fileEdit.diskHash %>",
                    elementId: "file-editor-<%= fileEdit.uuid %>-draft",
                    saveElementId: "file-editor-<%= fileEdit.uuid %>-save-button",
                    <% if (fileEdit.alertChoice) { %>
                    altElementId: "file-editor-<%= fileEdit.uuid %>-disk",
                    buttonsContainerElementId: "buttons-<%= fileEdit.uuid %>",
                    choiceAlertElementId: "file-editor-<%= fileEdit.uuid %>-choicealert",
                    <% } %>
                });

                <% if (fileEdit.alertChoice) { %>
                new window.InstructorFileEditor({
                    contents: "<%- fileEdit.diskContents %>",
                    <% if (fileEdit.aceMode) { %>
                    aceMode: "ace/mode/<%= fileEdit.aceMode %>",
                    <% } %>
                    elementId: "file-editor-<%= fileEdit.uuid %>-disk",
                    readOnly: true,
                });
                <% } %>

                <% if (fileEdit.alertResults) { %>
                    let showDetailElement = $("#results-<%= fileEdit.uuid %>-button");
                    showDetailElement.click(() => {
                        showDetailElement.text(showDetailElement.text() == "Show detail" ? "Hide detail" : "Show detail");
                    });
                <% } %>

                const helpBox = $('#help-<%= fileEdit.uuid %>');
                const helpButton =  $('#help-<%= fileEdit.uuid %>-button');
                const helpButtonLabel = $('#help-<%= fileEdit.uuid %>-button-label');
                helpBox.on('hide.bs.collapse', function () {
                    helpButtonLabel.text('Show help');
                    helpButton.attr('aria-expanded', 'false');
                });
                helpBox.on('show.bs.collapse', function () {
                    helpButtonLabel.text('Hide help');
                    helpButton.attr('aria-expanded', 'true');
                });
            });
        </script>

        <form name="editor-form" method="POST">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">

            <div class="card mb-4">
                <div class="card-header bg-primary">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <span class="text-monospace text-white d-flex">
                              <% fileEdit.paths.branch.forEach((dir, key, arr) => { %>
                                <% if (dir.canView) { %>
                                  <% if (!(Object.is(arr.length - 1, key))) { %>
                                    <a class="text-white" href="<%= fileEdit.paths.urlPrefix %>/file_view/<%= dir.encodedPath %>"><%= dir.name %></a>
                                  <% } else { %>
                                    <a class="text-white" href="<%= fileEdit.paths.urlPrefix %>/file_edit/<%= dir.encodedPath %>"><%= dir.name %></a>
                                  <% } %>
                                <% } else { %>
                                  <span><%= dir.name %></span>
                                <% } %>
                                <% if (!(Object.is(arr.length - 1, key))) { %>
                                <span class="mx-2">/</span>
                                <% } %>
                              <% }); %>
                            </span>
                        </div>
                        <div class="col-auto collapse <% if ((!fileEdit.failedPush) && (!fileEdit.alertChoice)) { %>show<% } %>" id="buttons-<%= fileEdit.uuid %>">
                            <a id="help-<%= fileEdit.uuid %>-button"
                               class="btn btn-light btn-sm"
                               data-toggle="collapse" href="#help-<%= fileEdit.uuid %>"
                               role="button" aria-expanded="false">
                                <i class="far fa-question-circle" aria-hidden="true"></i>
                                <span id="help-<%= fileEdit.uuid %>-button-label">Show help</span>
                            </a>
                            <button id="file-editor-<%= fileEdit.uuid %>-save-button" name="__action" value="save_and_sync" class="btn btn-light btn-sm" disabled>
                                <i class="fas fa-save" aria-hidden="true"></i>
                                Save and sync
                            </button>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="help-<%= fileEdit.uuid %>">
                    <div class="card-body">
                        You are editing the file <code><%= fileEdit.fileNameForDisplay %></code>. To save changes, click <strong>Save and sync</strong> or use <strong>Ctrl-S</strong> (Windows/Linux) or <strong>Cmd-S</strong> (Mac).
                        <% if (config.fileEditorUseGit) { %>
                        Doing so will write your changes to disk, will push them to the remote GitHub repository, and will sync them to the database.
                        <% } else { %>
                        Doing so will write your changes to disk and will sync them to your local database. You will need to push these changes to the GitHub respository manually (i.e., not in PrairieLearn), if desired.
                        <% } %>
                        If you reload or navigate away from this page, any unsaved changes will be lost.
                    </div>
                </div>
                <div class="card-body p-0 row">
                    <div class="container-fluid">
                        <% if (fileEdit.alertResults) { %>
                        <div class="alert <% if (fileEdit.didSave && fileEdit.didSync) { %>alert-success<% } else { %>alert-danger<% } %> alert-dismissible fade show m-2" role="alert">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <% if (fileEdit.didSave) { %>
                                        <% if (fileEdit.didSync) { %>
                                            File was both saved and synced successfully.
                                        <% } else { %>
                                            File was saved, but failed to sync.
                                        <% } %>
                                    <% } else { %>
                                        Failed to save and sync file.
                                    <% } %>
                                </div>
                                <% if (fileEdit.jobSequenceId != null) { %>
                                <div class="col-auto">
                                    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#results-<%= fileEdit.uuid %>" role="button" id="results-<%= fileEdit.uuid %>-button">Show detail</a>
                                </div>
                                <% } %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <% if (fileEdit.jobSequenceId != null) { %>
                            <div class="row collapse mt-4" id="results-<%= fileEdit.uuid %>">
                                <div class="card card-body">
                                    <%- include('../partials/jobSequenceResults', {job_sequence: fileEdit.jobSequence, job_sequence_enable_live_update: false}); %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>

                        <% if (fileEdit.alertChoice) { %>
                        <div id="file-editor-<%= fileEdit.uuid %>-choicealert" class="alert alert-danger alert-dismissible fade show m-2" role="alert">
                            <% if (fileEdit.hasSameHash) { %>
                            You were editing this file and made changes. You may choose either to continue editing or to discard your changes.
                            <% } else { %>
                            Both you and another user made changes to this file. You may choose either to continue editing your draft or to discard your changes.
                            <% } %>
                            In particular, if you click <strong>Choose my version</strong> and then click <strong>Save and sync</strong>, you will overwrite the version of this file that is on disk. If you instead click <strong>Choose their version</strong>, any changes you have made to this file will be lost.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <% } %>
                    </div>

                    <div id="file-editor-<%= fileEdit.uuid %>-draft" class="col">
                        <div class="card p-0">
                            <% if (fileEdit.alertChoice) { %>
                            <div class="card-header text-center">
                                <h4 class="mb-4">My version</h4>
                                <button id="choose" class="btn btn-primary" type="button">Choose my version (continue editing)</button>
                            </div>
                            <% } %>
                            <div class="card-body p-0">
                                <input type="hidden" name="file_edit_user_id" value="<%= fileEdit.userID %>">
                                <input type="hidden" name="file_edit_course_id" value="<%= fileEdit.courseID %>">
                                <input type="hidden" name="file_edit_orig_hash" value="<%= fileEdit.origHash %>">
                                <input type="hidden" name="file_edit_contents">
                                <div class="editor"></div>
                            </div>
                        </div>
                    </div>
                    <% if (fileEdit.alertChoice) { %>
                    <div id="file-editor-<%= fileEdit.uuid %>-disk" class="col">
                        <div class="card p-0">
                            <div class="card-header text-center">
                                <h4 class="mb-4">Their version</h4>
                                <button class="btn btn-primary" type="button" onClick="window.location.reload()">Choose their version (discard my changes)</button>
                            </div>
                            <div class="card-body p-0">
                                <div class="editor"></div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </form>
      <% } %>
    </main>
</body>
</html>
