<form name="manual-grading-form" method="POST"
      data-max-auto-points="<%= assessment_question.max_auto_points %>"
      data-max-manual-points="<%= assessment_question.max_manual_points %>"
      data-max-points="<%= assessment_question.max_points %>">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="modified_at" value="<%= instance_question.modified_at %>">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-group row justify-content-center">
        <label class="custom-control-inline col-auto mx-0">
          <span class="">Points</span>
          <div class="custom-control custom-switch mx-2">
            <input class="custom-control-input js-manual-grading-pts-perc-select"
                   name="use_score_perc" type="checkbox">
            <span class="custom-control-label">Percentage</span>
          </div>
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <%- include('gradingPointsSection',
          { type: 'manual', type_label: 'Manual',
          points: locals.manual_points ?? instance_question.manual_points,
          max_points: assessment_question.max_manual_points,
          rubric: locals.rubric_data_manual,
          rubric_grading: submission.rubric_grading_manual
          }); %>
    </li>
    <% if (assessment_question.max_auto_points > 0 || (locals.auto_points ?? instance_question.auto_points) > 0) { %>
    <li class="list-group-item">
      <%- include('gradingPointsSection',
          { type: 'auto', type_label: 'Auto',
          points: locals.auto_points ?? instance_question.auto_points,
          max_points: assessment_question.max_auto_points,
          rubric: locals.rubric_data_auto,
          rubric_grading: submission.rubric_grading_auto
          }); %>
    </li>
    <li class="list-group-item">
      <div class="form-group js-manual-grading-points w-100">
        Total Points:
        <span class="float-right">
          <span class="js-value-total-points"><%= Math.round(100 * (locals.points ?? instance_question.points)) / 100 %></span> /
          <%= assessment_question.max_points %>
        </span>
      </div>
      <div class="form-group js-manual-grading-percentage w-100">
        Total Score:
        <span class="float-right">
          <span class="js-value-total-percentage"><%= Math.round(100 * (locals.score_perc ?? instance_question.score_perc)) / 100 %></span>%
        </span>
      </div>
    </li>
    <% } %>
    <li class="form-group list-group-item">
      <label>Feedback:
        <textarea name="submission_note" class="form-control js-submission-feedback"
                  style="min-height: 1em;"
                  <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>readonly<% } %>
                  aria-describedby="submission-feedback-help-<%= context %>"><%= submission.feedback?.manual %></textarea>
        <small id="submission-feedback-help-<%= context %>" class="form-text text-muted">
          Markdown formatting, such as *emphasis* or `code`, is permitted
          and will be used to format the feedback when presented to the
          student.
        </small>
      </label>
    </li>
    <li class="list-group-item d-flex align-items-center">
      <% if (!locals.disable) { %>
      <a role="button" class="btn btn-primary" href="<%= urlPrefix %>/assessment/<%= assessment_instance.assessment_id %>/manual_grading/assessment_question/<%= instance_question.assessment_question_id %>">
        <i class="fas fa-arrow-left"></i>
        Back to Question
      </a>
      <% } %>
      <span class="ml-auto">
        <% if (!locals.disable && authz_data.has_course_instance_permission_edit) { %>
        <button type="submit" class="btn btn-primary" name="__action" value="add_manual_grade">Submit</button>
        <% } %>
        <div class="btn-group">
          <a role="button" class="btn btn-secondary"
             href="<%= urlPrefix %>/assessment/<%= assessment_instance.assessment_id %>/manual_grading/assessment_question/<%= instance_question.assessment_question_id %>/next_ungraded?prior_instance_question_id=<%= instance_question.id %>">
            <%= locals.skip_text || ((!locals.disable && authz_data.has_course_instance_permission_edit) ? 'Skip' : 'Next') %>
          </a>
          <% if (!locals.disable && authz_data.has_course_instance_permission_edit) { %>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Change assigned grader</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <% (locals.graders || []).forEach(grader => { %>
            <button type="submit" class="dropdown-item" name="__action" value="reassign_<%= grader.user_id %>">Assign to: <%= grader.name %> (<%= grader.uid %>)</button>
            <% }); %>
            <button type="submit" class="dropdown-item" name="__action" value="reassign_nobody">Tag for grading without assigned grader</button>
            <button type="submit" class="dropdown-item" name="__action" value="reassign_graded">Tag as graded (keep current grade)</button>
          </div>
          <% } %>
        </div>
      </span>
    </li>
  </ul>
</form>
