<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head', {pageNote: 'Preview', pageTitle: question.qid}); %>
    <%- include('../../partials/mathjax'); %>
    <script src="<%= node_modules_asset_path('socket.io-client/dist/socket.io.min.js') %>"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <script src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <script>
    $(function() {
        $('.js-manual-grading-pts-perc-select')
            .change(function () {
                const use_percentage = this.checked;
                $('.js-manual-grading-pts-perc-select').prop('checked', use_percentage);
                $('.js-manual-grading-points').toggle(!use_percentage);
                $('.js-manual-grading-percentage').toggle(use_percentage);
                Cookies.set('manual_grading_score_use', use_percentage ? 'percentage' : 'points');
            })
            .prop('checked', Cookies.get('manual_grading_score_use') === 'percentage')
            .first().change();
        $('.js-enable-auto-score-edit').click(function () {
            const form = $(this).parents('form');
            form.find('.js-auto-score-value-info').hide();
            form.find('.js-auto-score-value-input').removeClass('d-none').show()
                .find('input:visible:first').focus();
        });
        $('.js-grading-score-input').on('input', function () {
            let form = $(this).parents('form');
            let auto_points = this.name === 'score_auto_percent' ?
                this.value * <%= assessment_question.max_auto_points %> / 100 :
                form.find('[name=score_auto_points]').val();
            let manual_points = this.name === 'score_manual_percent' ?
                this.value * <%= assessment_question.max_manual_points %> / 100 :
                form.find('[name=score_manual_points]').val();
            let points = Number(auto_points) + Number(manual_points);

            form.find('[name=score_auto_points]').not(this).val(auto_points);
            form.find('[name=score_auto_percent]').not(this)
                .val(auto_points * 100 / <%= assessment_question.max_auto_points || assessment_question.max_points || 1 %>);
            form.find('[name=score_manual_points]').not(this).val(manual_points);
            form.find('[name=score_manual_percent]').not(this)
                .val(manual_points * 100 / <%= assessment_question.max_manual_points || assessment_question.max_points || 1 %>);
            form.find('.js-value-total-points').text(Math.round(points * 100) / 100);
            form.find('.js-value-total-percentage')
                .text(Math.round(points * 10000 / <%= assessment_question.max_points || 1 %>) / 100);
        });
    })
  </script>
  <body>
    <%- include('../../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <div id="content" class="container">
      <% if (assessment_instance.open) { %>
      <div class="alert alert-danger" role="alert">
        This assessment instance is still open. Student may still be able to submit new answers.
      </div>
      <% } %>
      <% if (conflict_grading_job) { %>
      <div id="conflictGradingJobModal" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-danger text-light">
              <div class="modal-title">Grading conflict identified</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert">
                The submission you have just graded has already been graded by <%= instance_question.last_grader_name %>. Your score
                and feedback have not been applied. Please review the feedback below and select how you would like to proceed.
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <div><strong>Existing score and feedback</strong></div>
                  <div><%= instance_question.modified_at_formatted %>, by <%= instance_question.last_grader_name %></div>
                </div>
                <div class="col-6">
                  <div><strong>Conflicting score and feedback</strong></div>
                  <div><%= conflict_grading_job.grading_date_formatted %>, by <%= conflict_grading_job.grader_name %></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%- include('../../partials/instructorGradingPanel',
                              {disable: true, skip_text: 'Accept existing score'}); %>
                </div>
                <div class="col-6">
                  <%- include('../../partials/instructorGradingPanel',
                              {score_perc: conflict_grading_job.score * 100,
                               points: conflict_grading_job.score * assessment_question.max_points,
                               auto_points: conflict_grading_job.auto_points,
                               manual_points: conflict_grading_job.manual_points,
                               submission: conflict_grading_job}); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
<<<<<<< HEAD
        $(function() {$('#conflictGradingJobModal').modal({})})
=======
        $(function() {
            $('#conflictGradingJobModal').modal({}).find('.js-enable-auto-score-edit').click();
        });
>>>>>>> 67eefe4da85974b5b610ddf74fbdeccc90d9d960
      </script>
      <% } %>
      <div class="row">
        <div class="col-lg-9 col-sm-12">
          <%- include('../../partials/question', {question_context: 'manual_grading'}); %>
        </div>

        <div class="col-lg-3 col-sm-12">
          <div class="card mb-4 border-success">
            <div class="card-header bg-success">Grading Panel</div>
            <div class="card-body">
              <a role="button" class="btn btn-primary mb-2" href="<%= urlPrefix %>/assessment/<%= assessment_instance.assessment_id %>/manual_grading/assessment_question/<%= instance_question.assessment_question_id %>">
                <i class="fas fa-arrow-left"></i>
                Back to Question
              </a>
              <%- include('../../partials/instructorGradingPanel'); %>
            </div>
            <div class="card-footer small">
              This box is not visible to students.
            </div>
          </div>

          <%- include('../../partials/instructorInfoPanel', {question_context: 'manual_grading'}); %>
        </div>
      </div>

    </div>
    <!-- Needs to be located below element scripts -->
    <script src="/localscripts/questionPageScripts.js"></script>
  </body>
</html>
