<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head', {pageNote: 'Preview', pageTitle: question.qid}); %>
    <%- include('../../partials/mathjax'); %>
    <script src="<%= node_modules_asset_path('socket.io-client/dist/socket.io.min.js') %>"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <script src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <%- include('../../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <div id="content" class="container">
      <% if (assessment_instance.open) { %>
      <div class="alert alert-danger" role="alert">
        This assessment instance is still open. Student may still be able to submit new answers.
      </div>
      <% } %>
      <% if (conflict_grading_job) { %>
      <div id="conflictGradingJobModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-danger text-light">
              <div class="modal-title">Grading conflict identified</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p>A conflicting grade has been submitted by <%= instance_question.last_grader_name %>. Your score
                and feedback have not been applied. Please review the feedback below and select how you would like
                to proceed.</p>
              <div class="row">
                <div class="col-6">
                  <p><%= instance_question.last_grader_name %>'s score and feedback (current)</p>
                  <ul>
                    <li>Score: <%= instance_question.score_perc %>%</li>
                    <li>Feedback: <%= submission.feedback?.manual %></li>
                  </ul>
                </div>
                <div class="col-6">
                  <p>Your score and feedback (pending)</p>
                  <ul>
                    <li>Score: <%= conflict_grading_job.score_perc %>%</li>
                    <li>Feedback: <%= conflict_grading_job.feedback?.manual %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a class="btn btn-secondary" href="<%= urlPrefix %>/assessment/<%= assessment_instance.assessment_id %>/manual_grading/assessment_question/<%= instance_question.assessment_question_id %>/next_ungraded?prior_instance_question_id=<%= instance_question.id %>">Accept current score</a>
              <!-- Add general buttons here -->
            </div>
          </div>
        </div>
      </div>
      <script>
        $(function() {$('#conflictGradingJobModal').modal({})})
      </script>
      <% } %>
      <div class="row">
          <div class="col-lg-9 col-sm-12">
              <%- include('../../partials/question', {question_context: 'manual_grading'}); %>
          </div>

          <div class="col-lg-3 col-sm-12">
              <%- include('../../partials/instructorGradingPanel'); %>
              <div class="card mb-4">
                  <div class="card-header bg-secondary text-white">Student view placeholder</div>
                  <div class="card-body">
                      <div class="d-flex justify-content-center">
                          In student views this area is used for assessment and score info.
                      </div>
                  </div>
              </div>
              <%- include('../../partials/instructorInfoPanel', {question_context: 'manual_grading'}); %>
          </div>
      </div>

    </div>
    <!-- Needs to be located below element scripts -->
    <script src="/localscripts/questionPageScripts.js"></script>
  </body>
</html>
