<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head', {pageNote: 'Preview', pageTitle: question.qid}); %>
    <%- include('../../partials/mathjax'); %>
    <script src="<%= node_modules_asset_path('socket.io-client/dist/socket.io.min.js') %>"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <script src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <%- include('../../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <div id="content" class="container">
      <% if (assessment_instance.open) { %>
      <div class="alert alert-danger" role="alert">
        This assessment instance is still open. Student may still be able to submit new answers.
      </div>
      <% } %>
      <% if (attempted_score) { %>
      <div class="alert alert-warning">
        You tried to submit a grade for this student, but there was a conflict. Here is what you tried:
        <ul>
          <li>Score: <%= attempted_score.score_perc %>%</li>
          <li>Feedback: <%= attempted_score.feedback %></li>
        </ul>
         Here is what someone else (user <%= instance_question.last_grader %>) tried:
        <ul>
          <li>Score: <%= instance_question.score_perc %>%</li>
          <li>Feedback: <%= submission.feedback?.manual %></li>
        </ul>
      </div>
      <% } %>
      <div class="row">
          <div class="col-lg-9 col-sm-12">
              <%- include('../../partials/question', {question_context: 'manual_grading'}); %>
          </div>

          <div class="col-lg-3 col-sm-12">
              <%- include('../../partials/instructorGradingPanel'); %>
              <div class="card mb-4">
                  <div class="card-header bg-secondary text-white">Student view placeholder</div>
                  <div class="card-body">
                      <div class="d-flex justify-content-center">
                          In student views this area is used for assessment and score info.
                      </div>
                  </div>
              </div>
              <%- include('../../partials/instructorInfoPanel', {question_context: 'manual_grading'}); %>
          </div>
      </div>

    </div>
    <!-- Needs to be located below element scripts -->
    <script src="/localscripts/questionPageScripts.js"></script>
  </body>
</html>
