<div class="card mb-4" id="attach-file-panel">
  <div class="card-header bg-secondary text-white">Attached files</div>
  <table class="table table-sm">
    <tbody>
    <% if (file_list.length == 0) { %>
    <tr><td><i>No attached files</i></td></tr>
    <% } else { %>
      <% file_list.forEach(function(file, iFile) { %>
      <tr>
        <td style="word-break:break-all;">
          <i class="far fa-file-alt"></i>
          <a target="_blank" href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/file/<%= file.id %>/<%= file.display_filename %>">
            <%= file.display_filename %>
          </a>
        </td>
        <% if (assessment_instance.open) { %>
        <td style="width:1%; text-align:right;">
          <% if (file.type == 'student_upload') { %>
          <a id="attachFileDeleteButton<%= iFile %>"
             tabindex="0" class="btn btn-xs btn-secondary attachFileDeleteButton" role="button"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Confirm delete"
             data-content="<%= include('attachFileDeleteForm',
                           {id: 'attachFileDeleteButton' + iFile,
                           variant: (typeof variant != 'undefined') ? variant : null,
                           file}); %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="far fa-trash-alt"></i>
          </a>
          <% } %>
        </td>
        <% } %>
      </tr>
      <% }); %>
    <% } %>
    </tbody>
  </table>

  <div class="card-footer">
    <% if (!assessment_instance.open) { %>
    <p class="small mb-0">
      Attachments can't be added or deleted because the assessment is closed.
    </p>
    <% } else { /* assessment_instance is open */ %>
    <!-- UPLOAD FILE -->
    <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#attachFileCollapse" aria-expanded="false" aria-controls="attachFileCollapse">
      Attach a file <i class="far fa-caret-square-down"></i>
    </button>
    <div class="collapse" id="attachFileCollapse">
      <form name="attach-file-form" method="POST" enctype="multipart/form-data" class="mb-3">
        <p class="small mt-3">
          Attached files will be saved here for your reference.
        </p>
        <div class="form-group">
          <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="attachFileInput">
            <label class="custom-file-label" for="attachFileInput">Choose file</label>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="form-group mb-0">
            <input type="hidden" name="__action" value="attach_file">
            <% if (typeof variant != 'undefined') { %>
            <input type="hidden" name="__variant_id" value="<%= variant.id %>">
            <% } %>
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <button type="submit" class="btn btn-primary">Attach file</button>
          </div>
        </div>
      </form>
    </div>

    <!-- UPLOAD TEXT -->
    <br>
    <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#attachTextCollapse" aria-expanded="false" aria-controls="attachTextCollapse">
      Attach text <i class="far fa-caret-square-down"></i>
    </button>
    <div class="collapse" id="attachTextCollapse">
      <form method="POST">
        <p class="small mt-3">
          Attached text will be saved here for your reference.
        </p>
        <input name="filename" value="notes.txt">
        <div class="form-group">
          <textarea class="form-control" rows="5" name="contents" placeholder="Type or paste text here"></textarea>
        </div>
        <% if (typeof variant != 'undefined') { %>
        <input type="hidden" name="__variant_id" value="<%= variant.id %>">
        <% } %>
        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
        <div class="form-group text-right">
          <button class="btn btn-small btn-primary" name="__action" value="attach_text">Attach text</button>
        </div>
      </form>
    </div>
    <!-- END OF FILES -->
    <% } %>
  </div>
</div>
