<% if (bestScore > 0) { %>
    <p>You have <%= triesRemaining %> remaining attempt<%= (triesRemaining != 1) ? 's' : '' %> for this question.</p>
    <hr>
    <p>If you score 100% on your next submission, then you will be awarded an additional <%= getStringFromFloat(pointsAvailable) %> points.</p>
    <hr>
    <p>If you score lower than <%= bestScore %>% on your next submission, then you will be awarded an additional 0 points, but you will keep any awarded points that you already have.</p>
    <hr>
    <p>If you score between <%= bestScore %>% and 100% on your next submission, then you will be awarded an additional <tt>(<%= getStringFromFloat(currentWeight) %> * (score - <%= bestScore %>)/100)</tt> points.</p>
<% } else { %>
    <p>You have <%= triesRemaining %> remaining attempt<%= (triesRemaining != 1) ? 's' : '' %> for this question.</p>
    <hr>
    <p>If you score 100% on your next submission, then you will be awarded an additional <%= getStringFromFloat(pointsAvailable) %> points.</p>
    <hr>
    <p>If you score between <%= bestScore %>% and 100% on your next submission, then you will be awarded an additional <tt>(<%= getStringFromFloat(currentWeight) %> * (score / 100))</tt> points.</p>
<% } %>
