<% include('pointsFormatter'); %>

<% if (!open || (points_list.length == 0)) { %>
    —
<% } else if (points_list.length == 1) { %>
    <%= getStringFromFloat(points_list[0]) %>
<% } else { %>
    <%= getStringFromFloat(points_list[0]) %>,
    <small><span class="text-muted"><%= getStringFromFloat(points_list.slice(1)) %></span></small>
<% } %>

<a class="btn btn-default btn-xs" type="button" data-toggle="popover" data-html="true" data-content="placeholder text" data-placement="auto bottom" data-trigger="focus" tabindex="0">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
</a>


<!-- Compute the best submission score, 0 if no submissions -->
<% let best; %>
<% if (typeof highest_submission_score !== 'undefined') { %>
    <% best = Math.floor(highest_submission_score*100); %>
<% } else { %>
    <% best = 0; %>
<% } %>

<!--  -->
<% if (best > 0) { %>
    <p>If you score lower than <%= best %>% on your next submission, then you will be awarded 0 points.</p>
    <p>If you score higher than <%= best %>% on your next submission, then you will be awarded</p><p>$\qquad\left(\dfrac{\text{s}-<%= best %>}{100}\right)\cdot <%= getStringFromFloat(points_list[0]) %>$</p><p>points, where $s$ is your score.</p>
    <p>If you score 100% on your next submission, in particular, then you will be awarded the full <%= getStringFromFloat(points_list[0]) %> points.</p>
<% } else { %>
    something else
<% } %>



<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({container: 'body'});
    });
</script>
