<% if (authz_data.has_instructor_view) { %>
<div class="card mb-4 border-warning">
  <div class="card-header bg-warning"><em>Instructor only information</em></div>
  <div class="card-body">
  <h5 class="card-title">User:</h5>
  <div class="d-flex flex-wrap pb-2">
      <div class="pr-1"><%= user.name %></div>
      <div class="pr-1"><%= user.uid %></div>
  </div>

      <% if (typeof question !== "undefined") { %>
          <h5 class="card-title">Question:</h5>

          <div class="d-flex flex-wrap">
              <div class="pr-1">QID:</div>
              <div>
                  <a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instructor/question/<%= question.id %>?variant_seed=<%= variant.variant_seed %>">
                      <%= question.qid %></a>
              </div>
          </div>
          <div class="d-flex flex-wrap">
              <div class="pr-1">Title:</div>
              <div><%= question.title %></div>
          </div>
      <div class="d-flex flex-wrap">
          <div class="pr-1">Started at: </div>
          <div><%= variant.formatted_date %></div>
      </div>
      <div class="d-flex flex-wrap">
          <div class="pr-1">Duration:</div>
          <div><%= variant.duration %></div>
      </div>
      <div class="d-flex flex-wrap pb-2">
          <div class="pr-1">
              <a class="card-link" data-toggle="collapse" href="#instructorTrue_answer">Show/Hide answer</a>
          </div>
          <div class="collapse" id="instructorTrue_answer">
                <code><%= JSON.stringify(variant.true_answer); %></code>
          </div>
      </div>
      <% } %>

      <% if (typeof assessment !== "undefined") { %>
          <h5 class="card-title">Assessment Instance:</h5>
          <div class="d-flex flex-wrap">
              <div class="pr-1">TID:</div>
              <div><a href="<%= urlPrefix %>/instructor/assessment/<%= assessment.id %>"><%= assessment.tid %></a></div>
          </div>

          <div class="d-flex flex-wrap">
              <div class="pr-1">Started at: </div>
              <div><%= assessment_instance.formatted_date %></div>
          </div>

          <div class="d-flex flex-wrap">
              <div class="pr-1">Duration:</div>
              <div><%= assessment_instance.duration %></div>
          </div>

          <div class="pb-2">
              <a href="<%= urlPrefix %>/instructor/assessment_instance/<%= assessment_instance.id %>">View log</a>
          </div>
      <% } %>
  </div>
</div>
<% } %>
