<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "questions") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/questions"><i class="far fa-file-alt"></i> Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "access") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/access"><i class="far fa-calendar-alt"></i> Access</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "assessmentStatistics") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_statistics"><i class="fas fa-chart-bar"></i> Statistics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "questionStatistics") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/question_statistics"><i class="fas fa-table"></i> Question stats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "downloads") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/downloads"><i class="fas fa-download"></i> Downloads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "uploads") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/uploads"><i class="fas fa-upload"></i> Uploads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "regrading") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/regrading"><i class="fa fa-sync"></i> Regrading</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "instances") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/instances"><i class="fas fa-users"></i> Students</a>
  </li>
  <% if (course_instance.show_generated_assessment_sd_reduction_config) { %>
    <li class="nav-item">
      <a class="nav-link <% if (navSubPage == "generatedAssessmentStatistics") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/generated_assessment_statistics">
        <i class="fas fa-sliders-h">
        </i>
        Generated Assessment SD Reduction Tuning
      </a>
    </li>
  <% } %>

  <!--
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "assessmentGenerator") { %>active<% } %>" href="<%= urlPrefix %>/assessment_generator/assessment/<%= assessment.id %>"><i class="fas fa-users"></i> Assessment Generator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "parameterSelection") { %>active<% } %>" href="<%= urlPrefix %>/parameter_selection/assessment/<%= assessment.id %>"><i class="fas fa-users"></i> Parameter Selection</a>
  </li>
  -->

</ul>
