<% if (authz_data.has_instructor_view) { %>
<div class="card mb-4">
  <div class="card-header bg-warning"><em>Instructor only information</em></div>

  <div class="card-block">

  <h5 class="card-title">User:</h5>
    <ul><li><%= user.name %></li><li><%= user.uid %></li></ul>

      <% if (typeof question !== "undefined") { %>
          <h5 class="card-title">Question:</h5>

          <ul>
          <li>QID: <a href="<%= urlPrefix %>/instructor/question/<%= question.id %>"><%= question.qid %></a></li>
          <li>Started at: <%= variant.date %></li>
          <li>Duration:
            <% if ("hours" in variant.duration) { %><%= variant.duration.hours %>m <% } %>
            <% if ("minutes" in variant.duration) { %><%= variant.duration.minutes %>m <% } %>
            <% if ("seconds" in variant.duration) { %><%= variant.duration.seconds %>s <% } %>
          </li>

          <li><button onClick="$(this).next().toggle()" class="btn btn-default">Show/Hide True Answer:</button>
              <code style="display:none"><%= JSON.stringify(variant.true_answer) %></code>
          </li>
          </ul>
      <% } %>

      <% if (typeof assessment !== "undefined") { %>
          <h5 class="card-title">Assessment Instance:</h5>
          <ul>
          <li>TID: <a href="<%= urlPrefix %>/instructor/assessment/<%= assessment.id %>"><%= assessment.tid %></a></li>
          <li>Started at: <%= assessment_instance.date %></li>
          <li>Duration: <%= assessment_instance.duration %></li>
          </ul>
      <% } %>
  </div>
</div>
<% } %>
