<% if (authz_data.has_course_instance_permission_view) { %>
<form name="instance_question-manual-grade-update-form" method="POST">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="assessment_id" value="<%= assessment_instance.assessment_id %>">
  <input type="hidden" name="assessment_question_id" value="<%= instance_question.assessment_question_id %>">
  <input type="hidden" name="modified_at" value="<%= instance_question.modified_at %>">
<<<<<<< HEAD
  <div class="form-group">
    <label>Score:</label>
    <div class="input-group">
      <input type="number" min="0" max="<%= assessment_question.max_points %>" step="any" class="form-control"
             name="submission_score_points" value="<%= locals.points ?? instance_question.points %>" aria-describedby="scoreHelpBlock"
             <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %>
             oninput="$(this).parents('form').find('[name=submission_score_percent]').val(this.value * 100 / <%= assessment_question.max_points %>);"
             />
      <span class="input-group-append input-group-text">/ <%= assessment_question.max_points %></span>
    </div>
    <div class="input-group">
      <input type="number" min="0" max="100" step="any" class="form-control"
             name="submission_score_percent" value="<%= locals.score_perc ?? instance_question.score_perc %>" aria-describedby="scoreHelpBlock"
             <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %>
             oninput="$(this).parents('form').find('[name=submission_score_points]').val(this.value * <%= assessment_question.max_points %> / 100);"
             />
=======
  <div class="form-group row justify-content-center">
    <label class="custom-control-inline col-auto mx-0">
      <span class="">Points</span>
      <div class="custom-control custom-switch mx-2">
        <input class="custom-control-input js-manual-grading-pts-perc-select"
               name="use_score_perc" type="checkbox">
        <span class="custom-control-label">Percentage</span>
      </div>
    </label>
  </div>
  <div class="form-group js-manual-grading-points">
    <label>Manual Points:</label>
    <div class="input-group">
      <input type="number" step="any"
             class="form-control js-grading-score-input"
             name="score_manual_points"
             value="<%= locals.manual_points ?? instance_question.manual_points %>"
             <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
      <span class="input-group-append input-group-text">/ <%= assessment_question.max_manual_points %></span>
    </div>
  </div>
  <div class="form-group js-manual-grading-percentage">
    <label>Manual Score:</label>
    <div class="input-group">
      <input type="number" step="any"
             class="form-control js-grading-score-input"
             name="score_manual_percent"
             value="<%= (locals.manual_points ?? instance_question.manual_points) * 100 / (assessment_question.max_manual_points || assessment_question.max_points) %>"
             <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
>>>>>>> 67eefe4da85974b5b610ddf74fbdeccc90d9d960
      <span class="input-group-append input-group-text">%</span>
    </div>
  </div>
  <% if (assessment_question.max_auto_points > 0 || (locals.auto_points ?? instance_question.auto_points) > 0) { %>
  <div class="form-group js-manual-grading-points">
    <label class="w-100">
      Auto Points:
      <span class="float-right js-auto-score-value-info">
        <%= locals.auto_points ?? instance_question.auto_points %> /
        <%= assessment_question.max_auto_points %>
        <% if (authz_data.has_course_instance_permission_edit) { %>
        <span class="js-enable-auto-score-edit"><i class="fas fa-pencil"></i></span>
        <% } %>
      </span>
    </label>
    <div class="input-group js-auto-score-value-input d-none">
      <input type="number" step="any"
             class="form-control js-grading-score-input"
             name="score_auto_points"
             value="<%= locals.auto_points ?? instance_question.auto_points %>"
             <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
      <span class="input-group-append input-group-text">/ <%= assessment_question.max_auto_points %></span>
    </div>
  </div>
  <div class="form-group js-manual-grading-percentage">
    <label class="w-100">
      Auto Score:
      <span class="float-right js-auto-score-value-info">
        <%= (locals.auto_points ?? instance_question.auto_points) * 100 / (assessment_question.max_auto_points || assessment_question.max_points) %>%
        <% if (authz_data.has_course_instance_permission_edit) { %>
        <span class="js-enable-auto-score-edit"><i class="fas fa-pencil"></i></span>
        <% } %>
      </span>
    </label>
    <div class="input-group js-auto-score-value-input d-none">
      <input type="number" step="any"
             class="form-control js-grading-score-input"
             name="score_auto_percent"
             value="<%= (locals.auto_points ?? instance_question.auto_points) * 100 / (assessment_question.max_auto_points || assessment_question.max_points) %>"
             <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
      <span class="input-group-append input-group-text">%</span>
    </div>
  </div>
  <div class="form-group js-manual-grading-points w-100">
    Total Points:
    <span class="float-right">
      <span class="js-value-total-points"><%= Math.round(100 * (locals.points ?? instance_question.points)) / 100 %></span> /
      <%= assessment_question.max_points %>
    </span>
  </div>
  <div class="form-group js-manual-grading-percentage w-100">
    Total Score:
    <span class="float-right">
      <span class="js-value-total-percentage"><%= Math.round(100 * (locals.score_perc ?? instance_question.score_perc)) / 100 %></span>%
    </span>
  </div>
  <% } %>
  <div class="form-group">
    <label>Feedback:</label>
    <textarea name="submission_note" class="form-control"
              <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>readonly<% } %>
              id="submission-feedback"><%= submission.feedback?.manual %></textarea>
  </div>
  <div class="text-right">
    <% if (!locals.disable && authz_data.has_course_instance_permission_edit) { %>
    <button type="submit" class="btn btn-primary" name="__action" value="add_manual_grade">Submit</button>
    <% } %>
    <div class="btn-group">
      <a role="button" class="btn btn-secondary"
         href="<%= urlPrefix %>/assessment/<%= assessment_instance.assessment_id %>/manual_grading/assessment_question/<%= instance_question.assessment_question_id %>/next_ungraded?prior_instance_question_id=<%= instance_question.id %>">
        <%= locals.skip_text || ((!locals.disable && authz_data.has_course_instance_permission_edit) ? 'Skip' : 'Next') %>
      </a>
      <% if (!locals.disable && authz_data.has_course_instance_permission_edit) { %>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Change assigned grader</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <% (locals.graders || []).forEach(grader => { %>
        <button type="submit" class="dropdown-item" name="__action" value="reassign_<%= grader.user_id %>">Assign to: <%= grader.name %> (<%= grader.uid %>)</button>
        <% }); %>
        <button type="submit" class="dropdown-item" name="__action" value="reassign_nobody">Tag for grading without assigned grader</button>
        <button type="submit" class="dropdown-item" name="__action" value="reassign_graded">Tag as graded (keep current grade)</button>
      </div>
      <% } %>
    </div>
  </div>
</form>
<% } %>
