<% if (authz_data.has_instructor_view || authz_data.has_course_permission_view) { %>
    <!-- 
      - Renders a panel to manually grade an instance question when injected with 'submission' object
      - View is re-used to load two panels to resolve manual grading conflict when injected with 'conflict_diff' object-->
    <div class="card mb-4 border-success">
      <% if (typeof diff !== 'undefined') { %>
        <div class="card-header bg-success"><%= diff %> Grade</div>
      <% } else {%>
        <div class="card-header bg-success">Grading Panel</div>
      <% } %>
      <div class="card-body">
        <% if (typeof diff !== 'undefined') { %>
          <p class="graded-by">Graded by <%= submission.graded_by %></p>
        <% } %>
        <form name="instance-question-manual-grade-update-form" method="POST">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <input type="hidden" name="assessmentId" value="<%= assessment_instance.assessment_id %>">
            <input type="hidden" name="assessmentQuestionId" value="<%= instance_question.assessment_question_id %>">
            <input type="hidden" name="instanceQuestionModifiedAt" value="<%= instance_question.modified_at %>">
            <div class="form-group">
              <label for="submission-score">Score:</label>
              <div class="input-group">
                <input type="number" min="0" max="100" step="5" class="form-control" id="submission-score" class="submission-score" name="submissionScore" value="<%= submission.score % 5 > 0 ? submission.score * 100 : submission.score %>" aria-describedby="score-help-block"
                  <% if (submission.type != 'undefined' && submission.type == 'submission') { %>
                    readonly
                  <% } %>
                />
                <span class="input-group-addon" style="display: flex; align-items: center">%</span>
              </div>
              <small id="score-help-block" class="form-text text-muted">
                This percentage will override the most recent submission score.
              </small>
            </div>
            <div class="form-group">
              <label for="submission-feedback">Feedback:</label>
              <textarea 
                <% if (submission.type != 'undefined' && submission.type == 'submission') { %>
                  readonly
                <% } %>
                name="submissionNote" class="form-control" id="submission-feedback" class="submission-feedback"><% if (submission.feedback) {%><%= submission.feedback.manual %><% } %></textarea>
            </div>
            <div class="text-right">

              <% if (typeof conflict_diff == 'undefined') { %>
                <button style="width: 100%; margin-bottom: 15px" name="__action" value="add_manual_grade" class="btn btn-primary">Submit and Next</button>
                <button style="width: 100%" name="__action" value="abort_manual_grading" class="btn btn-danger">Skip and Leave Grading</button>
              <% } else { %>
                <input type="hidden" name="gradingJobId" value="<%= typeof conflict_diff !== 'undefined' && conflict_diff.grading_job_id %>">
                <input type="hidden" name="conflictDataSource" value="<%= submission.conflictDataSource %>">
                <button name="__action" value="resolve_manual_grading_conflict" class="btn btn-primary">Accept <%= diff %> Grade</button>
              <% }%>
            </div>
        </form>
      </div>
      <div class="card-footer small">
          This box is not visible to students.
      </div>
    </div>
<% } %>
    