<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "questions") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/questions">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "access") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/access">Access</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "assessmentStatistics") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_statistics">Statistics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "questionStatistics") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/question_statistics">Question stats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "downloads") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/downloads">Downloads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "uploads") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/uploads">Uploads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "regrading") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/regrading">Regrading</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <% if (navSubPage == "instances") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/instances">Students</a>
  </li>
</ul>
