<nav class="navbar navbar-dark bg-dark navbar-expand-md mb-4">
  <a class="navbar-brand" href="<%= plainUrlPrefix %>">
    <span class="navbar-brand-label">PrairieLearn</span>
    <span class="navbar-brand-hover-label text-secondary">Go home <i class="fa fa-angle-right" aria-hidden="true"></i></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto" id="main-nav">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Course title ---------------------------------------------------------------->

      <li class="nav-item mr-4"><span class="navbar-text"><%= course.short_name %>, <%= course_instance.short_name %></span></li>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Main pages ------------------------------------------------------------------>

      <li class="nav-item <% if (navPage == "assessments") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/assessments">Assessments</a></li>
      <li class="nav-item <% if (navPage == "questions")   { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/questions">Questions</a></li>
      <li class="nav-item <% if (navPage == "issues")      { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/issues">Issues <%- include('issueBadge', {count: navbarOpenIssueCount, suppressLink: true}) %></a></li>
      <li class="nav-item <% if (navPage == "gradebook")   { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/gradebook">Gradebook</a></li>

      <% if (authz_data.has_course_permission_view) { %>
      <li class="nav-item <% if (navPage == "courseOverview") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/course">Course</a></li>
      <% } %>

      <% if (!devMode && authz_data.has_course_permission_edit) { %>
      <li class="nav-item <% if (navPage == "sync")           { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/syncs">Sync</a></li>
      <% } %>

      <% if (typeof assessment_label != 'undefined' && typeof assessment != 'undefined') { %>
      <li class="nav-item <% if (navPage == "assessment")     { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/assessment/<%= assessment.id %>"><%= assessment_label %></a></li>
      <% } %>

    </ul>

    <!-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------->
    <!-- User and logout ------------------------------------------------------------->


    <ul class="nav navbar-nav" id="username-nav">
      <li class="nav-item mb-2 mb-md-0 mr-2 <% if (navPage == "effective") { %>active<% } %>">
        <a class="nav-link" href="<%= urlPrefix %>/effectiveUser">
          <%= authz_data.user.name %> (<%= authz_data.course_role %>)
          <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item mb-2 mb-md-0 mr-2">
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Instructor
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/assessments">Switch to student view</a>
          </div>
        </div>
      </li>
      <% if (devMode) { %>
      <li class="mb-2 mb-md-0 mr-2 "><a class="btn btn-success" href="<%= urlPrefix %>/loadFromDisk">Load from disk</a></li>
      <% } %>
      <li><%- include('logout'); %></li>
    </ul>
  </div>
</nav>
