<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= plainUrlPrefix %>">PrairieLearn</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="main-nav">
        
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Course switcher ------------------------------------------------------------->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= course.short_name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% nav_data.courses.forEach(function(course) { %>
            <li><a href="<%= plainUrlPrefix %>/<%= course.course_instance_id %>"><%= course.short_name %></a></li>
            <% }); %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= course_instance.short_name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% nav_data.instances_for_course.forEach(function(course_instance) { %>
            <li><a href="<%= plainUrlPrefix %>/<%= course_instance.id %>"><%= course_instance.short_name %></a></li>
            <% }); %>
          </ul>
        </li>

        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Main pages ------------------------------------------------------------------>

        <li <% if (navPage == "assessments") { %>class="active"<% } %>><a href="<%= urlPrefix %>/instructor/assessments">Assessments</a></li>
        <li <% if (navPage == "questions")   { %>class="active"<% } %>><a href="<%= urlPrefix %>/instructor/questions">Questions</a></li>
        <li <% if (navPage == "gradebook")   { %>class="active"<% } %>><a href="<%= urlPrefix %>/instructor/gradebook">Gradebook</a></li>
        <% if (!devMode) { %>
        <li <% if (navPage == "sync")        { %>class="active"<% } %>><a href="<%= urlPrefix %>/instructor/syncs">Sync</a></li>
        <% } %>

        <% if (typeof assessment_label != 'undefined' && typeof assessment != 'undefined') { %>
        <li <% if (navPage == "assessment") { %>class="active"<% } %>><a href="<%= urlPrefix %>/instructor/assessment/<%= assessment.id %>"><%= assessment_label %></a></li>
        <% } %>

        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Reload ---------------------------------------------------------------------->

        <% if (devMode) { %>
        <a class="btn btn-success navbar-btn" href="<%= urlPrefix %>/instructor/reload">Reload</a>
        <% } %>

      </ul>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- User and logout ------------------------------------------------------------->

      <div class="navbar-right">

        <div class="btn-group">
          <button type="button" class="btn btn-danger navbar-btn dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Instructor <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="<%= urlPrefix %>/assessments">Switch to student view</a></li>
          </ul>
        </div>

        <ul class="nav navbar-nav" id="username-nav">
          <li <% if (navPage == "effective") { %>class="active"<% } %>>
            <a href="<%= urlPrefix %>/instructor/effectiveUser">
              <%= authz_data.user.name %> (<%= authz_data.role %>), <%= authz_data.mode %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </li>
        </ul>

        <% if (devMode) { %>
        <a class="btn btn-default navbar-btn" href="">Log out</a>
        <% } else { %>
        <a class="btn btn-default navbar-btn" href="https://prairielearn.engr.illinois.edu/Shibboleth.sso/Logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
