<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= plainUrlPrefix %>">PrairieLearn</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="main-nav">

        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Home ------------------------------------------------------------------------>

        <li <% if (navPage == "home") { %>class="active"<% } %>><a href="<%= plainUrlPrefix %>">Home</a></li>
        <% if (is_administrator) { %>
        <li <% if (navPage == "admin") { %>class="active"<% } %>><a href="<%= plainUrlPrefix %>/administrator/overview">Admin</a></li>
        <% } %>

      </ul>

      <div class="navbar-right">

        <% if (typeof authn_user == 'undefined') { %>
        <p class="navbar-text">(No user)</p>
        <% } else if (is_administrator) { %>
        <p class="navbar-text"><%= authn_user.name %> (Administrator)</p>
        <% } else { // is_administrator %>
        <p class="navbar-text"><%= authn_user.name %></p>
        <% } // is_administrator %>

        <% if (devMode) { %>
        <a class="btn btn-success navbar-btn" href="<%= urlPrefix %>/loadFromDisk">Load from disk</a>
        <% } %>

        <a class="btn btn-default navbar-btn" href="<%= plainUrlPrefix %>/logout">Log out</a>
      </div>
    </div>
  </div>
</nav>
