<nav class="navbar navbar-dark bg-dark navbar-expand-md mb-4">
  <a class="navbar-brand" href="<%= homeUrl %>">
    <span class="navbar-brand-label">PrairieLearn</span>
    <span class="navbar-brand-hover-label text-secondary">Go home <i class="fa fa-angle-right" aria-hidden="true"></i></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto" id="main-nav">

<% if (typeof navbarType == 'undefined' || navbarType == 'plain') { %>
<%- include('navbarPlain'); %>
<% } else if (navbarType == 'student') { %>
<%- include('navbarStudent'); %>
<% } else if (navbarType == 'instructor') { %>
<%- include('navbarInstructor'); %>
<% } else if (navbarType == 'course') { %>
<%- include('navbarCourse'); %>
<% } else { %>
<% throw new Error('Unknown navbarType: ' + navbarType); %>
<% } %>

    <!-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------->
    <!-- User and logout ------------------------------------------------------------->

<%
var displayedName = '';
if (typeof authz_data !== 'undefined' && authz_data.authn_has_instructor_view) {
    if (authz_data.user.name) {
        displayedName = authz_data.user.name;
    } else {
        displayedName = authz_data.user.uid;
    }
    displayedName += ' (' + authz_data.role;
	if (authz_data.mode != 'Public') {
        displayedName += ', ' + authz_data.mode;
    }
    displayedName += ')';
} else {
    if (typeof authn_user == 'undefined') {
        displayedName = '(No user)';
    } else if (is_administrator) {
        displayedName = authn_user.name + ' (Administrator)';
    } else {
        displayedName = authn_user.name;
    }
}
%>
<ul class="nav navbar-nav" id="username-nav">
    <li class="nav-item dropdown mb-2 mb-md-0 mr-2 <% if (navPage == "effective") { %>active<% } %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= displayedName %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= plainUrlPrefix %>/settings">Settings</a>
            <% if (typeof authz_data !== 'undefined' && authz_data.authn_has_instructor_view) { %>
            <a class="dropdown-item" href="<%= urlPrefix %>/effectiveUser">Change effective user</a>
            <% } %>
        </div>
    </li>

<%
if (typeof authz_data !== 'undefined' && authz_data.has_instructor_view) {

    var rolebutton = { current: navbarType.charAt(0).toUpperCase() + navbarType.slice(1), };
    if (navbarType == 'student') {
        rolebutton.color = "btn-info";
        rolebutton.other = "Switch to instructor view";
        rolebutton.otherLink = `${urlPrefix}/instructor/assessments`;
        // If we know its question or assessment id, link right to it.
        if (typeof question !== 'undefined' && question.id) {
            rolebutton.otherLink = `${urlPrefix}/instructor/question/${question.id}`;
            rolebutton.other += " for " + question.qid;
        } else if (typeof assessment_instance !== 'undefined' && assessment_instance.assessment_id) {
            rolebutton.otherLink = `${urlPrefix}/instructor/assessment/${assessment_instance.assessment_id}`;
            rolebutton.other += " for " + assessment.tid;
        }
    } else if (navbarType == 'instructor') {
        rolebutton.color = "btn-danger";
        rolebutton.other = "Switch to student view";
        rolebutton.otherLink = `${plainUrlPrefix}/course_instance/${course_instance.id}/assessments`;
        if (typeof assessment !== 'undefined' && assessment.id) {
            rolebutton.otherLink = `${plainUrlPrefix}/course_instance/${course_instance.id}/assessment/${assessment.id}`;
            rolebutton.other += " for " + assessment.tid;
        }
    }
%>
    <li class="nav-item mb-2 mb-md-0 mr-2">
      <div class="dropdown">
        <button class="btn <%= rolebutton.color %> dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= rolebutton.current %> view
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item"  href="<%= rolebutton.otherLink %>"><%= rolebutton.other %></a>
        </div>
      </div>
    </li>
<% } // has_instructor_view %>


<% if (devMode) { %>
    <li class="mb-2 mb-md-0 mr-2 "><a class="btn btn-success" href="<%= urlPrefix %>/loadFromDisk">Load from disk</a></li>
<% } %>


    <li><%- include('logout'); %></li>
</ul>
</div>
</nav>
