<nav class="navbar navbar-dark bg-dark navbar-expand-md mb-4" role="navigation">
  <a class="navbar-brand" href="<%= plainUrlPrefix %>">PrairieLearn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto" id="main-nav">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Home ------------------------------------------------------------------------>

      <li class="nav-item <% if (navPage == "home") { %>active<% } %>"><a class="nav-link" href="<%= plainUrlPrefix %>">Home</a></li>
      <% if (is_administrator) { %>
      <li class="nav-item <% if (navPage == "admin") { %>active<% } %>"><a class="nav-link" href="<%= plainUrlPrefix %>/administrator/overview">Admin</a></li>
      <% } %>

    </ul>

    <div class="navbar-right">

      <% if (typeof authn_user == 'undefined') { %>
      <span class="navbar-text">(No user)</span>
      <% } else if (is_administrator) { %>
      <span class="navbar-text"><%= authn_user.name %> (Administrator)</span>
      <% } else { // is_administrator %>
      <span class="navbar-text"><%= authn_user.name %></span>
      <% } // is_administrator %>

      <% if (devMode) { %>
      <a class="btn btn-success" href="<%= urlPrefix %>/loadFromDisk">Load from disk</a>
      <% } %>

      <%- include('logout'); %>
    </div>
  </div>
</nav>
