<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= plainUrlPrefix %>">PrairieLearn</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="main-nav">
        
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Home ------------------------------------------------------------------------>

        <li <% if (navPage == "home") { %>class="active"<% } %>><a href="<%= plainUrlPrefix %>">Home</a></li>

        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Course title ---------------------------------------------------------------->

        <li><p class="navbar-text"><%= course.short_name %></p></li>

        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------->
        <!-- Main pages ------------------------------------------------------------------>

        <li <% if (navPage == "courseOverview") { %>class="active"<% } %>><a href="<%= urlPrefix %>/overview">Course</a></li>
        <% if (!devMode && authz_data.has_course_permission_edit) { %>
        <li <% if (navPage == "sync")           { %>class="active"<% } %>><a href="<%= urlPrefix %>/syncs">Sync</a></li>
        <% } %>

      </ul>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- User and logout ------------------------------------------------------------->

      <div class="navbar-right">

        <ul class="nav navbar-nav" id="username-nav">
          <li <% if (navPage == "effective") { %>class="active"<% } %>>
            <a href="<%= urlPrefix %>/course/effectiveUser">
              <%= authz_data.user.name %> (<%= authz_data.course_role %>)
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </li>
        </ul>

        <% if (devMode) { %>
        <a class="btn btn-success navbar-btn" href="<%= urlPrefix %>/loadFromDisk">Load from disk</a>
        <% } %>

        <% if (devMode) { %>
        <a class="btn btn-default navbar-btn" href="">Log out</a>
        <% } else { %>
        <a class="btn btn-default navbar-btn" href="https://prairielearn.engr.illinois.edu/Shibboleth.sso/Logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
