<div class="card mb-4" id="question-score-panel">
  <div class="card-header bg-secondary text-white">Question <%= instance_question.question_number %></div>
  <table class="table table-sm two-column-description-no-header">
    <tbody>
      <% if (assessment.type === 'Exam') { %>
      <tr>
        <td>Best submission:</td>
        <td><%- include('../partials/examQuestionScore', {instance_question}); %></td>
      </tr>
      <tr>
        <td>Available points:</td>
        <td><%- include('../partials/examQuestionAvailablePoints', {open: assessment_instance.open && instance_question.open, points_list: instance_question.points_list, highest_submission_score: instance_question.highest_submission_score}); %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } else if (assessment.type === 'Homework') { %>
      <tr>
        <td>Value:</td>
        <td><%- include('../partials/questionValue', {value: instance_question.current_value});  %></td>
      </tr>
      <tr>
        <td>History:</td>
        <td><%- include('../partials/questionAwardedPoints', {awarded_points: instance_question.variants_points_list, init_points: assessment_question.init_points});  %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/questionPointsOfMax', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% if (assessment.allow_issue_reporting) { %>
  <div class="card-footer">
    <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#issueCollapse" aria-expanded="false" aria-controls="issueCollapse">
      Report an error in this question
    </button>
    <div class="collapse" id="issueCollapse">
      <hr />
      <form method="POST">
        <p class="small">
          This form is only for reporting errors in the question
          itself. Do not use this form if you just don't know how to
          answer the question.
        </p>
        <% if (/*authz_data.mode == 'Exam'*/ false) { %>
        <p class="small">
          Ask a proctor if you think there is a problem with your computer.
        </p>
        <% } %>
        <div class="form-group">
          <textarea class="form-control" rows="5" name="description" placeholder="Describe the error in this question"></textarea>
        </div>
        <input type="hidden" name="__variant_id" value="<%= variant.id %>">
        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
        <div class="form-group text-right">
          <button class="btn btn-small btn-warning" name="__action" value="report_issue">Report error
        </div>
      </form>
    </div>
  </div>
  <% } %>
</div>
