<div class="panel panel-default" id="question-score-panel">
  <div class="panel-heading"><h3 class="panel-title">Question <%= instance_question.question_number %></h3></div>
  <table class="table table-condensed two-column-description-no-header">
    <tbody>
      <% if (assessment.type === 'Exam') { %>
      <tr>
        <td>Best submission:</td>
        <td><%- include('../partials/examQuestionScore', {instance_question}); %></td>
      </tr>
      <tr>
        <td>Available points:</td>
        <td><%- include('../partials/examQuestionAvailablePoints', {open: assessment_instance.open && instance_question.open, points_list: instance_question.points_list, highest_submission_score: instance_question.highest_submission_score}); %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } else if (assessment.type === 'Homework') { %>
      <tr>
        <td>Value:</td>
        <td><%- include('../partials/questionValue', {value: instance_question.current_value});  %></td>
      </tr>
      <tr>
        <td>History:</td>
        <td><%- include('../partials/questionAwardedPoints', {awarded_points: instance_question.variants_points_list, init_points: assessment_question.init_points});  %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/questionPointsOfMax', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% if (assessment.allow_issue_reporting) { %>
  <div class="panel-footer">
    <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#issueCollapse" aria-expanded="false" aria-controls="issueCollapse">
      Report an issue with this question
    </button>
    <div class="collapse" id="issueCollapse">
      <hr />
      <form method="POST">
        <div class="form-group">
          <textarea class="form-control" rows="5" name="description" placeholder="Describe the issue"></textarea>
        </div>
        <input type="hidden" name="__variant_id" value="<%= variant.id %>">
        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
        <div class="form-group text-right">
          <button class="btn btn-small btn-warning" name="__action" value="report_issue">Report issue
        </div>
      </form>
    </div>
  </div>
  <% } %>
</div>
