<div id="question-0" class="question-container">
  <% if (question.type != 'Freeform') { %>
  <div hidden="true" class="question-data"><%= questionJsonBase64 %></div>
  <% } %>

  <% issues.forEach(function(issue, iIssue) { %>
  <div class="card mb-4">
    <div class="card-header bg-danger text-white">
      <% if (issue.manually_reported) { %>
      Manually reported issue
      <% } else { %>
      Issue
      <% } %>
    </div>

    <table class="table table-sm table-hover two-column-description">
      <tbody>
        <% if (devMode || authz_data.has_instructor_view) { %>
        <tr><th>Student message:</th><td><%= issue.student_message %></td></tr>
        <tr><th>Instructor message:</th><td><%= issue.instructor_message %></td></tr>
        <% } else { %>
        <tr><th>Message:</th><td><%= issue.student_message %></td></tr>
        <% } %>
        <tr><th>ID:</th><td><%= issue.display_id %></td></tr>
        <tr><th>Date:</th><td><%= issue.formatted_date %></td></tr>
      </tbody>
    </table>

    <% if (devMode || authz_data.has_instructor_view || is_administrator) { %>
    <div class="card-body border border-bottom-0 border-left-0 border-right-0">
      <% if (is_administrator && issue.system_data.courseErrData ) { %>
      <p><strong>Console log:</strong>
        <pre class="bg-dark text-white rounded p-3"><%= issue.system_data.courseErrData.outputBoth %></pre>
        <% } %>
      <p><strong>Associated data:</strong>
        <a class="btn btn-xs btn-default" role="button" data-toggle="collapse" href="#issue-course-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-course-data-<%= iIssue %>">
          Show/hide
        </a>
      </p>
      <div class="collapse" id="issue-course-data-<%= iIssue %>">
        <pre class="bg-dark text-white rounded p-3"><%= JSON.stringify(issue.course_data, null, '    ') %></pre>
      </div>
      <% if (is_administrator) { %>
      <p><strong>System data:</strong>
        <a class="btn btn-xs btn-default" role="button" data-toggle="collapse" href="#issue-system-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-system-data-<%= iIssue %>">
          Show/hide
        </a>
      </p>
      <div class="collapse" id="issue-system-data-<%= iIssue %>">
        <pre class="bg-dark text-white rounded p-3"><%= JSON.stringify(issue.system_data, null, '    ') %></pre>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% }); %>


  <% if (question.type == 'Freeform') { %>
  <form class="question-form" name="question-form" method="POST">
    <div class="card mb-4 question-block">
      <div class="card-header bg-primary text-white">
        <% if (question_context == 'student_homework') { %>
          <%= instance_question_info.question_number %>. <%= question.title %>
        <% } else if (question_context == 'student_exam') { %>
          Question <%= instance_question_info.question_number %>: <%= question.title %>
        <% } else if (question_context == 'instructor') { %>
          <%= question.title %>
        <% } else { %>
            <% throw Error('unknown question_context: ' + question_context); %>
        <% } %>
      </div>
      <div class="card-body question-body">
        <%- questionHtml %>
      </div>
      <%- include('questionFooter'); %>
    </div>
  </form>
  <% } %>


  <% if (question.type != 'Freeform') { %>
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <% if (question_context == 'student_homework') { %>
        <%= instance_question_info.question_number %>. <%= question.title %></h3>
      <% } else if (question_context == 'student_exam') { %>
            <!-- FIXME: insert question number properly -->
            Question <%= instance_question_info.question_number %>: <%= question.title %>
      <% } else if (question_context == 'instructor') { %>
        <%= question.title %>
      <% } else { %>
        <% throw Error('unknown question_context: ' + question_context); %>
      <% } %>
    </div>
    <div class="card-body question-body">
      <%- questionHtml %>
    </div>
    <%- include('questionFooter'); %>
  </div>
  <% } %>

  <% if (showTrueAnswer) { %>
  <div class="card mb-4 grading-block">
    <div class="card-header bg-success text-white">Correct answer</div>
    <div class="card-body answer-body">
      <%- answerHtml %>
    </div>
  </div>
  <% } %>

  <% if (showSubmissions) { %>
  <% submissions.forEach(function(submission, idx) { %>
    <%- include('submission', {submission: submission, submissionCount: submissions.length, submissionIdx: submissions.length - idx, submissionHtml: submissionHtmls[idx]}); %>
  <% }); %>
  <% } %>

  <%- include('externalGradingLiveUpdate'); %>

</div>
