<% if (question.type == 'Freeform') { %>
  <div class="card-footer" id="question-panel-footer">
    <% if (showTrueAnswer && (question_context == 'student_exam')) { %>
    This question is complete and cannot be answered again.
    <% } else { %>
    <div class="row">
      <div class="col d-flex justify-content-between">
        <span class="d-flex align-items-center">
          <% if (showSaveButton) { %>
            <button class="btn btn-info question-save disable-on-submit order-2" name="__action" value="save">
              <% if (showGradeButton) { %>
                Save only
              <% } else { %>
                Save
              <% } %>
            </button>
          <% } %>
          <% if (showGradeButton) { %>
              <% if (question_context == 'student_homework') { %>
                  <button class="btn btn-primary question-grade disable-on-submit order-1 mr-1" name="__action" value="grade">Save & Grade
                      <% if ((assessment_question.tries_per_variant - variant.num_tries) > 1) { %>
                          <span class="badge">
                              <%= String(assessment_question.tries_per_variant - variant.num_tries) %>
                              tries left
                          </span>
                      <% } %>
                  </button>
              <% } else { %>
                  <button class="btn btn-primary question-grade disable-on-submit order-1 mr-1" name="__action" value="grade">Save & Grade</button>
              <% } %>
          <% } %>
          <% if (showManualGradingMsg) { %>
          <span class="order-3 ml-2">This question will be manually graded.</span>
          <% } %>
        </span>
        <span class="d-flex">
          <input type="hidden" name="__variant_id" value="<%= variant.id %>">
          <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
          <% if (showNewVariantButton) { %><a href="<%= newVariantUrl %>" class="btn btn-primary disable-on-click ml-1">New variant</a><% } %>
          <% if (showTryAgainButton) { %><a href="<%= tryAgainUrl %>" class="btn btn-primary disable-on-click ml-1">Try question again</a><% } %>
        </span>
      </div>
    </div>
    <% } %>
  </div>
<% } else { %>
  <div class="card-footer" id="question-panel-footer">
    <form class="question-form" name="question-form" method="POST">
      <% if (showTrueAnswer && (question_context == 'student_exam')) { %>
      This question is complete and cannot be answered again.
      <% } else { %>
      <div class="row">
        <div class="col d-flex justify-content-between">
          <span class="d-flex align-items-center">
              <% if (showSaveButton) { %>
                <button class="btn btn-info question-save disable-on-submit order-2">
                  <% if (showGradeButton) { %>
                    Save only
                  <% } else { %>
                    Save
                  <% } %>
                </button>
              <% } %>
              <% if (showGradeButton) { %>
                  <% if (question_context == 'student_homework') { %>
                      <button class="btn btn-primary question-grade disable-on-submit order-1 mr-1">Save & Grade
                          <% if ((assessment_question.tries_per_variant - variant.num_tries) > 1) { %>
                              <span class="badge">
                                  <%= String(assessment_question.tries_per_variant - variant.num_tries) %>
                                  tries left
                              </span>
                          <% } %>
                      </button>
                  <% } else { %>
                      <button class="btn btn-primary question-grade disable-on-submit order-1 mr-1">Save & Grade</button>
                  <% } %>
              <% } %>
              <% if (showManualGradingMsg) { %>
              <span class="order-3 ml-2">This question will be manually graded.</span>
              <% } %>
          </span>
          <span class="d-flex">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <input type="hidden" name="postData" class="postData">
            <input type="hidden" name="__action" class="__action">
            <% if (showNewVariantButton) { %><a href="<%= newVariantUrl %>" class="btn btn-primary disable-on-click ml-1">New variant</a><% } %>
            <% if (showTryAgainButton) { %><a href="<%= tryAgainUrl %>" class="btn btn-primary disable-on-click ml-1">Try question again</a><% } %>
          </span>
        </div>
      </div>
      <% } %>
    </form>

    <script>
      $('form').on('submit', function(e) {
          if (!$(this).data('submitted')) {
              $(this).data('submitted', true);

              var form = $(this);
              form.find('.disable-on-submit').each(function (index) {
                  // Create a disabled clone of the submit button
                  $(this).clone(false).removeAttr('id').prop('disabled', true).insertBefore($(this));

                  // Hide the actual submit button and move it to the beginning of the form
                  $(this).hide();
                  form.prepend($(this));
              });

          } else {
              e.preventDefault();
          }
      });

      $('a.disable-on-click').on('click', function() {
          $(this).addClass('disabled');
      });
    </script>
  </div>
<% } %>

<script>
    // Wait for DOM (ace, file upload, etc.)
    $(document).ready(() => {
        const form = $('form.question-form');
        const getForm = () => form.serialize();

        // Set form state on load and submit
        var initialForm = getForm();
        form.submit(() => {
            initialForm = getForm();
        });

        // Check form state on unload
        $(window).bind('beforeunload', (e) => {
            const isSameForm = initialForm == getForm();

            // allowQuestionUnload: pages/partials/countdown.ejs
            if(!isSameForm && !window.allowQuestionUnload) {
                const event = e || window.event;

                // MDN recommendation (not fully supported)
                event.preventDefault();

                // Chrome legacy
                event.returnValue = '';

                // Fallback
                return '';
            }
        });
    });
</script>
