<div class="card mb-4" id="question-score-panel">
  <div class="card-header bg-secondary text-white">Question <%= instance_question.question_number %></div>
  <table class="table table-sm two-column-description-no-header">
    <tbody>
      <% if (assessment.type === 'Exam') { %>
      <tr>
        <td>Best submission:</td>
        <td><%- include('../partials/examQuestionScore', {instance_question}); %></td>
      </tr>
      <tr>
        <td>Available points:</td>
        <td><%- include('../partials/examQuestionAvailablePoints', {open: assessment_instance.open && instance_question.open, points_list: instance_question.points_list, highest_submission_score: instance_question.highest_submission_score}); %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } else if (assessment.type === 'Homework') { %>
      <tr>
        <td>Value:</td>
        <td><%- include('../partials/questionValue', {value: instance_question.current_value});  %></td>
      </tr>
      <tr>
        <td>History:</td>
        <td><%- include('../partials/questionAwardedPoints', {awarded_points: instance_question.variants_points_list, init_points: assessment_question.init_points});  %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/questionPointsOfMax', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% if (assessment.type == 'Exam' || assessment.allow_issue_reporting) { %>
  <div class="card-footer">
  <% if (assessment.allow_issue_reporting) { %>
    <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#issueCollapse" aria-expanded="false" aria-controls="issueCollapse">
      Report an issue with this question
    </button>
    <div class="collapse" id="issueCollapse">
      <hr />
      <form method="POST">
        <div class="form-group">
          <textarea class="form-control" rows="5" name="description" placeholder="Describe the issue"></textarea>
        </div>
        <input type="hidden" name="__variant_id" value="<%= variant.id %>">
        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
        <div class="form-group text-right">
          <button class="btn btn-small btn-warning" name="__action" value="report_issue">Report issue
        </div>
      </form>
    </div>
  <% } %>
  <% if (assessment.type == 'Exam') { %>
    <button class="btn btn-xs btn-secondary" type="button" data-toggle="modal" data-target="#iqqrcode" aria-expanded="false" aria-controls="iqqrcode">
      Proctor information
    </button>
  </div>
  <div class="modal fade" id="iqqrcode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Proctor Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center><%- iqqrcode %></center>
          <p>If you need assistance with this question, proctors may use this link to get more information.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-seconday" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  <% } %>
  </div>
  <% } %>
</div>
