<div id="question-0" class="question-container">
  <% if (question.type != 'Freeform') { %>
  <div hidden="true" class="question-data"><%= questionJsonBase64 %></div>
  <% } %>

  <% issues.forEach(function(issue, iIssue) { %>
  <div class="card mb-4">
    <div class="card-header bg-danger text-white">
      <% if (issue.manually_reported) { %>
      Manually reported issue
      <% } else { %>
      Issue
      <% } %>
    </div>

    <table class="table table-sm table-hover two-column-description">
      <tbody>
        <% if (devMode || authz_data.has_instructor_view) { %>
        <tr><th>Student:</th><td><%= issue.user_name || '-'  %> (<a href="mailto:<%= issue.user_uid  || '-' %>?subject=Reported%20PrairieLearn%20Issue&body=Hello%20<%= issue.user_name %>,%0A%0ARegarding%20the%20issue%20of:%0A%0A%22<%= issue.student_message || '-' %>%22%0A%0AWe've..."><%= issue.user_uid || '-' %></a>)</td></tr>
        <tr><th>Student message:</th><td><%= issue.student_message %></td></tr>
        <tr><th>Instructor message:</th><td><%= issue.instructor_message %></td></tr>
        <% } else { %>
        <tr><th>Message:</th><td><%= issue.student_message %></td></tr>
        <% } %>
        <tr><th>ID:</th><td><%= issue.id %></td></tr>
        <tr><th>Date:</th><td><%= issue.formatted_date %></td></tr>
      </tbody>
    </table>

    <% if (devMode || authz_data.has_instructor_view || is_administrator) { %>
    <div class="card-body border border-bottom-0 border-left-0 border-right-0">
      <% if (is_administrator && issue.system_data.courseErrData ) { %>
      <p><strong>Console log:</strong>
        <pre class="bg-dark text-white rounded p-3"><%= issue.system_data.courseErrData.outputBoth %></pre>
        <% } %>
      <p><strong>Associated data:</strong>
        <a class="btn btn-xs btn-secondary" role="button" data-toggle="collapse" href="#issue-course-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-course-data-<%= iIssue %>">
          Show/hide
        </a>
      </p>
      <div class="collapse" id="issue-course-data-<%= iIssue %>">
        <pre class="bg-dark text-white rounded p-3"><%= JSON.stringify(issue.course_data, null, '    ') %></pre>
      </div>
      <% if (is_administrator) { %>
      <p><strong>System data:</strong>
        <a class="btn btn-xs btn-secondary" role="button" data-toggle="collapse" href="#issue-system-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-system-data-<%= iIssue %>">
          Show/hide
        </a>
      </p>
      <div class="collapse" id="issue-system-data-<%= iIssue %>">
        <pre class="bg-dark text-white rounded p-3"><%= JSON.stringify(issue.system_data, null, '    ') %></pre>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% }); %>


  <% if (question.type == 'Freeform') { %>
  <form class="question-form" name="question-form" method="POST">
    <div class="card mb-4 question-block">
      <div class="card-header bg-primary text-white">
        <% if (question_context == 'student_homework') { %>
          <%= instance_question_info.question_number %>. <%= question.title %>
        <% } else if (question_context == 'student_exam') { %>
          Question <%= instance_question_info.question_number %>: <%= question.title %>
        <% } else if (question_context == 'instructor') { %>
          <%= question.title %>
        <% } else { %>
            <% throw Error('unknown question_context: ' + question_context); %>
        <% } %>
      <% if (authz_data.mode == 'Exam') { %>
        <div class="float-sm-right">
          <button class="btn btn-xs btn-secondary" type="button" data-toggle="modal" data-target="#iqqrcode" aria-expanded="false" aria-controls="iqqrcode">
            Proctor <i class="fa fa-question-circle"></i>
          </button>
        </div>
      <% } %>
      </div>
      <div class="card-body question-body">
        <%- questionHtml %>
      </div>
      <%- include('questionFooter'); %>
    </div>
  </form>
  <% } %>


  <% if (question.type != 'Freeform') { %>
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <% if (question_context == 'student_homework') { %>
        <%= instance_question_info.question_number %>. <%= question.title %></h3>
      <% } else if (question_context == 'student_exam') { %>
            <!-- FIXME: insert question number properly -->
            Question <%= instance_question_info.question_number %>: <%= question.title %>
      <% } else if (question_context == 'instructor') { %>
        <%= question.title %>
      <% } else { %>
        <% throw Error('unknown question_context: ' + question_context); %>
      <% } %>
      <% if (authz_data.mode == 'Exam') { %>
        <div class="float-sm-right">
          <button class="btn btn-xs btn-secondary" type="button" data-toggle="modal" data-target="#iqqrcode" aria-expanded="false" aria-controls="iqqrcode">
            Proctor <i class="fa fa-question-circle"></i>
          </button>
        </div>
      <% } %>
    </div>
    <div class="card-body question-body">
      <%- questionHtml %>
    </div>
    <%- include('questionFooter'); %>
  </div>
  <% } %>

  <% if (authz_data.mode == 'Exam') { %>
  <div class="modal fade" id="iqqrcode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Proctor Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center><%- iqqrcode %></center>
          <p>If you need assistance with this question, proctors may use this link to get more information.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (showTrueAnswer) { %>
  <div class="card mb-4 grading-block">
    <div class="card-header bg-secondary text-white">Correct answer</div>
    <div class="card-body answer-body">
      <%- answerHtml %>
    </div>
  </div>
  <% } %>

  <% if (showSubmissions) { %>
  <% submissions.forEach(function(submission, idx) { %>
    <%- include('submission', {submission: submission, submissionCount: submissions.length, submissionIdx: submissions.length - idx, submissionHtml: submissionHtmls[idx]}); %>
  <% }); %>
  <% } %>

  <%- include('externalGradingLiveUpdate'); %>

</div>
