<div class="card mb-4" id="question-score-panel">
  <div class="card-header bg-secondary text-white">Question <%= instance_question.question_number %></div>
  <table class="table table-sm two-column-description-no-header">
    <tbody>
      <% if (assessment.type === 'Exam') { %>
      <tr>
        <td>Best submission:</td>
        <td><%- include('../partials/examQuestionScore', {instance_question}); %></td>
      </tr>
      <tr>
        <td>Available points:</td>
        <td><%- include('../partials/examQuestionAvailablePoints', {open: assessment_instance.open && instance_question.open, points_list: instance_question.points_list, highest_submission_score: instance_question.highest_submission_score}); %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } else if (assessment.type === 'Homework') { %>
      <tr>
        <td>Value:</td>
        <td><%- include('../partials/questionValue', {value: instance_question.current_value});  %></td>
      </tr>
      <tr>
        <td>History:</td>
        <td><%- include('../partials/questionAwardedPoints', {awarded_points: instance_question.variants_points_list, init_points: assessment_question.init_points});  %></td>
      </tr>
      <tr>
        <td>Awarded points:</td>
        <td><%- include('../partials/questionPointsOfMax', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <% if (file_list.length == 0) { %>
        No attached files
      <% } else { %>
        Attached files:
        <% for (let file of file_list) { %>
          <br>
          <a target="_blank" href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/file/<%= file.id %>/<%= file.display_filename %>">
            <%- include('../partials/fileLabel', {type: file.type}) %>
            <%= file.display_filename %>
          </a>
        <% } %>
      <% } %>
      <!-- UPLOAD FILE -->
        <br>
        <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#uploadFileCollapse" aria-expanded="false" aria-controls="uploadFileCollapse">
          Upload a file <i class="far fa-caret-square-down"></i>
        </button>
        <div class="collapse" id="uploadFileCollapse">
          <form name="upload-file-form" method="POST" enctype="multipart/form-data" class="mb-3">
            <p class="small mt-3">
              Uploaded files will be saved with this question.
            </p>
            <div class="form-group">
              <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="uploadFileInput">
                <label class="custom-file-label" for="uploadFileInput">Choose file</label>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-group mb-0">
                <input type="hidden" name="__action" value="upload_file">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="submit" class="btn btn-primary">Upload file</button>
              </div>
            </div>
          </form>
        </div>
      <!-- PASTE TEXT -->
        <br>
        <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#uploadTextCollapse" aria-expanded="false" aria-controls="uploadTextCollapse">
          Upload text <i class="far fa-caret-square-down"></i>
        </button>
        <div class="collapse" id="uploadTextCollapse">
          <form method="POST">
            <p class="small mt-3">
              Type or paste text below and click "upload".
              The text will be saved with this question for your reference.
            </p>
            <input name="filename" value="uploaded_info.txt">
            <div class="form-group">
              <textarea class="form-control" rows="5" name="contents" placeholder="Type or paste text here"></textarea>
            </div>
            <input type="hidden" name="__variant_id" value="<%= variant.id %>">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <div class="form-group text-right">
              <button class="btn btn-small btn-primary" name="__action" value="upload_text">Upload text</button>
            </div>
          </form>
        </div>
      <!-- END OF FILES -->
    </li>
    <% if (assessment.allow_issue_reporting) { %>
    <li class="list-group-item">
        <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#issueCollapse" aria-expanded="false" aria-controls="issueCollapse">
          Report an error in this question <i class="far fa-caret-square-down"></i>
        </button>
        <div class="collapse" id="issueCollapse">
          <form method="POST">
            <p class="small mt-3">
              This form is only for reporting errors in the question
              itself. Do not use this form if you just don't know how to
              answer the question.
            </p>
            <div class="form-group">
              <textarea class="form-control" rows="5" name="description" placeholder="Describe the error in this question"></textarea>
            </div>
            <input type="hidden" name="__variant_id" value="<%= variant.id %>">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <div class="form-group text-right">
              <button class="btn btn-small btn-warning" name="__action" value="report_issue">Report error
            </div>
          </form>
        </div>
      </li>
  <% } %>
  </ul>
</div>
