<div id="question-0" class="question-container">
  <% if (question.type != 'Freeform') { %>
  <div hidden="true" class="question-data"><%= questionJsonBase64 %></div>
  <% } %>

  <% issues.forEach(function(issue, iIssue) { %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        <% if (issue.manually_reported) { %>
        Manually reported issue
        <% } else { %>
        Issue
        <% } %>
      </h3>
    </div>

    <table class="table table-condensed table-hover two-column-description">
      <tbody>
        <% if (devMode || authz_data.has_instructor_view) { %>
        <tr><th>Student message:</th><td><%= issue.student_message %></td></tr>
        <tr><th>Instructor message:</th><td><%= issue.instructor_message %></td></tr>
        <% } else { %>
        <tr><th>Message:</th><td><%= issue.student_message %></td></tr>
        <% } %>
        <tr><th>ID:</th><td><%= issue.display_id %></td></tr>
        <tr><th>Date:</th><td><%= issue.formatted_date %></td></tr>
      </tbody>
    </table>

    <% if (devMode || authz_data.has_instructor_view || is_administrator) { %>
    <div class="panel-body">
      <% if (is_administrator && issue.system_data.courseErrData ) { %>
      <p><strong>Console log:</strong>
        <pre><%= issue.system_data.courseErrData.outputBoth %></pre>
        <% } %>
      <p><strong>Associated data:</strong>
        <a class="btn btn-xs btn-default" role="button" data-toggle="collapse" href="#issue-course-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-course-data-<%= iIssue %>">
          Show/hide
        </a>
      </p>
      <div class="collapse" id="issue-course-data-<%= iIssue %>">
        <pre><%= JSON.stringify(issue.course_data, null, '    ') %></pre>
      </div>
      <% if (is_administrator) { %>
      <p><strong>System data:</strong>
        <a class="btn btn-xs btn-default" role="button" data-toggle="collapse" href="#issue-system-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-system-data-<%= iIssue %>">
          Show/hide
        </a>
      </p>
      <div class="collapse" id="issue-system-data-<%= iIssue %>">
        <pre><%= JSON.stringify(issue.system_data, null, '    ') %></pre>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% }); %>


  <% if (question.type == 'Freeform') { %>
  <form class="question-form" name="question-form" method="POST">
    <div class="panel panel-primary question-block">
      <div class="panel-heading">
        <% if (question_context == 'student_homework') { %>
            <h3 class="panel-title"><%= instance_question_info.question_number %>. <%= question.title %></h3>
        <% } else if (question_context == 'student_exam') { %>
            <!-- FIXME: insert question number properly -->
        <% } else if (question_context == 'instructor') { %>
            <h3 class="panel-title"><%= question.title %></h3>
        <% } else { %>
            <% throw Error('unknown question_context: ' + question_context); %>
        <% } %>
      </div>
      <div class="panel-body question-body">
        <%- questionHtml %>
      </div>
      <%- include('questionFooter'); %>
    </div>
  </form>
  <% } %>


  <% if (question.type != 'Freeform') { %>
  <div class="panel panel-primary question-block">
    <div class="panel-heading">
        <% if (question_context == 'student_homework') { %>
            <h3 class="panel-title"><%= instance_question_info.question_number %>. <%= question.title %></h3>
        <% } else if (question_context == 'student_exam') { %>
            <!-- FIXME: insert question number properly -->
        <% } else if (question_context == 'instructor') { %>
            <h3 class="panel-title"><%= question.title %></h3>
        <% } else { %>
            <% throw Error('unknown question_context: ' + question_context); %>
        <% } %>
    </div>
    <div class="panel-body question-body">
      <%- questionHtml %>
    </div>
    <%- include('questionFooter'); %>
  </div>
  <% } %>

  <% if (showTrueAnswer) { %>
  <div class="panel panel-info grading-block">
    <div class="panel-heading">
      <h3 class="panel-title">Correct answer</h3>
    </div>
    <div class="panel-body answer-body">
      <%- answerHtml %>
    </div>
  </div>
  <% } %>

  <% if (showSubmissions) { %>
  <div class="panel-group">
    <% submissions.forEach(function(submission, idx) { %>
      <%- include('submission', {submission: submission, submissionCount: submissions.length, submissionIdx: submissions.length - idx, submissionHtml: submissionHtmls[idx]}); %>
    <% }); %>
  </div>
  <% } %>

  <%- include('externalGradingLiveUpdate'); %>

</div>
