<div id="question-0" class="question-container">
  <% if (question.type != 'Freeform') { %>
  <div hidden="true" class="question-data"><%= questionJsonBase64 %></div>
  <% } %>

  <% issues.forEach(function(issue, iIssue) { %>
  <div class="card mb-4">
    <div class="card-header bg-danger text-white">
      <% if (issue.manually_reported) { %>
      Manually reported issue
      <% } else { %>
      Issue
      <% } %>
    </div>

    <table class="table table-sm table-hover two-column-description">
      <tbody>
        <% if (
                (!issue.course_instance_id) ||
                (
                  locals.course_instance &&
                  (course_instance.id == issue.course_instance_id) &&
                  authz_data.has_course_instance_permission_view
                )
              ) {

          // There are three situations in which the issue need not be anonymized:
          //
          //  1) The issue is not associated with a course instance. The only way
          //     for a user to generate an issue that is not associated with a course
          //     instance is if they are an instructor, so there are no student data
          //     to be protected in this case.
          //
          //  2) We are accessing this page through a course instance, the issue is
          //     associated with the same course instance, and the user has student
          //     data view access.
          //
          // Otherwise, all issues must be anonymized.

        %>
        <% let body = encodeURIComponent("Hello " + issue.user_name + ",\n\nRegarding the issue of:\n\n\"" + (issue.student_message || '-') +"\"\n\nWe've..."); %>
        <tr><th>User:</th><td><%= issue.user_name || '-'  %> (<a href="mailto:<%= issue.user_uid  || '-' %>?subject=Reported%20PrairieLearn%20Issue&body=<%= body %>"><%= issue.user_uid || '-' %></a>)</td></tr>
        <tr><th>Student message:</th><td><%= issue.student_message %></td></tr>
        <tr><th>Instructor message:</th><td><%= issue.instructor_message %></td></tr>
        <% } else if (authz_data.has_course_permission_preview) { %>
        <tr><th>Student message:</th><td><%= issue.student_message %></td></tr>
        <tr><th>Instructor message:</th><td><%= issue.instructor_message %></td></tr>
        <% } else { %>
        <tr><th>Message:</th><td><%= issue.student_message %></td></tr>
        <% } %>
        <tr><th>ID:</th><td><%= issue.id %></td></tr>
        <tr><th>Date:</th><td><%= issue.formatted_date %></td></tr>
      </tbody>
    </table>

    <% if (devMode || authz_data.has_course_permission_view) { %>
    <div class="card-body border border-bottom-0 border-left-0 border-right-0">
      <% if (issue.system_data.courseErrData) { %>
        <p><strong>Console log:</strong>
        <pre class="bg-dark text-white rounded p-3"><%= issue.system_data.courseErrData.outputBoth %></pre>
      <% } %>
      <p><strong>Associated data:</strong>
        <button type="button" class="btn btn-xs btn-secondary" data-toggle="collapse" href="#issue-course-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-course-data-<%= iIssue %>">
          Show/hide
        </button>
      </p>
      <div class="collapse" id="issue-course-data-<%= iIssue %>">
        <pre class="bg-dark text-white rounded p-3"><%= JSON.stringify(issue.course_data, null, '    ') %></pre>
      </div>
      <% if (is_administrator) { %>
      <p><strong>System data:</strong>
        <button type="button" class="btn btn-xs btn-secondary" data-toggle="collapse" href="#issue-system-data-<%= iIssue %>" aria-expanded="false" aria-controls="#issue-system-data-<%= iIssue %>">
          Show/hide
        </button>
      </p>
      <div class="collapse" id="issue-system-data-<%= iIssue %>">
        <pre class="bg-dark text-white rounded p-3"><%= JSON.stringify(issue.system_data, null, '    ') %></pre>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% }); %>


  <% if (question.type == 'Freeform') { %>
  <form class="question-form" name="question-form" method="POST" autocomplete="off">
    <div class="card mb-4 question-block">
      <div class="card-header bg-primary text-white">
        <% if (question_context == 'student_homework') { %>
          <%= instance_question_info.question_number %>. <%= question.title %>
        <% } else if (question_context == 'student_exam') { %>
          Question <%= instance_question_info.question_number %>: <%= question.title %>
        <% } else if (question_context == 'instructor' || question_context == 'manual_grading') { %>
          <%= question.title %>
        <% } else { %>
            <% throw Error('unknown question_context: ' + question_context); %>
        <% } %>
        <% if (authz_data.mode == 'Exam') { %>
        <div class="float-sm-right ml-1">
          <button class="btn btn-xs btn-light" type="button" data-toggle="modal" data-target="#iqqrcode" aria-expanded="false" aria-controls="iqqrcode">
            <i class="fa fa-question-circle" aria-hidden="true"></i> Proctor
          </button>
        </div>
        <% } %>
      </div>
      <div class="card-body question-body">
        <%- questionHtml %>
      </div>
      <%- include('questionFooter'); %>
    </div>
  </form>
  <% } %>


  <% if (question.type != 'Freeform') { %>
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <% if (question_context == 'student_homework') { %>
        <%= instance_question_info.question_number %>. <%= question.title %>
      <% } else if (question_context == 'student_exam') { %>
            <!-- FIXME: insert question number properly -->
            Question <%= instance_question_info.question_number %>: <%= question.title %>
      <% } else if (question_context == 'instructor' || question_context == 'manual_grading') { %>
        <%= question.title %>
      <% } else { %>
        <% throw Error('unknown question_context: ' + question_context); %>
      <% } %>
      <% if (authz_data.mode == 'Exam') { %>
        <div class="float-sm-right">
          <button class="btn btn-xs btn-secondary" type="button" data-toggle="modal" data-target="#iqqrcode" aria-expanded="false" aria-controls="iqqrcode">
            Proctor <i class="fa fa-question-circle"></i>
          </button>
        </div>
      <% } %>
    </div>
    <div class="card-body question-body">
      <%- questionHtml %>
    </div>
    <%- include('questionFooter'); %>
  </div>
  <% } %>

  <% if (authz_data.mode == 'Exam') { %>
  <div class="modal fade" id="iqqrcode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Proctor Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center><%- iqqrcode %></center>
          <p>If you need assistance with this question, proctors may use this link to get more information.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% if (showTrueAnswer) { %>
  <div class="card mb-4 grading-block">
    <div class="card-header bg-secondary text-white">Correct answer</div>
    <div class="card-body answer-body">
      <%- answerHtml %>
    </div>
  </div>
  <% } %>

  <%# Submissions section %>
  <% if (showSubmissions) { %>

    <%# Only shows this many recent submissions by default %>
    <% const MAX_TOP_RECENTS = 3; %>

    <%# Show the top submissions %>
    <% submissions.forEach(function(submission, idx) { %>
      <% if (submissions.length - idx > submissions.length - MAX_TOP_RECENTS) { %>
      <%- include('submission', {submission: submission, submissionCount: submissions.length, submissionIdx: submissions.length - idx, submissionHtml: submissionHtmls[idx]}); %>
      <% } %>
    <% }); %>

    <%# Optionally show the older submissions %>
    <% if (submissions.length > MAX_TOP_RECENTS) { %>

      <div class="mb-4 d-flex justify-content-center">
        <button class="show-hide-btn expand-icon-container btn btn-outline-secondary btn-sm collapsed" type="button" data-toggle="collapse" data-target="#more-submissions-collapser" aria-expanded="false" aria-controls="more-submissions-collapser">
          Show/hide older submissions
          <i class="fa fa-angle-up fa-fw ml-1 expand-icon"></i>
        </button>
      </div>

      <div id="more-submissions-collapser" class="collapse">

        <% submissions.forEach(function(submission, idx) { %>
          <% if (submissions.length - idx <= submissions.length - MAX_TOP_RECENTS) { %>
          <%- include('submission', {submission: submission, submissionCount: submissions.length, submissionIdx: submissions.length - idx, submissionHtml: submissionHtmls[idx]}); %>
          <% } %>
        <% }); %>

      </div>

    <% } %>

  <% } %> <%# endif showSubmissions %>

  <%- include('externalGradingLiveUpdate'); %>

</div>
