<div class="modal" tabindex="-1" role="dialog" id="rubric-settings-modal-<%= type %>">
  <div class="modal-dialog modal-xl border-info" role="document">
    <form name="rubric-settings-<%= type %>" method="POST">
      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
      <input type="hidden" name="__action" value="modify_rubric_settings">
      <input type="hidden" name="rubric_type" value="<%= type %>">
      <input type="hidden" name="modified_at" value="<%= rubric?.rubric_data?.modified_at %>">
      
      <div class="modal-content">
        <div class="modal-header bg-info text-light">
          <h5 class="modal-title">Rubric settings: <%= type_verbose %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" name="use_rubrics" type="checkbox" value="true" <% if (rubric?.rubric_data) { %>checked<% } %>>
              Use rubrics
            </label>
          </div>
          <div class="js-rubric-settings-<%= type %>">
            <hr/>
            <div class="form-row">
              <div class="col-4">
                <div class="form-check">
                  <label class="form-check-label" data-toggle="tooltip"
                         title="Start grading at zero and add points">
                    <input class="form-check-input" name="starting_points" type="radio" value="0"
                           <% if ((rubric?.rubric_data?.starting_points ?? 0) == 0) { %>checked<% } %>>
                    Positive grading
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label" data-toggle="tooltip"
                         title="Start grading at 100% (<%= max_points %> points) and subtract penalties">
                    <input class="form-check-input js-negative-grading" name="starting_points" type="radio" value="<%= max_points %>"
                           <% if (rubric?.rubric_data?.starting_points == max_points) { %>checked<% } %>>
                    Negative grading
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" name="starting_points" type="radio" value="CUSTOM"
                           <% if (![0, max_points].includes(rubric?.rubric_data?.starting_points ?? 0)) { %>checked<% } %>>
                    Custom starting points
                  </label>
                </div>
                <div class="js-starting-points-custom-<%= type %>">
                  <label><span class="sr-only">Starting points</span>
                    <input class="form-control" name="starting_points_custom" type="number" value="<%= rubric?.rubric_data?.starting_points ?? max_points %>">
                  </label>
                </div>
              </div>
              <div class="form-group col-4">
                <label data-toggle="tooltip" title="Minimum number of points to be assigned to a student from the rubric (out of <%= max_points %>). Rubric items with negative points will not cause the grade to become lower than this value.">
                  Minimum points
                  <input class="form-control" name="min_points" type="number" value="<%= rubric?.rubric_data?.min_points ?? 0 %>">
                </label>
              </div>
              <div class="form-group col-4">
                <label data-toggle="tooltip" title="Minimum number of points to be assigned to a student from the rubric (out of <%= max_points %>). Rubric items with positive points will not cause the grade to become higher than this value.">
                  Maximum points
                  <input class="form-control" name="max_points" type="number" value="<%= rubric?.rubric_data?.max_points ?? max_points %>">
                </label>
              </div>
            </div>
            <hr/>
            <div>
              <table class="table table-sm table-striped js-rubric-items-table">
                <thead>
                  <tr>
                    <th><!-- Order --></th>
                    <th>Points</th>
                    <th>Text</th>
                    <th>Detailed description</th>
                    <th>Grader note</th>
                </thead>
                <tbody>
                  <% (rubric?.rubric_items || []).forEach((item, index) => { %>
                  <tr ondragover="rowDragOver(event)">
                    <td>
                      <input type="hidden"
                             name="rubric_item[cur<%= item.rubric_item.id %>][id]"
                             value="<%= item.rubric_item.id %>">
                      <input type="hidden" class="js-rubric-item-row-order"
                             name="rubric_item[cur<%= item.rubric_item.id %>][order]"
                             value="<%= index %>">
                      <button type="button" class="btn btn-sm"
                              draggable="true" ondragstart="rowDragStart(event)">
                        <i class="fas fa-arrows-up-down"></i>
                      </button>
                      <button type="button" class="btn btn-sm sr-only" onclick="moveRowDown(event)">
                        Move down
                      </button>
                      <button type="button" class="btn btn-sm sr-only" onclick="moveRowUp(event)">
                        Move up
                      </button>
                      <!-- TODO delete, keybinding -->
                    </td>
                    <td style="max-width: 4rem">
                      <input type="number" class="form-control" step="any"
                             name="rubric_item[cur<%= item.rubric_item.id %>][points]"
                             value="<%= item.rubric_item.points %>">
                    </td>
                    <td>
                      <input type="text" class="form-control"
                             name="rubric_item[cur<%= item.rubric_item.id %>][short_text]"
                             value="<%= item.rubric_item.short_text %>">
                    </td>
                    <td>
                      <label data-input-name="rubric_item[cur<%= item.rubric_item.id %>][description]"
                             data-current-value="<%= item.rubric_item.description %>">
                        <%= item.rubric_item.description %>
                        <button type="button" class="btn btn-sm"
                                onclick="enableRubricItemDescriptionField(event)">
                          <i class="fas fa-pencil"></i>
                        </button>
                      </label>
                    </td>
                    <td>
                      <label data-input-name="rubric_item[cur<%= item.rubric_item.id %>][staff_instructions]"
                             data-current-value="<%= item.rubric_item.staff_instructions %>">
                        <%= item.rubric_item.staff_instructions %>
                        <button type="button" class="btn btn-sm"
                                onclick="enableRubricItemDescriptionField(event)">
                          <i class="fas fa-pencil"></i>
                        </button>
                      </label>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <button type="button" class="btn btn-sm btn-secondary js-add-rubric-item-button">
                Add item
              </button>
              <% if (variant.params || variant.true_answer) { %>
              <div class="small form-text text-muted">
                Rubric items may be populated with values like:
                <ul style="max-height: 7rem; overflow-y: auto;">
                  <% Object.keys(variant.params || {}).forEach((key) => { %>
                  <li><code>{{params.<%= key %>}}</code></li>
                  <% }); %>
                  <% Object.keys(variant.true_answer || {}).forEach((key) => { %>
                  <li><code>{{correct_answers.<%= key %>}}</code></li>
                  <% }); %>
                </ul>
              </div>
              <% } %>
            </div>
            <hr/>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="true">
                Tag all previously graded submissions to be graded again
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <% if (authz_data.has_course_instance_permission_edit) { %>
          <button type="submit" class="btn btn-primary">Confirm</button>
          <% } %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  window.enableRubricItemDescriptionField = function(event) {
    const cell = $(event.target).parents('label:first');
    const data = cell.data();
    const input = $('<textarea class="form-control">')
          .attr('name', data.inputName)
          .text(data.currentValue)
    cell.after(input).remove();
    input.focus();
  };
  window.updateRubricItemOrderField = function() {
    $('.js-rubric-item-row-order').val(index => index);
  };
  window.moveRowDown = function(event) {
    const row = $(event.target).parents('tr:first');
    row.insertAfter(row.next());
    updateRubricItemOrderField();
  };
  window.moveRowUp = function(event) {
    const row = $(event.target).parents('tr:first');
    row.insertBefore(row.prev());
    updateRubricItemOrderField();
  };
  window.rowDragStart = function(event) {
    window.rubricItemRowDragging = $(event.target).parents('tr:first');
    event.originalEvent.dataTransfer.effectAllowed = "move";
  }
  window.rowDragOver = function(event) {
    const row = $(event.target).parents('tr:first');
    const rowList = window.rubricItemRowDragging.parents('tbody:first').find('tr');
    const draggingRowIdx = rowList.index(window.rubricItemRowDragging);
    const targetRowIdx = rowList.index(row);
    if (targetRowIdx == -1 || draggingRowIdx == -1) return;
    event.preventDefault();
    if (targetRowIdx > draggingRowIdx)
      row.after(window.rubricItemRowDragging);
    else
      row.before(window.rubricItemRowDragging);
    updateRubricItemOrderField();
  }
  $(() => {
    updateRubricItemOrderField();
    $('#rubric-settings-modal-<%= type %> input[name="use_rubrics"]').change(() => {
      $('.js-rubric-settings-<%= type %>')
        .toggle($('#rubric-settings-modal-<%= type %> input[name="use_rubrics"]').is(':checked'));
    }).change();
    $('#rubric-settings-modal-<%= type %> input[name="starting_points"]').change(() => {
      $('.js-starting-points-custom-<%= type %>')
        .toggle($('#rubric-settings-modal-<%= type %> input[name="starting_points"]:checked').val() == 'CUSTOM');
    }).change();
    $('#rubric-settings-modal-<%= type %> .js-add-rubric-item-button').click(() => {
      const table = $('#rubric-settings-modal-<%= type %> .js-rubric-items-table');
      const next_id = (table.data('next-new-id') ?? 0) + 1;
      const points = $('#rubric-settings-modal-<%= type %> .js-negative-grading').prop('checked') ? -1 : +1;
      table.data('next-new-id', next_id);
      $('<tr>')
        .on('dragover', rowDragOver)
        .on('dragenter', rowDragOver)
        .append($('<td>')
                .append($('<input type="hidden" class="js-rubric-item-row-order">')
                        .attr('name', `rubric_item[new${next_id}][order]`))
                .append($('<button type="button" class="btn btn-sm">')
                        .attr('draggable', 'true')
                        .append('<i class="fas fa-arrows-up-down">')
                        .on('dragstart', rowDragStart))
               )
        .append($('<td style="max-width: 4rem">')
                .append($('<input type="number" class="form-control" step="any">')
                        .attr('name', `rubric_item[new${next_id}][points]`)
                        .val(points)))
        .append($('<td>')
                .append($('<input type="text" class="form-control">')
                        .attr('name', `rubric_item[new${next_id}][short_text]`)))
        .append($('<td>')
                .append($('<label>')
                        .data('input-name', `rubric_item[new${next_id}][description]`)
                        .append($('<button type="button" class="btn btn-sm">')
                                .click(enableRubricItemDescriptionField)
                                .append('<i class="fas fa-pencil"></i>'))))
        .append($('<td>')
                .append($('<label>')
                        .data('input-name', `rubric_item[new${next_id}][staff_instructions]`)
                        .append($('<button type="button" class="btn btn-sm">')
                                .click(enableRubricItemDescriptionField)
                                .append('<i class="fas fa-pencil"></i>'))))
        .appendTo(table)
        .find('input[type="text"]:first').focus();
      updateRubricItemOrderField();
    });
  });
</script>
