<% if (submission.graded_at == null) { %>
    <% if (submission.grading_requested_at == null) { %>
        <% if (submission.gradable) { %>
            <span class="badge badge-info">saved, not graded</span>
        <% } else { %>
            <span class="badge badge-danger">invalid, not gradable</span>
        <% } %>
    <% } else { %>
        <% if (submission.grading_method == 'External') { %>
            <span id="grading-status-<%= submission.id %>" class="badge badge-secondary"></span>
        <% } else if (submission.grading_method == 'Manual') { %>
            <span class="badge badge-secondary">waiting for manual grading</span>
        <% } else { %>
            <span class="badge badge-secondary">waiting for grading</span>
        <% } %>
    <% } %>
<% } else if (submission.score == 1) { %>
    <% if ((typeof submission.v2_score !== 'undefined') && (submission.v2_score !== null) && (submission.v2_score < 1)) { %>
        <span class="badge badge-success">correct: 100% (rounded up from <%= Math.floor(submission.v2_score * 100) %>%)</span>
        <span><%= submission.v2_score > 0 %></span>
    <% } else { %>
        <span class="badge badge-success">correct: 100%</span>
    <% } %>
<% } else if (submission.score > 0) { %>
    <span class="badge badge-warning">partially correct: <%= Math.floor(submission.score * 100) %>%</span>
<% } else { %>
    <% if ((typeof submission.v2_score !== 'undefined') && (submission.v2_score !== null) && (submission.v2_score >= 0.01)) { %>
        <span class="badge badge-danger">incorrect: 0% (rounded down from <%= Math.floor(submission.v2_score * 100) %>%)</span>
    <% } else { %>
        <span class="badge badge-danger">incorrect: 0%</span>
    <% } %>
<% } %>
