<!-- Keeping "graded" state in the DOM is bad, yet here we are. -->
<div class="card mb-4 pastsubmission-block" data-grading-job-status="<%= submission.grading_job_status %>" data-grading-job-id="<%= submission.grading_job_id %>" id="submission-<%= submission.id %>">
  <div class="card-header bg-light text-dark d-flex align-items-center">
    Submitted answer
    <% if (submissionCount > 1) { %>
    <%= submissionIdx %>
    <% } %>
    <span class="ml-2"><%- include('submissionStatus', {submission: submission}); %></span>
    <small class="ml-auto">Submitted at <%- submission.formatted_date %></small>
  </div>

  <div class="card-body submission-body">
    <%- submissionHtml %>
  </div>
</div>
