<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
    <%- compiled_script_tag('instructorAssessmentInstanceClient.ts') %>
  </head>
  <body>
    <script>
      $(() => {
        $('[data-toggle="popover"]').popover({ sanitize: false });
      });
    </script>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <% var assessmentInstanceOwner = assessment.group_work ? instance_group.name : instance_user.name; %>
    <main id="content" class="container-fluid">
      <div class="modal fade" id="resetQuestionVariantsModal" tabindex="-1" role="dialog" aria-labelledby="resetQuestionVariantsModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="resetQuestionVariantsModalLabel">Confirm reset question variants</h4>
            </div>
            <div class="modal-body">
              <p>
                Are your sure you want to reset all current variants of this question for this <%= assessment.group_work ? "group" : "student" %>?
                <strong>All ungraded attempts will be lost.</strong>
              </p>
              <p>
                This <%= assessment.group_work ? "group" : "student" %> will receive a new variant the next time they view this question.
              </p>
            </div>
            <div class="modal-footer">
              <form name="reset-question-variants-form" method="POST">
                <input type="hidden" name="__action" value="reset_question_variants">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <input type="hidden" name="unsafe_instance_question_id" class="js-instance-question-id" value="">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Reset question variants</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Summary:
          <% if (instance_group) { %>
            <%= instance_group.name %> <i class="fas fa-users"></i>
          <% } else if (instance_user) { %>
            <%= instance_user.name %> (<%= instance_user.uid %>)
          <% } %>
        </div>

        <table class="table table-sm table-hover two-column-description">
          <tbody>
            <% if (instance_group) { %>
              <tr><th>Name</th><td colspan="2"><%= instance_group.name %></td></tr>
              <tr><th>Group Members</th><td colspan="2"><%= instance_group_uid_list.join(', ') %></td></tr>
            <% } else if (instance_user) { %>
              <tr><th>UID</th><td colspan="2"><%= instance_user.uid %></td></tr>
              <tr><th>Name</th><td colspan="2"><%= instance_user.name %></td></tr>
              <tr><th>Role</th><td colspan="2"><%= instance_role %></td></tr>
            <% } %>
            <tr><th>Instance</th><td colspan="2"><%= assessment_instance.number %>
                (<a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/assessment_instance/<%= assessment_instance.id %>">student view</a>)
            </td></tr>
            <% if (instance_user) { %>
            <tr>
              <th>Fingerprint Changes</th>
              <td colspan="2">
                <%= assessment_instance.client_fingerprint_id_change_count %>
                <a tabindex="0" class="btn btn-xs" role="button"
                      data-toggle="popover" data-trigger="focus" data-container="body"
                      data-html="true" title="Client Fingerprint Changes"
                      data-content="Client fingerprints are a record of a user's IP address, user agent and sesssion. These attributes are tracked while a user is accessing an exam. The amount of times that those attributes change while accessing the exam are displayed here. While some changes may occur during an assessment, a high number of changes could be an indication of multiple people using the same login. "
                  ><i class="fa fa-question-circle"></i></a>
              </td>
            </tr>
            <% } %>
            
            <tr>
              <th>Points</th>
              <td colspan="2">
                <% include('../partials/pointsFormatter'); %>
                <span id="total-points"><%= getStringFromFloat(assessment_instance.points) %></span>
                <small>/<span id="total-max-points" class="text-muted"><%= getStringFromFloat(assessment_instance.max_points) %></span></small>
                <% if (authz_data.has_course_instance_permission_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary"
                   id="editTotalPointsButton"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change total points"
                   data-content="<%= include('editTotalPointsForm',
                                 {id: 'editTotalPointsButton'}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
            </tr>
            <tr>
              <th>Score</th>
              <td class="align-middle" style="width: 20%;">
                <%- include('../partials/scorebar', {score: assessment_instance.score_perc}); %>
              </td>
              <td class="align-middle" style="width: 100%;">
                <% if (authz_data.has_course_instance_permission_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary"
                   id="editTotalScorePercButton"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change total percentage score"
                   data-content="<%= include('editTotalScorePercForm',
                                 {id: 'editTotalScorePercButton'}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
            </tr>
            <tr>
              <th>Statistics</th>
              <td colspan="2">
                <% if (assessment_instance.include_in_statistics) { %>
                    Included
                    <a tabindex="0" class="btn btn-xs" role="button"
                        data-toggle="popover" data-trigger="focus" data-container="body"
                        data-html="true" title="Included in statistics"
                        data-content="This assessment is included in the calculation of assessment and question statistics"
                    ><i class="fa fa-question-circle"></i></a>
                <% } else { %>
                  Not included
                  <a tabindex="0" class="btn btn-xs" role="button"
                      data-toggle="popover" data-trigger="focus" data-container="body"
                      data-html="true" title="Not included in statistics"
                      data-content="This assessment is not included in the calculation of assessment and question statistics because it was created by a course staff member"
                  ><i class="fa fa-question-circle"></i></a>
                <% } %>
              </td>
            </tr>
            <tr><th>Date started</th><td colspan="2"><%= assessment_instance_date_formatted %></td></tr>
            <tr><th>Duration</th><td colspan="2"><%= assessment_instance_duration %></td></tr>
          </tbody>
        </table>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Questions:
          <% if (instance_group) { %>
            <%= instance_group.name %> <i class="fas fa-users"></i>
          <% } else if (instance_user) { %>
            <%= instance_user.name %> (<%= instance_user.uid %>)
          <% } %>
        </div>

        <table id="instanceQuestionList" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Student question</th>
              <th>Instructor question</th>
              <th class="text-center">Auto-grading points</th>
              <th class="text-center">Manual grading points</th>
              <th class="text-center">Awarded points</th>
              <th class="text-center" colspan="2">
                Percentage score
              </th>
              <th><%# Manual grading column %></th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% instance_questions.forEach(function(instance_question, i_instance_question) { %>
            <% if (instance_question.start_new_zone && instance_question.zone_title) { %>
            <tr>
                <th colspan="6">
                  <%= instance_question.zone_title %>
                  <% if (instance_question.zone_has_max_points) { %>
                      (maximum <%= instance_question.zone_max_points %> points)
                  <% } %>
                  <% if (instance_question.zone_has_best_questions) { %>
                      (best <%= instance_question.zone_best_questions %> questions)
                  <% } %>
                </th>
            </tr>
            <% } %>
            <tr>
              <td>
                S-<%= instance_question.question_number %>.
                (<a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instance_question/<%= instance_question.id %>/">student view</a>)
              </td>
              <td>
                I-<%= instance_question.instructor_question_number %>.
                <%= instance_question.qid %>
                (<a href="<%= urlPrefix %>/question/<%= instance_question.question_id %>/">instructor view</a>)
              </td>
              <td class="text-center">
                <%- include('../partials/instanceQuestionPoints', {instance_question, component: 'auto'}); %>
                <% if (authz_data.has_course_instance_permission_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary editQuestionAutoPointsButton"
                   id="editQuestionPointsAuto<%= i_instance_question %>"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change question <%= instance_question.question_number %> points"
                   data-content="<%= include('../partials/editQuestionPointsForm',
                                 {id: 'editQuestionPointsAuto' + i_instance_question,
                                 field: 'auto_points',
                                 instance_question: {...instance_question, points: instance_question.auto_points, max_points: instance_question.max_auto_points}}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
              <td class="text-center">
                <%- include('../partials/instanceQuestionPoints', {instance_question, component: 'manual'}); %>
                <% if (authz_data.has_course_instance_permission_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary editQuestionManualPointsButton"
                   id="editQuestionPointsManual<%= i_instance_question %>"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change question <%= instance_question.question_number %> points"
                   data-content="<%= include('../partials/editQuestionPointsForm',
                                 {id: 'editQuestionPointsManual' + i_instance_question,
                                 field: 'manual_points',
                                 instance_question: {...instance_question, points: instance_question.manual_points, max_points: instance_question.max_manual_points}}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
              <td class="text-center">
                <%- include('../partials/instanceQuestionPoints', {instance_question, component: 'total'}); %>
                <% if (authz_data.has_course_instance_permission_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary editQuestionPointsButton"
                   id="editQuestionPoints<%= i_instance_question %>"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change question <%= instance_question.question_number %> points"
                   data-content="<%= include('../partials/editQuestionPointsForm',
                                 {id: 'editQuestionPoints' + i_instance_question,
                                 instance_question: instance_question}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
              <td class="align-middle text-center text-nowrap">
                <%- include('../partials/scorebar', {score: instance_question.score_perc}); %>
              </td>
              <td class="align-middle" style="width: 1em;">
                <% if (authz_data.has_course_instance_permission_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary editQuestionScorePercButton"
                   id="editQuestionScorePerc<%= i_instance_question %>"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change question <%= instance_question.question_number %> percentage score"
                   data-content="<%= include('../partials/editQuestionScorePercForm',
                                 {id: 'editQuestionScorePerc' + i_instance_question,
                                 instance_question: instance_question}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
              <td class="align-middle text-nowrap" style="width: 1em;">
                <% if (authz_data.has_course_instance_permission_edit && instance_question.status !== 'unanswered') { %>
                <a class="btn btn-xs btn-secondary" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/manual_grading/instance_question/<%= instance_question.id %>">Manual grading</a>
                <% } %>
              </td>
              <td class="text-right">
                <div class="dropdown js-question-actions">
                  <button type="button" class="btn btn-secondary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                  </button>

                  <div class="dropdown-menu dropdown-menu-right">
                    <% if (authz_data.has_course_instance_permission_edit) { %>
                      <button
                        class="dropdown-item"
                        data-toggle="modal"
                        data-target="#resetQuestionVariantsModal"
                        data-instance-question-id="<%= instance_question.id %>"
                      >
                        Reset question variants
                      </button>
                    <% } %>
                  </div>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Statistics:
          <% if (instance_group) { %>
            <%= instance_group.name %> <i class="fas fa-users"></i>
          <% } else if (instance_user) { %>
            <%= instance_user.name %> (<%= instance_user.uid %>)
          <% } %>
        </div>
        <table id="instanceQuestionStatsTable" class="table table-sm table-hover tablesorter">
          <thead>
          <tr>
            <th>Instructor question</th>
            <th>Some submission</th>
            <th>Some perfect submission</th>
            <th>Some nonzero submission</th>
            <th>First submission score</th>
            <th>Last submission score</th>
            <th>Max submission score</th>
            <th>Average submission score</th>
          </tr>
          </thead>
          <tbody>
          <% assessment_instance_stats.forEach(function(row) { %>
          <tr>
            <td>
              I-<%= row.number %>.
              <a href="<%= urlPrefix %>/question/<%= row.question_id %>/"><%= row.qid %></a>
            </td>
            <td><%= row.some_submission %></td>
            <td><%= row.some_perfect_submission %></td>
            <td><%= row.some_nonzero_submission %></td>
            <td><%= formatFloat(row.first_submission_score, 2) %></td>
            <td><%= formatFloat(row.last_submission_score, 2) %></td>
            <td><%= formatFloat(row.max_submission_score, 2) %></td>
            <td><%= formatFloat(row.average_submission_score, 2) %></td>
          </tr>
          <% }); %>
          </tbody>
        </table>
        <script>
            $(function(){
                $("#loginstanceQuestionStatsTable").tablesorter({
                    theme: "bootstrap",
                    widthFixed: true,
                    headerTemplate: '{content} {icon}',
                    widgets: ["uitheme"],
                });
            });
        </script>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Log:
          <% if (instance_group) { %>
            <%= instance_group.name %> <i class="fas fa-users"></i>
          <% } else if (instance_user) { %>
            <%= instance_user.name %> (<%= instance_user.uid %>)
          <% } %>
        </div>
        <div class="card-body">
          <small>
            Click on a column header to sort. Shift-click on a second header to sub-sort.
            Download <a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.
            Uploaded student files are not shown above or in the CSV file.
            Student files can be downloaded on the <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/downloads">Downloads</a> tab.
          </small>
        </div>

        <table id="logTable" class="table table-sm table-hover tablesorter">
          <thead>
            <tr>
              <th>Time</th>
              <th>User</th>
              <th>Fingerprint</th>
              <th>Event</th>
              <th>Instructor question</th>
              <th>Student question</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <%const fingerprint_colors = ['red2', 'orange2', 'green2', 'blue2', 'turquoise2', 'purple2']; %>
            <% log.forEach(function(row, index) { %>
            <tr>
              <td class="text-nowrap"><%= row.formatted_date %></td>
              <td>
                <% if (row.auth_user_uid) { %>
                  <%= row.auth_user_uid %>
                <% } else { %>
                  &mdash;
                <% } %>
              </td>
              <% if (row.client_fingerprint) { %>
              <td><a tabindex="0" class="badge color-<%= fingerprint_colors[row.client_fingerprint_number % 6] %> color-hover"
                role="button"
                id="fingerprintPopover<%= row.client_fingerprint?.id %>"
                data-toggle="popover" data-container="body"
                data-html="true" data-placement="auto" title="Fingerprint <%= row.client_fingerprint_number%>"
                data-content="
                  <div>
                    IP Address: <%= row.client_fingerprint?.ip_address %>
                  </div>
                  <div>
                    Session ID: <%= row.client_fingerprint?.user_session_id %>
                  </div>
                  <div>
                    User Agent: <%= row.client_fingerprint?.user_agent %>
                  </div>
                "
                data-trigger="focus" >
               <%= row.client_fingerprint_number %>
                </a>
              </td>
              <% } else { %>
              <td>&mdash;</td>
              <% } %>
              <td><span class="badge color-<%= row.event_color %>"><%= row.event_name %></span></td>
              <td>
                <% if (row.qid) { %>
                <a href="<%= urlPrefix %>/question/<%= row.question_id %>/">
                  I-<%= row.instructor_question_number %> (<%= row.qid %>)
                </a>
                <% } %>
              </td>
              <td>
                <% if (row.student_question_number) { %>
                <% if (row.variant_id) { %>
                <a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instance_question/<%= row.instance_question_id %>/?variant_id=<%= row.variant_id %>">
                  S-<%= row.student_question_number %>#<%= row.variant_number %>
                </a>
                <% } else { %>
                  S-<%= row.student_question_number %>
                <% } %>
                <% } %>
              </td>
              <% if (row.event_name != 'External grading results') { %>
              <td style="word-break: break-all;"><%= (row.data != null) ? JSON.stringify(row.data) : null %></td>
              <% } else { %>
              <td><a class="btn btn-primary" href="<%= urlPrefix %>/grading_job/<%= row.data.id %>">View grading job <%= row.data.id %></a></td>
              <% } %>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <script>
          $(function(){
              $("#logTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme"],
              });
          });
        </script>
        <div class="card-footer">
          <small>
            Download <a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.
            Uploaded student files are not shown above or in the CSV file.
            Student files can be downloaded on the <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/downloads">Downloads</a> tab.
          </small>
        </div>
      </div>

    </main>
  </body>
</html>
