<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false});
          $('.time-limit-edit-button').popover({
              sanitize: false,
              placement: 'right',
              title: function() {
                  let row = $(this).data('row');
                  return row.action == 'set_time_limit_all' ? 'Change Time Limits' :
                      row.open ? 'Change Time Limit' : 'Re-Open Instance';
              },
              container: 'body',
              html: true,
              trigger: 'click',
              content: function() {
                  let that = this;
                  let row = $(this).data('row');
                  let form = $('<form name="set-time-limit-form" method="POST">');
                  let action = row.action ? row.action : 'set_time_limit';
                  form.append(`<p>Total time limit: ${row.total_time}<br/>
                                  Remaining time: ${row.time_remaining}
                               </p>`);
                  form.append(`<input type="hidden" name="__action" value="${action}">`);
                  form.append('<input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">');
                  if (row.assessment_instance_id) {
                      form.append(`<input type="hidden" name="assessment_instance_id" value="${row.assessment_instance_id}">`);
                  }
                  let select = $('<select class="form-control select-time-limit" name="plus_minus">');
                  if (row.time_remaining_sec !== null) {
                      if (row.has_open_instance) {
                          select.append('<option value="+1">Add to instances with time limit</option>');
                          select.append('<option value="-1">Subtract from instances with time limit</option>');
                      } else {
                          select.append('<option value="+1">Add</option>');
                          select.append('<option value="-1">Subtract</option>');
                      }
                  }
                  select.append('<option value="set_total">Set total time limit to</option>');
                  select.append('<option value="set_rem">Set remaining time to</option>');
                  if (!row.open || row.time_remaining_sec !== null) {
                      select.append('<option value="unlimited">Remove time limit</option>');
                  }
                  if (row.open !== false && (row.time_remaining_sec === null ||
                                             row.time_remaining_sec > 0)) {
                      select.append('<option value="expire">Expire time limit</option>');
                  }
                  select.change(function() {
                      $(this).parents('form').find('.time-limit-field').toggle($(this).val() != 'unlimited' && $(this).val() != 'expire');
                      $(this).parents('form').find('.reopen-closed-field').toggle($(this).val() != '+1' && $(this).val() != '-1' && $(this).val() != 'expire');
                  });
                  form.append(select);
                  let new_time = $('<p class="form-inline">');
                  new_time.append('<input class="form-control time-limit-field" type="number" name="time_add" style="width: 5em" value="5">');
                  let time_ref_select = $('<select class="form-control time-limit-field" name="time_ref">');
                  time_ref_select.append('<option value="minutes">minutes</option>');
                  if (row.time_remaining_sec !== null) {
                      time_ref_select.append('<option value="percent">% total limit</option>');
                  }
                  new_time.append(time_ref_select);
                  form.append(new_time);
                  if (row.has_closed_instance) {
                      let checkbox = $('<div class="form-check mb-2 reopen-closed-field"><input class="form-check-input" type="checkbox" name="reopen_closed" value="true" id="reopen-closed"><label class="form-check-label" for="reopen-closed">Also re-open closed instances</label></div>');
                      checkbox.toggle(row.time_remaining_sec === null);
                      form.append(checkbox);
                  }
                  let buttons = $('<div class="btn-toolbar pull-right">');
                  let cancel_button = $('<button type="button" class="btn btn-secondary mr-2">Cancel</button>');
                  cancel_button.click(function() {
                      $(that).popover('hide')
                  });
                  buttons.append(cancel_button);
                  buttons.append('<button type="submit" class="btn btn-success">Set</button>');
                  form.append(buttons);
                  return form;
              },
          }).on("show.bs.popover", function() {
              $($(this).data("bs.popover").getTipElement()).css("max-width", "350px");
              $(this).find('.select-time-limit').change();
          });
      });
    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <% if (authz_data.has_course_instance_permission_edit) { %>
      <div class="modal fade" id="deleteAssessmentInstanceModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssessmentInstance">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="deleteAssessmentInstanceModalLabel">Delete assessment instance</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete assessment instance
              <span class="modal-number"></span> of
              <strong><%= assessment_set.name %>
              <%= assessment.number %></strong> for
              <strong><span class="modal-name"></span></strong>
              (<span class="modal-uid"></span>) started at
              <strong><span class="modal-date"></span></strong> with a
              score of
              <strong><span class="modal-score-perc"></span>%</strong>?
            </div>
            <div class="modal-footer">
              <form name="delete-form" method="POST">
                <input type="hidden" name="__action" value="delete">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <input type="hidden" name="assessment_instance_id" class="modal-assessment-instance-id" value="">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <script>
        $('#deleteAssessmentInstanceModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var uid = button.data('uid'); // Extract info from data-* attributes
            var name = button.data('name');
            var number = button.data('number');
            var date_formatted = button.data('date-formatted');
            var score_perc = button.data('score-perc');
            var assessment_instance_id = button.data('assessment-instance-id');
            var modal = $(this);
            modal.find('.modal-uid').text(uid);
            modal.find('.modal-name').text(name);
            modal.find('.modal-number').text(number);
            modal.find('.modal-date').text(date_formatted);
            modal.find('.modal-score-perc').text(score_perc);
            modal.find('.modal-assessment-instance-id').val(assessment_instance_id);
        });
      </script>

      <div class="modal fade" id="deleteAllAssessmentInstancesModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllAssessmentInstances">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="deleteAllAssessmentInstancesModalLabel">Delete all assessment instances</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete all assessment instances
              for <strong><%= assessment_set.name %>
              <%= assessment.number %></strong>? This cannot be
              undone.
            </div>
            <div class="modal-footer">
              <form name="delete-all-form" method="POST">
                <input type="hidden" name="__action" value="delete_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete all</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <div class="modal fade" id="gradeAllAssessmentInstancesModal" tabindex="-1" role="dialog" aria-labelledby="gradeAllAssessmentInstances">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="gradeAllAssessmentInstancesModalLabel">Grade all assessment instances</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to grade pending submissions for all assessment instances
              for <strong><%= assessment_set.name %>
              <%= assessment.number %></strong>? This cannot be
              undone.
            </div>
            <div class="modal-footer">
              <form name="grade-all-form" method="POST">
                <input type="hidden" name="__action" value="grade_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Grade all</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="closeAllAssessmentInstancesModal" tabindex="-1" role="dialog" aria-labelledby="closeAllAssessmentInstances">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="closeAllAssessmentInstancesModalLabel">Grade and Close all assessment instances</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to grade and close all assessment instances
              for <strong><%= assessment_set.name %>
              <%= assessment.number %></strong>? This cannot be
              undone.
            </div>
            <div class="modal-footer">
              <form name="grade-all-form" method="POST">
                <input type="hidden" name="__action" value="close_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Grade and Close all</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Students
          <% if (authz_data.has_course_instance_permission_edit) { %>
          <div class="ml-auto">
            <div class="dropdown d-flex flex-row">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action for all instances <span class="caret"></span>
              </button>
              <%# Capture all clicks to dropdown items to prevent scrolling to the top of the page %>
              <div class="dropdown-menu dropdown-menu-right" onclick="window.event.preventDefault();">
                
                <% if (authz_data.has_instructor_edit) { %>
                <a class="dropdown-item"
                   role="button" tabindex="0"
                   data-toggle="modal" data-target="#deleteAllAssessmentInstancesModal">
                  <i class="fas fa-times" aria-hidden="true"></i> Delete all instances
                </a>
                <a role="button" tabindex="0" class="dropdown-item time-limit-edit-button" data-row="<%= JSON.stringify(time_limit_totals) %>">
                  <i class="far fa-clock" aria-hidden="true"></i> Change time limit for all instances
                </a>
                <a class="dropdown-item"
                   role="button" tabindex="0"
                   data-toggle="modal" data-target="#gradeAllAssessmentInstancesModal">
                  <i class="fas fa-clipboard-check" aria-hidden="true"></i> Grade all instances
                </a>
                <a class="dropdown-item"
                   role="button" tabindex="0"
                   data-toggle="modal" data-target="#closeAllAssessmentInstancesModal">
                  <i class="fas fa-ban" aria-hidden="true"></i> Grade and close all instances
                </a>
                <% } %>
                
              </div>
            </div>
          </div>
          <% } %>
        </div>

        <div class="table-responsive">
          <table id="usersTable" class="table table-sm table-hover tablesorter">
            <thead>
              <tr>
                <% if (assessment.group_work) { %>
                  <th>Name</th>
                  <th>Group Members</th>
                <% } else { %>
                  <th>UID</th>
                  <th>Name</th>
                  <th class="text-center">Role</th>
                <% } %>
                <th class="text-center">Instance</th>
                <th class="text-center">Score</th>
                <th class="text-center">Date started</th>
                <th class="text-center">Duration</th>
                <th class="text-center">Remaining</th>
                <% if (authz_data.has_course_instance_permission_edit) { %><th class="text-center"></th><% } %>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <% user_scores.forEach(function(row, iRow) { %>
                <%# Not showing already deleted group %>
                <% if (assessment.group_work && !row.group_name) { %>
                  <% return; %>
                <% } %>
              <tr>
                <% if (assessment.group_work) { %>
                  <td class="align-middle"><%= row.group_name %></td>
                  <td class="text-center align-middle" style ="word-break:break-all;"><small><%= row.uid_list %></small></td>
                <% } else { %>
                <td class="align-middle"><%= row.uid %></td>
                <td class="align-middle"><%= row.name %></td>
                <td class="text-center align-middle"><%= row.role %></td>
                <% } %>
                <td class="text-center align-middle"><%= row.number %></td>
                <td class="text-center align-middle"><%- include('../partials/scorebar', {score: row.score_perc}); %></td>
                <td class="text-center align-middle"><%= row.date_formatted %></td>
                <td class="text-center align-middle" data-text="<%= row.duration_secs %>"><%= row.duration %></td>
                <td class="text-center align-middle">
                  <%= row.time_remaining %>
                  <% if (authz_data.has_instructor_edit) { %>
                  <a role="button" tabindex="0" class="btn btn-xs time-limit-edit-button" data-row="<%= JSON.stringify(row) %>" >
                    <i class="fas fa-edit" aria-hidden="true"></i>
                  </a>
                  <% } %>
                </td>
                <td class="text-center align-middle">
                  <div class="dropdown">
                    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action <span class="caret"></span>
                    </button>
                    <div id="row<%= iRow %>PopoverClose"
                         tabindex="0" data-toggle="popover" data-trigger="manual" data-container="body"
                         data-html="true" data-placement="auto" title="Confirm close"
                         data-content="
                                       <form name=&quot;close-form&quot; method=&quot;POST&quot;>
                                         <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;close&quot;>
                                         <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                         <input type=&quot;hidden&quot; name=&quot;assessment_instance_id&quot; value=&quot;<%= row.assessment_instance_id %>&quot;>
                                         <button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; onclick=&quot;$('#row<%= iRow %>PopoverClose').popover('hide')&quot;>
                                           Cancel
                                         </button>
                                         <button type=&quot;submit&quot; class=&quot;btn btn-danger&quot;>Grade and close</button>
                                       </form>
                                       ">
                    </div>
                    <div id="row<%= iRow %>PopoverRegrade"
                         tabindex="0" data-toggle="popover" data-trigger="manual" data-container="body"
                         data-html="true" data-placement="auto" title="Confirm regrade"
                         data-content="
                                       <form name=&quot;regrade-form&quot; method=&quot;POST&quot;>
                                         <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;regrade&quot;>
                                         <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                         <input type=&quot;hidden&quot; name=&quot;assessment_instance_id&quot; value=&quot;<%= row.assessment_instance_id %>&quot;>
                                         <button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; onclick=&quot;$('#row<%= iRow %>PopoverRegrade').popover('hide')&quot;>
                                           Cancel
                                         </button>
                                         <button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;>Regrade</button>
                                       </form>
                                       ">
                    </div>

                    <%# Capture all clicks to dropdown items to prevent scrolling to the top of the page %>
                    <div class="dropdown-menu" onclick="window.event.preventDefault();">

                      <% if (authz_data.has_instructor_edit) { %>
                      <a class="dropdown-item"
                         role="button" tabindex="0"
                         data-toggle="modal" data-target="#deleteAssessmentInstanceModal"
                         data-uid="<%= row.uid %>" data-name="<%= row.name %>"
                         data-number="<%= row.number %>"
                         data-date-formatted="<%= row.date_formatted %>"
                         data-score-perc="<%= Math.floor(row.score_perc) %>"
                         data-assessment-instance-id="<%= row.assessment_instance_id %>"
                         >
                        <i class="fa fa-times" aria-hidden="true"></i> Delete
                      </a>
                      <% } %>

                      <% if (authz_data.has_instructor_edit) { %>
                      <a role="button" tabindex="0" class="dropdown-item <% if (!row.open) { %>disabled<% } %>" <% if (row.open) { %>onclick="$('#row<%= iRow %>PopoverClose').popover('show')"<% } %>>
                        <i class="fa fa-ban" aria-hidden="true"></i> Grade & Close
                      </a>
                      <% } %>

                      <% if (authz_data.has_instructor_edit) { %>
                      <a role="button" tabindex="0" class="dropdown-item" onclick="$('#row<%= iRow %>PopoverRegrade').popover('show')">
                        <i class="fa fa-sync" aria-hidden="true"></i> Regrade
                      </a>
                      <% } %>

                    </div>
                  </div>
                </td>
                <td class="text-center align-middle">
                  <a href="<%= urlPrefix %>/assessment_instance/<%= row.assessment_instance_id %>" class="btn btn-xs btn-info">Details</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>

          <div class="card-footer">
            <small>
              Any user with the role of <strong>None</strong> is either a former student who chose to unenroll or a former staff member whose access to course content or student data was removed.
            </small>
          </div>
        </div>
        <script>
          $(function(){
              $("#usersTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme"],
                  headers: {
                    <% if (assessment.group_work) { %>
                      7: {sorter: false},
                      8: {sorter: false},
                    <% } else { %>
                      8: {sorter: false},
                      9: {sorter: false},
                    <% } %>
                  },
              });
          });
        </script>
      </div>

    </div>
  </body>
</html>
