<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('datatables.net/js/jquery.dataTables.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('datatables.net-buttons/js/dataTables.buttons.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('datatables.net-buttons/js/buttons.colVis.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('datatables.net-bs4/js/dataTables.bootstrap4.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') %>"></script>
    <link href="<%= node_modules_asset_path('datatables.net-bs4/css/dataTables.bootstrap4.min.css') %>" rel="stylesheet" />
    <link href="<%= node_modules_asset_path('datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') %>" rel="stylesheet" />
    <%- compiled_script_tag('instructorQuestions.js') %>
  </head>
  
  <body>
    <!-- 
    <script>
      $(function() {
          $('#questionsTable').bootstrapTable({
              icons: {
                  columns: 'fa-th-list',
              },
              buttons: {
                  clearFilters: {
                      text: 'Clear filters',
                      icon: 'fa-times',
                      attributes: { title: 'Clear all set question filters' },
                      event: () => {
                          $('#questionsTable').bootstrapTable('clearFilterControl');
                      },
                  },
                  //<% if ((authz_data.has_course_permission_edit) && (! course.example_course) && (! locals.needToSync)) { %>
                  addQuestion: {
                      text: 'Add Question',
                      icon: 'fa-plus',
                      attributes: { title: 'Create a new question' },
                      event: () => {
                          $('form[name=add-question-form]').submit();
                      },
                  },
                  //<% } %>
              },
          });
      });

    </script>
    -->
    <style>
      .sticky-column {
          position: sticky;
          left: 0;
          background: white;
          background-clip: padding-box;
          box-shadow: inset -1px 0 #dee2e6;
      }
      .table-hover tbody tr:hover td.sticky-column {
          color: #212529;
          background-color: #efefef;
      }
      .fixed-table-toolbar {
          padding: 0 1em 0 1em;
      }
      .fixed-table-toolbar div.pagination,
      .fixed-table-toolbar div.pagination-detail {
          margin: 0 1em 0 0 !important;
      }
    </style>
    <%- include('../partials/navbar'); %>
    <form class="btn-group" name="add-question-form" method="POST">
      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
      <input type="hidden" name="__action" value="add_question">
    </form>
    <div id="content" class="container-fluid">
      <%- include('../partials/courseSyncErrorsAndWarnings'); %>
      <div class="card mb-4">
        <div class="card-header bg-primary">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <span class="text-white">Questions</span>
            </div>
          </div>
        </div>

        <table id="questionsTable"
               data-data="<%= JSON.stringify(questions) %>"
               data-course-instances="<%= JSON.stringify(authz_data.course_instances || []) %>"
               data-url-prefix="<%= urlPrefix %>"
               data-plain-url-prefix="<%= plainUrlPrefix %>"
               data-has-legacy-questions="<%= has_legacy_questions %>"
               data-current-course-instance="<%= locals.course_instance?.id ?? '' %>"
               class="table table-sm table-hover table-bordered">
          <!--
               data-sticky-header="true"-->
          <thead class="thead-light">
          </thead>
        </table>
      </div>
    </div>
    </div>
</body>

</html>
