<!DOCTYPE html>
<html lang="en">
  
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js') %>"></script>
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.css') %>" rel="stylesheet" />
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css') %>" rel="stylesheet" />
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css') %>" rel="stylesheet" />
  </head>
  
  <body>
    <script>
      $(function() {
          $('#questionsTable').bootstrapTable({
              //url: '<%= urlPrefix %>/<%= navPage %>/gradebook/raw_data.json',
              onPreBody: function() {
              },
              onResetView: function () {
                  $('[data-toggle="popover"]').popover({
                      sanitize: false,
                      container: 'body',
                      html: true,
                      trigger: 'hover',
                  }).on("show.bs.popover", function() {
                      $($(this).data("bs.popover").getTipElement()).css("max-width", "80%");
                  });
              },
          });
      });

      function topicFormatter(topic, question) {
          topic = JSON.parse(topic);
          return `<span class="badge color-${topic.color}">${topic.name}</span>`;
      }
    </script>
    <style>
      .sticky-column {
          position: sticky;
          left: 0;
          background: white;
          box-shadow: inset -1px 0 #dee2e6;
      }
      .table-hover tbody tr:hover td.sticky-column {
          color: #212529;
          background-color: #efefef;
      }
      .fixed-table-toolbar {
          padding: 0 1em 0 1em;
      }
      div.pagination {
          margin: 0 0 0 1em;
      }
    </style>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/courseSyncErrorsAndWarnings'); %>
      <div class="card mb-4">
        <div class="card-header bg-primary">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <span class="text-white">Questions</span>
            </div>
            <div class="col-auto">
              <% if ((authz_data.has_course_permission_edit) && (! course.example_course) && (! locals.needToSync)) { %>
              <form class="d-inline" name="add-question-form" method="POST">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button name="__action" value="add_question" class="btn btn-sm btn-light"><i class="fa fa-plus" aria-hidden="true"></i>
                  <span>Add question</span></button>
              </form>
              <% } %>
              <button class="btn btn-sm btn-light" type="button" id="resetFilter">Clear all filters</button>
            </div>
          </div>
        </div>

        <table id="questionsTable"
               data-classes="table table-sm table-hover table-bordered"
               data-filter-control="true"
               data-show-columns="true"
               data-show-columns-toggle-all="true"
               data-pagination="true"
               data-pagination-v-align="top"
               data-page-list="[50,100,200,500,unlimited]"
               data-page-size="50"
               data-smart-display="false"
               data-show-extended-pagination="true"
               data-toolbar=".fixed-table-pagination"
               data-sticky-header="true">
          <thead>
            <tr>
              <th data-field="title"
                  data-sortable="true"
                  data-class="align-middle"
                  data-filter-control="input"
                  data-switchable="true">Title</th>
              <th data-field="qid"
                  data-sortable="true"
                  data-class="align-middle"
                  data-filter-control="input"
                  data-switchable="true">QID</th>
              <th data-field="topic"
                  data-sortable="true"
                  data-class="align-middle"
                  data-formatter="topicFormatter"
                  data-switchable="true">Topic</th>
              <th data-field="tags"
                  data-sortable="false"
                  data-class="align-middle"
                  data-switchable="true">Tags</th>
              <th data-field="display_type"
                  data-sortable="true"
                  data-class="align-middle"
                  data-switchable="true">Version</th>
              <% if (locals.course_instance) { %>
              <th data-field="assessments"
                  data-sortable="true"
                  data-class="align-middle"
                  data-switchable="true">Assessments</th>
              <% } %>
            </tr>
          </thead>
            <tbody>
              <% questions.forEach(function(question) { %>
              <tr>
                <td class="align-middle">
                  <% if (question.sync_errors) { %>
                  <button class="btn btn-xs mr-1" data-toggle="popover" data-title="Sync Errors"
                          data-content="<pre style=&quot;background-color: black&quot; class=&quot;text-white rounded p-3&quot;><%= question.sync_errors_ansified %></pre>">
                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                  </button>
                  <% } else if (question.sync_warnings) { %>
                  <button class="btn btn-xs mr-1" data-toggle="popover" data-title="Sync Warnings"
                          data-content="<pre style=&quot;background-color: black&quot; class=&quot;text-white rounded p-3&quot;><%= question.sync_warnings_ansified %></pre>">
                    <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                  </button>
                  <% } %>
                  <a href="<%= urlPrefix %>/question/<%= question.id %>/"><%= question.title %></a>
                  <%- include('../partials/issueBadge', {count: question.open_issue_count, issueQid: question.qid}); %>
                </td>
                <td class="align-middle">
                  <%= question.qid %>
                </td>
                <td class="align-middle">
                  <%= JSON.stringify(question.topic) %>
                </td>
                <td class="align-middle">
                  <%- include('../partials/tags', {tags: question.tags}); %>
                </td>
                <td class="align-middle">
                  <%- include('../partials/types', {type: question.display_type}); %>
                </td>
                <% if (locals.course_instance) { %>
                <td class="align-middle">
                  <%- include('../partials/assessments', {assessments: question.assessments}); %>
                </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <script>
                // $(function() {
                //     $("#questionsTable").tablesorter({
                //         widgetOptions: {
                //             zebra: ["even", "odd"],
                //             filter_reset: "#resetFilter",
                //             filter_cssFilter: "form-control",
                //             filter_functions: {
                //                 3: {
                //                     <% all_tags.forEach(function(tag) { %>
                //                     "<%= escapeRegExp(tag.name) %>": function(e, n, f, i, $r, c, data) {
                //                         return /\b<%= escapeRegExp(tag.name) %>\b/.test(e);
                //                     },
                //                     <% }); %>
                //                 },
                //                 <% if (locals.course_instance) { %>
                //                 5: {
                //                     <% all_assessments.forEach(function(assessment) { %>
                //                     "<%= escapeRegExp(assessment.label) %>": function(e, n, f, i, $r, c, data) {
                //                         return /\b<%= escapeRegExp(assessment.label) %>\b/.test(e);
                //                     },
                //                     <% }); %>
                //                 },
                //                 <% } %>
                //             },
                //         },
                //     });
                // });
        </script>
      </div>
    </div>
</body>

</html>
