<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'sync'}); %>
    <div id="content" class="container">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Repository status ----------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Repository status
        </div>

        <div class="table-responsive">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th class="align-middle">Current commit hash</th>
                <td><%= course.commit_hash %></td>
              <tr>
                <th class="align-middle">Path on disk</th>
                <td class="align-middle"><%= course.path %></td>
                <td>
                  <form name="confirm-form" method="POST">
                    <input type="hidden" name="__action" value="status">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                      Show server git status
                    </button>
                  </form>
                </td>
              </tr>
              <tr>
                <th class="align-middle">Remote repository</th>
                <td class="align-middle"><%= course.repository %></td>
                <td>
                  <form name="confirm-form" method="POST">
                    <input type="hidden" name="__action" value="pull">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                      <i class="fa fa-cloud-download-alt" aria-hidden="true"></i>
                      Pull from remote git repository
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Sync history ---------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Sync job history
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Description</th>
                <th>User</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% job_sequences.forEach(function(job_sequence) { %>
              <tr>
                <td><%= job_sequence.number %></td>
                <td><%= job_sequence.start_date_formatted %></td>
                <td><%= job_sequence.description %></td>
                <td><%= job_sequence.user_uid %></td>
                <td><%- include('../partials/jobStatus', {status: job_sequence.status}); %></td>
                <td><a href="<%= urlPrefix %>/jobSequence/<%= job_sequence.id %>" class="btn btn-xs btn-info">Details</a></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->

    </div>
  </body>
</html>
