<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Access
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Mode</th>
                <th>UIDs</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Active</th>
                <th>Credit</th>
                <th>Time limit</th>
                <th>Password</th>
                <th>CBTF exam</th>
                <th>PrairieTest</th>
              </tr>
            </thead>
            <tbody>
              <% access_rules.forEach(function(access_rule) { %>
              <tr>
                <td><%= access_rule.mode %></td>
                <td>
                  <%
                    // Only users with permission to view student data are allowed
                    // to see the list of uids associated with an access rule. Note,
                    // however, that any user with permission to view course code
                    // (or with access to the course git repository) will be able to
                    // see the list of uids, because these access rules are defined
                    // in course code. This should be changed in future, to protect
                    // student data. See https://github.com/PrairieLearn/PrairieLearn/issues/3342

                    if ((access_rule.uids == '—') || authz_data.has_course_instance_permission_view) { %>
                    <%= access_rule.uids %>
                  <% } else { %>
                    <a role="button" class="btn btn-xs btn-warning" tabindex="0" data-toggle="popover" data-trigger="focus" data-container="body" data-placement="auto" title="Hidden UIDs" data-content="This access rule is specific to individual students. You need permission to view student data in order to see which ones.">Hidden</a>
                  <% } %>
                </td>
                <td><%= access_rule.start_date %></td>
                <td><%= access_rule.end_date %></td>
                <td><%= access_rule.active %></td>
                <td><%= access_rule.credit %></td>
                <td><%= access_rule.time_limit %></td>
                <td><%= access_rule.password %></td>
                <td><%- access_rule.exam %></td>
                <td>
                  <% if (access_rule.pt_exam_name) { %>
                  <a href="<%= config.ptHost %>/pt/course/<%= access_rule.pt_course_id %>/staff/exam/<%= access_rule.pt_exam_id %>"><%= access_rule.pt_course_name %>: <%= access_rule.pt_exam_name %></a>
                  <% } else if (access_rule.exam_uuid && !access_rule.ps_exam_id) { %>
                  <% if (devMode) { %>
                  <%= access_rule.exam_uuid %>
                  <% } else { %> <%# devMode %>
                  <span class="text-danger">Exam not found: <%= access_rule.exam_uuid %></span>
                  <% } %> <%# devMode %>
                  <% } else { %>
                  &mdash;
                  <% } %>
                  <%- access_rule.pt_exam %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <small>Instructions on how to change the access rules can be found in the <a href="https://prairielearn.readthedocs.io/en/latest/accessControl/" target="_blank">PrairieLearn documentation</a>. Note that changing time limit rules does not affect assessments in progress; to change the time limit for these exams please visit the <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/instances">Students tab</a>.</small>
        </div>
      </div>

    </main>
  </body>
</html>
