<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <script src="/javascripts/lodash.min.js"></script>
        <script src="/javascripts/d3.min.js"></script>
        <script src="/localscripts/histmini.js"></script>
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <div id="content" class="container-fluid">
            <%- include('../partials/navtabs'); %>
            <div class="card mb-4">
                <div class="card-header bg-primary text-white d-flex align-items-center">
                    External grading
                    <button type="button" class="btn btn-light btn-sm ml-auto" tabindex="0" onclick="alert('External grading dashboard coming soon!')">
                        External grading dashboard <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="card-body">
                    <% if (external_grading_stats_all.total > 0) { %>
                        <div>
                            <ul class="nav nav-pills" role="tablist" style="margin-bottom: 15px;">
                                <li role="presentation" class="nav-item"><a class="nav-link active" href="#external-day" role="tab" data-toggle="tab">Past day</a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#external-week" role="tab" data-toggle="tab">Past week</a></li>
                                <li role="presentation" class="nav-item"><a class="nav-link" href="#external-all" role="tab" data-toggle="tab">All time</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="external-day">
                                    <%- include('../partials/externalGradingOverview', {stats: external_grading_stats_day}); %>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="external-week">
                                    <%- include('../partials/externalGradingOverview', {stats: external_grading_stats_week}); %>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="external-all">
                                    <%- include('../partials/externalGradingOverview', {stats: external_grading_stats_all}); %>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        It looks like your course doesn't have any externally graded questions yet.
                        Why not <a href="http://prairielearn.readthedocs.io/en/latest/externalGrading/">add one now</a>?
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
