<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageTitle: 'Courses'}); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'enroll'}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Logout and log back in to see more courses</div>
        <div class="card-body">
            <p>Your PrairieLearn login is currently tied to <strong><%= lti_info.plc_short_name %>
            <%= lti_info.ci_long_name %></strong> and cannot be used to enroll in other courses.
            <p>
            To see more courses:
            <ol>
                <li>Log out by selecting your name in the top right menu and selecting "Log out".</li>
                <li>Sign-in again with your normal login.</li>
                <li>Return to this enroll page to see the list of courses.</li>
            </ol>
            <p>Note: When you revisit the main <%= lti_info.plc_short_name %> course site and come
                back to PrairieLearn from it, it will take over your login again. You might consider
                using different web browsers for that course from your other PrairieLearn courses.
        </div>
      </div>
    </div>
  </body>
</html>
