<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <main id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
          <% if (assessment.group_work) { %>
            <i class="fas fa-users"></i>
          <% } %>
        </div>

        <div class="card-body">
          <% if (authz_result.mode == 'Exam' || authz_result.mode == 'SEB' || authz_result.password != null ) { %>
          <p class="lead text-center">
            Please wait until instructed to start by a proctor
          </p>
          <% } %>

          <p class="lead text-center">
            This is <strong><%= assessment_set.name %> <%= assessment.number %>: <%= assessment.title %></strong> for <strong><%= course.short_name %></strong>
          </p>

          <% if (authz_result.time_limit_min != undefined) { %>
          <p class="lead text-center">
            The time limit for this assessment is
            <strong>
              <%= authz_result.time_limit_min %>
              <%= (authz_result.time_limit_min == 1) ? 'minute' : 'minutes' %>
            </strong>
          </p>
          <% } %>

          <% if (locals.assessment.group_work) { %>
            <%- include('../partials/studentGroupControls.ejs'); %>
          <% } else { %>
            <% if (locals.assessment.require_honor_code) { %>
            <div class="card card-secondary mb-4 test-class-honor-code">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-2">I certify that I am <%= user.name %> and I am allowed to take this assessment.</li>
                <li class="list-group-item py-2">I pledge on my honor that I will not give or receive any unauthorized assistance on this assessment and that all work will be my own.</li>
              </ul>

              <div class="card-footer text-center border-top-0 py-2">
                <span class="form-check d-inline">
                  <input type="checkbox" class="form-check-input" id="certify-pledge">
                  <label class="form-check-label font-weight-bold" for="certify-pledge">I certify and pledge the above.</label>
                </span>
              </div>
            </div>
            <% } %>
            <form id="confirm-form" name="confirm-form" method="POST" class="d-flex justify-content-center">
              <input type="hidden" name="__action" value="new_instance">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <button id="start-assessment" type="submit" class="btn btn-primary"<% if (locals.assessment.require_honor_code) { %> disabled<% } %>>Start assessment</button>
            </form>
          <% } %>

          <script>
            const certify = $('#certify-pledge')[0];
            const start = $('#start-assessment')[0];
            const form = $('#confirm-form')[0];

            certify.onchange = () => {
              start.disabled = !certify.checked;
            };
            form.onsubmit = () => {
                start.disabled = true;
                start.html = '<i class="fa fa-sync fa-spin fa-fw"></i> Generating assessment…';
            };
          </script>
        </div> <!-- card-body -->
      </div>
    </main>
  </body>
</html>
