<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/adminNavbar', {navPage: 'users'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Users</h3>
        </div>

        <div class="panel-body">
          Download <a href="<%= urlPrefix %>/users/<%= csv_filename %>"><%= csv_filename %></a>
        </div>

        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Role</th>
                <% course_tests.forEach(function(test) { %>
                <th><%- include('../partials/test', {test: test}); %></th>
                <% }); %>
              </tr>
            </thead>
            <tbody>
              <% user_scores.forEach(function(row) { %>
              <tr>
                <td><%= row.uid %></td>
                <td><%= row.user_name %></td>
                <td><%= row.role %></td>
                <% row.scores.forEach(function(score) { %>
                <td>
                  <% if (score == null) { %>
                  —
                  <% } else { %>
                  <%= score %>%
                  <% } %>
                </td>
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="panel-footer">
          Download <a href="<%= urlPrefix %>/users/<%= csv_filename %>"><%= csv_filename %></a>
        </div>

      </div>
    </div>
  </body>
</html>
