<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.js') %>"></script>
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.css') %>" rel="stylesheet" />
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css') %>" rel="stylesheet" />
  </head>
  <body>
    <script>
      $(function () {
          window.bsTable = $('#instanceQuestionGradingTable').bootstrapTable({
              classes: 'table table-sm table-bordered',
              url: '<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_question/<%= assessment_question_id %>/manual_grading/instances.json',
              dataField: 'instance_questions',
              escape: true,
              uniqueId: 'id',
              idField: 'id',
              selectItemName: 'instance_question_id',
              search: true,
              showButtonText: true,
              showColumns: false,
              showRefresh: true,
              autoRefresh: true,
              autoRefreshStatus: false,
              autoRefreshInterval: 30,
              buttonsOrder: ['refresh', 'autoRefresh'],
              theadClasses: 'thead-light',
              stickyHeader: true,
              rowStyle: row => {
                  if (!row.requires_manual_grading)
                      return { classes: 'text-muted bg-light' };
                  return {};
              },
              onLoadSuccess: data => {
              },
              onPostBody: () => {
                  $('#instanceQuestionGradingTable [data-toggle="popover"]').popover({sanitize: false});
              },
              columns: [[
                  {
                      checkbox: true,
                  },
                  {
                      field: 'user_or_group_name',
                      title: '<%= assessment.group_work ? 'Group Name' : 'Name' %>',
                      searchable: true,
                      searchFormatter: false,
                      sortable: true,
                      formatter: (value, row) => `<a href="<%= urlPrefix %>/instance_question/${row.id}/manual_grading">${value}</a>`,
                  },
                  {
                      field: 'uid',
                      title: 'UID',
                      searchable: true,
                      sortable: true,
                      visible: <%= !assessment.group_work %>,
                  },
                  {
                      field: 'assigned_grader_name',
                      title: 'Grading status',
                      searchable: false,
                      sortable: true,
                      sorter: (valA, valB, rowA, rowB) => {
                          return (rowB.requires_manual_grading - rowA.requires_manual_grading) ||
                              (!!rowA.assigned_grader - !!rowB.assigned_grader) ||
                              (rowA.assigned_grader_name || '').localeCompare(rowB.assigned_grader_name || '');
                      },
                      class: 'text-center',
                      formatter: (value, row) => row.requires_manual_grading ?
                          row.assigned_grader ? `Assigned to ${row.assigned_grader_name}`
                          : 'No grader assigned' : 'Graded',
                  },
                  {
                      field: 'points',
                      title: 'Awarded points',
                      class: 'text-center',
                      searchable: false,
                      sortable: true,
                      formatter: pointsFormatter,
                  },
                  {
                      field: 'score_perc',
                      title: 'Percentage score',
                      class: 'text-center align-middle text-nowrap',
                      searchable: false,
                      sortable: true,
                      formatter: scorebarFormatter,
                  },
                  {
                      field: 'last_grader_name',
                      title: 'Graded by',
                      searchable: false,
                      formatter: (value, row) => row.last_grader ? row.last_grader_name : '&mdash;',
                  },
              ]],
          });
      });

      //<% include('../partials/pointsFormatter'); %>
      window.getStringFromFloat = <%- getStringFromFloat.toString() %>;

      function pointsFormatter(points, row) {
          let text = `${getStringFromFloat(row.points)} <small>/<span class="text-muted"><%= max_points %></span></small> `, button = '';
          //<% if (authz_data.has_course_instance_permission_edit) { %>
          button = `<button type="button" class="btn btn-xs btn-secondary editQuestionPointsButton"
                            id="editQuestionPoints${row.id}" tabindex="0"
                            data-toggle="popover" data-container="body"
                            data-html="true" data-placement="auto" title="Change question points"
                            data-content="<%= include('../partials/editQuestionPointsForm',
                                                      {id: 'editQuestionPoints${row.id}',
                                                       instance_question: {id: '${row.id}', assessment_instance_id: 
'${row.assessment_instance_id}', points: '${row.points}', max_points}}); %>">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>`;
          //<% } %>
          return text + button;
      }

      function scorebarFormatter(score, row) {

          let bar = '', button = '';
          if (score != null) {
              bar = '<div class="progress bg" style="min-width: 10em; max-width: 20em;">';
              let left = '', right = '';
              if (score >= 50) {
                  left = `${Math.floor(score)}%`;
              } else {
                  right = `${Math.floor(score)}%`;
              }
              bar += `<div class="progress-bar bg-success" style="width: ${Math.floor(Math.min(100, score))}%">${left}</div>`;
              bar += `<div class="progress-bar bg-danger" style="width: ${100 - Math.floor(Math.min(100, score))}%">${right}</div>`;
              bar += '</div>';
          }
          //<% if (authz_data.has_course_instance_permission_edit) { %>
          button = `<button type="button" class="btn btn-xs btn-secondary editQuestionScorePercButton"
                            id="editQuestionScorePerc${row.id}" tabindex="0"
                            data-toggle="popover" data-container="body"
                            data-html="true" data-placement="auto" title="Change question percentage score"
                            data-content="<%= include('../partials/editQuestionScorePercForm',
                                                      {id: 'editQuestionScorePerc${row.id}',
                                                       instance_question: {id: '${row.id}', assessment_instance_id: 
'${row.assessment_instance_id}', score_perc: '${row.score_perc}'}}); %>">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>`;
          //<% } %>
          return `<div class="d-inline-block align-middle">${bar}</div> ${button}`;
      }
    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <a class="btn btn-primary mb-2" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/manual_grading">
        <i class="fas fa-arrow-left"></i>
        Back to <%= assessment_set.name %> <%= assessment.number %> Overview
      </a>
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment.tid %> / Question <%= number_in_alternative_group %>.
          <%= question_title %>
        </div>
        <table id="instanceQuestionGradingTable"></table>

        <div class="card-footer">
          <small>
            <p class="mb-0">
              This list may include answers that students saved but did not request to be graded.
            </p>
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
