<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('bootstrap-table/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.js') %>"></script>
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/bootstrap-table.min.css') %>" rel="stylesheet" />
    <link href="<%= node_modules_asset_path('bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css') %>" rel="stylesheet" />
  </head>
  <body>
    <script>
      $(function () {
          window.bsTable = $('#instanceQuestionGradingTable').bootstrapTable({
              classes: 'table table-sm table-hover table-bordered',
              url: '<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_question/<%= assessment_question_id %>/manual_grading/instances.json',
              dataField: 'instance_questions',
              escape: true,
              uniqueId: 'id',
              search: true,
              showButtonText: true,
              showColumns: false,
              showRefresh: true,
              showFullscreen: true,
              autoRefresh: true,
              autoRefreshStatus: false,
              autoRefreshInterval: 30,
              buttonsOrder: ['refresh', 'autoRefresh', 'columns', 'fullscreen'],
              theadClasses: 'thead-light',
              stickyHeader: true,
              rowStyle: row => {
                  if (!row.requires_manual_grading)
                      return { classes: 'text-muted' };
                  return {};
              },
              icons: {
              },
              onLoadSuccess: data => {
              },
              onPostBody: () => {
                  $('[data-toggle="popover"]').popover({sanitize: false});
              },
              columns: [[
                  {
                      field: 'requires_manual_grading',
                      title: 'Graded',
                      formatter: value => `<i class="${value ? 'far fa-square' : 'fas fa-check'}"></i>`,
                  },
                  {
                      field: 'uid',
                      title: 'UID',
                      searchable: true,
                      visible: <%= !assessment.group_work %>,
                  },
                  {
                      field: 'user_or_group_name',
                      title: '<%= assessment.group_work ? 'Group Name' : 'Name' %>',
                      searchable: true,
                      searchFormatter: false,
                      formatter: (value, row) => `${value} (<a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instance_question/${row.id}/">student view</a>)`,
                  },
                  {
                      field: 'points',
                      title: 'Awarded Points',
                      class: 'text-center',
                      searchable: false,
                      formatter: pointsFormatter,
                  },
                  {
                      field: 'score_perc',
                      title: 'Percentage score',
                      class: 'text-center align-middle text-nowrap',
                      searchable: false,
                      formatter: scorebarFormatter,
                  },
                  {
                      field: 'id',
                      title: 'Begin Grading',
                      class: 'text-center',
                      searchable: false,
                      formatter: (value, row) => `<a class="btn btn-xs btn-secondary" href="<%= urlPrefix %>/instance_question/${value}/manual_grading"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>`,
                  },
              ]],
          });
      });

      //<% include('../partials/pointsFormatter'); %>
      window.getStringFromFloat = <%- getStringFromFloat.toString() %>;

      function pointsFormatter(points, row) {
          let text = `${getStringFromFloat(row.points)} <small>/<span class="text-muted"><%= max_points %></span></small> `, button = '';
          //<% if (authz_data.has_course_instance_permission_edit) { %>
          button = `<button type="button" class="btn btn-xs btn-secondary editQuestionPointsButton"
                            id="editQuestionPoints${row.id}" tabindex="0"
                            data-toggle="popover" data-container="body"
                            data-html="true" data-placement="auto" title="Change question points"
                            data-content="<%= include('../partials/editQuestionPointsForm',
                                                      {id: 'editQuestionPoints${row.id}',
                                                       instance_question: {}}); %>"
                            data-trigger="manual" onclick="$(this).popover('show')">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>`;
          //<% } %>
          return text + button;
      }

      function scorebarFormatter(score, row) {

          let bar = '', button = '';
          if (score != null) {
              bar = '<div class="progress bg" style="min-width: 10em; max-width: 20em;">';
              let left = '', right = '';
              if (score >= 50) {
                  left = `${Math.floor(score)}%`;
              } else {
                  right = `${Math.floor(score)}%`;
              }
              bar += `<div class="progress-bar bg-success" style="width: ${Math.floor(Math.min(100, score))}%">${left}</div>`;
              bar += `<div class="progress-bar bg-danger" style="width: ${100 - Math.floor(Math.min(100, score))}%">${right}</div>`;
              bar += '</div>';
          }
          //<% if (authz_data.has_course_instance_permission_edit) { %>
          button = `<button type="button" class="btn btn-xs btn-secondary editQuestionScorePercButton"
                            id="editQuestionScorePerc${row.id}" tabindex="0"
                            data-toggle="popover" data-container="body"
                            data-html="true" data-placement="auto" title="Change question percentage score"
                            data-content="<%= include('../partials/editQuestionScorePercForm',
                                                      {id: 'editQuestionScorePerc${row.id}',
                                                       instance_question: {}}); %>"
                            data-trigger="manual" onclick="$(this).popover('show')">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>`;
          //<% } %>
          return `<div class="d-inline-block align-middle">${bar}</div> ${button}`;
      }
    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <a class="btn btn-primary mb-2" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/manual_grading">
        <i class="fas fa-arrow-left"></i>
        Back to <%= assessment_set.name %> <%= assessment.number %> Overview
      </a>
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= question_title %>: Manual Grading Instance Questions
        </div>
        <table id="instanceQuestionGradingTable"></table>

        <div class="card-footer">
          <small>
            <p class="mb-0">
              This list may include answers that students saved but did not request to be graded.
            </p>
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
