<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <a class="btn btn-primary mb-2" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/manual_grading">
        <i class="fas fa-arrow-left"></i>
        Back to <%= assessment_set.name %> <%= assessment.number %> Overview
      </a>
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= question_title %>: Manual Grading Queue
        </div>
        <div class="table-responsive">
          <table id="instanceQuestionGradingTable" class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Student question</th>
                <% if (assessment.group_work) { %>
                <th>Group Name</th>
                <% } else { %>
                <th>UID</th>
                <th>Name</th>
                <% } %>
                <th class="text-center">
                  Awarded points
                </th>
                <th class="text-center" colspan="2">
                  Percentage score
                </th>
                <th class="text-center" colspan="1">
                  Begin Grading
                </th>
              </tr>
            </thead>
            <tbody>
              <% instance_questions_to_grade.forEach(function(instance_question, i_instance_question) { %>
              <tr>
                <td>
                  <%= question_title %>
                  (<a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instance_question/<%= instance_question.id %>/">student view</a>)
                </td>
                <% if (!assessment.group_work) { %>
                <td><%= instance_question.uid %></td>
                <% } %>
                <td><%= instance_question.user_or_group_name %></td>
                <td class="text-center">
                  <%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: max_points}); %>
                  <% if (authz_data.has_course_instance_permission_edit) { %>
                  <button type="button" class="btn btn-xs btn-secondary editQuestionPointsButton"
                    id="editQuestionPoints<%= i_instance_question %>" tabindex="0"
                    data-toggle="popover" data-container="body"
                    data-html="true" data-placement="auto" title="Change question points"
                    data-content="<%= include('../partials/editQuestionPointsForm',
                                  {id: 'editQuestionPoints' + i_instance_question,
                                  instance_question: instance_question}); %>"
                    data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <% } %>
                </td>
                <td class="align-middle text-center">
                  <%- include('../partials/scorebar', {score: instance_question.score_perc}); %>
                </td>
                <td class="align-middle" style="width: 1em;">
                  <% if (authz_data.has_course_instance_permission_edit) { %>
                  <button type="button" class="btn btn-xs btn-secondary editQuestionScorePercButton"
                    id="editQuestionScorePerc<%= i_instance_question %>" tabindex="0"
                    data-toggle="popover" data-container="body"
                    data-html="true" data-placement="auto" title="Change question percentage score"
                    data-content="<%= include('../partials/editQuestionScorePercForm',
                                  {id: 'editQuestionScorePerc' + i_instance_question,
                                  instance_question: instance_question}); %>"
                    data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <% } %>
                </td>
                <td class="text-center">
                  <a class="btn btn-xs btn-secondary" href="<%= urlPrefix %>/instance_question/<%= instance_question.id %>/manual_grading"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            <p class="mb-0">
              This list may include answers that students saved but did not request to be graded.
            </p>
          </small>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= question_title %>: Graded Questions
        </div>

        <div class="table-responsive">
          <table id="instanceQuestionGradingTable" class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Student question</th>
                <% if (assessment.group_work) { %>
                <th>Group Name</th>
                <% } else { %>
                <th>UID</th>
                <th>Name</th>
                <% } %>
                <th class="text-center">
                  Awarded points
                </th>
                <th class="text-center" colspan="2">
                  Percentage score
                </th>
                <th class="text-center" colspan="1">
                  Begin Grading
                </th>
              </tr>
            </thead>
            <tbody>
              <% instance_questions_graded.forEach(function(instance_question, i_instance_question) { %>
              <tr>
                <td>
                  <%= question_title %>
                  (<a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instance_question/<%= instance_question.id %>/">student view</a>)
                </td>
                <% if (!assessment.group_work) { %>
                <td><%= instance_question.uid %></td>
                <% } %>
                <td><%= instance_question.user_or_group_name %></td>
                <td class="text-center">
                  <%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: max_points}); %>
                  <% if (authz_data.has_course_instance_permission_edit) { %>
                  <button type="button" class="btn btn-xs btn-secondary editQuestionPointsButton"
                    id="editQuestionPoints<%= i_instance_question %>" tabindex="0"
                    data-toggle="popover" data-container="body"
                    data-html="true" data-placement="auto" title="Change question points"
                    data-content="<%= include('../partials/editQuestionPointsForm',
                                  {id: 'editQuestionPoints' + i_instance_question,
                                  instance_question: instance_question}); %>"
                    data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <% } %>
                </td>
                <td class="align-middle text-center">
                  <%- include('../partials/scorebar', {score: instance_question.score_perc}); %>
                </td>
                <td class="align-middle" style="width: 1em;">
                  <% if (authz_data.has_course_instance_permission_edit) { %>
                  <button type="button" class="btn btn-xs btn-secondary editQuestionScorePercButton"
                    id="editQuestionScorePerc<%= i_instance_question %>" tabindex="0"
                    data-toggle="popover" data-container="body"
                    data-html="true" data-placement="auto" title="Change question percentage score"
                    data-content="<%= include('../partials/editQuestionScorePercForm',
                                  {id: 'editQuestionScorePerc' + i_instance_question,
                                  instance_question: instance_question}); %>"
                    data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <% } %>
                </td>
                <td class="text-center">
                  <a class="btn btn-xs btn-secondary" href="<%= urlPrefix %>/instance_question/<%= instance_question.id %>/manual_grading"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
