<!DOCTYPE html>
<html>
<head>
    <%- include('../pages/partials/head'); %>
</head>
<body>
    <%- include('../pages/partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
            </div>

            <div class="card-body">

                <% if (typeof assessment_instance !== 'undefined' && assessment_instance.open === false) { %>

                    <p>This assessment is closed and is no longer available.

                <% } else { %>
                <p class="lead text-center">
                    This <%= assessment.type.toLowerCase() %> is only available when running the Safe Exam Browser.
                </p>
                <% if (authz_data.mode == 'SEB') { %>
                    <p class="lead text-center">Invalid access. Are you running the SEB config from a different exam?</p>
                <% } %>

                <p><a href="https://safeexambrowser.org/download_en.html">Download instructions for the Safe Exam Browser.</a></p>

                <a class="btn btn-lg btn-success" href="<%= SEBUrl %>?data=<%= SEBdata %>"
                >
                    Launch into the Safe Exam Browser
                </a>
                <% } %>
            </div> <!-- panel-body -->
        </div>
    </div>
</body>
</html>
