<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <%- include('../partials/mathjax'); %>
    <script src="<%= node_modules_asset_path('socket.io-client/dist/socket.io.min.js') %>"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= asset_path('javascripts/require.js') %>"></script>
    <script src="<%= asset_path('localscripts/question.js') %>"></script>
    <script src="<%= asset_path(`localscripts/question${effectiveQuestionType}.js`) %>"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <script>
      // make the file inputs display the file name
      $(document).on('change', '.custom-file-input', function () {
          let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
          $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
      });
    </script>

    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <%- include('../partials/question', {question_context: 'student_homework'}); %>
        </div>

        <%# Sidebar %> 
        <div class="col-md-3 col-sm-4 col-xs-12">

          <%- include('../partials/assessmentScorePanel') %>

          <%- include('../partials/questionScorePanel') %>

          <%- include('../partials/questionNavSideButtonGroup') %>

          <% if (config.attachedFilesDialogEnabled) { %>
              <%- include('../partials/attachFilePanel') %>
          <% } %>

          <% if (video) { %>
          <div class="modal" id="youtubemodal">
            <div class="modal-dialog" style="width: 620px">
              <div class="modal-content">
                <div class="modal-body no-overflow">
                  <iframe id="player" width="560" height="315" data-url="https://www.youtube.com/embed/{{video}}?rel=0&wmode=Opaque&enablejsapi=1&autoplay=1" frameborder="0"></iframe>
                  <button type="button" class="close" data-dismiss="modal" id="youtubeclose">x</button>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">
            <a class="btn btn-warning" href="#youtubemodal" data-toggle="modal">Help video</a>
          </p>
          <% } %>

          <%- include('../partials/instructorInfoPanel') %>

        </div>
      </div>
    </div>
    <!-- Needs to be located below element scripts -->
    <script src="<%= asset_path('localscripts/questionPageScripts.js') %>"></script>
  </body>
</html>
