<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <%- include('../partials/mathjax'); %>
    <script src="/javascripts/socket.io.js"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <script src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
  </head>
  <body>
    <script>
      // make the file inputs display the file name
      $(document).on('change', '.custom-file-input', function () {
          let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
          $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
      });
    </script>

    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <%- include('../partials/question', {question_context: 'student_homework'}); %>
        </div>

        <!-- SIDEBAR ---------------------------------------------------------------------->
        <div class="col-md-3 col-sm-4 col-xs-12">

          <%- include('../partials/assessmentScorePanel') %>

          <%- include('../partials/questionScorePanel') %>

          <div class="text-center mb-1">
            <%
              var navSideButtons = [
                {
                  "label": "Previous question",
                  "popoverContent": "Question is blocked by the score of an earlier question in this assessment.",
                  "question": instance_question_info.prev
                },
                {
                  "label": "Next question",
                  "popoverContent": `You must score at least ${zone_sequence_score_perc_threshold}% on this question in order to unlock the next.`,
                  "question": instance_question_info.next
                }
              ];
              navSideButtons.forEach(function(button) {
            %>
              <a
                <% if (button.question.id && !button.question.sequence_blocked) { %>
                  class="btn btn-primary mb-3"
                  href="<%= urlPrefix %>/instance_question/<%= button.question.id %>/"
                <% } else { %>
                  class="btn btn-secondary text-white mb-4 <% if (!button.question.sequence_blocked) { %> disabled <% } %>"
                  <% if (button.question.sequence_blocked) { %>
                    tabindex="0" role="button"
                    data-toggle="popover" data-trigger="focus" data-container="body"
                    data-html="true"
                    data-content="<%= button.popoverContent %>"
                  <% } %>
                <% } %>
              >
                <%= button.label %>
              </a>
            <% }); %>
          </div>

          <%- include('../partials/attachFilePanel') %>

          <% if (video) { %>
          <div class="modal" id="youtubemodal">
            <div class="modal-dialog" style="width: 620px">
              <div class="modal-content">
                <div class="modal-body no-overflow">
                  <iframe id="player" width="560" height="315" data-url="https://www.youtube.com/embed/{{video}}?rel=0&wmode=Opaque&enablejsapi=1&autoplay=1" frameborder="0"></iframe>
                  <button type="button" class="close" data-dismiss="modal" id="youtubeclose">x</button>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">
            <a class="btn btn-warning" href="#youtubemodal" data-toggle="modal">Help video</a>
          </p>
          <% } %>

          <%- include('../partials/instructorInfoPanel') %>

        </div>
      </div>
    </div>
  </body>
</html>
