<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/localscripts/question.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <%- extraHeadersHtml %>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <script type="text/javascript" src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">

          <div id="question-0" class="question-container">
            <div hidden="true" class="question-data"><%= questionJsonBase64 %></div>

            <% errors.forEach(function(error, iError) { %>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Error</h3>
              </div>

              <table class="table table-condensed table-hover two-column-description">
                <tbody>
                  <% if (devMode || authz_data.has_instructor_view) { %>
                  <tr><th>Student message:</th><td><%= error.student_message %></td></tr>
                  <tr><th>Instructor message:</th><td><%= error.instructor_message %></td></tr>
                  <% } else { %>
                  <tr><th>Message:</th><td><%= error.student_message %></td></tr>
                  <% } %>
                  <tr><th>ID:</th><td><%= error.display_id %></td></tr>
                  <tr><th>Date:</th><td><%= error.formatted_date %></td></tr>
                </tbody>
              </table>

              <% if (devMode || authz_data.has_instructor_view || is_administrator) { %>
              <div class="panel-body">
                <% if (is_administrator && error.system_data.courseErrData ) { %>
                <p><strong>Console log:</strong>
                <pre>
                  <%= error.system_data.courseErrData.outputBoth %>
                </pre>
                <% } %>
                <p><strong>Associated data:</strong>
                  <a class="btn btn-xs btn-default" role="button" data-toggle="collapse" href="#error-course-data-<%= iError %>" aria-expanded="false" aria-controls="#error-course-data-<%= iError %>">
                    Show/hide
                  </a>
                </p>
                <div class="collapse" id="error-course-data-<%= iError %>">
                  <pre>
                    <%= JSON.stringify(error.course_data, null, '    ') %>
                  </pre>
                </div>
                <% if (is_administrator) { %>
                <p><strong>System data:</strong>
                  <a class="btn btn-xs btn-default" role="button" data-toggle="collapse" href="#error-system-data-<%= iError %>" aria-expanded="false" aria-controls="#error-system-data-<%= iError %>">
                    Show/hide
                  </a>
                </p>
                <div class="collapse" id="error-system-data-<%= iError %>">
                  <pre>
                    <%= JSON.stringify(error.system_data, null, '    ') %>
                  </pre>
                </div>
                <% } %>
              </div>
              <% } %>
            </div>
            <% }); %>

            <% if (question.type == 'Freeform') { %>
            <form class="question-form" name="question-form" method="POST">
            <% } %>
            <div class="panel panel-primary question-block">
              <div class="panel-heading">
                <h3 class="panel-title"><%= instance_question_info.question_number %>. <%= question.title %></h3>
              </div>
              <div class="panel-body question-body">
                <%- questionHtml %>
              </div>
              <div class="panel-footer">
                <% if (showSubmitButton) { %>
                <% if (question.type == 'Freeform') { %>
                <button class="btn btn-primary freeform-question-submit">Submit</button>
                <input type="hidden" name="variant_id" value="<%= variant.id %>">
                <% } else { %>
                <button class="btn btn-primary question-submit">Submit</button>
                <form class="question-form" name="question-form" method="POST">
                <% } %>
                <input type="hidden" name="postAction" value="submitQuestionAnswer">
                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                <% if (question.type != 'Freeform') { %>
                <input type="hidden" name="postData" class="postData">
                </form>
                <% } %>
                <% } %>
                <% if (showNewVariantButton) { %>
                <a href="<%= urlPrefix %>/instance_question/<%= instance_question.id %>/" class="btn btn-primary">Try question again</a>
                <% } %>
              </div>
            </div>
            <% if (question.type == 'Freeform') { %>
            </form>
            <% } %>

            <% if (showTrueAnswer) { %>
            <div class="panel panel-info grading-block">
              <div class="panel-heading">
                <h3 class="panel-title">Correct answer</h3>
              </div>
              <div class="panel-body answer-body">
                <%- answerHtml %>
              </div>
            </div>
            <% } %>

            <% if (showSubmissions) { %>
            <div class="panel-group">
              <% submissions.forEach(function(submission, iSubmission) { %>
              <div class="panel panel-info pastsubmission-block">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    Submitted answer
                    <% if (submissions.length > 1) { %>
                    <%= submissions.length - iSubmission %>
                    <% } %>
                  </h3>
                  <%- include('../partials/submissionStatus', {submission: submission, reloadUrl: urlPrefix + '/instance_question/' + instance_question.id + '/?variant_id=' + variant.id}); %>
                  <small>Submitted at <%- submission.formatted_date %></small>
                </div>
                <div class="panel-body submission-body" id="submission-<%= iSubmission %>-body">
                  <%- submissionHtmls[iSubmission] %>
                </div>
              </div>
              <% }); %>
            </div>
            <% } %>

          </div> <!-- question-container -->
        </div>

        <!-- SIDEBAR ---------------------------------------------------------------------->
        <div class="col-md-3 col-sm-4 col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/"><%= assessment_set.name %> <%= assessment.number %></a></h3></div>
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td>Total points:</td>
                  <td><%= assessment_instance.points %>/<%= assessment_instance.max_points %></td>
                </tr>
                <tr>
                  <td>Score:</td>
                  <td><%- include('../partials/scorebar', {score: assessment_instance.score_perc}) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Question <%= instance_question.question_number %></h3></div>
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td>Value:</td>
                  <td><%- include('../partials/questionValue', {value: instance_question.current_value});  %></td>
                </tr>
                <tr>
                  <td>Points:</td>
                  <td><%- include('../partials/questionPointsOfMax', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="text-center">
            <% if (instance_question_info.prev_instance_question_id) { %>
            <a class="btn btn-primary" href="<%= urlPrefix %>/instance_question/<%= instance_question_info.prev_instance_question_id %>/">Previous question</a>
            <% } else { %>
            <a class="btn btn-primary disabled">Previous question</a>
            <% } %>
          </p>
          <p class="text-center">
            <% if (instance_question_info.next_instance_question_id) { %>
            <a class="btn btn-primary" href="<%= urlPrefix %>/instance_question/<%= instance_question_info.next_instance_question_id %>/">Next question</a>
            <% } else { %>
            <a class="btn btn-primary disabled">Next question</a>
            <% } %>
          </p>
          <% if (video) { %>
          <div class="modal" id="youtubemodal">
            <div class="modal-dialog" style="width: 620px">
              <div class="modal-content">
                <div class="modal-body no-overflow">
                  <iframe id="player" width="560" height="315" data-url="https://www.youtube.com/embed/{{video}}?rel=0&wmode=Opaque&enablejsapi=1&autoplay=1" frameborder="0"></iframe>
                  <button type="button" class="close" data-dismiss="modal" id="youtubeclose">x</button>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">
            <a class="btn btn-warning" href="#youtubemodal" data-toggle="modal">Help video</a>
          </p>
          <% } %>

        </div>
      </div>
    </div>
  </body>
</html>
