<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <% if (assessment.type === 'Exam') { %>
    <%- compiled_script_tag('examTimeLimitCountdown.ts') %>
    <%- encoded_data({
          serverRemainingMS: assessment_instance_remaining_ms,
          serverTimeLimitMS: assessment_instance_time_limit_ms,
          serverUpdateURL: urlPrefix + '/assessment_instance/' +
                           assessment_instance.id + '/time_remaining',
          canTriggerFinish: authz_result.authorized_edit,
          csrfToken: __csrf_token,
        }, 'time-limit-data') %>
    <% } %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false, container: 'body'});
      });

      // make the file inputs display the file name
      $(document).on('change', '.custom-file-input', function () {
          let filename = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
          $(this).parent('.custom-file').find('.custom-file-label').text(filename);
      });
    </script>

    <% if (assessment.type === 'Exam' && authz_result.authorized_edit) { %>
    <div id="confirmFinishModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">All done?</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <% if (assessment_instance.all_questions_answered) { %>
            <div class="alert alert-warning">There are still unanswered questions.</div>
            <% } %>
            <p class="text-danger"><strong>Warning</strong>: You will not be able to answer any more questions after finishing the assessment.</p>
            <p>Are you sure you want to finish, complete, and close out the assessment?</p>
          </div>
          <div class="modal-footer">
            <form name="finish-form" method="POST">
              <input type="hidden" name="__action" value="finish">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <button type="submit" class="btn btn-danger">Finish assessment</button>
              <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <% if (showTimeLimitExpiredModal) { %>
      <div id="timeLimitExpiredModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Time limit expired</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p>Your time limit expired and your assessment is now finished.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(function() {$('#timeLimitExpiredModal').modal({})})
      </script>
    <% } // showTimeLimitExpiredModal %>
    <%- include('../partials/navbar', {navPage: 'assessment_instance'}); %>
    <main id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
          <% if (assessment.group_work) { %>
            <i class="fas fa-users"></i>
          <% } %>
        </div>

        <div class="card-body">
          <% if (!assessment.allow_real_time_grading && assessment_instance.open) { %>
            <div class="alert alert-warning">
              This assessment will only be graded after it is finished. You should save answers for all questions and your exam will be graded later. You can use the <span class="badge badge-outline badge-light">Finish assessment</span> button below to finish and calculate your final grade.
            </div>
          <% } %>
          <div class="row align-items-center">
            <% if (!assessment.allow_real_time_grading && assessment_instance.open) { %>
              <div class="col-md-3 col-sm-12">
                <% include('../partials/pointsFormatter'); %>
                Total points: <%= getStringFromFloat(assessment_instance.max_points) %>
              <% if (assessment_instance.max_bonus_points) { %>
              <br />(<%= assessment_instance.max_bonus_points %> bonus
              point<% if (assessment_instance.max_bonus_points > 1) { %>s<% } %> possible)
              <% } %>
              </div>
              <div class="col-md-9 col-sm-12">
                  <% if (assessment_instance.open && authz_result.active) { %>
                      Assessment is <strong>open</strong> and you can answer questions.
                      <br>
                      Available credit: <%= authz_result.credit_date_string %>
                      <%- include('../partials/studentAccessRulesPopover', {
                        accessRules: authz_result.access_rules,
                        assessmentSetName: assessment_set.name,
                        assessmentNumber: assessment.number,
                      }); %>
                  <% } else { %>
                      Assessment is <strong>closed</strong> and you cannot answer questions.
                  <% } %>
              </div>
            <% } else { %>
              <div class="col-md-3 col-sm-6">
                <% include('../partials/pointsFormatter'); %>
                Total points: <%= getStringFromFloat(assessment_instance.points) %>/<%= getStringFromFloat(assessment_instance.max_points) %>
                <% if (assessment_instance.max_bonus_points) { %>
                <br />(<%= assessment_instance.max_bonus_points %> bonus
                point<% if (assessment_instance.max_bonus_points > 1) { %>s<% } %> possible)
                <% } %>
              </div>
              <div class="col-md-3 col-sm-6">
                <%- include('../partials/scorebar', {score: assessment_instance.score_perc}) %>
              </div>
              <div class="col-md-6 col-sm-12">
                  <% if (assessment_instance.open && authz_result.active) { %>
                      Assessment is <strong>open</strong> and you can answer questions.
                      <p>
                      Available credit: <%= authz_result.credit_date_string %>
                      <%- include('../partials/studentAccessRulesPopover', {
                        accessRules: authz_result.access_rules,
                        assessmentSetName: assessment_set.name,
                        assessmentNumber: assessment.number,
                      }); %>
                  <% } else { %>
                      Assessment is <strong>closed</strong> and you cannot answer questions.
                  <% } %>
              </div>
            <% } %>
            <% if (assessment.group_work) { %>
              <div class="col-lg-12">
                <%- include('../partials/groupWorkInfoContainer.ejs'); %>
              </div>
            <% } %>
          </div>

          <% if (assessment_instance.open && assessment_instance_remaining_ms) { %>
          <div class="alert alert-secondary mt-4" role="alert">
            <div class="row">
              <div class="col-md-2 col-sm-12 col-xs-12">
                <div id="countdownProgress"></div>
              </div>
              <div class="col-md-10 col-sm-12 col-xs-12">
                Time remaining: <span id="countdownDisplay"></span>
              </div>
            </div>
          </div>
          <% } %>

          <% if (assessment_text_templated) { %>
          <div class="card bg-light mb-0 mt-4">
            <div class="card-body">
              <%- assessment_text_templated %>
            </div>
          </div>
          <% } %>
        </div>

        <table class="table table-sm table-hover" data-testid="assessment-questions">
          <thead>
            <% if (assessment.type === 'Exam') { %>
              <% if (has_auto_grading_question && has_manual_grading_question && assessment.allow_real_time_grading) { %>
              <tr>
                <th rowspan="2">Question</th>
                <th class="text-center" rowspan="2">Submission status</th>
                <th class="text-center" colspan="3">Auto-grading</th>
                <th class="text-center" rowspan="2">Manual grading points</th>
                <th class="text-center" rowspan="2">Total points</th>
              </tr>
              <tr>
              <% } else { %>
              <tr>
                <th>Question</th>
                <th class="text-center">Submission status</th>
              <% } %>
            <% } else { %>
              <% if (has_auto_grading_question && has_manual_grading_question) { %>
              <tr>
                <th rowspan="2">Question</th>
                <th class="text-center" colspan="3">Auto-grading</th>
                <th class="text-center" rowspan="2">Manual grading points</th>
                <th class="text-center" rowspan="2">Total points</th>
              </tr>
              <tr>
              <% } else { %>
              <tr>
                <th>Question</th>
              <% } %>
            <% } %>

            <% if (assessment.type === 'Exam') { %>
              <% if (has_auto_grading_question && assessment.allow_real_time_grading) { %>
                <th class="text-center">
                  Best submission
                  <%- include('../partials/examQuestionHelpBestSubmission'); %>
                </th>
                <th class="text-center">
                  Available points
                  <%- include('../partials/examQuestionHelpAvailablePoints'); %>
                </th>
                <th class="text-center">
                  Awarded points
                  <%- include('../partials/examQuestionHelpAwardedPoints'); %>
                </th>
              <% } else if (has_auto_grading_question && has_manual_grading_question) { %>
                <th class="text-center">Auto-grading points</th>
                <th class="text-center">Manual grading points</th>
                <th class="text-center">Total points</th>
              <% } else { %>
                <th class="text-center">Points</th>
              <% } %>
            <% } else { %>
                <% if (has_auto_grading_question) { %>
                <th class="text-center">Value</th>
                <th class="text-center">History</th>
              <% } %>
              <th class="text-center">Awarded points</th>
            <% } %>
            </tr>
          </thead>
          <tbody>
          <% instance_questions.forEach(function(instance_question, iq_index) { %>
            <% if (instance_question.start_new_zone && instance_question.zone_title) { %>
            <tr>
              <th colspan="<%= (has_auto_grading_question ? (has_manual_grading_question ? 2 : 0) + (assessment.allow_real_time_grading ? 4 : 2) : 2) + (assessment.type === 'Exam' ? 1 : 0) %>">
                <span class="mr-1">
                  <%= instance_question.zone_title %>
                </span>
                <% if (instance_question.zone_has_max_points) { %>
                  <%- include('../partials/zoneInfoBadge', { zoneInfo: {
                    popoverContent: `Of the points that you are awarded for answering these questions, at most ${instance_question.zone_max_points} will count toward your total points.`,
                    mainContent: `Maximum ${instance_question.zone_max_points} points`
                  }}); %>
                <% } %>
                <% if (instance_question.zone_has_best_questions) { %>
                  <%- include('../partials/zoneInfoBadge', { zoneInfo: {
                    popoverContent: `Of these questions, only the ${instance_question.zone_best_questions} with the highest number of awarded points will count toward your total points.`,
                    mainContent: `Best ${instance_question.zone_best_questions} questions`
                  }}); %>
                <% } %>
              </th>
            </tr>
            <% } %>
            <tr class="<% if (instance_question.sequence_locked) { %>bg-light pl-sequence-locked<% } %>">
              <td>
                <%- include('../partials/studentAssessmentInstanceRowLabel.ejs', {
                  ...instance_question,
                  rowLabelText: assessment.type === 'Exam' ? `Question ${instance_question.question_number}` : `${instance_question.question_number}. ${instance_question.question_title}`,
                }); %>
              </td>
              <% if (assessment.type === 'Exam') { %>
                <td class="text-center"><%- include('../partials/examQuestionStatus', {instance_question}); %></td>
                <% if (has_auto_grading_question && assessment.allow_real_time_grading) { %>
                  <td class="text-center"><%- include('../partials/examQuestionScore', {instance_question}); %></td>
                  <td class="text-center"><%- include('../partials/examQuestionAvailablePoints', {open: assessment_instance.open && instance_question.open, currentWeight: instance_question.points_list_original[instance_question.number_attempts] - instance_question.max_manual_points, points_list: instance_question.points_list.map((p) => (p - instance_question.max_manual_points)), highest_submission_score: instance_question.highest_submission_score}); %></td>
                <% } %>
                <% if (assessment.allow_real_time_grading || !assessment_instance.open) { %>
                  <% if (has_auto_grading_question && has_manual_grading_question) { %>
                    <td class="text-center"><%- include('../partials/instanceQuestionPoints', {instance_question, component: 'auto'}); %></td>
                    <td class="text-center"><%- include('../partials/instanceQuestionPoints', {instance_question, component: 'manual'}); %></td>
                  <% } %>
                  <td class="text-center"><%- include('../partials/instanceQuestionPoints', {instance_question, component: 'total'}); %></td>
                <% } else { %>
                <% include('../partials/pointsFormatter'); %>
                  <% if (has_auto_grading_question && has_manual_grading_question) { %>
                    <td class="text-center"><%= getStringFromFloat(instance_question.max_auto_points) %></td>
                    <td class="text-center"><%= getStringFromFloat(instance_question.max_manual_points) %></td>
                  <% } %>
                  <td class="text-center"><%= getStringFromFloat(instance_question.max_points) %></td>
                <% } %>
              <% } else { %>
                <% if (has_auto_grading_question) { %>
                <td class="text-center"><%- include('../partials/questionValue', {value: instance_question.current_value});  %></td>
                <td class="text-center"><%- include('../partials/questionAwardedPoints', {awarded_points: instance_question.variants_points_list, init_points: instance_question.init_points});  %></td>
                <% } %>
                <% if (has_auto_grading_question && has_manual_grading_question) { %>
                <td class="text-center">
                  <%- include('../partials/instanceQuestionPoints', {instance_question, component: 'auto'}); %>
                </td>
                <td class="text-center">
                  <%- include('../partials/instanceQuestionPoints', {instance_question, component: 'manual'}); %>
                </td>
                <% } %>
                <td class="text-center">
                  <%- include('../partials/instanceQuestionPoints', {instance_question, component: 'total'}); %>
                </td>
              <% } %>
              </tr>
          <% }); %>
          </tbody>
        </table>

        <div class="card-footer">
          <% if (assessment.type === 'Exam' && assessment_instance.open && authz_result.active) { %>
          <% if (assessment.allow_real_time_grading) { %>
            <form name="grade-form" method="POST" class="form-inline">
              <input type="hidden" name="__action" value="grade">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <% if (savedAnswers > 0) { %>
                <button type="submit" class="btn btn-info my-2"<% if (!authz_result.authorized_edit) { %> disabled<% } %>>Grade <%= savedAnswers %> saved answer<% if (savedAnswers != 1) { %>s<% } %></button>
              <% } else { %>
                <button type="submit" class="btn btn-info my-2" disabled>No saved answers to grade</button>
              <% } %>
            </form>
            <ul class="my-1">
              <% if (suspendedSavedAnswers > 1) { %>
              <li>There are <%= suspendedSavedAnswers %> saved answers that cannot be graded yet because their grade rate has not been reached. They are marked with the <i class="fa fa-hourglass-half"></i> icon above. Reload this page to update this information.</li>
              <% } else if (suspendedSavedAnswers == 1) { %>
              <li>There is one saved answer that cannot be graded yet because its grade rate has not been reached. It is marked with the <i class="fa fa-hourglass-half"></i> icon above. Reload this page to update this information.</li>
              <% } %>
              <li>Submit your answer to each question with the <strong>Save & Grade</strong> or <strong>Save only</strong> buttons on the question page.</li>
              <li>Look at <strong>Best submission</strong> to confirm that each question has been graded. Questions with <strong>Available points</strong> can be attempted again for more points. Attempting questions again will never reduce the points you already have.</li>
              <% if (authz_result.mode == 'SEB' || authz_result.password != null || authz_result.show_closed_assessment == false) { %>
                <li>
                  After you have answered all the questions completely, click here:
                  <button class="btn btn-danger" data-toggle="modal" data-target="#confirmFinishModal"<% if (!authz_result.authorized_edit) { %> disabled<% } %>>Finish assessment</button>
                </li>
              <% } else { %>
                <li>When you are done, please logout and close your browser; there is no need to do anything else. If you have any saved answers when you leave, they will be automatically graded before your final score is computed.</li>
              <% } %>
            </ul>
          <% } else { %>
            <ul class="my-1">
              <li>Submit your answer to each question with the <strong>Save</strong> button on the question page.</li>
              <li>
                After you have answered all the questions completely, click here:
                <button class="btn btn-danger" data-toggle="modal" data-target="#confirmFinishModal" <% if (!authz_result.authorized_edit) { %> disabled<% } %>>Finish assessment</button>
              </li>
            </ul>
          <% } %>
          <% } %>
          <% if (!authz_result.authorized_edit) { %>
            <div class="alert alert-warning mt-4" role="alert">
              You are viewing the assessment of a different user and so are not authorized to submit questions for grading or to mark the assessment as complete.
            </div>
          <% } %>
        </div>
      </div>

      <%- include('../partials/attachFilePanel') %>
      <%- include('../partials/instructorInfoPanel') %>
    </main>
  </body>
</html>
