<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <link href="/stylesheets/issues.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'issues'}); %>
    <div id="content" class="container">

      <div class="modal fade" id="closeAllIssuesModal" tabindex="-1" role="dialog" aria-labelledby="closeAllIssues">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="closeAllIssuesModalLabel">Close all issues</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to close all issues? This cannot
              be undone.
            </div>
            <div class="modal-footer">
              <form name="close-all-form" method="POST">
                <input type="hidden" name="__action" value="close_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Close all</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <div class="d-flex flex-column">
            Issues
            <small><%= openCount %> open, <%= closedCount %> closed</small>
          </div>
          <button class="btn btn-sm btn-danger ml-auto" data-toggle="modal" data-target="#closeAllIssuesModal">
            <i class="fa fa-times" aria-hidden="true"></i> Close all issues
          </button>
        </div>

        <table class="table table-sm two-column-description">
          <tbody>
            <% if (typeof filterQid != 'undefined') { %>
            <tr>
              <th class="align-middle">Filter:</th>
              <td>
                <div class="input-group">
                  <input type="text" class="form-control" disabled value="QID:<%= filterQid %>">
                  <div class="input-group-append">
                    <a class="btn btn-secondary" role="button" href="<%= urlPrefix %>/issues">
                      <i class="fa fa-times" aria-hidden="true"></i>
                      Clear
                    </a>
                  </span>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>



        <%
        var getFormattedMessage = function(row) {
          if (row.student_message == null || row.student_message.length == 0) {
            return '—';
          }

          var msg = row.student_message;
          if (row.manually_reported) {
            msg = '"' + msg + '"';
          }
          return msg;
        };
        %>

        <!-- Once more, with spirit! -->
        <div class="list-group list-group-flush">
          <% rows.forEach(row => { %>
          <div class="list-group-item issue-list-item">
            <% if (row.open) { %>
            <i class="fa fa-exclamation-circle text-danger issue-status-icon"></i>
            <% } else { %>
            <i class="fa fa-check-circle text-success issue-status-icon"></i>
            <% } %>
            <%- include('../partials/issueStatusButton', {open: row.open, issue_id: row.issue_id}) %>
            <div class="d-block">
              <a class="text-truncate d-block" href="<%= urlPrefix %>/question/<%= row.question_id %>/?variant_id=<%= row.variant_id %>">
                <%= row.question_qid ? (row.question_qid + ': ') : '' %><%= getFormattedMessage(row) %>
              </a>
            </div>
            <small class="text-muted mr-2">#<%= row.display_id %> reported <span title="<%= row.formatted_date %>"><%= row.relative_date %></span> by <%= row.user_uid || '-' %></small>

            <% if (row.manually_reported) { %>
              <span class="badge badge-info">Manually reported</span>
            <% } %>
            <% if (row.assessment) { %>
            <%- include('../partials/assessment', {assessment: row.assessment}) %>
            <% } %>
            <% if (row.course_instance_short_name) { %>
            <span class="badge badge-dark"><%= row.course_instance_short_name || '—' %></span>
            <% } %>
          </div>
          <% }); %>
        </div>

        <div class="card-body">
          <%- include('../partials/pager') %>
        </div>

      </div>
    </div>
  </body>
</html>
