<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'effective'}); %>
    <div id="content" class="container">

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Authenticated user
        </div>

        <div class="card-body">
          <p><strong>Authenticated UID:</strong> <%= authz_data.authn_user.uid %></p>
          <p><strong>Authenticated name:</strong> <%= authz_data.authn_user.name %></p>
          <p><strong>Authenticated role:</strong> <%= authz_data.authn_role %></p>
          <p><strong>Authenticated mode:</strong> <%= authz_data.authn_mode %></p>

          <form id="resetForm" method="POST">
            <input type="hidden" name="__action" value="reset">
            <button type="submit" class="btn btn-info">Reset to these values</button>
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
          </form>
        </div>

        <div class="card-footer">
          <small>
            The <em>authenticated</em> values above are the ones that you logged in with. The <em>effective</em> values below allow you to view PrairieLearn as if you had a different <em>role</em>, as if you were a specific other person with a different <em>UID</em>, or as if PrairieLearn was running in a different <em>mode</em>. This can be used to test out how PrairieLearn will look from different points of view. The “Reset to these values” button above will reset all effective values below to your authenticated values. Effective values are also reset when you switch to a different course instance.
          </small>
        </div>
      </div>

      <!-- #################################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Effective role
        </div>

        <div class="card-body">
          <p><strong>Effective role:</strong> <%= authz_data.role %></p>

          <div class="alert alert-secondary mb-0">
            <form class="form-inline" id="changeRoleForm" method="POST">
              <div class="form-group">
                <label class="mr-2" for="changeEffectiveRole">Change effective role to:</label>
                <select class="form-control mr-2" id="changeEffectiveRole" name="pl_requested_role">
                  <% available_roles.reverse().forEach(function(available_role) { %>
                  <% if (available_role == authz_data.role) { %>
                  <option value="<%= available_role %>" selected><%= available_role %> (current)</option>
                  <% } else { %>
                  <option value="<%= available_role %>"><%= available_role %></option>
                  <% } %>
                  <% }); %>
                </select>
              </div>
              <input type="hidden" name="__action" value="changeRole">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <button type="submit" class="btn btn-primary">Change role</button>
            </form>
          </div>
        </div>

        <div class="card-footer">
          <small>
            Your <em>role</em> determines the permissions that you have to view and edit data in PrairieLearn. It is specific to this course instance, so you can be a Student in one course but a TA in a different course.
          </small>
        </div>
      </div>

      <!-- #################################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Effective user
        </div>

        <div class="card-body">
          <p><strong>Effective UID:</strong> <%= user.uid %></p>
          <p><strong>Effective name:</strong> <%= user.name %></p>

          <div class="alert alert-secondary mb-0">
            <form id="changeUidForm" class="form-inline" method="POST">
              <div class="form-group">
                <label class="mr-2" for="changeEffectiveUid">Change effective UID to:</label>
                <input list="userList" type="text" class="form-control mr-2"
                       style="width: 20em;" name="pl_requested_uid"
                       id="changeEffectiveUid" placeholder="username@domain.org">
                <datalist id="userList">
                  <% if (available_uids) { %>
                  <% available_uids.forEach(function(available_uid) { %>
                  <option value="<%= available_uid %>"><%= available_uid %></option>
                  <% }); %>
                  <% } %>
                </datalist>
              </div>
              <input type="hidden" name="__action" value="changeUid">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <button type="submit" class="btn btn-primary">Change UID</button>
            </form>
          </div>
        </div>

        <div class="card-footer">
          <small>
            Changing your effective user identity to another person allows you to see PrairieLearn exactly as they would see it. You cannot emulate an effective user with a higher access level than your own.
          </small>
        </div>
      </div>

      <!-- #################################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Effective mode
        </div>

        <div class="card-body">
          <p><strong>Effective mode:</strong> <%= authz_data.mode %></p>

          <div class="alert alert-secondary mb-0">
            <form class="form-inline" id="changeModeForm" method="POST">
              <div class="form-group">
                <label class="mr-2" for="changeMode">Change effective mode to:</label>
                <select class="form-control mr-2" id="changeMode" name="pl_requested_mode">
                  <% if (authz_data.mode == 'Public') { %>
                  <option value="Public" selected>Public (current)</option>
                  <% } else { %>
                  <option value="Public">Public</option>
                  <% } %>

                  <% if (authz_data.mode == 'Exam') { %>
                  <option value="Exam" selected>Exam (current)</option>
                  <% } else { %>
                  <option value="Exam">Exam</option>
                  <% } %>

                  <% if (authz_data.mode == 'SEB') { %>
                  <option value='SEB' selected>SEB (current)</option>
                  <% } else { %>
                  <option value='SEB'>SEB</option>
                  <% } %>
                </select>
              </div>
              <input type="hidden" name="__action" value="changeMode">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <button type="submit" class="btn btn-primary">Change mode</button>
            </form>
          </div>
        </div>

        <div class="card-footer">
          <small>
            The <em>mode</em> of the server determines which tests and questions are available. The <em>Public</em> mode is used when PrairieLearn is accessed from the general internet (on campus, at home, etc). The <em>Exam</em> mode is used when the user is physically sitting at a computer in the CBTF (Computer-Based Testing Facility). The options above allow you to test out the different modes to see which assessments will be seen in either Public or Exam mode.
          </small>
        </div>
      </div>
    </div>
  </body>
</html>
