<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbarAdmin', {navPage: ''}); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/localscripts/question.js"></script>
    <%- extraHeaders %>
    <script type="text/javascript" src="/localscripts/question<%= question.type %>.js"></script>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Question <%= question.qid %></h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr>
              <th>Title</th>
              <td><%= question.title %></td>
            </tr>
            <tr>
              <th>QID</th>
              <td><%= question.qid %></td>
            </tr>
            <tr>
              <th>Type</th>
              <td><%= question.type %></td>
            </tr>
            <tr>
              <th>Topic</th>
              <td><%- include('../partials/topic', {topic: topic}); %></td>
            </tr>
            <tr>
              <th>Tags</th>
              <td><%- include('../partials/tags', {tags: tags}); %></td>
            </tr>
            <tr>
              <th>Assessments</th>
              <td><%- include('../partials/assessments', {assessments: assessments}); %></td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="question-0" class="question-container">
        <script type="application/json" class="question-data"><%- questionJson  %></script>
        
        <div class="panel panel-primary question-block">
          <div class="panel-heading">
            <h3 class="panel-title"><%= question.title %></h3>
          </div>
          <div class="panel-body question-body">
            <%- questionHtml %>
          </div>
          <div class="panel-footer">
            <button class="btn btn-primary question-submit">Submit</button>
            <a class="btn btn-info" href=".">New variant</a>
            <form class="question-form" name="question-form" method="POST" action="<%= postUrl %>">
              <input type="hidden" name="postData">
            </form>
          </div>
        </div>

        <% if (submission) { %>
        <div class="panel panel-info submission-block">
          <div class="panel-heading">
            <h3 class="panel-title">Submission</h3>
          </div>
          <div class="panel-body">
            <p>
              <%- scoreHtml %>
            </p>
            <div class="submission-body">
              <%- submissionHtml %>
            </div>
          </div>
        </div>

        <div class="panel panel-info grading-block">
          <div class="panel-heading">
            <h3 class="panel-title">True answer</h3>
          </div>
          <div class="panel-body answer-body">
            <%- answerHtml %>
          </div>
        </div>
        <% } %>

      </div> <!-- question-container -->

    </div>
  </body>
</html>
