<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('d3/dist/d3.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('async/dist/async.min.js') %>"></script>
    <script src="<%= asset_path('localscripts/histmini.js') %>"></script>
  </head>
  <script>
    $(() => {
        $('.js-sync-popover[data-toggle="popover"]').popover({
            sanitize: false,
        }).on("show.bs.popover", function() {
            $($(this).data("bs.popover").getTipElement()).css("max-width", "80%");
        });

        var assessment_ids_needing_stats_update = <%- JSON.stringify(assessment_ids_needing_stats_update) %>;
        // Fetch new statistics in parallel, but with a limit to avoid saturating the server.
        async.eachLimit(assessment_ids_needing_stats_update, 3, async (assessment_id) => {
          try {
            const response = await fetch('<%= urlPrefix %>/instance_admin/assessments/stats/' + assessment_id);
            if (!response.ok) {
                throw new Error(`ERROR ${response.status} (${response.statusText}}`);
            }

            // parse the HTML response
            const template = document.createElement('template');
            template.innerHTML = await response.text();
            const newContent = document.importNode(template.content, true);

            // update the page content
            const row = document.getElementById('row-' + assessment_id);
            row.querySelector('.score-stat-number').innerHTML = newContent.querySelector('.score-stat-number').innerHTML;
            row.querySelector('.score-stat-score-hist').innerHTML = newContent.querySelector('.score-stat-score-hist').innerHTML;
            row.querySelector('.score-stat-mean').innerHTML = newContent.querySelector('.score-stat-mean').innerHTML;
            row.querySelector('.duration-stat-mean').innerHTML = newContent.querySelector('.duration-stat-mean').innerHTML;

            // re-evaluate scripts in the row to render statistics
            row.querySelectorAll('script').forEach((scriptNode) => {
              const newScriptNode = document.createElement("script");
              newScriptNode.text = scriptNode.innerHTML;
              scriptNode.parentNode.replaceChild(newScriptNode, scriptNode);
            });
          } catch (err) {
            console.log(`Error fetching statistics for assessment_id=${assessment_id}`, err);
            const row = document.getElementById('row-' + assessment_id);
            row.querySelector('.score-stat-number').innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>';
            row.querySelector('.score-stat-score-hist').innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>';
            row.querySelector('.score-stat-mean').innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>';
            row.querySelector('.duration-stat-mean').innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>';
          }
        })
    });
  </script>
  <body>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
      <%- include('../partials/courseInstanceSyncErrorsAndWarnings'); %>
      <div class="card mb-4">
        <div class="card-header bg-primary">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <span class="text-white">Assessments</span>
                </div>
                <% if ((authz_data.has_course_permission_edit) && (! course.example_course)) { %>
                <div class="col-auto">
                    <form name="add-assessment-form" method="POST">
                        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                        <button name="__action" value="add_assessment" class="btn btn-sm btn-light"><i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">Add assessment</span></button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th style="width: 1%"><span class="sr-only">Label</span></th>
                <th><span class="sr-only">Title</span></th>
                <th>AID</th>
                <th class="text-center">Students</th>
                <th class="text-center">Scores</th>
                <th class="text-center">Mean Score</th>
                <th class="text-center">Mean Duration</th>
              </tr>
            </thead>
            <tbody>
              <% rows.forEach(function(row) { %>
              <% if (row.start_new_assessment_group) { %>
              <tr>
                <th colspan="7"><%= row.assessment_group_heading %></th>
              </tr>
              <% } %>
              <tr id="row-<%= row.id %>">
                <td class="align-middle" style="width: 1%">
                  <a href="<%= urlPrefix %>/assessment/<%= row.id %>/" class="badge color-<%= row.color %> color-hover" role="button">
                    <%= row.label %></a>
                </td>
                <td class="align-middle">
                  <% if (row.sync_errors) { %>
                    <button
                      class="btn btn-xs mr-1 js-sync-popover"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-container="body"
                      data-html="true"
                      data-title="Sync Errors"
                      data-content="<pre style=&quot;background-color: black&quot; class=&quot;text-white rounded p-3 mb-0&quot;><%= row.sync_errors_ansified %></pre>"
                    >
                      <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    </button>
                  <% } else if (row.sync_warnings) { %>
                    <button
                      class="btn btn-xs mr-1 js-sync-popover"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-container="body"
                      data-html="true"
                      data-title="Sync Warnings"
                      data-content="<pre style=&quot;background-color: black&quot; class=&quot;text-white rounded p-3 mb-0&quot;><%= row.sync_warnings_ansified %></pre>"
                    >
                      <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                    </button>
                  <% } %>
                  <a href="<%= urlPrefix %>/assessment/<%= row.id %>/"><%= row.title %>
                  <% if (row.group_work) { %>
                    <i class="fas fa-users" aria-hidden="true"></i>
                  <% } %></a>
                  <%- include('../partials/issueBadge', {count: row.open_issue_count}); %>
                </td>
                
                <td class="align-middle"><%= row.tid %></td>

                <%- include('./assessmentStats', {row}); %>

              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <p>
            Download <a href="<%= urlPrefix %>/instance_admin/assessments/file/<%= csvFilename %>"><%= csvFilename %></a>
            (includes more statistics columns than displayed above)
          </p>
        </div>

      </div>
    </main>
  </body>
</html>
