<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Grading Job <%= grading_job.id %></h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr>
              <th>Question</th>
              <td><%= question_qid %></td>
            </tr>
            <tr>
              <th>User</th>
              <td><%= user_uid %></td>
            </tr>
            <tr>
              <th>Requested at</th>
              <td><%= formatted_grading_requested_at %></td>
            </tr>
            <tr>
              <th>Submitted at</th>
              <td><%= formatted_grading_submitted_at %></td>
            </tr>
            <tr>
              <th>Received at</th>
              <td><%= formatted_grading_received_at %></td>
            </tr>
            <tr>
              <th>Started at</th>
              <td><%= formatted_grading_started_at %></td>
            </tr>
            <tr>
              <th>Finished at</th>
              <td><%= formatted_grading_finished_at %></td>
            </tr>
            <tr>
              <th>Graded at</th>
              <td><%= formatted_graded_at %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <% if (grading_job.s3_bucket && grading_job.s3_root_key) { %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Downloads</h3>
          </div>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>File</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="<%= urlPrefix %>/grading_job/<%= grading_job.id %>/file/job.tar.gz">job.tar.gz</a>
                </td>
                <td>
                  Contains all files necessary for grading; this is what
                  is mounted to <code>/grade</code> when your job is run.
                </td>
              </tr>
              <tr>
                <td>
                  <a href="<%= urlPrefix %>/grading_job/<%= grading_job.id %>/file/archive.tar.gz">archive.tar.gz</a>
                </td>
                <td>
                  A snapshot of <code>/grade</code> after your job has been executed.
                </td>
              </tr>
              <tr>
                <td>
                  <a href="<%= urlPrefix %>/grading_job/<%= grading_job.id %>/file/results.json">results.json</a>
                </td>
                <td>
                  Contains the PrairieLearn-generated results, which includes the
                  contents of your <code>results.json</code> as well as some
                  PrairieLearn metadata.
                </td>
              </tr>
              <tr>
                <td>
                  <a href="<%= urlPrefix %>/grading_job/<%= grading_job.id %>/file/output.log">output.log</a>
                </td>
                <td>
                  Contains the raw output from stdout/stderr for your job.
                  Lines beginning with <code>container &gt;</code> are from
                  your container; the rest are diagnostic logs from PrairieLearn.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% } %>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Job Output</h3>
        </div>
        <div class="panel-body">
          <% if (grading_job.s3_bucket && grading_job.s3_root_key) { %>
          <script>
            $.get('<%= urlPrefix %>/grading_job/<%= grading_job.id %>/file/output.log')
            .done(function(data) {
              $('#job-output-loading').hide();
              $('#job-output').text(data);
              $('#job-output').show();
            }).fail(function() {
              $('#job-output-loading').hide();
              $('#job-output').text('Unable to load grader results');
              $('#job-output').show();
            });
          </script>
          <pre id="job-output" style="display: none;"></pre>
          <i class="fa fa-spinner fa-spin fa-2x" id="job-output-loading" style="width: 100%; text-align: center;"></i>
          <% } else { %>
          <% if (grading_job.output) { %>
          <pre id="job-output"><%= grading_job.output %></pre>
          <% } else { %>
          <pre>No output was captured for this grading job.</pre>
          <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
