<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'gradebook'}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Gradebook for <%= course.title %>, <%= course_instance.long_name %>
        </div>

        <div class="card-body">
          <strong>This is where you can view your grades for your PrairieLearn
             assessments for <%= course.title %> of <%= course_instance.long_name %>.</strong>
        </div>
        
        <div class="table-responsive table-no-wrap">
          <table class="table table-sm table-hover">
            <thead>
              <tr align = "center" >
                <th width = "500px">Assessment</th>
                <th >Percentage score</th>
              </tr>
            </thead>
            <tbody>
              <% user_scores.forEach(function(row, iRow) { %>
                <% course_assessments.forEach(function(assessment, score, iScore) { %>
                  <tr align = "center">
                    <td ><%= assessment.label; %></td>
                    <td>
                      <% if (row["scores"][score]["score_perc"] == null) { %>
                      —
                      <% } else { %>
                        <%= Math.floor(row["scores"][score]["score_perc"])%>%
                      <% } %>
                    </td>
                  </tr>
                <% }); %>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
