<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript">
        $(document).ready(function(){

            function getCollapseControl($this) {
                return $(`[href=".collapse-id-${$this.attr('collapse-id')}"]`);
            }

            var collapseData =  $('.collapse-element');

            collapseData.on('hide.bs.collapse', function() {
                var control = getCollapseControl($(this));
                control.text('Show instances');
                control.attr('aria-expanded', 'false');
            });
            collapseData.on('show.bs.collapse', function() {
                var control = getCollapseControl($(this));
                control.text('Hide instances');
                control.attr('aria-expanded', 'true');
            });
        });
    </script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'gradebook'}); %>
    <div id="content" class="container">

      <%- include('../partials/advertisement'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Gradebook</div>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th style="width: 1%"></th>
              <th></th>
              <th class="text-center">Score</th>
            </tr>
          </thead>
          <tbody>
            <% for (row_index = 0; row_index < rows.length; row_index++) { %>
            <% var row = rows[row_index];
            if (row.start_new_set) { %>
            <tr>
              <th colspan="3"><%= row.assessment_set_heading %></th>
            </tr>
            <% } %>
            <tr <% if (row.collapse) { %> class="collapse collapse-element collapse-id-<%= row.collapse_id %>" collapse-id=<%= row.collapse_id %> aria-expanded="false" <% } %> >
              <td class="align-middle" style="width: 1%">
                <span class="badge color-<%= row.assessment_set_color %> color-hover">
                  <%= row.label %>
                </span>
              </td>
              <td class="align-middle">
                  <span><%= row.title %></span>
                  <% if (row.collapse_control) { %>
                      <button class="badge badge-light border color-hover" role="button" data-toggle="collapse" href=".collapse-id-<%= row.collapse_id %>">
                          Show instances
                      </button>
                  <% } %>
              </td>
              <td class="text-center align-middle">
                <% if (!row.multiple_instance_header) { %>
                <%- include('../partials/scorebar', {score: row.display_score_perc}) %>
                <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
