<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <%- compiled_script_tag('question.ts') %>
    <% if (assessment.type === 'Exam') { %>
    <%- compiled_script_tag('examTimeLimitCountdown.ts') %>
    <%- encoded_data({
          serverRemainingMS: assessment_instance_remaining_ms,
          serverTimeLimitMS: assessment_instance_time_limit_ms,
          serverUpdateURL: urlPrefix + '/assessment_instance/' +
                           assessment_instance.id + '/time_remaining',
          canTriggerFinish: authz_result.authorized_edit,
          csrfToken: __csrf_token,
        }, 'time-limit-data') %>
    <% } %>
    <script defer src="<%= node_modules_asset_path('mathjax/es5/startup.js') %>"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= asset_path('javascripts/require.js') %>"></script>
    <script src="<%= asset_path('localscripts/question.js') %>"></script>
    <script src="<%= asset_path(`localscripts/question${effectiveQuestionType}.js`) %>"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <script>
      // make the file inputs display the file name
      $(document).on('change', '.custom-file-input', function () {
          let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
          $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
      });
    </script>

    <%- include('../partials/navbar', {navPage: ''}); %>
    <main id="content" class="container">
      <div class="row">
        <div class="col-lg-9 col-sm-12">
          <%- include('../partials/question', {question_context: assessment.type === 'Exam' ? 'student_exam' : 'student_homework'}); %>
        </div>

        <div class="col-lg-3 col-sm-12">

          <% if (assessment.type === 'Exam') { %>
          <div class="card mb-4">
            <div class="card-header bg-secondary"><a class="text-white" href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/"><%= assessment_set.name %> <%= assessment.number %></a></div>

            <div class="card-body">
              <div class="d-flex justify-content-center">
                <a class="btn btn-info" href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/">Assessment overview</a>
              </div>

              <% if (assessment_instance.open && assessment_instance_remaining_ms != null) { %>
              <div class="mt-3">
                <div id="countdownProgress"></div>
                <p class="mb-0">
                  Time remaining: <span id="countdownDisplay"></span>
                </p>
              </div>
              <% } %>
            </div>
          </div>
          <% } else { %>
          <%- include('../partials/assessmentScorePanel') %>
          <% } %>

          <%- include('../partials/questionScorePanel') %>

          <%- include('../partials/questionNavSideButtonGroup') %>

          <% if (config.attachedFilesDialogEnabled) { %>
              <%- include('../partials/attachFilePanel') %>
          <% } %>

          <%- include('../partials/instructorInfoPanel') %>
        </div>
      </div>
    </main>
  </body>
</html>
