<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript" src="/localscripts/histogram.js"></script>
    <script type="text/javascript" src="/localscripts/scatter.js"></script>
  </head>
  <body>
    <%- include('../partials/adminNavbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= assessment_set.abbrev %><%= assessment.number %>.<%= assessment_instance.number %>
            Summary:
            <%= instance_user.name %> (<%= instance_user.uid %>)
          </h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr><th>UID</th><td><%= instance_user.uid %></td></tr>
            <tr><th>Name</th><td><%= instance_user.name %></td></tr>
            <tr><th>Role</th><td><%= enrollment.role %></td></tr>
            <tr><th>Assessment instance</th><td><%= assessment_instance.number %></td></tr>
            <tr><th>Score</th><td><%- include('../partials/scorebar', {score: assessment_instance.score_perc}); %></td></tr>
            <tr><th>Duration</th><td><%= assessment_instance_duration %></td></tr>
          </tbody>
        </table>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= assessment_set.abbrev %><%= assessment.number %>.<%= assessment_instance.number %>
            Log:
            <%= instance_user.name %> (<%= instance_user.uid %>)
          </h3>
        </div>
        <div class="panel-body">
          <small>
            Download <a href="<%= urlPrefix %>/assessmentInstance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.

            Click on a column header to sort. Shift-click on a second header to sub-sort.
          </small>
        </div>

        <table id="logTable" class="table table-condensed table-hover tablesorter">
          <thead>
            <tr>
              <th>Time</th>
              <th>Auth user</th>
              <th>Event</th>
              <th>Question</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <% log.forEach(function(row) { %>
            <tr>
              <td><%= row.date %></td>
              <td><a href="<%= urlPrefix %>/user/<%= row.auth_user_id %>"><%= row.auth_user_uid %></a></td>
              <td><button class="btn btn-xs btn-<%= row.event_color %>"><%= row.event_name %></button></td>
              <td><% if (row.qid) { %><a href="<%= urlPrefix %>/question/<%= row.question_id %>"><%= row.qid %></a><% } %></td>
              <td><%= (row.data != null) ? JSON.stringify(row.data) : null %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <script>
          $(function(){
              $("#logTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme"],
              });
          });
        </script>
        <div class="panel-footer">
          <small>
            Download <a href="<%= urlPrefix %>/assessmentInstance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
