<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <link href="/stylesheets/issues.css" rel="stylesheet" />
    </head>
    <body>
        <%- include('../partials/navbar', {navPage: 'requestCourse'}); %>
        <div id="content" class="container">

            <% if (typeof error_message !== 'undefined') { %>
                <div class="card mb-4">
                    <div class="card-header bg-danger text-white d-flex align-items-center">
                        Error
                    </div>
                    <div class="card-body">
                        <%- error_message  %>
                    </div>
                </div>
            <% } /* error message */ %>

            <!-- Previous Course Requests -->
            <% if (course_requests.length > 0) { %>
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white d-flex align-items-center">
                        Course Requests
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Short Name</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Details</th>
                            </thead>
                            <tbody>
                                <% course_requests.forEach(function(req, i) { %>
                                    <tr>
                                        <td><%= req.short_name %></td>
                                        <td><%= req.title %></td>
                                        <td><%- include('approvalStatusIcon', {status: req.status}); %> </td>
                                        <td><%= req.details %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% } /* non-zero course requests */ %>

            <!-- New Request -->
            <div class="card mb-4">
                <div class="card-header bg-primary text-white d-flex align-items-center">
                    Request a New Course
                </div>
                <form class="question-form" name="course-request" method="POST">
                    <div class="card-body">
                        <p> This form is for instructors who want to create a new course on PrairieLearn.  Teaching assistants and course staff are granted access by the owner of their course and should <strong>not</strong> submit this form. </p>
                        <div class="form-group">
                            <label for="cr-shortname">Course Rubric and Number</label>
                            <input type="text" class="form-control" name="cr-shortname" placeholder="MATH 101" pattern="[a-zA-Z]+ [a-zA-Z0-9]+" title="this is a series of letters, followed by a space, followed by a series of numbers and/or letters" required>
                            <small class="form-text text-muted">
                                Examples: MATH 101, PHYS 440.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="cr-title">Course Title</label>
                            <input type="text" class="form-control" name="cr-title" placeholder="Elementary Mathematics" minlength="1" required>
                            <small class="form-text text-muted">
                                This is the official title of the course, as given in the course catalog.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="cr-ghuser">GitHub Username (optional)</label>
                            <input type="text" class="form-control" name="cr-ghuser">
                            <small class="form-text text-muted">
                                Providing your GitHub username will allow you to edit course content offline.  You do not need to provide this if you would like to use the online web editor.
                            </small>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                        <button class="btn btn-primary" type="submit">Submit Request</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
