<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
    <script type="text/javascript" src="/localscripts/histmini.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'admin'}); %>
    <div id="content" class="container">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Administrators -------------------------------------------------------------->

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Administrators</h3>
        </div>

        <div class="panel-body">
          <a id="administratorInsertButton"
             tabindex="0" class="btn btn-xs btn-default" role="button"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Add new administrator"
             data-content="<%= include('administratorInsertForm',
                           {id: 'administratorInsertButton'}) %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-user-plus" aria-hidden="true"></i> Add new administrator
          </a>
        </div>

        <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>UID</th>
              <th>Name</th>
              <th></th>
          </thead>
          <tbody>
            <% administrator_users.forEach(function(administrator_user, i) { %>
            <tr>
              <td><%= administrator_user.uid %></td>
              <td><%= administrator_user.name %></td>
              <td>
                <a id="administratorDeleteButton<%= i %>"
                   tabindex="0" class="btn btn-xs btn-default" role="button"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Remove administrator access"
                   data-content="<%= include('administratorDeleteForm',
                                 {id: 'administratorDeleteButton' + i, uid: administrator_user.uid,
                                 user_id: administrator_user.user_id}) %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-times" aria-hidden="true"></i> Remove
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>

        <div class="panel-footer">
          <small>
            Administrators have full access to every course and course
            instance. They are automatically Owners of every course
            and Instructors of every course instance. They can add and
            remove other administrators.
          </small>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Exam mode networks ---------------------------------------------------------->

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Exam-mode networks</h3>
        </div>

        <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>CIDR</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Location</th>
              <th>Purpose</th>
          </thead>
          <tbody>
            <% networks.forEach(function(network, i) { %>
            <tr>
              <td><%= network.network %></td>
              <td><%= network.start_date %></td>
              <td><%= network.end_date %></td>
              <td><%= network.location %></td>
              <td><%= network.purpose %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

        <div class="panel-footer">
          <small>
            To add new networks for exam-mode access, insert directly
            into the <strong><tt>exam_mode_networks</tt></strong> table.
          </small>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Courses --------------------------------------------------------------------->

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Courses</h3>
        </div>

        <div class="panel-body">
          <a id="courseInsertButton"
             tabindex="0" class="btn btn-xs btn-default" role="button"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Add new administrator"
             data-content="<%= include('courseInsertForm', {id: 'courseInsertButton'}) %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-plus" aria-hidden="true"></i> Add new course
          </a>
        </div>

        <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>Short name</th>
              <th>Title</th>
              <th>Timezone</th>
              <th>Path</th>
              <th>Repository</th>
              <th></th>
          </thead>
          <tbody>
            <% courses.forEach(function(course, i) { %>
            <tr>
              <%- include('courseUpdateColumn', {column_name: 'short_name',       label: 'short name', course: course, i: i}) %>
              <%- include('courseUpdateColumn', {column_name: 'title',            label: 'title',      course: course, i: i}) %>
              <%- include('courseUpdateColumn', {column_name: 'display_timezone', label: 'timezone',   course: course, i: i}) %>
              <%- include('courseUpdateColumn', {column_name: 'path',             label: 'path',       course: course, i: i}) %>
              <%- include('courseUpdateColumn', {column_name: 'repository',       label: 'repository', course: course, i: i}) %>
              <td>
                <a id="courseDeleteButton<%= i %>"
                   tabindex="0" class="btn btn-xs btn-default" role="button"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Really delete <%= course.short_name %>?"
                   data-content="<%= include('courseDeleteForm',
                                 {id: 'courseDeleteButton' + i, course: course, i: i}) %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-times" aria-hidden="true"></i> Delete course
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>

        <div class="panel-footer">
          <small>
            When a course is synced, if the <strong>path</strong> does
            not exist on disk then a <code>git clone</code> is
            performed from the <strong>repository</strong>, otherwise
            a <code>git pull</code> is run in
            the <strong>path</strong> directory. The <strong>short
            name</strong> and <strong>title</strong> are updated from
            the JSON configuration file in the repository during the
            sync.
          </small>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->

    </div>
  </body>
</html>
