<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <script src="/localscripts/histmini.js"></script>
    <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
    <style>
    canvas {
      border: none;
      width: 100%;
      height: 100%;
      display: block;
    }
    .chart-container {
      width: 100%;
    }
    .chart-container:not(:last-child) {
      margin-bottom: 2rem;
    }
    @media (min-width: 768px) {
      .chart-container {
        width: 50%;
      }
      .chart-container:not(:last-child) {
        margin-bottom: 0;
      }
    }
    </style>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'admin'}); %>
    <div id="content" class="container">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Config ---------------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Server configuration</div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
            </thead>
            <tbody>
              <% configs.forEach(function(config, i) { %>
              <tr>
                <td><%= config.key %></td>
                <td><%= config.value %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            Edit values in the <strong><tt>config</tt></strong> table.
          </small>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Administrators -------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Administrators
          <a id="administratorInsertButton"
             tabindex="0" class="btn btn-sm btn-light ml-auto" role="button"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Add new administrator"
             data-content="<%= include('administratorInsertForm',
                           {id: 'administratorInsertButton'}) %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">Add administrator</span>
          </a>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>UID</th>
                <th>Name</th>
                <th></th>
            </thead>
            <tbody>
              <% administrator_users.forEach(function(administrator_user, i) { %>
              <tr>
                <td class="align-middle"><%= administrator_user.uid %></td>
                <td class="align-middle"><%= administrator_user.name %></td>
                <td class="align-middle">
                  <a id="administratorDeleteButton<%= i %>"
                     class="btn btn-sm btn-danger float-right"
                     tabindex="0" role="button"
                     data-toggle="popover" data-container="body"
                     data-html="true" data-placement="auto" title="Remove administrator access"
                     data-content="<%= include('administratorDeleteForm',
                                   {id: 'administratorDeleteButton' + i, uid: administrator_user.uid,
                                   user_id: administrator_user.user_id}) %>"
                     data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-times" aria-hidden="true"></i> Remove
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            Administrators have full access to every course and course
            instance. They are automatically Owners of every course
            and Instructors of every course instance. They can add and
            remove other administrators.
          </small>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Exam mode networks ---------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Exam-mode networks</div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>CIDR</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Location</th>
                <th>Purpose</th>
            </thead>
            <tbody>
              <% networks.forEach(function(network, i) { %>
              <tr>
                <td><%= network.network %></td>
                <td><%= network.start_date %></td>
                <td><%= network.end_date %></td>
                <td><%= network.location %></td>
                <td><%= network.purpose %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            To add new networks for exam-mode access, insert directly
            into the <strong><tt>exam_mode_networks</tt></strong> table.
          </small>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Courses --------------------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Courses
          <a id="courseInsertButton"
             tabindex="0" class="btn btn-sm btn-light ml-auto" role="button"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Add new administrator"
             data-content="<%= include('courseInsertForm', {id: 'courseInsertButton'}) %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">Add course</span>
          </a>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Short name</th>
                <th>Title</th>
                <th>Timezone</th>
                <th>Path</th>
                <th>Repository</th>
                <th></th>
            </thead>
            <tbody>
              <% courses.forEach(function(course, i) { %>
              <tr>
                <%- include('courseUpdateColumn', {column_name: 'short_name',       label: 'short name', course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'title',            label: 'title',      course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'display_timezone', label: 'timezone',   course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'path',             label: 'path',       course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'repository',       label: 'repository', course: course, i: i}) %>
                <td class="align-middle">
                  <a id="courseDeleteButton<%= i %>"
                     class="btn btn-sm btn-danger float-right"
                     tabindex="0" role="button"
                     data-toggle="popover" data-container="body"
                     data-html="true" data-placement="auto" title="Really delete <%= course.short_name %>?"
                     data-content="<%= include('courseDeleteForm',
                                   {id: 'courseDeleteButton' + i, course: course, i: i}) %>"
                     data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-times" aria-hidden="true"></i> Delete course
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <small>
            When a course is synced, if the <strong>path</strong> does
            not exist on disk then a <code>git clone</code> is
            performed from the <strong>repository</strong>, otherwise
            a <code>git pull</code> is run in
            the <strong>path</strong> directory. The <strong>short
            name</strong> and <strong>title</strong> are updated from
            the JSON configuration file in the repository during the
            sync.
          </small>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Question render cache ------------------------------------------------------->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Question render cache
        </div>
        <div class="card-body">
          <div class="h4 mb-0">Cache hit rates</div>
          <div class="small text-muted">For last 24 hours</div>
          <div class="charts mt-2">
            <div class="chart-container d-inline-flex flex-column align-items-center">
              <canvas id="question-cache-hit-rate-chart"></canvas>
              <span class="mt-2">Average hit rate per question<span>
            </div><div class="chart-container d-inline-flex flex-column align-items-center">
              <canvas id="panel-cache-hit-rate-chart"></canvas>
              <span class="mt-2">Total panel hit rate</span>
            </div>
          </div>
          <hr>
          <p>
            Each panel rendered for a question is cached by default.
            This button will invalidate all entries in the cache.
            This should only be used if you know what you're doing and you suspect it's necessary.
          </p>
          <form name="invalidate-question-cache-form" method="POST">
            <input type="hidden" name="__action" value="invalidate_question_cache">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <button id="invalidate-render-cache" type="button" class="btn btn-danger">Invalidate question render cache</button>
            <div id="confirm-invalidate-cache-container" class="confirm-invalidate-cache" style="display: none;">
              <button id="confirm-invalidate-render-cache" type="submit" class="btn btn-danger">Confirm invalidate cache</button>
              <button id="cancel-invalidate-render-cache" type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </form>
          <script>
          $(function() {
            var invalidateButton = $('#invalidate-render-cache');
            var confirmInvalidateContainer = $('#confirm-invalidate-cache-container');
            var cancelInvalidateButton = $('#cancel-invalidate-render-cache');
            invalidateButton.click(function() {
              confirmInvalidateContainer.show();
              invalidateButton.hide();
            });
            cancelInvalidateButton.click(function() {
              invalidateButton.show();
              confirmInvalidateContainer.hide();
            });
            var questionCacheHitRate = <%= question_render_cache_stats.question_cache_hit_rate ? question_render_cache_stats.question_cache_hit_rate : 0 %>;
            var panelCacheHitRate = <%= question_render_cache_stats.panel_cache_hit_rate ? question_render_cache_stats.panel_cache_hit_rate : 0 %>;
            // This draws the percentage in the middle of the pie
            Chart.pluginService.register({
              beforeDraw: function(chart) {
                var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;
                ctx.restore();
                var fontSize = (height / 160).toFixed(2);
                ctx.font = fontSize + "em sans-serif";
                ctx.textBaseline = "middle";
                var text = Number(chart.config.data.datasets[0].data[0]).toFixed(2) + '%',
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2;
                ctx.fillText(text, textX, textY);
                ctx.save();
              }
            });
            function buildChart(ctx, hitRate) {
              var roundedHitRate = Math.round(hitRate * 10000) / 100;
              return new Chart(ctx, {
                type: 'pie',
                data: {
                  datasets: [{
                    data: [roundedHitRate, 100 - roundedHitRate],
                    backgroundColor: ['green', 'red'],
                  }],
                  labels: ['Cache hit %', 'Cache miss %'],
                },
                options: {
                  legend: {
                    display: false,
                  },
                  cutoutPercentage: 70,
                }
              });
            };
            buildChart($("#question-cache-hit-rate-chart"), questionCacheHitRate);
            buildChart($("#panel-cache-hit-rate-chart"), panelCacheHitRate);
          });
          </script>
        </div>
      </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->

    </div>
  </body>
</html>
