<td>
  <%= course[column_name] %>
  <a id="courseButton<%= column_name %><%= i %>"
     tabindex="0" class="btn btn-xs btn-default" role="button"
     data-toggle="popover" data-container="body"
     data-html="true" data-placement="auto" title="Change <%= label %>"
     data-content="<%= include('courseUpdateColumnForm',
                   {id: 'courseButton' + column_name + i}) %>"
     data-trigger="manual" onclick="$(this).popover('show')">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </a>
</td>
