<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false, container: 'body'});
      });

      // make the file inputs display the file name
      $(document).on('change', '.custom-file-input', function () {
          let filename = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
          $(this).parent('.custom-file').find('.custom-file-label').text(filename);
      });
    </script>

    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'assessment_instance'}); %>
    <main id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
          <% if (assessment.group_work) { %>
            <i class="fas fa-users"></i>
          <% } %>
        </div>
        <div class="card-body">
          <div class="row align-items-center mb-4">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <%- include('../partials/pointsFormatter'); %>
              Total points: <%= getStringFromFloat(assessment_instance.points) %>/<%= assessment_instance.max_points %>
              <% if (assessment_instance.max_bonus_points) { %>
              <br />(<%= assessment_instance.max_bonus_points %> bonus
              point<% if (assessment_instance.max_bonus_points > 1) { %>s<% } %> possible)
              <% } %>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <%- include('../partials/scorebar', {score: assessment_instance.score_perc}) %>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right">
              Available credit: <%= authz_result.credit_date_string %>
              <%- include('../partials/studentAccessRulesPopover', {
                  accessRules: authz_result.access_rules,
                  assessmentSetName: assessment_set.name,
                  assessmentNumber: assessment.number,
                }) %>
            </div>
          </div>
          <% if (assessment.group_work) { %>
            <%- include('../shared/groupWorkInfoContainer.ejs', {groupConfig: groupConfig, groupInfo: groupMembers}); %>
          <% } %>
          <% if (assessment_text_templated) { %>
          <div class="alert alert-secondary mb-0">
              <%- assessment_text_templated %>
          </div>
          <% } %>
        </div>

        <table class="table table-sm table-hover">
          <thead>
            <% if (has_manual_grading_question && has_auto_grading_question) { %>
            <tr>
              <th rowspan="2">Question</th>
              <th class="text-center" colspan="3">Auto-grading</th>
              <th class="text-center" rowspan="2">Manual grading points</th>
              <th class="text-center" rowspan="2">Total points</th>
            </tr>
            <tr>
              <th class="text-center">Value</th>
              <th class="text-center">History</th>
              <th class="text-center">Points</th>
            </tr>
            <% } else { %>
            <tr>
              <th>Question</th>
              <% if (has_auto_grading_question) { %>
              <th class="text-center">Value</th>
              <th class="text-center">History</th>
              <th class="text-center">Awarded points</th>
              <% } %>
              <% if (has_manual_grading_question) { %>
              <th class="text-center">Awarded points</th>
              <% } %>
            </tr>
            <% } %>
          </thead>
          <tbody>
            <% questions.forEach(function(question) { %>
            <% if (question.start_new_zone && question.zone_title) { %>
            <tr>
              <th colspan="<%= has_auto_grading_question ? has_manual_grading_question ? 6 : 4 : 2 %>">
                <%= question.zone_title %>
                <% if (question.zone_has_max_points) { %>
                  <%- include('../partials/zoneInfoBadge', { zoneInfo: {
                    popoverContent: `Of the points that you are awarded for answering these questions, at most ${question.zone_max_points} will count toward your total points.`,
                    mainContent: `Maximum ${question.zone_max_points} points`
                  }}); %>
                <% } %>
                <% if (question.zone_has_best_questions) { %>
                  <%- include('../partials/zoneInfoBadge', { zoneInfo: {
                    popoverContent: `Of these questions, only the ${question.zone_best_questions} with the highest number of awarded points will count toward your total points.`,
                    mainContent: `Best ${question.zone_best_questions} questions`
                  }}); %>
                <% } %>
              </th>
            </tr>
            <% } %>
            <tr class="<% if (question.sequence_locked) { %>bg-light pl-sequence-locked<% } %>">
              <td>
                <%- include('../partials/studentAssessmentInstanceRowLabel.ejs', {
                  ...question,
                  rowLabelText: `${question.question_number}. ${question.question_title}`,
                }); %>
              </td>
              <% if (has_auto_grading_question) { %>
              <td class="text-center"><%- include('../partials/questionValue', {value: question.current_value});  %></td>
              <td class="text-center"><%- include('../partials/questionAwardedPoints', {awarded_points: question.variants_points_list, init_points: question.init_points});  %></td>
              <% } %>
              <% if (has_auto_grading_question && has_manual_grading_question) { %>
              <td class="text-center">
                <%- include('../partials/instanceQuestionPoints',
                            {instance_question: question, component: 'auto'}); %>
              </td>
              <td class="text-center">
                <%- include('../partials/instanceQuestionPoints',
                            {instance_question: question, component: 'manual'}); %>
              </td>
              <% } %>
              <td class="text-center">
                <%- include('../partials/instanceQuestionPoints',
                            {instance_question: question, component: 'total'}); %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <%- include('../partials/attachFilePanel') %>
      <%- include('../partials/instructorInfoPanel') %>
    </main>
  </body>
</html>
