<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <style>
        .popover{
            max-width: 100%;
        }
    </style>
</head>

<body>
    <script>
        $(function() {
            $('[data-toggle="popover"]').popover({
                sanitize: false
            })
        });
        // make the file inputs display the file name
        $(document).on('change', '.custom-file-input', function () {
            let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
        });
    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
        <%- include('../partials/navtabs'); %>
        <div class="card mb-4">
            <div class="card-header bg-primary text-white d-flex">
                Course instance <%= course_instance.short_name %>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover two-column-description">
                    <tbody>
                        <tr><th>Long Name</th><td><%= course_instance.long_name %></td></tr>
                        <tr><th>Students</th><td><%= course_instance_stat.number %></td></tr>
                        <tr><th>CIID</th>
                            <td>
                                <%= course_instance.short_name %>
                                <button id="changeCiidButton" tabindex="0" class="btn btn-sm btn-outline-primary" type="button" data-toggle="popover" data-container="body" data-html="true" data-placement="auto" title="Change CIID" data-content="<%= include('../partials/changeIdForm', {id_label: 'CIID', buttonID: 'changeCiidButton', id_old: course_instance.short_name, ids: short_names}) %>" data-trigger="manual" onclick="$(this).popover('show')">
                                    <i class="fa fa-edit"></i>
                                    <span class="d-none d-sm-inline">Change CIID</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Files</th>
                            <td><%- include('../partials/instructorFileList', {
                                                files_to_list: locals.files.files,
                                                file_label: "",
                                                file_dir: "",
                                                file_url: urlPrefix + "/instance_admin"}); %></td>
                        </tr>
                        <tr>
                            <th>Client Files</th>
                            <td><%- include('../partials/instructorFileList', {
                                                files_to_list: locals.files.clientFiles,
                                                file_label: "Client",
                                                file_dir: "clientFilesCourseInstance",
                                                file_url: urlPrefix + "/instance_admin"}); %></td>
                        </tr>
                        <tr>
                            <th>Server Files</th>
                            <td><%- include('../partials/instructorFileList', {
                                                files_to_list: locals.files.serverFiles,
                                                file_label: "Server",
                                                file_dir: "serverFilesCourseInstance",
                                                file_url: urlPrefix + "/instance_admin"}); %></td>
                        </tr>


                        <tr><th>Files</th>
                            <td>
                                <a id="editJsonButton" tabindex="0" class="btn btn-sm btn-outline-primary" role="button" href="<%= urlPrefix %>/instance_admin/edit?file=courseInstances/<%= course_instance.short_name %>/infoCourseInstance.json">
                                    <i class="fa fa-edit"></i>
                                    <span class="d-none d-sm-inline">Edit infoCourseInstance.json</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-auto">
                        <form class="form-inline" method="POST">
                            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                            <button name="__action" value="copy_course_instance" class="btn btn-sm btn-primary"><i class="fa fa-clone"></i> Duplicate this course instance</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-primary" href="#" data-toggle="modal" data-target="#deleteCourseInstanceModal"><i class="fa fa-times" aria-hidden="true"></i> Delete this course instance</button>
                    </div>
                    <div class="modal fade" id="deleteCourseInstanceModal" tabindex="-1" role="dialog" aria-labelledby="deleteCourseInstance">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="deleteCourseInstanceModalLabel">Delete course instance</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Are you sure you want to delete the course instance <strong><%= course_instance.short_name %></strong>?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <form name="delete-form" method="POST">
                                        <input type="hidden" name="__action" value="delete_course_instance">
                                        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
