<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
  <script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
  </script>
    <%- include('../partials/navbar', {navPage: 'admin'}); %>

    <div id="content" class="container">

        <!-- ###################################################################### -->
        <!-- ###################################################################### -->

        <div class="card mb-4">
          <div class="card-header bg-primary text-white">
            <%= course_instance.long_name %> course instance access rules
          </div>

          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Role</th>
                  <th>UIDs</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Institution</th>
                </tr>
              </thead>
              <tbody>
                <% access_rules.forEach(function(access_rule) { %>
                <tr>
                  <td><%= access_rule.role %></td>
                  <td><%= access_rule.uids %></td>
                  <td><%= access_rule.start_date %></td>
                  <td><%= access_rule.end_date %></td>
                  <td><%= access_rule.institution %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>

        <!-- ###################################################################### -->
        <!-- ###################################################################### -->


        <div class="card mb-4">
            <div class="card-header bg-primary text-white">LTI configuration</div>
            <div class="card-body">
            <% if (config.hasLti) { %>
                <h5 class="card-title">LTI credentials</h5>

                <p>Use these credentials with your LMS (Coursera) to connect into this course instance.
                   A single credential can be shared with multiple links.
                </p>
                <p><strong>Launch URL: </strong><code><%= config.ltiRedirectUrl %></code>
                    <i class="far fa-copy" title="Copy to clipboard"
                        onClick="copyToClipboard($(this).prev());$(this).fadeOut({queue: true});$(this).fadeIn({queue:true});"></i>
                </p>
                <table class="table">
                    <thead><tr><th>Consumer key</th>
                            <th>Shared secret</th>
                            <th>Created</th>
                            <th>Deleted</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (lti_credentials) { %>
                    <% lti_credentials.forEach(function(tc) { %>
                    <tr><td><code><%= tc.consumer_key %></code>
                        <i class="far fa-copy" title="Copy to clipboard"
                            onClick="copyToClipboard($(this).prev());$(this).fadeOut({queue: true});$(this).fadeIn({queue:true});"></i>
                        </td>
                        <td><code><%= tc.secret %></code>
                            <i class="far fa-copy" title="Copy to clipboard"
                                onClick="copyToClipboard($(this).prev());$(this).fadeOut({queue: true});$(this).fadeIn({queue:true});"></i>

                        </td>
                        <td><%= tc.created %></td>
                        <td>
                            <% if (tc.deleted) { %>
                            <%= tc.deleted %>
                        <% } else { %>
                            <a tabindex="0" class="btn btn-danger" role="button"
                                data-toggle="popover" data-trigger="focus" data-container="body"
                                data-html="true" data-placement="auto" title="Confirm delete"
                                data-content="
                            <form method=&quot;post&quot;>
                                <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;lti_del_cred&quot;>
                                <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                <input type=&quot;hidden&quot; name=&quot;lti_link_id&quot; value=&quot;<%= tc.id %>&quot;>
                                <input type=&quot;submit&quot; class=&quot;btn btn-danger&quot; value=&quot;Delete&quot;>
                                ">Delete</a>
                            </form>
                            <% } %>
                        </td>
                        </tr>
                        <% }); %>
                        <% } else { %>
                            <tr><td colspan=99><em>No credentials have been established.</em></td></tr>
                        <% } %>
                    <tr>
                        <td colspan="99">
                            <form method="post">
                                <input type="hidden" name="__action" value="lti_new_cred">
                                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                <input type="submit" class="btn btn-success" value="Create new">
                            </form>
                        </td>
                    </tr>
                </table>

                <hr>
                <h5 class="card-title">LTI link targets</h5>
                <p>Map a link from your LMS directly into a PrairieLearn assessment.
                   This is required for PrairieLearn to update scores in your LMS (if configured).
                   <br>Create and follow the link in your LMS, then configure it here.
               </p>
                <% if (lti_links) { %>
                <table class="table">
                    <thead><tr><th>Link info</th>
                            <th>Assessment</th>
                            <th>Link first seen</th>
                    </tr></thead>
                    <tbody>
                    <% lti_links.forEach(function(l) { %>
                        <tr>
                        <td title="<%= l.resource_link_description %>">
                            <%= l.resource_link_title %>
                        </td>
                        <td>
                            <form method="post">
                            <input type="hidden" name="__action" value="lti_link_target">
                            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                            <input type="hidden" name="lti_link_id" value="<%= l.id %>">
                            <select onChange="this.form.submit();" name="newAssessment">
                            <option value=""
                            <% if (!l.assessment_id) { %>selected<% } %>
                                >-- None</option>
                            <% assessments.forEach(function(a) { %>
                                <option value="<%= a.assessment_id %>"
                                <% if (l.assessment_id == a.assessment_id) { %>selected<% } %>
                                ><%= a.label %>: <%= a.title %> (<%= a.tid %>)</option>
                                <% }); %>
                            </select>
                            </form>
                        </td>
                        <td><%= l.created %></td>
                        </tr>
                        <% }); %>
            </tbody>
                </table>
                <% } else { %>
                    <em>No links have been established.</em>
                    <% } %>
            <% } else { %>
                <em>LTI not enabled on this server.</em>
            <% } %>
            </div>
            <div class="card-footer">
                <a href="https://www.imsglobal.org/basic-overview-how-lti-works">Learn more about LTI.</a>
            </div>
        </div>
    </div>
    </body>
    </html>
