<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
	<title>Make Scrap Paper</title>
</head>
<body>
    <%- include('../partials/navbar'); %>

    <div id="content" class="container">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">Generate a PDF Document Containing Barcoded Scrap Paper</div>
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="__action" value="print_scrap_paper">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <div class="form-group">
                                <label class="form-check-label" for="page_label">Page Label</label>
                                <input class="form-control" type="text" id="page_label" name="page_label" maxLength="<%= charLimit %>">
                            </div>
                            <div class="form-group">
                                <label class="form-check-label"     for="num_pages">Number of Pages</label>
                                <input class="form-control" type="number" id="num_pages" name="num_pages" min="1" max="<%= pageLimit %>" value="1">
                            </div>
                            <button type="submit" class="btn btn-primary">Generate Barcoded Scrap Paper</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
