<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="<%= asset_path('stylesheets/issues.css') %>" rel="stylesheet" />
	<title></title>
</head>
<body>
    <%- include('../partials/navbar'); %>

    <div id="content" class="container">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">Generate a PDF Document Containing Barcoded Scrap Paper</div>
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="__action" value="print_scrap_paper">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">

                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <label for="page_label">Page Label:</label>
                            <input type="text" id="page_label" name="page_label" maxLength="<%= charLimit %>">
                        </div>
                        <div class="col-lg-9 col-sm-12">
                            <label for="num_pages">Number of Pages:</label>
                            <input type="number" id="num_pages" name="num_pages" min="1" max="<%= pageLimit %>" value="1">
                        </div>

                        <div class="col-lg-9 col-sm-12">
                            <button>Generate Barcoded Scrap Paper</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
</body>

</html>
