<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link href="<%= asset_path('stylesheets/issues.css') %>" rel="stylesheet" />
	<title></title>
</head>
<body>
    <%- include('../partials/navbar', {navPage: 'news_item'}); %>

    <div id="content" class="container">

        <!--PDF Generated in iframe for Download-->
        <div class="pdf-container">
            <% if (typeof pdf !== 'undefined') { %>
                <iframe id="pdf-iframe" width="100%" height="600px" type="text/html" src="data:application/pdf;base64,<%= pdf %>"></iframe>
            <% } %>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">Generate a Printable Barcoded Scrap Paper PDF</div>
            <div class="card-body">
                <form method="POST">
                    <input type="hidden" name="__action" value="make_scrap_paper">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">

                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <label for="page_label">Page Label:</label>
                            <input type="text" id="page_label" name="page_label">
                        </div>
                        <div class="col-lg-9 col-sm-12">
                            <label for="num_pages">Quantity (Max 500 pages per generation):</label>
                            <input type="number" id="num_pages" name="num_pages" min="1" max="500" value="1">
                        </div>

                        <div class="col-lg-9 col-sm-12">
                            <button>Generate Barcoded Scrap Paper</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
</body>

</html>
