<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'user_settings'}); %>
    <div id="content" class="container">
      <h1 class="mb-4">Settings</h1>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Personal Access Tokens
          <button id="generateTokenButton"
            type="button" class="btn btn-light btn-sm ml-auto"
            data-toggle="popover" data-container="body"
            data-html="true" data-placement="auto" title="Generate new token"
            data-content="<%= include('tokenGenerateForm', {id: 'generateTokenButton'}) %>"
            data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">Generate new token</span>
          </button>
        </div>
        <div class="card-body">
          <p class="mb-0">You can generate tokens in order to access the PrairieLearn API.</p>
          <% if (newAccessTokens.length > 0) { %>
            <div class="alert alert-primary mt-3" role="alert">
              New access token created! Be sure to copy it now, as you won&apos;t be able to see it later.
            </div>
            <% newAccessTokens.forEach(function(token) { %>
            <div class="alert alert-success mb-0 new-access-token" role="alert">
              <%= token %>
            </div>
            <% }); %>
          <% } %>
        </div>
        <ul class="list-group list-group-flush">
          <% if (accessTokens.length === 0) { %>
          <li class="list-group-item">
            <span class="text-muted">You don&apos;t currently have any access tokens</span>
          </li>
          <% } else { %>
          <% accessTokens.forEach(function (token) { %>
          <li class="list-group-item d-flex align-items-center">
            <div class="d-flex flex-column mr-3">
              <strong><%= token.name %></strong>
              <span class="text-muted">Created at <%= token.created_at %></span>
              <span class="text-muted">
                <% if (token.last_used_at !== null) { %>
                Last used at <%= token.last_used_at %>
                <% } else { %>
                Never used
                <% } %>
              </span>
            </div>
            <button id="deleteTokenButton<%= token.id %>"
              type="button" class="btn btn-outline-danger btn-sm ml-auto"
              data-toggle="popover" data-container="body"
              data-html="true" data-placement="auto" title="Delete this token"
              data-content="<%= include('tokenDeleteForm', {id: 'deleteTokenButton' + token.id, token_id: token.id }) %>"
              data-trigger="manual" onclick="$(this).popover('show')">
              Delete
            </button>
          </li>
          <% })}; %>
        </ul>
      </div>
    </div>
  </body>
</html>
