<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'user_settings'}); %>
    <div id="content" class="container">
      <h1 class="mb-4">Settings</h1>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Personal Access Tokens
          <button id="generateTokenButton"
            type="button" class="btn btn-light btn-sm ml-auto"
            data-toggle="popover" data-container="body"
            data-html="true" data-placement="auto" title="Generate new token"
            data-content="<%= include('tokenGenerateForm', {id: 'generateTokenButton'}) %>"
            data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">Generate new token</span>
          </button>
        </div>
        <div class="card-body">
          <p class="mb-0">You can generate tokens in order to access the PrairieLearn API.</p>
          <% if (newAccessTokens.length > 0) { %>
            <div class="alert alert-primary mt-3" role="alert">
              New access token created! Be sure to copy it now, as you won&apos;t be able to see it later.
            </div>
            <% newAccessTokens.forEach(function(token) { %>
            <div class="alert alert-success mb-0 new-access-token" role="alert">
              <%= token %>
            </div>
            <% }); %>
          <% } %>
        </div>
        <ul class="list-group list-group-flush">
          <% if (accessTokens.length === 0) { %>
          <li class="list-group-item">
            <span class="text-muted">You don&apos;t currently have any access tokens</span>
          </li>
          <% } else { %>
          <% accessTokens.forEach(function (token) { %>
          <li class="list-group-item d-flex align-items-center">
            <div class="d-flex flex-column mr-3">
              <strong><%= token.name %></strong>
              <span class="text-muted">Created at <%= token.created_at %></span>
              <span class="text-muted">
                <% if (token.last_used_at !== null) { %>
                Last used at <%= token.last_used_at %>
                <% } else { %>
                Never used
                <% } %>
              </span>
            </div>
            <button id="deleteTokenButton<%= token.id %>"
              type="button" class="btn btn-outline-danger btn-sm ml-auto"
              data-toggle="popover" data-container="body"
              data-html="true" data-placement="auto" title="Delete this token"
              data-content="<%= include('tokenDeleteForm', {id: 'deleteTokenButton' + token.id, token_id: token.id }) %>"
              data-trigger="manual" onclick="$(this).popover('show')">
              Delete
            </button>
          </li>
          <% })}; %>
        </ul>
      <div class="card-body">
        <form method="post" action="#">      
          <fieldset>        
              <%console.log("reached check undefined " + (checked === 'undefined'));
              if (checked !== 'undefined') 
              if(checked) {%>
              <input type="checkbox" name="dark_mode" value="0" id="darkid" checked = true checked data-toggle="toggle" 
              data-on="🌙" data-off="☀" data-onstyle="outline-primary" data-offstyle="outline-warning">dark_mode<br>  
              <%} else { %>   
                <input type="checkbox" name="dark_mode" value="0" id="darkid" data-toggle="toggle" 
                data-on="🌙" data-off="☀" data-onstyle="dark" data-offstyle="primary">dark_mode<br> 
              <%}  %> 
              <!-- <input type="checkbox" name="other_thing1" value="2">other_thing1<br>     
              <input type="checkbox" name="other_thing2" value="3">other_thing2<br>    -->
              <input type="hidden" name="__action" value="update_settings">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">   
              <br>      
              <input type="submit" value="Apply settings" class="btn btn-primary"/>      
          </fieldset>      
          </form>
          </div>
    </div>
  </body>
</html>
