<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
  </head>
  <body>
    <%- include('../../partials/navbar'); %>
    <main id="content" class="container-fluid">
      <%- include('../../partials/assessmentSyncErrorsAndWarnings'); %>
      <%- include('../../partials/assessmentOpenInstancesAlert') %>
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.name %> <%= assessment.number %>: Manual Grading Queue
        </div>

        <div class="table-responsive">
          <table id="instanceQuestionGradingTable" class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Question</th>
                <th>QID</th>
                <th>Auto Points</th>
                <th>Manual Points</th>
                <th colspan="2">Submissions to grade</th>
                <th>Grading assigned to</th>
                <th>Graded by</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% questions.forEach(function(question, i) { %>
              <tr>
                <td>
                  <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/manual_grading/assessment_question/<%= question.id %>">
                    <% if (question.alternative_group_size == 1) { %>
                    <%= question.alternative_group_number %>.
                    <% } else { %>
                    <%= question.alternative_group_number %>.<%= question.number_in_alternative_group %>.
                    <% } %>
                    <%= question.title %>
                  </a>
                </td>
                <td><%= question.qid %></td>
                <td class="text-center">
                  <% if (question.max_auto_points) { %>
                  <% if (assessment.type == "Exam") { %><%= (question.points_list || [question.max_manual_points]).map((p) => p - question.max_manual_points) %><% } %>
                  <% if (assessment.type == "Homework") { %><%= question.init_points - question.max_manual_points %>/<%= question.max_auto_points %><% } %>
                  <% } else { %>—<% } %>
                </td>
                <td class="text-center"><%= question.max_manual_points || '—' %></td>
                <td class="text-center" data-testid="iq-to-grade-count">
                  <%= question.num_instance_questions_to_grade ?? 0 %> /
                  <%= question.num_instance_questions ?? 0 %>
                </td>
                <td>
                  <% if (question.num_instance_questions) { %>
                  <% const progress = Math.floor(100 * (1 - (question.num_instance_questions_to_grade || 0) / question.num_instance_questions)); %>
                  <div class="progress border" style="min-width: 4em; max-width: 10em;">
                    <div class="progress-bar bg-light" style="width: <%= progress %>%"></div>
                    <div class="progress-bar bg-danger" style="width: <%= 100 - progress %>%"></div>
                  </div>
                  <% } %>
                </td>
                <td>
                  <% if (question.num_instance_questions_assigned > 0) { %>
                  <strong class="bg-warning rounded px-1"><%= authz_data.user.name ?? authz_data.user.uid %></strong><%= question.assigned_graders?.some(u => u.user_id != authz_data.user.user_id) ? ', ' : '' %>
                  <% } %>
                  <%= (question.assigned_graders || []).filter(u => u.user_id != authz_data.user.user_id).map(u => u.name ?? u.uid).join(', ') %>
                  <% if (question.num_instance_questions_unassigned > 0) { %>
                  <small class="text-muted">(<%= question.num_instance_questions_unassigned ?? 0 %> unassigned)</small>
                  <% } %>
                </td>
                <td>
                  <%= (question.actual_graders || []).map(u => u.name ?? u.uid).join(', ') %>
                </td>
                <td>
                  <% if (authz_data.has_course_instance_permission_edit &&
                         (question.num_instance_questions_assigned + question.num_instance_questions_unassigned > 0)) { %>
                  <a class="btn btn-xs btn-primary" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/manual_grading/assessment_question/<%= question.id %>/next_ungraded">
                    Grade next submission
                  </a>
                  <% } %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

    </main>
  </body>
</html>
