<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageNote: 'Preview', pageTitle: question.qid}); %>
    <%- include('../partials/mathjax'); %>
    <script src="/node_modules/socket.io-client/dist/socket.io.slim.js"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <% } %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <div id="content" class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-12">
              <%- include('../partials/instructorGradingPanel', {diff: 'Current', submission: current, question_context: 'instructor'}); %>
          </div>
          <div class="col-lg-6 col-sm-12">
            <%- include('../partials/instructorGradingPanel', {diff: 'Incoming', submission: incoming, question_context: 'instructor'}); %>
        </div>
      </div>

    </div>
    <!-- Needs to be located below element scripts -->
    <script src="/localscripts/questionPageScripts.js"></script>
  </body>
</html>

