<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/highlight-default.css" rel="stylesheet" />
    <script src="/javascripts/jquery.tablesorter.min.js"></script>
    <script src="/javascripts/jquery.tablesorter.widgets.js"></script>
    <script src="/javascripts/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'adminQueries'}); %>

    <%
      // hide *_id columns if we are going to hide them later
      function renderHeader(fields, col) {
          const row = {};
          fields.forEach(f => {row[f.name] = true;});

          if (col == 'course_id' && 'course' in row) {
              %> <%
          } else if (col == 'course_instance_id' && 'course_instance' in row) {
              %> <%
          } else if (col == 'assessment_id' && 'assessment' in row && 'course_instance_id' in row) {
              %> <%
          } else {
              %> <th><%= col %></th> <%
          }
      }
      
      function render(row, col) {
          if (row[col] == null) {
              %> <td></td> <%
          } else if (col == 'course_id' && 'course' in row) {
              %> <%
          } else if (col == 'course' && 'course_id' in row) {
              %> <td><a href="<%= urlPrefix %>/course/<%= row['course_id'] %>"><%= row[col] %></a></td> <%
          } else if (col == 'course_instance_id' && 'course_instance' in row) {
              %> <%
          } else if (col == 'course_instance' && 'course_instance_id' in row) {
              %> <td><a href="<%= urlPrefix %>/course_instance/<%= row['course_instance_id'] %>"><%= row[col] %></a></td> <%
          } else if (col == 'assessment_id' && 'assessment' in row && 'course_instance_id' in row) {
              %> <%
          } else if (col == 'assessment' && 'assessment_id' in row && 'course_instance_id' in row) {
              %> <td><a href="<%= urlPrefix %>/course_instance/<%= row['course_instance_id'] %>/instructor/assessment/<%= row['assessment_id'] %>"><%= row[col] %></a></td> <%
          } else if (typeof(row[col]) == 'object') {
              %> <td><tt><%= JSON.stringify(row[col]) %></tt></td> <%
          } else {
              %> <td><%= row[col] %></td> <%
          }
      }
      %>

    <div id="content" class="container-fluid">

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <tt><%= sqlFilename %></tt>

          <div class="ml-auto">
            <a href="?_format=json" role="button" class="btn btn-sm btn-light">
              <i class="fas fa-download" aria-hidden="true"></i> JSON
            </a>
            <a href="?_format=csv" role="button" class="btn btn-sm btn-light">
              <i class="fas fa-download" aria-hidden="true"></i> CSV
            </a>
          </div>
        </div>

        <div class="card-body">
          <p><%= info.description %></p>
          <p>
            <%= result.rowCount %> rows
            <button class="btn btn-xs btn-secondary ml-2" type="button" data-toggle="collapse" data-target="#sql-query"
                    aria-expanded="false" aria-controls="sql-query">Show SQL <i class="fas fa-caret-down"></i></button>
            <div id="sql-query" class="collapse">
              <pre><code class="sql"><%= sql %></code></pre>
            </div>
          </p>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped tablesorter">

            <thead>
              <tr>
                <% result.fields.forEach(field => { %>
                <%- renderHeader(result.fields, field.name) %>
                <% }); %>
              </tr>
            </thead>

            <tbody>
              <% result.rows.forEach(row => { %>
              <tr>
                <% result.fields.forEach(field => { %>
                <%- render(row, field.name) %>
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
            
          </table>
        </div>
      </div>

    </div>
  </body>
</html>

<script>
    $(function() {
        $(".tablesorter").tablesorter({
            theme: "bootstrap",
            widgets: ["columns"],
            widgetOptions: {
                columns: ["primary", "secondary", "tertiary"],
            },
        });
    });
</script>
