<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="<%= node_modules_asset_path('highlight.js/styles/default.css') %>" rel="stylesheet">
    <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'adminQueries'}); %>

    <%
      // hide *_id columns if we are going to hide them later
      function renderHeader(columns, col) {
          const row = {};
          columns.forEach(c => {row[c] = true;});

          if (col == 'course_id' && 'course' in row) {
              %> <%
          } else if (col == 'course_instance_id' && 'course_instance' in row) {
              %> <%
          } else if (col == 'assessment_id' && 'assessment' in row && 'course_instance_id' in row) {
              %> <%
          } else if (/^_sortval_/.test(col)) {
              %> <%
          } else {
              %> <th><%= col %></th> <%
          }
      }
      
      function render(row, col) {
          let tdAttributes = '';
          if (('_sortval_' + col) in row) {
              tdAttributes = `data-text="${row['_sortval_' + col]}"`;
          }

          if (col == 'course_id' && 'course' in row) {
              %> <%
          } else if (col == 'course' && 'course_id' in row) {
              %> <td <%- tdAttributes %> ><a href="<%= urlPrefix %>/course/<%= row['course_id'] %>"><%= row[col] %></a></td> <%
          } else if (col == 'course_instance_id' && 'course_instance' in row) {
              %> <%
          } else if (col == 'course_instance' && 'course_instance_id' in row) {
              %> <td <%- tdAttributes %> ><a href="<%= urlPrefix %>/course_instance/<%= row['course_instance_id'] %>"><%= row[col] %></a></td> <%
          } else if (col == 'assessment_id' && 'assessment' in row && 'course_instance_id' in row) {
              %> <%
          } else if (col == 'assessment' && 'assessment_id' in row && 'course_instance_id' in row) {
              %> <td <%- tdAttributes %> ><a href="<%= urlPrefix %>/course_instance/<%= row['course_instance_id'] %>/instructor/assessment/<%= row['assessment_id'] %>"><%= row[col] %></a></td> <%
          } else if (/^_sortval_/.test(col)) {
              %> <%
          } else if (row[col] == null) {
              %> <td <%- tdAttributes %> ></td> <%
          } else if (info.resultFormats && info.resultFormats[col] == 'pre') {
              %> <td <%- tdAttributes %> ><pre><%= row[col] %></pre></td> <%
          } else if (typeof(row[col]) == 'object') {
              %> <td <%- tdAttributes %> ><tt><%= JSON.stringify(row[col]) %></tt></td> <%
          } else {
              %> <td <%- tdAttributes %> ><%= row[col] %></td> <%
          }
      }
      %>

    <div id="content" class="container-fluid">

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <span class="font-weight-bold text-monospace"><%= sqlFilename %></span>
            <button class="btn btn-xs btn-light ml-2 my-n2" type="button" data-toggle="collapse" data-target="#sql-query"
                    aria-expanded="false" aria-controls="sql-query">Show SQL <i class="fas fa-caret-down"></i></button>
          <span class="ml-3">&mdash;</span>
          <span class="ml-3"><%= info.description %></span>
        </div>

        <div id="sql-query" class="collapse">
          <pre class="m-0 p-2 bg-light border-bottom"><code class="sql"><%- sqlHighlighted %></code></pre>
        </div>

        <div class="card-body">
          <form name="run-query-form" method="POST">
            <% if (info.params) { %>
            <% info.params.forEach(param => { %>
            <div class="form-group">
              <label for="param-<%= param.name %>"><%= param.name %></label>
              <input class="form-control" type="text"
                     id="param-<%= param.name %>"
                     aria-describedby="param-<%= param.name %>-help"
                     autocomplete="off"
                     name="<%= param.name %>"
                     <% if (typeof params != 'undefined' && params[param.name] != null) { %>
                     value="<%= params[param.name] %>"
                     <% } else if (param.default != null) { %>
                     value="<%= param.default %>"
                     <% } %>
                     >
              <small id="param-<%= param.name %>-help" class="form-text text-muted"><%= param.description %></small>
            </div>
            <% }); %>
            <% } %>
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-play"></i>
              Run query
              <% if (typeof result != 'undefined') { %>again<% } %>
            </button>
          </form>
        </div>

        <% if (has_query_run) { %>
        <div class="card-body d-flex align-items-center p-2 bg-secondary text-white">
          Query ran at: <%= formatted_date %>

          <% if (result != null) { %>
          <div class="ml-auto">
            <span class="mr-2 test-suite-row-count">
              <%= result.rowCount %> <%= (result.rowCount == 1) ? 'row' : 'rows' %>
            </span>
            <a href="?query_run_id=<%= query_run_id %>&format=json" role="button" class="btn btn-sm btn-light">
              <i class="fas fa-download" aria-hidden="true"></i> JSON
            </a>
            <a href="?query_run_id=<%= query_run_id %>&format=csv" role="button" class="btn btn-sm btn-light">
              <i class="fas fa-download" aria-hidden="true"></i> CSV
            </a>
          </div>
          <% } %>
        </div>

        <% if (error != null) { %>
        <p class="text-danger m-2">
          <%= error %>
        </p>
        <% } %>
        
        <% if (result != null) { %>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped tablesorter">

            <thead>
              <tr>
                <% result.columns.forEach(col => { %>
                <%- renderHeader(result.columns, col) %>
                <% }); %>
              </tr>
            </thead>

            <tbody>
              <% result.rows.forEach(row => { %>
              <tr>
                <% result.columns.forEach(col => { %>
                <%- render(row, col) %>
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
            
          </table>
        </div>
        <% } %>
        <% } %>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Recent query runs
        </div>
        <div class="table-responsive">
        <% if (recent_query_runs.length > 0) { %>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Date</th>
                <th>Params</th>
                <th>User name</th>
                <th>User UID</th>
              </tr>
            </thead>
            <tbody>
              <% recent_query_runs.forEach(run => { %>
                <tr>
                  <td>
                    <a href="?query_run_id=<%= run.id %>">
                      <%= run.formatted_date %>
                    </a>
                  </td>
                  <td>
                    <pre class="mb-0"><%= JSON.stringify(run.params) %></pre>
                  </td>
                  <td>
                    <%= run.user_name %>
                  </td>
                  <td>
                    <%= run.user_uid %>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <div class="card-body">
            <div class="text-center text-muted">No recent runs found</div>
          </div>
        <% } %>
        </div>
      </div>

    </div>
  </body>
</html>

<script>
    $(function() {
        $(".tablesorter").tablesorter({
            theme: "bootstrap",
            widthFixed: true,
            headerTemplate: '{content} {icon}',
            widgets: ["uitheme", "zebra"],
            widgetOptions: {
                zebra: ["even", "odd"],
            },
        });
    });
</script>
