<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript" src="/localscripts/histogram.js"></script>
    <script type="text/javascript" src="/localscripts/scatter.js"></script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover()
      });
    </script>
    <%- include('../partials/navbarAdmin', {navPage: 'assessments'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= assessment_set.abbrev %><%= assessment.number %>: <%= assessment.title %></h3>
        </div>

        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th></th>
              <th>QID</th>
              <th>Topic</th>
              <th>Points</th>
              <th>Other Assessments</th>
            </tr>
          </thead>
          <tbody>
            <% questions.forEach(function(question) { %>
            <% if (question.start_new_zone) { %>
            <tr>
              <th colspan="5">
                Zone <%= question.zone_number %>. <%= question.zone_title %>
                <% if (question.zone_number_choose == null) { %>
                (Choose all questions)
                <% } else if (question.zone_number_choose == 1) { %>
                (Choose 1 question)
                <% } else { %>
                (Choose <%= question.zone_number_choose %> questions)
                <% } %>
              </th>
            </tr>
            <% } %>
            <% if (question.start_new_alternative_group && question.alternative_group_size > 1) { %>
            <tr>
              <td colspan="5">
                <%= question.alternative_group_number %>.
                <% if (question.alternative_group_number_choose == null) { %>
                Choose all questions from:
                <% } else if (question.alternative_group_number_choose == 1) { %>
                Choose 1 question from:
                <% } else { %>
                Choose <%= question.alternative_group_number_choose %> questions from:
                <% } %>
              </td>
            </tr>
            <% } %>
            <tr>
              <td>
                <a href="<%= urlPrefix %>/admin/question/<%= question.question_id %>/">
                  <% if (question.alternative_group_size == 1) { %>
                  <%= question.alternative_group_number %>.
                  <%= question.title %>
                  <% } else { %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= question.alternative_group_number %>.<%= question.number_in_alternative_group %>.
                  <%= question.title %>
                  <% } %>
                </a>
              </td>
              <td><%= question.qid %></td>
              <td><%- include('../partials/topic', {topic: question.topic}); %></td>
              <td>
                <% if (assessment.type == "RetryExam") { %><%= question.points_list %><% } %>
                <% if (assessment.type == "Exam")      { %><%= question.max_points %><% } %>
                <% if (assessment.type == "Basic")     { %><%= question.max_points %><% } %>
                <% if (assessment.type == "Game")      { %><%= question.init_points %>/<%= question.max_points %><% } %>
              </td>
              <td>
                <% if (question.other_assessments) { %>
                <% question.other_assessments.forEach(function(assessment) { %>
                <%- include('../partials/assessment', {assessment: assessment}); %>
                <% }); %>
                <% } %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= assessment_set.abbrev %><%= assessment.number %> Score statistics</h3>
        </div>

        <% if (assessment_stat.number > 0) { %>
        <div class="panel-body">
          <div id="scoreHist" class="scoreHistogram"></div>
          <script>
            $(function() {
                var data = [<%= assessment_stat.score_hist %>];
                var xgrid = _.range(0, 110, 10);
                var options = {
                    ymin: 0,
                    xlabel: 'score / %',
                    ylabel: 'number of students',
                };
                histogram("#scoreHist", data, xgrid, options);
            });
          </script>
        </div>

        <table class="table table-condensed table-hover">
          <tbody>
            <tr><td>Number of students</td><td><%= assessment_stat.number %></td></tr>
            <tr><td>Median score</td><td><%= assessment_stat.median %>%</td></tr>
            <tr><td>Minimum score</td><td><%= assessment_stat.min %>%</td></tr>
            <tr><td>Maximum score</td><td><%= assessment_stat.max %>%</td></tr>
            <tr><td>Number of 0%</td><td><%= assessment_stat.n_zero %> (<%= assessment_stat.n_zero_perc %>% of class)</td></tr>
            <tr><td>Number of 100%</td><td><%= assessment_stat.n_hundred %> (<%= assessment_stat.n_hundred_perc %>% of class)</td></tr>
            <tr><td>Mean score</td><td><%= assessment_stat.mean %>%</td></tr>
            <tr><td>Standard deviation</td><td><%= assessment_stat.std %>%</td></tr>
          </tbody>
        </table>
        <div class="panel-footer">
          <small>
            Download <a href="<%= urlPrefix %>/admin/assessment/<%= assessment.id %>/<%= scoreStatsCsvFilename %>"><%= scoreStatsCsvFilename %></a>. Data outside of the plotted range is included in the last bin.
          </small>
        </div>

        <% } else { %>

        <div class="panel-body">
          <p>No student data.</p>
        </div>
        
        <% }%>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= assessment_set.abbrev %><%= assessment.number %> Duration statistics</h3>
        </div>

        <% if (assessment_stat.number > 0) { %>
        <div class="panel-body">
          <div id="durationHist" class="histogram"></div>
          <script>
            $(function() {
                var data = [<%= duration_stat.hist %>];
                var xgrid = [<%= duration_stat.threshold_seconds %>];
                var options = {
                    ymin: 0,
                    xlabel: 'duration',
                    ylabel: 'number of students',
                    xTickLabels: [<% duration_stat.threshold_labels.forEach(function(label) { %>'<%= label %>',<% }); %>],
                };
                histogram("#durationHist", data, xgrid, options);
            });
          </script>
        </div>

        <table class="table table-condensed table-hover">
          <tbody>
            <tr><td>Median duration</td><td><%= duration_stat.median %></td></tr>
            <tr><td>Minimum duration</td><td><%= duration_stat.min %></td></tr>
            <tr><td>Maximum duration</td><td><%= duration_stat.max %></td></tr>
            <tr><td>Mean duration</td><td><%= duration_stat.mean %></td></tr>
          </tbody>
        </table>
        <div class="panel-footer">
          <small>
            Download <a href="<%= urlPrefix %>/admin/assessment/<%= assessment.id %>/<%= durationStatsCsvFilename %>"><%= durationStatsCsvFilename %></a>. Data outside of the plotted range is included in the last bin.
          </small>
        </div>

        <% } else { %>

        <div class="panel-body">
          <p>No student data.</p>
        </div>
        
        <% }%>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= assessment_set.abbrev %><%= assessment.number %> Duration versus score</h3>
        </div>

        <% if (assessment_stat.number > 0) { %>
        <div class="panel-body">
          <div id="durationScoreScatter" class="scatter"></div>
          <script>
            $(function() {
                var xdata = [<% user_scores.forEach(function(user) { %><%= user.duration_secs %>,<% }); %>];
                var ydata = [<% user_scores.forEach(function(user) { %><%= user.score_perc %>,<% }); %>];
                var options = {
                    xgrid: [<%= duration_stat.threshold_seconds %>],
                    ygrid: _.range(0, 110, 10),
                    xlabel: 'duration',
                    ylabel: 'score / %',
                    xTickLabels: [<% duration_stat.threshold_labels.forEach(function(label) { %>'<%= label %>',<% }); %>],
                };
                scatter("#durationScoreScatter", xdata, ydata, options);
            });
          </script>
        </div>

        <div class="panel-footer">
          <small>
            Each point is one student. Data is available below for all users. Points beyond the plot range are plotted on the edge.
          </small>
        </div>

        <% } else { %>

        <div class="panel-body">
          <p>No student data.</p>
        </div>
        
        <% }%>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= assessment_set.abbrev %><%= assessment.number %> Scores</h3>
        </div>
        <div class="panel-body">
          <small>
            Download <a href="<%= urlPrefix %>/admin/assessment/<%= assessment.id %>/<%= scoresCsvFilename %>"><%= scoresCsvFilename %></a>.
            Click on a column header to sort. Shift-click on a second header to sub-sort.
          </small>
        </div>

        <table id="usersTable" class="table table-condensed table-hover tablesorter">
          <thead>
            <tr>
              <th>UID</th>
              <th>Name</th>
              <th class="cell-center">Role</th>
              <th class="cell-center">Instance</th>
              <th class="cell-center">Score</th>
              <th class="cell-center">Duration</th>
              <% if (assessment.type == 'Exam') { %>
              <th class="cell-center">Status</th>
              <% } %> <!-- if type == Exam -->
              <th class="cell-center"></th>
            </tr>
          </thead>
          <tbody>
            <% user_scores.forEach(function(row) { %>
            <tr>
              <td><%= row.uid %></td>
              <td><%= row.name %></td>
              <td class="cell-center"><%= row.role %></td>
              <td class="cell-center"><%= row.number %></td>
              <td class="cell-center"><%- include('../partials/scorebar', {score: row.score_perc}); %></td>
              <td class="cell-center" data-text="<%= row.duration_secs %>"><%= row.duration %></td>
              <% if (assessment.type == 'Exam') { %>
              <td class="cell-center">
                <% if (row.open) { %>
                Open
                <a tabindex="0" class="btn btn-xs btn-default" role="button"
                   data-toggle="popover" data-trigger="focus" data-container="body"
                   data-html="true" data-placement="auto" title="Confirm close"
                   data-content="
                                 <form name=&quot;open-form&quot; method=&quot;POST&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;postAction&quot; value=&quot;close&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;csrfToken&quot; value=&quot;<%= csrfToken %>&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;assessment_instance_id&quot; value=&quot;<%= row.assessment_instance_id %>&quot;>
                                   <button type=&quot;submit&quot; class=&quot;btn btn-danger&quot;>Grade and close</button>
                                 </form>
                                 ">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <% } else { %> <!-- if open -->
                Closed
                <a tabindex="0" class="btn btn-xs btn-default" role="button"
                   data-toggle="popover" data-trigger="focus" data-container="body"
                   data-html="true" data-placement="auto" title="Confirm open"
                   data-content="
                                 <p><small>
                                     This will disable auto-closing. The assessment will need to be manually closed.
                                 </small></p>
                                 <form name=&quot;open-form&quot; method=&quot;POST&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;postAction&quot; value=&quot;open&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;csrfToken&quot; value=&quot;<%= csrfToken %>&quot;>
                                   <input type=&quot;hidden&quot; name=&quot;assessment_instance_id&quot; value=&quot;<%= row.assessment_instance_id %>&quot;>
                                   <button type=&quot;submit&quot; class=&quot;btn btn-success&quot;>Open assessment</button>
                                 </form>
                                 ">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
                <% } %> <!-- if open -->
              </td>
              <% } %> <!-- if type == Exam -->
              <td class="cell-center"><a href="<%= urlPrefix %>/admin/assessment_instance/<%= row.assessment_instance_id %>" class="btn btn-xs btn-info">Details</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <script>
          $(function(){
              $("#usersTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme"],
                  headers: {
                      7: {sorter: false},
                  },
              });
          });
        </script>
        <div class="panel-footer">
          <small>
            Download <a href="<%= urlPrefix %>/admin/assessment/<%= assessment.id %>/<%= scoresCsvFilename %>"><%= scoresCsvFilename %></a>
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
