<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script src="/javascripts/jquery.tablesorter.min.js"></script>
    <script src="/javascripts/jquery.tablesorter.widgets.js"></script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <div class="modal fade" id="uploadAssessmentGroupsModal" tabindex="-1" role="dialog" aria-labelledby="uploadAssessmentGroups">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="uploadAssessmentGroupsModalLabel">Upload new group setting</h4>
            </div>
            <div class="modal-body">
              <%- include('csvHelpInstanceGroups'); %>
              <form name="upload-assessment-group-form" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="uploadAssessmentGroupsFileInput">
                    <label class="custom-file-label" for="uploadAssessmentGroupsFileInput">Choose CSV file</label>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="form-group mb-0">
                    <input type="hidden" name="__action" value="upload_assessment_groups">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <div id="content" class="container-fluid">
      <div class="modal fade" id="autoAssessmentGroupsModal" tabindex="-1" role="dialog" aria-labelledby="autoAssessmentGroups">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="autoAssessmentGroupsModalLabel">Auto new group setting</h4>
            </div>
            <div class="modal-body">
              <form name="auto-assessment-group-form" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="formMin">Min number of members in a group</label>
                  <input type="text" class="form-control" name="minnum">
                </div>
                <div class="form-group">
                  <label for="formMax">Max number of members in a group</label>
                  <input type="text" class="form-control" name="maxnum">
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio" value = 1 checked>Grouping entire class (Please delete all groups before executing)</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio" value = 2>Grouping not-assigned students (fill existing groups first)</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio" value = 3>Grouping not-assigned students (will not change existing groups; create new groups only)</label>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="form-group mb-0">
                    <input type="hidden" name="__action" value="auto_assessment_groups">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Group</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="container-fluid">
        <div class="modal fade" id="copyAssessmentGroupsModal" tabindex="-1" role="dialog" aria-labelledby="copyAssessmentGroups">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="copyAssessmentGroupsModalLabel">Copy group setting</h4>
              </div>
              <div class="modal-body">
                <form name="copy-assessment-group-form" method="POST" enctype="multipart/form-data">
                  <div class="input-group mb-3">
                    <select class="custom-select" name="inputGroupSelect01">
                      <option selected>Choose Assessment...</option>
                      <% assessment_list_rows.forEach(function(row, iRow) {%>
                        <option value = <%= row.id %> ><%= row.tid %>: <%= row.title %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="d-flex justify-content-end">
                    <div class="form-group mb-0">
                      <input type="hidden" name="__action" value="copy_assessment_groups">
                      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Copy</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroup">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="addGroupModalLabel">Add a group</h4>
            </div>
              <form name="add-Group-form" method="POST">
                <div class="modal-body">
                  <div class="form-name">
                    <label for="formName">Group Name</label>
                    <input type="text" class="form-control" name="groupname">
                  </div>
                  <br>
                  <div class="form-uids">
                    <label for="formUids">UIDs (Seperate with ",". Please make sure they are not in any other groups)</label>
                    <input type="text" class="form-control" name="uids" placeholder="a@illinois.edu, b@illinois.edu, c@illinois.edu">
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden" name="__action" value="addGroup">
                  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      <div class="modal fade" id="deleteAllGroupsModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllGroups">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="deleteAllGroupsModalLabel">Delete all exisitng groups</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete all exisitng groups
              for <strong><%= assessment_set.name %>
              <%= assessment.number %></strong>? This cannot be
              undone.
            </div>
            <div class="modal-footer">
              <form name="delete-all-form" method="POST">
                <input type="hidden" name="__action" value="delete_all">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete all</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Groups
          <div class="ml-auto">
            <button type="button" class="btn btn-sm btn-light" tabindex="0"
               data-toggle="modal" data-target="#addGroupModal">
              <i class="fa fa-plus" aria-hidden="true"></i> Add a group
            </button>
            <button type="button" class="btn btn-sm btn-danger" tabindex="0"
               data-toggle="modal" data-target="#deleteAllGroupsModal">
              <i class="fa fa-times" aria-hidden="true"></i> Delete all groups
            </button>
          </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm bg-light py-4 border" align="center">
                    <button type="button" class="btn btn-primary text-nowrap" data-toggle="modal" data-target="#uploadAssessmentGroupsModal">
                      <i class="fas fa-upload"></i> Upload
                    </button>
                    <div class="mt-2">
                      Upload a CSV format file for group setting.
                    </div>
                </div>
                <div class="col-sm bg-light py-4 border" align="center">
                    <button type="button" class="btn btn-primary text-nowrap" data-toggle="modal" data-target="#autoAssessmentGroupsModal">
                      <i class="fas fa-robot"></i> Auto
                    </button>
                    <div class="mt-2">
                      Quick group students into teams by system.
                    </div>
                </div>
                <div class="col-sm bg-light py-4 border" align="center">
                    <button type="button" class="btn btn-primary text-nowrap" data-toggle="modal" data-target="#copyAssessmentGroupsModal">
                      <i class="fas fa-copy"></i> Copy
                    </button>
                    <div class="mt-2">
                      Copy the group setting from another assessment.
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
          <table id="usersTable" class="table table-sm table-hover tablesorter">
            <thead>
              <tr>
                <th>GID</th>
                <th>Name</th>
                <th>Size</th>
                <th class="text-center">Group Members (UIDs)</th>
                <th class="sorter-false"></th>
                <th class="sorter-false"></th>
              </tr>
            </thead>
            <tbody>
              <% groups_rows.forEach(function(row, iRow) { %>
              <tr>
                <td><%= row.gid %></td>
                <td><%= row.groupname %></td>
                <td class="text-center"><%= row.num %></td>
                <td class="text-center"><small><%= row.uids %></small></td>
                <td class="text-center">
                  <div class="dropdown">
                    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action <span class="caret"></span>
                    </button>
                    <div id="row<%= iRow %>PopoverAdd"
                      tabindex="0" data-toggle="popover" data-trigger="manual" data-container="body"
                      data-html="true" data-placement="auto" title="Add Members"
                      data-content="
                                    <form name=&quot;add-member-form&quot; method=&quot;POST&quot;>
                                      UIDs:
                                      <input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;A@ex.com, B@ex.com&quot; name=&quot;addmemberuids&quot;>
                                      <br>
                                      <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;addmember&quot;>
                                      <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                      <input type=&quot;hidden&quot; name=&quot;gid&quot; value=&quot;<%= row.gid %>&quot;>
                                      <button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; onclick=&quot;$('#row<%= iRow %>PopoverAdd').popover('hide')&quot;>
                                        Cancel
                                      </button>
                                      <button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;>Add</button>
                                    </form>
                                    ">
                  </div>
                  <div id="row<%= iRow %>Popoverdeletemember"
                    tabindex="0" data-toggle="popover" data-trigger="manual" data-container="body"
                    data-html="true" data-placement="auto" title="Remove Members"
                    data-content="
                                  <form name=&quot;delete-member-form&quot; method=&quot;POST&quot;>
                                    UIDs:
                                    <input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;A@ex.com, B@ex.com&quot; name=&quot;deletememberuids&quot;>
                                    <br>
                                    <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;deletemember&quot;>
                                    <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                    <input type=&quot;hidden&quot; name=&quot;gid&quot; value=&quot;<%= row.gid %>&quot;>
                                    <button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; onclick=&quot;$('#row<%= iRow %>Popoverdeletemember').popover('hide')&quot;>
                                      Cancel
                                    </button>
                                    <button type=&quot;submit&quot; class=&quot;btn btn-danger&quot;>Delete</button>
                                  </form>
                                  ">
                  </div>
                  <div id="row<%= iRow %>Popoverdeletegroup"
                    tabindex="0" data-toggle="popover" data-trigger="manual" data-container="body"
                    data-html="true" data-placement="auto" title="Confirm delete this group"
                    data-content="
                                  <form name=&quot;delete-group-form&quot; method=&quot;POST&quot;>
                                    <input type=&quot;hidden&quot; name=&quot;__action&quot; value=&quot;deletegroup&quot;>
                                    <input type=&quot;hidden&quot; name=&quot;__csrf_token&quot; value=&quot;<%= __csrf_token %>&quot;>
                                    <input type=&quot;hidden&quot; name=&quot;gid&quot; value=&quot;<%= row.gid %>&quot;>
                                    <button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; onclick=&quot;$('#row<%= iRow %>Popoverdeletegroup').popover('hide')&quot;>
                                      Cancel
                                    </button>
                                    <button type=&quot;submit&quot; class=&quot;btn btn-danger&quot;>Delete</button>
                                  </form>
                                  ">
                  </div>

                    <!-- Capture all clicks to dropdown items to prevent scrolling to the top of the page -->
                    <div class="dropdown-menu" onclick="window.event.preventDefault();">

                      <!-- ################################################## -->

                      <% if (authz_data.has_instructor_edit) { %>
                        <a class="dropdown-item" onclick="$('#row<%= iRow %>PopoverAdd').popover('show')" href="#">
                          <i class="fa fa-user-plus" aria-hidden="true"></i> Add members
                        </a>
                        <% } %>

                      <!-- ################################################## -->

                      <% if (authz_data.has_instructor_edit) { %>
                        <a class="dropdown-item" onclick="$('#row<%= iRow %>Popoverdeletemember').popover('show')" href="#">
                          <i class="fa fa-user-minus" aria-hidden="true"></i> Remove members
                        </a>
                        <% } %>

                      <!-- ################################################## -->

                      <% if (authz_data.has_instructor_edit) { %>
                        <% if (authz_data.has_instructor_edit) { %>
                          <a class="dropdown-item" onclick="$('#row<%= iRow %>Popoverdeletegroup').popover('show')" href="#">
                            <i class="fa fa-times" aria-hidden="true"></i> Delete this group
                          </a>
                          <% } %>
                      </a>
                      <% } %>

                      <!-- ################################################## -->

                    </div>
                  </div>
                </td>
                <td class="text-center"><a href="<%= urlPrefix %>/assessment_instance/<%= row.assessment_instance_id %>" class="btn btn-xs btn-info">Details</a></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <div class="card-footer">
            <small>
            <% if (not_assigned_users_rows.length == 0) { %>
                <strong>
                    All students have been assigned groups.
                </strong>
            <% } else { %>
                <strong>
                    <%= not_assigned_users_rows.length %>
                    student<% if (not_assigned_users_rows.length > 1) { %>s<% } %>
                    not yet assigned:
                </strong>
                <ul class="mb-0">
                  <% not_assigned_users_rows.forEach(function(row, iRow) {%>
                  <li><%= row.uid %></li>
                  <% }); %>
                </ul>
            <% } %>
            </small>
          </div>
        </div>
        <script>
          $(function(){
              $("#usersTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme"],
                  headers: {
                      7: {sorter: false},
                      8: {sorter: false},
                  },
              });
          });
        </script>
      </div>

    </div>
  </body>
</html>
