<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
        </div>

        <div class="card-body">

          <p class="lead text-center">
            Please wait until instructed to start by a proctor
          </p>
          <p class="lead text-center">
            This is <strong><%= assessment_set.name %> <%= assessment.number %>: <%= assessment.title %></strong> for <strong><%= course.short_name %></strong>
          </p>
          <% if (authz_result.time_limit_min != undefined) { %>
          <p class="lead text-center">
            The time limit for this assessment is
            <strong>
              <%= authz_result.time_limit_min %>
              <%= (authz_result.time_limit_min == 1) ? 'minute' : 'minutes' %>
            </strong>
          </p>
          <% } %>
          <form id="confirm-form" name="confirm-form" method="POST">
            <input type="hidden" name="__action" value="newInstance">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <div class="d-flex justify-content-center">
              <button id="start-assessment" type="submit" class="btn btn-primary">Start assessment</button>
            </div>
          </form>
          <script>
            $('#confirm-form').on('submit', function() {
                $('#start-assessment')
                    .prop('disabled', true)
                    .html('<i class="fa fa-sync fa-spin fa-fw"></i> Generating questions…');
            });
          </script>

        </div> <!-- panel-body -->

      </div>
    </div>
  </body>
</html>
