<li class="nav-item">
    <a class="nav-link d-flex align-items-center <% if (navSubPage == activeSubPage || (Array.isArray(activeSubPage) && activeSubPage.includes(navSubPage))) { %>active text-dark<% } else { %>text-secondary<% } %>" href="<%= urlPrefix %><%= urlSuffix %>"><i class="mr-1 <%= iconClasses %>"></i> <%= tabLabel %><%- typeof htmlSuffix === 'undefined' ? '' : htmlSuffix %></a>
</li>
