<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <%- include('../partials/head'); %>
  <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
</head>

<body class="d-flex flex-column h-100">

  <nav class="navbar navbar-expand-md navbar-dark bg-info align-items-center" style="height:55px">
    <a class="navbar-brand" href="<%= homeUrl %>">
      <span class="navbar-brand-label">PL Workspace</span>
      <span class="navbar-brand-hover-label text-light">Go home <i class="fa fa-angle-right"
          aria-hidden="true"></i></span>
    </a>

    <div class="d-flex flex-row ml-auto align-items-center">
      <ul class="navbar-nav flex-row">
        <li class="mr-2">
          <div class="badge badge-dark">
            <span id="state" class="text-uppercase"><i class="fas fa-spinner fa-pulse"></i></span>
            <span id="message" class="font-weight-normal"></span>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#workspace-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="workspace-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-2 my-1">
          <a id="reboot" class="nav-item btn btn-light" href="/pl/workspace/<%= workspace_id %>/reboot">
            <i class="fas fa-sync text-info" aria-hidden="true"></i>
            Reboot
          </a>
        </li>
        <li class="nav-item ml-2 my-1">
          <button type="button" class="nav-item btn btn-light" data-container="body" data-toggle="popover" data-placement="left" data-html="true"
              data-content='<ul class="list-group list-group-flush">
                              <li class="list-group-item p-1"><span class="badge badge-secondary mr-1"><i class="fas fa-fw fa-redo"></i> Refresh</span>Reload this tab at any time, or close and re-open it.</li>
                              <li class="list-group-item p-1"><span class="badge badge-secondary mr-1"><i class="fas fa-fw fa-sync"></i> Reboot</span>Reboot the virtual machine.</li>
                              <li class="list-group-item p-1"><span class="badge badge-secondary mr-1"><i class="fas fa-fw fa-save"></i> Save</span>Your files are automatically saved.</li>
                              <li class="list-group-item p-1"><span class="badge badge-secondary mr-1"><i class="fas fa-fw fa-check"></i> Grade</span>Submit your files for grading by using the <code>Save &amp; Grade</code> button on the question page.</li>
                            </ul>'>
            <i class="fas fa-question-circle text-secondary" aria-hidden="true"></i>
            Help
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <main class="d-flex flex-column flex-grow h-100">
    <div id="loading_icon" class="d-flex flex-grow h-100 justify-content-center align-items-center">
      <i class="d-block fa fa-10x fa-circle-notch fa-spin text-info" aria-hidden="true"></i>
      <span class="sr-only">Loading workspace &hellip;</span>
    </div>
    <iframe id="workspace_container" class="d-none flex-grow h-100 border-0"></iframe>
  </main>

  <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    });
  </script>
  <script>
    $(function () {
      const iframe = document.getElementById('workspace_container');
      var socket = io('/workspace');

      const showLoadingFrame = () => {
        document.getElementById('loading_icon').style.setProperty('display', 'flex', 'important');
        document.getElementById('workspace_container').style.setProperty('display', 'none', 'important');
      };

      const showWorkspaceFrame = () => {
        document.getElementById('loading_icon').style.setProperty('display', 'none', 'important');
        document.getElementById('workspace_container').style.setProperty('display', 'flex', 'important');
      };

      function setMessage(message) {
        if (typeof message !== 'undefined') {
          document.getElementById('message').innerHTML = message;
        }
      }

      function setState(state) {
        if (state == 'running') {
          showWorkspaceFrame();
          iframe.src = `${window.location.href}/container/`;
        }
        if (state == 'stopped') {
          iframe.src = 'about:blank';
        }
        document.getElementById('state').innerHTML = state;
      }

      socket.on('change:state', (msg) => {
        console.log(`change:state, msg = ${JSON.stringify(msg)}`);
        setState(msg.state);
        setMessage(msg.message);
      });

      socket.on('change:message', (msg) => {
        console.log(`change:message, msg = ${JSON.stringify(msg)}`);
        setMessage(msg.message);
      });

      socket.emit('joinWorkspace', {workspace_id: <%= workspace_id %>}, (msg) => {
        console.log(`joinWorkspace, msg = ${JSON.stringify(msg)}`);
        setState(msg.state);
      });
      
      setInterval(() => {
        socket.emit('heartbeat', {workspace_id: <%= workspace_id %>}, (msg) => {
          console.log(`heartbeat, msg = ${JSON.stringify(msg)}`);
        });
      }, 1000 * <%= workspaceHeartbeatIntervalSec %>);
    });
  </script>
</body>

</html>
