<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <%- include('../partials/head'); %>
  <link href="<%= asset_path('stylesheets/workspace.css') %>" rel="stylesheet">
  <script src="<%= node_modules_asset_path('socket.io-client/dist/socket.io.min.js') %>"></script>
</head>

<body class="d-flex flex-column h-100">
  <div class="modal fade" id="rebootModal" tabindex="-1" aria-labelledby="rebootModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="h5 modal-title" id="rebootModalLabel">Reboot the workspace</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div><!-- .modal-header -->
        <div class="modal-body">
          <p>Are you sure you want to reboot the virtual machine?<p>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-save" aria-hidden="true"></i></span>Your files will remain intact through the reboot.</li>
            <li><span class="fa-li"><i class="fas fa-window-restore" aria-hidden="true"></i></span>Your workspace will reboot into this same tab.</li>
          </ul>
        </div><!-- .modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-info" href="/pl/workspace/<%= workspace_id %>/reboot">
            <i class="fas fa-sync text-white" aria-hidden="true"></i>
            Reboot
          </a>
        </div><!-- .modal-footer -->
      </div>
    </div>
  </div><!-- #rebootModal -->

  <div class="modal fade" id="resetModal" tabindex="-1" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="h5 modal-title" id="resetModalLabel">Reset the workspace</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div><!-- .modal-header -->
        <div class="modal-body">
          <p>Are you sure you want to reset the virtual machine?<p>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-exclamation-triangle text-danger" aria-hidden="true"></i></span><strong class="text-danger">Your file changes will be lost!</strong> The workspace will return to its original state upon reset.</li>
            <li><span class="fa-li"><i class="fas fa-window-restore" aria-hidden="true"></i></span>Your workspace will reset into this same tab.</li>
          </ul>
        </div><!-- .modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="/pl/workspace/<%= workspace_id %>/reset">
            <i class="fas fa-trash text-white" aria-hidden="true"></i>
            Reset
          </a>
        </div><!-- .modal-footer -->
      </div>
    </div>
  </div><!-- #resetModal -->

  <nav class="navbar navbar-expand-md navbar-dark bg-info align-items-center" style="height:55px">
    <div class="navbar-brand">
      PL Workspace<span class="d-none d-sm-inline-block small">: <%= navTitle %><span>
    </div>

    <div class="d-flex flex-row ml-auto align-items-center">
      <ul class="navbar-nav flex-row">
        <li class="mr-2">
          <span id="state" class="badge badge-dark badge-workspace text-uppercase"><i class="fas fa-spinner fa-pulse"></i></span><span id="message" class="badge badge-dark badge-workspace badge-append font-weight-normal"></span>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#workspace-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="workspace-nav">
      <ul class="navbar-nav ml-auto">
        <li class="d-sm-none nav-item ml-2 my-1">
          <span class="nav-item badge badge-light"><%= navTitle %></span>
        </li>
        <li class="nav-item ml-2 my-1">
          <a id="reboot" class="nav-item btn btn-light" data-toggle="modal" data-target="#rebootModal">
            <i class="fas fa-sync text-info" aria-hidden="true"></i>
            Reboot
          </a>
        </li>
        <li class="nav-item ml-2 my-1">
          <a id="reset" class="nav-item btn btn-light" data-toggle="modal" data-target="#resetModal">
            <i class="fas fa-trash text-danger" aria-hidden="true"></i>
            Reset
          </a>
        </li>
        <li class="nav-item ml-2 ml-md-3 my-1">
          <a tabindex="0" type="button" class="nav-item btn btn-light" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
              data-content='<ul class="list-group list-group-flush">
                              <li class="list-group-item p-2"><div class="row"><div class="col col-3 font-weight-bold d-flex align-items-center">Reloading</div><div class="col col-9">Use your browser reload button on this tab at any time, or close and re-open the tab.</div></div></li>
                              <li class="list-group-item p-2"><div class="row"><div class="col col-3 font-weight-bold d-flex align-items-center">Rebooting</div> <div class="col col-9">The <span class="badge badge-outline badge-light"><i class="fas fa-sync" aria-hidden="true"></i> Reboot</span> button will restart the virtual machine. Your files will remain intact.</div></div></li>
                              <li class="list-group-item p-2"><div class="row"><div class="col col-3 font-weight-bold d-flex align-items-center">Resetting</div> <div class="col col-9">The <span class="badge badge-outline badge-light"><i class="fas fa-trash text-secondary" aria-hidden="true"></i> Reset</span> button will delete all of your file edits and revert the virtual machine to its original state.</div></div></li>
                              <li class="list-group-item p-2"><div class="row"><div class="col col-3 font-weight-bold d-flex align-items-center">Saving</div>    <div class="col col-9">Your files are automatically saved.</div></div></li>
                              <li class="list-group-item p-2"><div class="row"><div class="col col-3 font-weight-bold d-flex align-items-center">Grading</div>   <div class="col col-9">Use the <span class="badge badge-outline badge-light">Save &amp; Grade</span> button on the PrairieLearn question page to submit your files for grading.</div></div></li>
                            </ul>'>
            <i class="fas fa-question-circle text-secondary" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="d-flex flex-column flex-grow h-100">
    <div id="loading" class="d-flex flex-grow h-100 justify-content-center align-items-center">
      <i class="d-block fa fa-10x fa-circle-notch fa-spin text-info" aria-hidden="true"></i>
      <span class="sr-only">Loading workspace &hellip;</span>
    </div>
    <iframe id="workspace" class="d-none flex-grow h-100 border-0"></iframe>
  </main>

  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({
          trigger: 'focus',
      });
    });
  </script>
  <script>
    $(function () {
      const socket = io('/workspace');
      const loadingFrame = document.getElementById('loading');
      const workspaceFrame = document.getElementById('workspace');
      const stateBadge = document.getElementById('state');
      const messageBadge = document.getElementById('message');

      const showLoadingFrame = () => {
        loadingFrame.style.setProperty('display', 'flex', 'important');
        workspaceFrame.style.setProperty('display', 'none', 'important');
      };

      const showWorkspaceFrame = () => {
        loadingFrame.style.setProperty('display', 'none', 'important');
        workspaceFrame.style.setProperty('display', 'flex', 'important');
      };

      function setMessage(message) {
        console.log(`message=${message}`);
        messageBadge.innerHTML = message;
        if (message) {
          stateBadge.classList.add('badge-prepend');
        } else {
          stateBadge.classList.remove('badge-prepend');
        }
      }

      function setState(state) {
        if (state == 'running') {
          showWorkspaceFrame();
          workspaceFrame.src = `${window.location.href}/container/`;
        }
        if (state == 'stopped') {
          workspaceFrame.src = 'about:blank';
        }
        stateBadge.innerHTML = state;
      }

      socket.on('change:state', (msg) => {
        console.log(`change:state, msg = ${JSON.stringify(msg)}`);
        setState(msg.state);
        setMessage(msg.message);
      });

      socket.on('change:message', (msg) => {
        console.log(`change:message, msg = ${JSON.stringify(msg)}`);
        setMessage(msg.message);
      });

      socket.emit('joinWorkspace', {workspace_id: <%= workspace_id %>}, (msg) => {
        console.log(`joinWorkspace, msg = ${JSON.stringify(msg)}`);
        setState(msg.state);
      });

      setInterval(() => {
        socket.emit('heartbeat', {workspace_id: <%= workspace_id %>}, (msg) => {
          console.log(`heartbeat, msg = ${JSON.stringify(msg)}`);
        });
      }, 1000 * <%= workspaceHeartbeatIntervalSec %>);
    });
  </script>
</body>

</html>
