<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip({boundary: 'window'})
      });
    </script>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Defined access rules
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover" data-testid="table-defined-access-rules">
            <thead>
              <tr>
                <th></th>
                <th>Mode</th>
                <th>UIDs</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Active</th>
                <th>Credit</th>
                <th>Time limit</th>
                <th>Password</th>
                <th>PrairieTest</th>
              </tr>
            </thead>
            <tbody>
              <% access_rules.forEach(function(access_rule) { %>
              <tr>
                <td>
                  <% if (!access_rule.has_application) { %>
                  <span data-toggle="tooltip" title="This rule does not affect assessment access for any user. This is typically caused by rules that are too restrictive, or because previous rules overlap this rule at all times. If you believe this is a mistake, make sure the rules are configured in an appropriate order of precedence.">
                    <i class="fas fa-eye-slash text-danger"></i><span class="sr-only">Not used</span>
                  </span>
                  <% } %>
                </td>
                <td><%= access_rule.mode %></td>
                <td>
                  <% if (access_rule.uids === '') { %>
                  <span class="text-danger">No UIDs</span>
                  <%
                    // Only users with permission to view student data are allowed
                    // to see the list of uids associated with an access rule. Note,
                    // however, that any user with permission to view course code
                    // (or with access to the course git repository) will be able to
                    // see the list of uids, because these access rules are defined
                    // in course code. This should be changed in future, to protect
                    // student data. See https://github.com/PrairieLearn/PrairieLearn/issues/3342

                    } else if (access_rule.uids === '—' || authz_data.has_course_instance_permission_view) { %>
                    <%= access_rule.uids %>
                    <% } else { %>
                    <span data-toggle="tooltip" title="This access rule is specific to individual students. You need permission to view student data in order to see which ones.">Hidden</span>
                  <% } %>
                </td>
                <td><%= access_rule.start_date %></td>
                <td><%= access_rule.end_date %></td>
                <td><%= access_rule.active ? 'Active' : 'Not Active' %></td>
                <td><%= access_rule.credit %></td>
                <td><%= access_rule.time_limit %></td>
                <td><%= access_rule.password %></td>
                <td>
                  <% if (access_rule.pt_exam_name) { %>
                  <a href="<%= config.ptHost %>/pt/course/<%= access_rule.pt_course_id %>/staff/exam/<%= access_rule.pt_exam_id %>"><%= access_rule.pt_course_name %>: <%= access_rule.pt_exam_name %></a>
                  <% } else if (access_rule.exam_uuid) { %>
                  <% if (devMode) { %>
                  <%= access_rule.exam_uuid %>
                  <% } else { %> <%# devMode %>
                  <span class="text-danger">Exam not found: <%= access_rule.exam_uuid %></span>
                  <% } %> <%# devMode %>
                  <% } else { %>
                  &mdash;
                  <% } %>
                  <%- access_rule.pt_exam %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <small>Instructions on how to change the access rules can be found in the <a href="https://prairielearn.readthedocs.io/en/latest/accessControl/" target="_blank">PrairieLearn documentation</a>. Note that changing time limit rules does not affect assessments in progress; to change the time limit for these exams please visit the <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/instances">Students tab</a>.</small>
        </div>
      </div>

      <% [[general_rules], exception_sets].forEach((sets, set_partition_index) => { %>
      
      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Interpreted <%= set_partition_index ? 'exception' : 'general' %> access rules
        </div>

        <% if (!sets.length) { %>
        <div class="card-body">There are no <%= set_partition_index ? 'exception' : 'general' %> access rules</div>
        <% } else { %>
        <div class="table-responsive">
          <table class="table table-sm table-hover" data-testid="table-interpreted-<%= set_partition_index ? 'exception' : 'general' %>">
            <thead>
              <tr>
                <th colspan="3"></th>
                <th>Starting the Assessment</th>
                <th colspan="3">While Assessment is Open</th>
                <th>After Assessment is Closed</th>
              </tr>
              <tr>
                <th><%= set_partition_index ? 'Students' : '' %></th>
                <th>Mode / Exam</th>
                <th>When</th>
                <th></th>
                <th>Credit</th>
                <th>Time limit</th>
                <th>Password</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% sets.forEach(function(set) { %>
              <% if (!set.general_rules) { %>
              <tr>
                <th colspan="8">
                  <% if (authz_data.has_course_instance_permission_view) { %>
                  <%= set.uids.map(uid => set.names[uid] ?? uid).join(', ') %>
                  <% } else { %>
                  <span data-toggle="tooltip" title="This access rule is specific to individual students. You need permission to view student data in order to see which ones.">Hidden</span>
                  <% } %>
                </th>
              </tr>
              <% } %>
              <% set.rules.forEach(function(access_rule) { %>
              <tr>
                <td>
                  <% if (access_rule.valid_now_public) { %>
                  <span data-toggle="tooltip" title="This rule currently applies in public mode">
                    <span class="badge badge-success badge-pill" data-testid="active-rule-badge">Active</span>
                  </span>
                  <% } %>
                </td>
                <td>
                  <% if (access_rule.pt_exam_name) { %>
                  PrairieTest: <%= access_rule.pt_exam_name %>
                  <% } else if (access_rule.exam_uuid) { %>
                  Exam UUID: <%= access_rule.exam_uuid %>
                  <% } else if (access_rule.mode_raw) { %>
                  <%= access_rule.mode %> mode
                  <% } else { %>
                  Any mode
                  <% } %>
                </td>
                <td>
                  <% if (access_rule.start_date_raw && access_rule.end_date_raw) { %>
                  Between <%= access_rule.start_date %> and <%= access_rule.end_date %>
                  <% } else if (access_rule.start_date_raw) { %>
                  From <%= access_rule.start_date %>
                  <% } else if (access_rule.end_date_raw) { %>
                  Until <%= access_rule.end_date %>
                  <% } else if (access_rule.exam_uuid) { %>
                  While exam is active
                  <% } else { %>
                  Any time
                  <% } %>
                </td>
                <% if (access_rule.active) { %>
                <td>Can start the assessment</td>
                <td><%= access_rule.credit %></td>
                <td><%= access_rule.time_limit %></td>
                <td><%= access_rule.password %></td>
                <% } else { %>
                <td>Cannot start assessment</td>
                <td colspan="3">Cannot submit new answers</td>
                <% } %>
                <td><%= access_rule.show_closed_assessment ?
                        'Can see score and answers' :
                        access_rule.show_closed_assessment_score ?
                        'Can see score, but not answers' :
                        'Cannot see score or answers'%></td>
              </tr>
              <% }); %>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
      <% }); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Other access-related settings
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover two-column-description">
            <tbody>
              <tr>
                <th>Assessment Type</th>
                <td><%= assessment.type %></td>
              </tr>
              <tr>
                <th>Real-Time Grading</th>
                <td><%= assessment.allow_real_time_grading ? 'Enabled' : 'Disabled' %></td>
              </tr>
              <tr>
                <th>Automatic Closing</th>
                <td><%= assessment.type == 'Exam' && assessment.auto_close ?
                        'Assessment will close after a period of inactivity' :
                        'Assessment will not close automatically' %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
