<form name="add-user-form" method="POST">
  <input type="hidden" name="__action" value="course_permissions_update_role">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="user_id" value="<%= user_id %>">
  <div class="form-group">
    <label for="addUserInputUid">UID:</label>
    <p class="form-control-static"><%= uid %></p>
  </div>
  <div class="form-group">
    <label for="addUserInputCurrentRole">Current course role:</label>
    <p class="form-control-static"><%= course_role %></p>
  </div>
  <div class="form-group">
    <label for="addUserInputRole">Change course role to:</label>
    <select class="form-control" name="course_role">
      <option>Viewer</option>
      <option>Editor</option>
      <option>Owner</option>
    </select>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')">Cancel</button>
    <button type="submit" class="btn btn-primary">Change course role</button>
  </div>
</form>
