<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <script src="/javascripts/lodash.min.js"></script>
        <script src="/javascripts/d3.min.js"></script>
        <script src="/localscripts/histmini.js"></script>
    </head>
    <body>
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover({sanitize: false})
            });
        </script>
        <%- include('../partials/navbar'); %>
        <div id="content" class="container-fluid">
            <%- include('../partials/navtabs'); %>
            <div class="card mb-4">
                <div class="card-header bg-primary text-white d-flex align-items-center">
                    Course access roles
                    <button type="button" class="btn btn-light btn-sm ml-auto" id="coursePermissionsInsertButton" tabindex="0" data-toggle="popover" data-container="body" data-html="true" data-placement="auto" title="Add user" data-content="<%= include('coursePermissionsInsertForm', {id: 'coursePermissionsInsertButton'}) %>" data-trigger="manual" onclick="$(this).popover('show')">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline">Add user</span>
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                            <th>UID</th>
                            <th>Name</th>
                            <th>Course access role</th>
                        </thead>
                        <tbody>
                            <% course_users.forEach(function(course_user, i) { %>
                                <tr>
                                    <td class="align-middle"><%= course_user.uid %></td>
                                    <td class="align-middle"><%= course_user.name %></td>
                                    <td class="align-middle">
                                        <%= course_user.course_role %>

                                        <button type="button" class="btn btn-xs btn-secondary" id="coursePermissionsUpdateRoleButton<%= i %>" tabindex="0" data-toggle="popover" data-container="body" data-html="true" data-placement="auto" title="Change course role" data-content="<%= include('coursePermissionsUpdateRoleForm', {id: 'coursePermissionsUpdateRoleButton' + i, uid: course_user.uid, user_id: course_user.user_id, course_role: course_user.course_role}) %>" data-trigger="manual" onclick="$(this).popover('show')">
                                            <i class="fa fa-edit" aria-hidden="true"></i> Change
                                        </button>

                                        <button type="button" class="btn btn-xs btn-secondary"  id="coursePermissionsDeleteButton<%= i %>" tabindex="0" data-toggle="popover" data-container="body" data-html="true" data-placement="auto" title="Remove user access" data-content="<%= include('coursePermissionsDeleteForm', {id: 'coursePermissionsDeleteButton' + i,
                                        uid: course_user.uid, user_id: course_user.user_id}) %>" data-trigger="manual" onclick="$(this).popover('show')">
                                            <i class="fa fa-times" aria-hidden="true"></i> Remove
                                        </button>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <small>
                        The <strong>Viewer</strong> role can see all questions in
                        the course. The <strong>Editor</strong> role can
                        additionally sync the course configuration from the git
                        repository. The <strong>Owner</strong> role can
                        additionally add and remove other access roles. Users must
                        already have logged in to PrairieLearn before they can be
                        given course access. These roles do not give access to
                        course instances for each semester. To do that, add users
                        to the <tt>infoCourseInstance.json</tt> file for the
                        course instance.
                    </small>
                </div>
            </div>
        </div>
    </body>
</html>
