<% if (!rolesInfo.rolesAreBalanced) { %>
<div class="alert alert-danger my-2" role="alert">
    A user has too many roles. Every student should be assigned to exactly <strong>one</strong> role with group size <strong><%= groupSize %></strong> 
</div>
<% } %>
<% if (typeof rolesInfo.validationErrors !== 'undefined' && rolesInfo.validationErrors.length > 0) { %>
<% rolesInfo.validationErrors.forEach(function ({ role_id, role_name, count, minimum, maximum }) { %>
    <div class="alert alert-danger my-2" role="alert">
    <% if (count < minimum) { %>
        <%= minimum - count %> more <%= minimum - count === 1 ? 'person needs' : 'people need' %> to be assigned <%= role_name %>.
    <% } else if (count > maximum) { %>
        <%= count - maximum %> less <%= count - maximum === 1 ? 'person needs' : 'people need' %> to be assigned <%= role_name %>.
    <% } %>
    <% if (maximum === minimum) { %>
        (Found <%= count %>, expected exactly <%= minimum %>).
    <% } else { %>
        (Found <%= count %>, expected between <%= minimum %> and <%= maximum %>).
    <% } %>
    </div>
<% }) %>
<% } %>
<% if (typeof rolesInfo.usersWithoutRoles !== 'undefined' && rolesInfo.usersWithoutRoles.length > 0) { %>
<div class="alert alert-danger my-2" role="alert">
    At least one user does not have a role. All users must have a role.
</div>
<% } %>