<form id="role-select-form" name="role-select-form" method="POST">
  <table class="table table-bordered table-striped mt-3 pl-3 pr-3">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody>
      <% groupMembers.forEach(function (user) { %>
      <tr>
        <td><%= user.uid %></td>
        <td>
          <% rolesInfo.groupRoles.forEach(function (role) { %>
            <input
              class="ml-2"
              type="checkbox"
              id="user_role_<%= role.id %>-<%= user.user_id %>"
              name="user_role_<%= role.id %>-<%= user.user_id %>"
              <% if (rolesInfo.disabledRoles.includes(role.role_name)) { %>
                disabled
              <% } else if (rolesInfo.roleAssignments[user.uid] !== undefined && rolesInfo.roleAssignments[user.uid].find((a) => a.role_name === role.role_name) !== undefined) { %>
                checked
              <% }%>
              form="role-select-form"
            >
            <label for="user_role_<%= role.id %>-<%= user.user_id %>" <% if (rolesInfo.disabledRoles.includes(role.role_name)) { %> class="text-muted" <% } %>>
              <%= role.role_name %>
            </label>
          <% }) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="mt-4 d-flex justify-content-center">
    <input type="hidden" name="__action" value="update_group_roles" />
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>" />
    <button type="submit" class="btn btn-primary">Update Roles</button>
  </div>
</form>
