<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', {pageNote: news_item.formatted_date, pageTitle: news_item.title}); %>
    <link href="/stylesheets/issues.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'news_item'}); %>
    <div id="content" class="container">

      <a class="btn btn-primary mb-4" href="<%= urlPrefix %>/news_items" role="button">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to news list
      </a>

      <h1>
        <%= news_item.title %>
      </h1>

      <p class="text-muted">
        <i>
          Posted on <%= news_item.formatted_date %>
          <% if (news_item.author) { %>
          by <%- news_item.author %>
          <% } %>
        </i>
        <% if (news_item.show_student_badge) { %>
            <span class="badge badge-secondary ml-2">Visible to students</span>
        <% } %>
      </p>

      <%- news_item_html %>

    </div>
  </body>
</html>
