<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script src="/javascripts/jquery.tablesorter.min.js"></script>
    <script src="/javascripts/jquery.tablesorter.widgets.js"></script>
    <script src="/localscripts/histogram.js"></script>
    <script src="/localscripts/scatter.js"></script>
    <script src="/localscripts/histmini.js"></script>
    <script src="/localscripts/parallel_histograms.js"></script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover()
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'assessment'}); %>
    <div id="content" class="container">

      <div class="modal fade" id="uploadQuestionScoresModal" tabindex="-1" role="dialog" aria-labelledby="uploadQuestionScores">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="uploadQuestionScoresModalLabel">Upload new question scores</h4>
            </div>
            <div class="modal-body">
              <p>
                Upload a CSV file like this:
              </p>
              <pre class="ml-4">uid,instance,qid,score_perc
mwest@illinois.edu,1,addTwoNumbers,34.5
zilles@illinois.edu,1,matrixMultiply,100
zilles@illinois.edu,1,addTwoNumbers,78.92</pre>
              <p>
                The example above will change the scores for
                <tt>mwest@illinois.edu</tt> on one question
                (<tt>addTwoNumbers</tt> to 34.5%), and
                for <tt>zilles@illinois.edu</tt> on two
                questions. Only questions explictly listed will have
                their scores changed. The <tt>instance</tt> column
                indicates which assessment instance to modify, and
                should be <tt>1</tt> if there is only a single
                instance per student. The total scores for the
                assessments will be automatically recalculated.
              </p>
            </div>
            <div class="modal-footer">
              <form name="upload-question-scores-form" method="POST">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="uploadQuestionScoresFileInput">
                  <label class="custom-file-label" for="uploadQuestionScoresFileInput">Choose CSV file</label>
                </div>
                <input type="hidden" name="__action" value="upload_question_scores">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="uploadAssessmentInstanceScoresModal" tabindex="-1" role="dialog" aria-labelledby="uploadAssessmentInstanceScores">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="uploadAssessmentInstanceScoresModalLabel">Upload new total scores</h4>
            </div>
            <div class="modal-body">
              <p>
                Upload a CSV file like this:
              </p>
              <pre class="ml-4">uid,instance,score_perc
mwest@illinois.edu,1,63.5
zilles@illinois.edu,1,100</pre>
              <p>
                The example above will change the total assessment
                scores for <tt>mwest@illinois.edu</tt> to 63.5% and for
                <tt>zilles@illinois.edu</tt> to
                100%. The <tt>instance</tt> column indicates which
                assessment instance to modify, and should
                be <tt>1</tt> if there is only a single instance per
                student.
            </div>
            <div class="modal-footer">
              <form name="upload-assessment-instance-scores-form" method="POST">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="uploadAssessmentInstanceScoresFileInput">
                  <label class="custom-file-label" for="uploadAssessmentInstanceScoresFileInput">Choose CSV file</label>
                </div>
                <input type="hidden" name="__action" value="upload_assessment_instance_scores">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.name %> <%= assessment.number %>: Uploads
        </div>

        <div class="card-body">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadQuestionScoresModal">
            Upload new question scores
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadAssessmentInstanceScoresModal">
            Upload new total scores
          </button>
        </div>
        
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Description</th>
                <th>User</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if (upload_job_sequences && upload_job_sequences.length > 0) { %>

              <% upload_job_sequences.forEach(function(job_sequence) { %>
              <tr>
                <td><%= job_sequence.number %></td>
                <td><%= job_sequence.start_date_formatted %></td>
                <td><%= job_sequence.description %></td>
                <td><%= job_sequence.user_uid %></td>
                <td><%- include('../partials/jobStatus', {status: job_sequence.status}); %></td>
                <td><a href="<%= urlPrefix %>/jobSequence/<%= job_sequence.id %>" class="btn btn-xs btn-info">Details</a></td>
              </tr>
              <% }); %>
              
              <% } else { %>
              <tr>
                <td colspan="6">No previous uploads.</td>
              </tr>
              <% }%>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
