<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.abbreviation %><%= assessment.number %>: <%= assessment.title %>
        </div>

        <div class="card-body">
          <p class="lead text-center">
            This is <strong><%= assessment_set.name %> <%= assessment.number %>: <%= assessment.title %></strong> for <strong><%= course.short_name %></strong>
          </p>

          <form id="confirm-form" name="confirm-form" method="POST" class="d-flex justify-content-center">
            <input type="hidden" name="__action" value="newInstance">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <button id="start-assessment" type="submit" class="btn btn-primary">Start assessment</button>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
