<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('d3/dist/d3.min.js') %>"></script>
    <script src="<%= asset_path('localscripts/histmini.js') %>"></script>
    <%- compiled_script_tag('instructorAssessmentQuestionsClient.ts') %>
  </head>
  <script>
  </script>
  <body>
    <script>
      $(() => {
        $('[data-toggle="popover"]').popover({ sanitize: false });

        $('.js-sync-popover[data-toggle="popover"]')
          .popover({
            sanitize: false,
          })
          .on('show.bs.popover', function () {
            $($(this).data('bs.popover').getTipElement()).css('max-width', '80%');
          });
      });
    </script>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
      <div class="modal fade" id="resetQuestionVariantsModal" tabindex="-1" role="dialog" aria-labelledby="resetQuestionVariantsModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="resetQuestionVariantsModalLabel">Confirm reset question variants</h4>
            </div>
            <div class="modal-body">
              <p>
                Are your sure you want to reset all current variants of this question? <strong>All ungraded attempts will be lost.</strong>
              </p>
              <p>
                Students will receive a new variant the next time they view this question.
              </p>
            </div>
            <div class="modal-footer">
              <form name="reset-question-variants-form" method="POST">
                <input type="hidden" name="__action" value="reset_question_variants">
                <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                <input type="hidden" name="unsafe_assessment_question_id" class="js-assessment-question-id" value="">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Reset question variants</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Questions
        </div>

        <div class="table-responsive">
          <%
          var nTableCols = 11;

          // If at least one question has a nonzero unlock score, display the Advance Score column
          const showAdvanceScorePercCol = questions.filter(q => {return q.assessment_question_advance_score_perc != 0}).length >= 1;
          if (showAdvanceScorePercCol) nTableCols++;
          %>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th><span class="sr-only">Name</span></th>
                <th>QID</th>
                <th>Topic</th>
                <th>Tags</th>
                <th>Auto Points</th>
                <th>Manual Points</th>
                <% if (showAdvanceScorePercCol) { %>
                  <th>Advance Score</th>
                <% } %>
                <th width="100">Mean score</th>
                <th width="100">Question score</th>
                <th>Num. Submissions Histogram</th>
                <th>Other Assessments</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% questions.forEach(function(question, iRow) { %>
              <% if (question.start_new_zone) { %>
              <tr>
                <th colspan="<%= nTableCols %>">
                  Zone <%= question.zone_number %>. <%= question.zone_title %>
                  <% if (question.zone_number_choose == null) { %>
                  (Choose all questions)
                  <% } else if (question.zone_number_choose == 1) { %>
                  (Choose 1 question)
                  <% } else { %>
                  (Choose <%= question.zone_number_choose %> questions)
                  <% } %>
                  <% if (question.zone_has_max_points) { %>
                      (maximum <%= question.zone_max_points %> points)
                  <% } %>
                  <% if (question.zone_has_best_questions) { %>
                      (best <%= question.zone_best_questions %> questions)
                  <% } %>
                </th>
              </tr>
              <% } %>
              <% if (question.start_new_alternative_group && question.alternative_group_size > 1) { %>
              <tr>
                <td colspan="<%= nTableCols %>">
                  <%= question.alternative_group_number %>.
                  <% if (question.alternative_group_number_choose == null) { %>
                  Choose all questions from:
                  <% } else if (question.alternative_group_number_choose == 1) { %>
                  Choose 1 question from:
                  <% } else { %>
                  Choose <%= question.alternative_group_number_choose %> questions from:
                  <% } %>
                </td>
              </tr>
              <% } %>
              <tr>
                <td>
                  <a href="<%= urlPrefix %>/question/<%= question.question_id %>/">
                    <% if (question.alternative_group_size == 1) { %>
                    <%= question.alternative_group_number %>.
                    <% } else { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <%= question.alternative_group_number %>.<%= question.number_in_alternative_group %>.
                    <% } %>
                    <%= question.title %>
                    <%- include('../partials/issueBadge', {count: question.open_issue_count, issueQid: question.qid}); %>
                  </a>
                </td>
                <td>
                  <% if (question.sync_errors) { %>
                    <button
                      class="btn btn-xs mr-1 js-sync-popover"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-container="body"
                      data-html="true"
                      data-title="Sync Errors"
                      data-content="<pre style=&quot;background-color: black&quot; class=&quot;text-white rounded p-3 mb-0&quot;><%= question.sync_errors_ansified %></pre>"
                    >
                      <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    </button>
                  <% } else if (question.sync_warnings) { %>
                    <button
                      class="btn btn-xs mr-1 js-sync-popover"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-container="body"
                      data-html="true"
                      data-title="Sync Warnings"
                      data-content="<pre style=&quot;background-color: black&quot; class=&quot;text-white rounded p-3 mb-0&quot;><%= question.sync_warnings_ansified %></pre>"
                    >
                      <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                    </button>
                  <% } %>
                  <%= question.display_name %>
                </td>
                <td><%- include('../partials/topic', {topic: question.topic}); %></td>
                <td><%- include('../partials/tags', {tags: question.tags}); %></td>
                <td>
                  <% if (question.max_auto_points || !question.max_manual_points) { %>
                  <% if (assessment.type == "Exam") { %><%= (question.points_list || [question.max_manual_points]).map((p) => p - question.max_manual_points) %><% } %>
                  <% if (assessment.type == "Homework") { %><%= question.init_points - question.max_manual_points %>/<%= question.max_auto_points %><% } %>
                  <% } else { %>—<% } %>
                </td>
                <td><%= question.max_manual_points || '—' %></td>
                <% if (showAdvanceScorePercCol) { %>
                  <td class="<% if (question.assessment_question_advance_score_perc == 0) { %>text-muted<% } %>" data-testid="advance-score-perc">
                    <%= question.assessment_question_advance_score_perc %>%
                  </td>
                <% } %>
                <td>
                  <% if (question.mean_question_score) { %>
                    <%= question.mean_question_score.toFixed(3) %>
                  <% } %>
                </td>
                <td>
                    <% if (question.avg_question_score_perc) { %>
                    <%= question.avg_question_score_perc.toFixed(3) %> %
                    <% } %>
                </td>
                <td class="text-center">
                  <% if (question.number_submissions_hist) { %>
                    <div id="attemptsHist<%= iRow %>" class="miniHist">

                    </div>
                  <% } %>
                </td>
                <script>
                  $(function() {
                    var data = [<%= question.number_submissions_hist %>];
                    var options = {
                      width: 60,
                      height: 20,
                    };
                    histmini("#attemptsHist<%= iRow %>", data, options);
                  });
                </script>
                <td>
                  <% if (question.other_assessments) { %>
                  <% question.other_assessments.forEach(function(assessment) { %>
                  <%- include('../partials/assessment', {assessment: assessment}); %>
                  <% }); %>
                  <% } %>
                </td>
                <td class="text-right">
                  <div class="dropdown js-question-actions">
                    <button type="button" class="btn btn-secondary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action <span class="caret"></span>
                    </button>

                    <div class="dropdown-menu">
                      <% if (authz_data.has_course_instance_permission_edit) { %>
                        <button
                          class="dropdown-item"
                          data-toggle="modal"
                          data-target="#resetQuestionVariantsModal"
                          data-assessment-question-id="<%= question.id %>"
                        >
                          Reset question variants
                        </button>
                      <% } else { %>
                        <button class="dropdown-item disabled" disabled>
                          Must have editor permission
                        </button>
                      <% } %>
                    </div>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

    </main>
  </body>
</html>
