<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'tests'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Courses</h3>
        </div>

        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Course</th>
              <th>Semesters</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(function(row) { %>
            <tr>
              <td>
                <a href="/admin/<%= row.course_instance_id %>"><%= row.short_name %>: <%= row.title %>
              </td>
              <td>
                <% row.other_semesters.forEach(function(semester, i) { %>
                <% if (i > 0) { %>,<% } %>
                <a href="/admin/<%= semester.course_instance_id %>"><%= semester.long_name %>
                <% }); %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
