<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'tests'}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= testSet.short_name %><%= test.number %>: <%= test.title %></h3>
        </div>

        <div class="panel-body">
          <div id="scoreHistogramPlot" class="scoreHistogram"></div>
        </div>

        <table class="table table-condensed table-hover">
          <tbody>
            <tr>
              <td>Number of students</td>
              <td>FIXME</td>
            </tr>
            <tr>
              <td>Mean score</td>
              <td>FIXME</td>
            </tr>
            <tr>
              <td>Standard deviation</td>
              <td>FIXME</td>
            </tr>
            <tr>
              <td>Minimum score</td>
              <td>FIXME</td>
            </tr>
            <tr>
              <td>Median score</td>
              <td>FIXME</td>
            </tr>
            <tr>
              <td>Maximum score</td>
              <td>FIXME</td>
            </tr>
            <tr>
              <td>Number ≤ 0%</td>
              <td>FIXME</td>
            </tr>
            <tr>
              <td>Number ≥ 100%</td>
              <td>FIXME</td>
            </tr>
          </tbody>
        </table>

        <div class="panel-footer">
          Download <a href="FIXME">FIXME.csv</a>
        </div>
      </div>
    </div>
  </body>
</html>
