<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <%- extraHeader %>
  </head>
  <body>
    <%- include('../partials/userNavbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= testSet.abbrev %><%= test.number %>: <%= test.title %></h3>
        </div>

        <%- testInstanceHtml %>
      </div>
    </div>
  </body>
</html>
