<form name="edit-question-points-form" method="POST">
  <input type="hidden" name="__action" value="edit_question_points">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="instance_question_id" value="<%= instance_question.id %>">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" name="points" value="<%= instance_question.points %>">
      <span class="input-group-addon">/<%= instance_question.max_points %></span>
    </div>
  </div>
  <p><small>This will also recalculate the total points and total score at 100% credit. This change will be overwritten if the question is answered again by the student.</small></p>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')">Cancel</button>
    <button type="submit" class="btn btn-primary">Change</button>
  </div>
</form>
