<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script src="/javascripts/jquery.tablesorter.min.js"></script>
    <script src="/javascripts/jquery.tablesorter.widgets.js"></script>
    <script src="/localscripts/histogram.js"></script>
    <script src="/localscripts/scatter.js"></script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container-fluid">

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Summary:
          <%= instance_user.name %> (<%= instance_user.uid %>)
        </div>

        <table class="table table-sm table-hover two-column-description">
          <tbody>
            <tr><th>UID</th><td colspan="2"><%= instance_user.uid %></td></tr>
            <tr><th>Name</th><td colspan="2"><%= instance_user.name %></td></tr>
            <tr><th>Role</th><td colspan="2"><%= instance_enrollment.role %></td></tr>
            <tr><th>Instance</th><td colspan="2"><%= assessment_instance.number %>
                (<a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/assessment_instance/<%= assessment_instance.id %>">student view</a>)
            </td></tr>
            <tr>
              <th>Points</th>
              <td colspan="2">
                <% include('../partials/pointsFormatter'); %>
                <span id="total-points"><%= getStringFromFloat(assessment_instance.points) %></span>
                <small>/<span id="total-max-points" class="text-muted"><%= getStringFromFloat(assessment_instance.max_points) %></span></small>
                <% if (authz_data.has_instructor_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary"
                   id="editTotalPointsButton" tabindex="0"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change total points"
                   data-content="<%= include('editTotalPointsForm',
                                 {id: 'editTotalPointsButton'}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
                <% } %>
              </td>
            </tr>
            <tr>
              <th>Score</th>
              <td class="align-middle" style="width: 20%;">
                <%- include('../partials/scorebar', {score: assessment_instance.score_perc}); %>
              </td>
              <td class="align-middle" style="width: 100%;">
                <% if (authz_data.has_instructor_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary"
                   id="editTotalScorePercButton" tabindex="0"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change total percentage score"
                   data-content="<%= include('editTotalScorePercForm',
                                 {id: 'editTotalScorePercButton'}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
            </tr>
            <tr><th>Duration</th><td colspan="2"><%= assessment_instance_duration %></td></tr>
          </tbody>
        </table>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Questions:
          <%= instance_user.name %> (<%= instance_user.uid %>)
        </div>

        <table id="instanceQuestionList" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Student question</th>
              <th>Instructor question</th>
              <th class="text-center">
                Awarded points
              </th>
              <th class="text-center" colspan="2">
                Percentage score
              </th>
            </tr>
          </thead>
          <tbody>
            <% instance_questions.forEach(function(instance_question, i_instance_question) { %>
            <% if (instance_question.start_new_zone && instance_question.zone_title) { %>
            <tr>
                <th colspan="4">
                  <%= instance_question.zone_title %>
                  <% if (instance_question.zone_has_max_points) { %>
                      (maximum <%= instance_question.zone_max_points %> points)
                  <% } %>
                  <% if (instance_question.zone_has_best_questions) { %>
                      (best <%= instance_question.zone_best_questions %> questions)
                  <% } %>
                </th>
            </tr>
            <% } %>
            <tr>
              <td>
                S-<%= instance_question.question_number %>.
                (<a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instance_question/<%= instance_question.id %>/">student view</a>)
              </td>
              <td>
                I-<%= instance_question.instructor_question_number %>.
                <%= instance_question.qid %>
                (<a href="<%= urlPrefix %>/question/<%= instance_question.question_id %>/">instructor view</a>)
              </td>
              <td class="text-center">
                <%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: instance_question.max_points}); %>
                <% if (authz_data.has_instructor_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary editQuestionPointsButton"
                   id="editQuestionPoints<%= i_instance_question %>" tabindex="0"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change question <%= instance_question.question_number %> points"
                   data-content="<%= include('editQuestionPointsForm',
                                 {id: 'editQuestionPoints' + i_instance_question,
                                 instance_question: instance_question}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
              <td class="align-middle text-center">
                <%- include('../partials/scorebar', {score: instance_question.score_perc}); %>
              </td>
              <td class="align-middle" style="width: 1em;">
                <% if (authz_data.has_instructor_edit) { %>
                <button type="button" class="btn btn-xs btn-secondary editQuestionScorePercButton"
                   id="editQuestionScorePerc<%= i_instance_question %>" tabindex="0"
                   data-toggle="popover" data-container="body"
                   data-html="true" data-placement="auto" title="Change question <%= instance_question.question_number %> percentage score"
                   data-content="<%= include('editQuestionScorePercForm',
                                 {id: 'editQuestionScorePerc' + i_instance_question,
                                 instance_question: instance_question}); %>"
                   data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <% } %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Statistics:
          <%= instance_user.name %> (<%= instance_user.uid %>)
        </div>
        <table id="instanceQuestionStatsTable" class="table table-sm table-hover tablesorter">
          <thead>
          <tr>
            <th>Instructor question</th>
            <th>Some submission</th>
            <th>Some perfect submission</th>
            <th>Some nonzero submission</th>
            <th>First submission score</th>
            <th>Last submission score</th>
            <th>Max submission score</th>
            <th>Average submission score</th>
          </tr>
          </thead>
          <tbody>
          <% assessment_instance_stats.forEach(function(row) { %>
          <tr>
            <td>
              I-<%= row.number %>.
              <a href="<%= urlPrefix %>/question/<%= row.question_id %>/"><%= row.qid %></a>
            </td>
            <td><%= row.some_submission %></td>
            <td><%= row.some_perfect_submission %></td>
            <td><%= row.some_nonzero_submission %></td>
            <td><%= formatFloat(row.first_submission_score, 2) %></td>
            <td><%= formatFloat(row.last_submission_score, 2) %></td>
            <td><%= formatFloat(row.max_submission_score, 2) %></td>
            <td><%= formatFloat(row.average_submission_score, 2) %></td>
          </tr>
          <% }); %>
          </tbody>
        </table>
        <script>
            $(function(){
                $("#loginstanceQuestionStatsTable").tablesorter({
                    theme: "bootstrap",
                    widthFixed: true,
                    headerTemplate: '{content} {icon}',
                    widgets: ["uitheme"],
                });
            });
        </script>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_instance_label %>
          Log:
          <%= instance_user.name %> (<%= instance_user.uid %>)
        </div>
        <div class="card-body">
          <small>
            Download <a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.

            Click on a column header to sort. Shift-click on a second header to sub-sort.
          </small>
        </div>

        <table id="logTable" class="table table-sm table-hover tablesorter">
          <thead>
            <tr>
              <th>Time</th>
              <th>User</th>
              <th>Event</th>
              <th>Instructor question</th>
              <th>Student question</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <% log.forEach(function(row) { %>
            <tr>
              <td class="text-nowrap"><%= row.formatted_date %></td>
              <td><%= row.auth_user_uid %></td>
              <td><span class="badge color-<%= row.event_color %>"><%= row.event_name %></span></td>
              <td>
                <% if (row.qid) { %>
                <a href="<%= urlPrefix %>/question/<%= row.question_id %>/">
                  I-<%= row.instructor_question_number %> (<%= row.qid %>)
                </a>
                <% } %>
              </td>
              <td>
                <% if (row.student_question_number) { %>
                <% if (row.variant_id) { %>
                <a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instance_question/<%= row.instance_question_id %>/?variant_id=<%= row.variant_id %>">
                  S-<%= row.student_question_number %>#<%= row.variant_number %>
                </a>
                <% } else { %>
                  S-<%= row.student_question_number %>
                <% } %>
                <% } %>
              </td>
              <% if (row.event_name != 'External grading results') { %>
              <td style="word-break: break-all;"><%= (row.data != null) ? JSON.stringify(row.data) : null %></td>
              <% } else { %>
              <td><a class="btn btn-primary" href="<%= urlPrefix %>/grading_job/<%= row.data.id %>">View grading job <%= row.data.id %></a></td>
              <% } %>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <script>
          $(function(){
              $("#logTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme"],
              });
          });
        </script>
        <div class="card-footer">
          <small>
            Download <a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.
          </small>
        </div>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

    </div>
  </body>
</html>
