<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript" src="/localscripts/histogram.js"></script>
    <script type="text/javascript" src="/localscripts/scatter.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= assessment_instance_label %>
            Summary:
            <%= instance_user.name %> (<%= instance_user.uid %>)
          </h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr><th>UID</th><td><%= instance_user.uid %></td></tr>
            <tr><th>Name</th><td><%= instance_user.name %></td></tr>
            <tr><th>Role</th><td><%= instance_enrollment.role %></td></tr>
            <tr><th>Instance</th><td><%= assessment_instance.number %></td></tr>
            <tr><th>Score</th><td><%- include('../partials/scorebar', {score: assessment_instance.score_perc}); %></td></tr>
            <tr><th>Duration</th><td><%= assessment_instance_duration %></td></tr>
          </tbody>
        </table>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= assessment_instance_label %>
            Instance question statistics:
            <%= instance_user.name %> (<%= instance_user.uid %>)
          </h3>
        </div>
        <table id="instanceQuestionStatsTable" class="table table-condensed table-hover tablesorter">
          <thead>
          <tr>
            <th>Instance question ID</th>
            <th>Question</th>
            <th>Some correct submission</th>
            <th>First attempt correct</th>
            <th>Last attempt correct</th>
            <th>Some submission</th>
            <th>Average success rate (%) </th>
            <th>Length of incorrect streak</th>
          </tr>
          </thead>
          <tbody>
          <% assessment_instance_stats.forEach(function(row) { %>
          <tr>
            <td><%= row.instance_question_id %></td>
            <td>
              <a href="<%= urlPrefix %>/question/<%= row.question_id %>/">
                  <%= row.number %>. <%= row.title %>
              </a>
            </td>
            <td><%= row.some_correct_submission %></td>
            <td><%= row.first_attempt_correct %></td>
            <td><%= row.last_attempt_correct %></td>
            <td><%= row.some_submission %></td>
            <td><%= row.average_success_rate %></td>
            <td><%= row.length_of_incorrect_streak %></td>
          </tr>
          <% }); %>
          </tbody>
        </table>
        <script>
            $(function(){
                $("#loginstanceQuestionStatsTable").tablesorter({
                    theme: "bootstrap",
                    widthFixed: true,
                    headerTemplate: '{content} {icon}',
                    widgets: ["uitheme"],
                });
            });
        </script>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= assessment_instance_label %>
            Log:
            <%= instance_user.name %> (<%= instance_user.uid %>)
          </h3>
        </div>
        <div class="panel-body">
          <small>
            Download <a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.

            Click on a column header to sort. Shift-click on a second header to sub-sort.
          </small>
        </div>

        <table id="logTable" class="table table-condensed table-hover tablesorter">
          <thead>
            <tr>
              <th>Time</th>
              <th>User</th>
              <th>Event</th>
              <th>Question</th>
              <th>Variant</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <% log.forEach(function(row) { %>
            <tr>
              <td><%= row.formatted_date %></td>
              <td><%= row.auth_user_uid %></td>
              <td><button class="btn btn-xs btn-<%= row.event_color %>"><%= row.event_name %></button></td>
              <td><% if (row.qid) { %><a href="<%= urlPrefix %>/question/<%= row.question_id %>/"><%= row.qid %></a><% } %></td>
              <td><% if (row.question_id && row.variant_id) { %><%= row.variant_number %><% } %></td>
              <td style="word-break: break-all;"><%= (row.data != null) ? JSON.stringify(row.data) : null %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <script>
          $(function(){
              $("#logTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme"],
              });
          });
        </script>
        <div class="panel-footer">
          <small>
            Download <a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/<%= logCsvFilename %>"><%= logCsvFilename %></a>.
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
