<div class="card mb-4">
    <div class="card-header bg-primary text-white d-flex align-items-center">
        <% if (locals.show_all) { %>
            All
        <% } else { %>
            Pending
        <% } %>
        course requests
        <% if (!locals.show_all) { %>
        <a class="btn btn-sm btn-light ml-auto" href="<%= urlPrefix %>/administrator/courseRequests"
            id="courseInsertButton" tabindex="0">
            <i class="fa fa-search" aria-hidden="true"></i>
            <span class="d-none d-sm-inline"> View All </span>
        </a>
        <% } %>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Short Name</th>
                    <th>Title</th>
                    <th>Requested By</th>
                    <th>Institution</th>
                    <th>Official Email</th>
                    <th>User ID</th>
                    <th>GitHub Username</th>
                    <th>Status</th>
                    <% if (locals.show_all) { %> <th>Updated By</th> <% } %>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                <% course_requests.forEach(function(req) { %>
                    <tr>
                        <td class="align-middle"><%= req.short_name %></td>
                        <td class="align-middle"><%= req.title %></td>
                        <td class="align-middle"><%= req.first_name + ' ' + req.last_name %></td>
                        <td class="align-middle"><%= req.institution %></td>
                        <td class="align-middle"><%= req.work_email %></td>
                        <td class="align-middle"><%= req.user_id %></td>
                        <td class="align-middle"><%= req.github_user %></td>
                        <td class="align-middle"><%- include('courseRequestStatusIcon', { status: req.status }) %></td>
                        <% if (locals.show_all) { %> <td class="align-middle"><%= (req.approved_by_name || 'Automatically Approved') %> </td> <% } %>
                        <td class="align-middle">
                            <% if (req.status !== 'approved') { %>
                                <form name="approve-request-form-<%= req.id %>" method="POST">
                                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                                    <input type="hidden" name="__action" value="approve_deny_course_request">
                                    <input type="hidden" name="request_id" value="<%= req.id %>">

                                    <button type="submit" class="btn btn-sm btn-danger float-right"
                                            name="approve_deny_action" value="deny" tabindex="0">
                                        <i class="fa fa-times" aria-hidden="true"></i> Deny
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success float-right mr-2" id="approve-request-button-<%= req.id %>"
                                            name="approve_deny_action" value="approve" tabindex="0"
                                            data-toggle="popover" data-container="body"
                                            data-html="true" data-placement="auto" title="Approve course request"
                                            data-content="<%= include('courseRequestApproveForm', {request: req, id: 'approve-request-button-' + req.id}) %>"
                                            data-trigger="manual" onclick="$(this).popover('show')">
                                        <i class="fa fa-check" aria-hidden="true"></i> Approve
                                    </button>
                                </form>
                            <% } %>
                        </td>
                        <td class="align-middle">
                            <% if (req.jobs.length > 0) { %>
                                <a href="<%= urlPrefix %>/administrator/jobSequence/<%= req.jobs[0].id %>"
                                   class="show-hide-btn expand-icon-container btn btn-secondary btn-sm collapsed btn-xs float-right"
                                   data-toggle="collapse" data-target="#course-requests-job-list-<%= req.id %>"
                                   aria-expanded="false" aria-controls="course-requests-job-list-<%= req.id %>">
                                    <i class="fa fa-angle-up fa-fw expand-icon"></i>
                                    Show Jobs
                                </a>
                            <% } %>
                        </td>
                    </tr>
                    <% if (req.jobs.length > 0) { %>
                        <tr>
                            <% if (locals.show_all) { %>
                                <td colspan="9" class="p-0">
                            <% } else { %>
                                <td colspan="8" class="p-0">
                            <% } %>
                                <div id="course-requests-job-list-<%= req.id %>" class="collapse">
                                    <table class="table table-sm table-active mb-0">
                                        <thead>
                                            <th> Number </th>
                                            <th> Start Date </th>
                                            <th> End Date </th>
                                            <th> User </th>
                                            <th> Status </th>
                                            <th></th>
                                        </thead>
                                        <% req.jobs.slice().reverse().forEach(function(job) { %>
                                            <tr>
                                                <td> <%= job.number %> </td>
                                                <td> <%= job.start_date %> </td>
                                                <td> <%= job.finish_date %> </td>
                                                <td> <%= job.authn_user_name %> </td>
                                                <td> <%- include('../partials/jobStatus', {status: job.status}); %> </td>
                                                <td> <a href="<%= urlPrefix %>/administrator/jobSequence/<%= job.id %>" class="btn btn-xs btn-info float-right">Details</a> </td>
                                            </tr>
                                        <% }); %>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <small>
            Accepting a course request will automatically create a new GitHub repository and add the course to the database.
        </small>
    </div>
</div>
