<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/localscripts/question.js"></script>
    <%- extraHeaders %>
    <script type="text/javascript" src="/localscripts/question<%= question.type %>.js"></script>
  </head>
  <body>
    <%- include('../partials/navbarStudent', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">

          <div id="question-0" class="question-container">
            <script type="application/json" class="question-data"><%- questionJson  %></script>

            <div class="panel panel-primary question-block">
              <div class="panel-heading">
                <h3 class="panel-title"><%= instance_question_info.question_number %>. <%= question.title %></h3>
              </div>
              <div class="panel-body question-body">
                <%- questionHtml %>
              </div>
              <div class="panel-footer">
                <% if (showSaveButton) { %>
                <button class="btn btn-primary question-submit">Save answer</button>
                <form class="question-form" name="question-form" method="POST">
                  <input type="hidden" name="postAction" value="submitQuestionAnswer">
                  <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                  <input type="hidden" name="postData" class="postData">
                </form>
                <% } %>
              </div>
            </div>

            <% if (showTrueAnswer) { %>
            <div class="panel panel-info grading-block">
              <div class="panel-heading">
                <h3 class="panel-title">True answer</h3>
              </div>
              <div class="panel-body answer-body">
                <%- answerHtml %>
              </div>
            </div>
            <% } %>

            <% if (showSubmissions) { %>
            <div class="panel-group">
              <% submissions.forEach(function(submission, iSubmission) { %>
              <div class="panel panel-info pastsubmission-block">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    Saved answer
                    <% if (submissions.length > 1) { %>
                    <%= submissions.length - iSubmission %>
                    <% } %>
                    &nbsp;&nbsp;&nbsp;
                    <%- include('../partials/submissionStatus', {submission: submission, reloadUrl: urlPrefix + '/instance_question/' + instance_question.id + '/?variant_id=' + variant.id}); %>
                    &nbsp;
                    <small>Saved at <%- submission.formatted_date %></small>
                  </h3>
                </div>
                <div class="panel-body submission-body" id="submission-<%= iSubmission %>-body">
                  <%- submissionHtmls[iSubmission] %>
                </div>
              </div>
              <% }); %>
            </div>
            <% } %>

          </div> <!-- question-container -->
        </div>

        <!-- ################################################################################# -->
        <!-- ################################################################################# -->
        <!-- ################################################################################# -->
        <!-- SIDEBAR ######################################################################### -->
        <div class="col-md-3 col-sm-4 col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/"><%= assessment_set.name %> <%= assessment.number %></a></h3></div>

            <div class="panel-body">
              <p class="text-center no-bottom-margin">
                <a class="btn btn-info" href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/">Assessment overview</a>
              </p>
            </div>

            <% if (!assessment_instance.open) { %>
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td>Total points:</td>
                  <td><%= assessment_instance.points %>/<%= assessment_instance.max_points %></td>
                </tr>
                <tr>
                  <td>Score:</td>
                  <td><%- include('../partials/scorebar', {score: assessment_instance.score_perc}) %></td>
                </tr>
                <tr>
                  <td>Time completed:</td>
                  <td><%= assessment_instance.finish_date %></td>
                </tr>
              </tbody>
            </table>
            <% } %> <!-- !assessment_instance.open -->

          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Question <%= instance_question_info.question_number %></h3></div>
            <table class="table table-condensed">
              <tbody>
                <% if (assessment_instance.open) { %>

                <tr>
                  <td>Current value:</td>
                  <td><%= instance_question.current_value %></td>
                </tr>
                <tr>
                  <td>Remaining points:</td>
                  <td><%= instance_question_info.remaining_points %></td>
                </tr>
                <tr>
                  <td>Status:</td>
                  <td><%- include('../partials/examQuestionStatus', {status: instance_question_info.status}); %></td>
                </tr>
                <tr>
                  <td>Awarded points:</td>
                  <td><%= instance_question.points %>/<%= instance_question_info.max_points %></td>
                </tr>

                <% } else { %> <!-- assessment_instance.open -->

                <tr>
                  <td>Number of attempts:</td>
                  <td><%= instance_question.number_attempts %></td>
                </tr>
                <tr>
                  <td>Awarded points:</td>
                  <td><%= instance_question.points %>/<%= instance_question.max_points %></td>
                </tr>

                <% } %> <!-- assessment_instance.open -->
              </tbody>
            </table>
          </div>
          <p class="text-center">
            <% if (instance_question_info.prev_instance_question_id) { %>
            <a class="btn btn-primary" href="<%= urlPrefix %>/instance_question/<%= instance_question_info.prev_instance_question_id %>/">Previous question</a>
            <% } else { %>
            <a class="btn btn-primary disabled">Previous question</a>
            <% } %>
          </p>
          <p class="text-center">
            <% if (instance_question_info.next_instance_question_id) { %>
            <a class="btn btn-primary" href="<%= urlPrefix %>/instance_question/<%= instance_question_info.next_instance_question_id %>/">Next question</a>
            <% } else { %>
            <a class="btn btn-primary disabled">Next question</a>
            <% } %>
          </p>
          <% if (video) { %>
          <div class="modal" id="youtubemodal">
            <div class="modal-dialog" style="width: 620px">
              <div class="modal-content">
                <div class="modal-body no-overflow">
                  <iframe id="player" width="560" height="315" data-url="https://www.youtube.com/embed/{{video}}?rel=0&wmode=Opaque&enablejsapi=1&autoplay=1" frameborder="0"></iframe>
                  <button type="button" class="close" data-dismiss="modal" id="youtubeclose">x</button>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">
            <a class="btn btn-warning" href="#youtubemodal" data-toggle="modal">Help video</a>
          </p>
          <% } %>

        </div>
      </div>
    </div>
  </body>
</html>
