<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <% if (question.type != 'Freeform') { %>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/require.js"></script>
    <script type="text/javascript" src="/localscripts/question.js"></script>
    <script type="text/javascript" src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover()
      });
    </script>

    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <%- include('../partials/question'); %>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><a href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/"><%= assessment_set.name %> <%= assessment.number %></a></h3></div>

            <div class="panel-body">
              <p class="text-center">
                <a class="btn btn-info" href="<%= urlPrefix %>/assessment_instance/<%= assessment_instance.id %>/">Assessment overview</a>
              </p>

              <% if (assessment_instance.open && assessment_instance_remaining_ms != null) { %>
              <div id="countdownProgress"></div>
              <p class="no-bottom-margin">
                Time remaining: <span id="countdownDisplay"></span>
              </p>
              <%- include('../partials/countdown', {
                  serverTimeLimitMS: assessment_instance_time_limit_ms,
                  serverRemainingMS: assessment_instance_remaining_ms,
                  progressSelector: '#countdownProgress',
                  displaySelector: '#countdownDisplay',
                  }) %>
              <% } %>
            </div>

          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Question <%= instance_question_info.question_number %></h3></div>
            <table class="table table-condensed two-column-description-no-header-with-help">
              <tbody>
                <tr>
                  <td>Best submission:</td>
                  <td><%- include('../partials/examQuestionScore', {instance_question}); %></td>
                </tr>
                <tr>
                  <td>Available points:</td>
                  <td><%- include('../partials/examQuestionAvailablePoints', {open: assessment_instance.open && instance_question.open, points_list: instance_question.points_list, highest_submission_score: instance_question.highest_submission_score}); %></td>
                </tr>
                <tr>
                  <td>Awarded points:</td>
                  <td><%- include('../partials/examQuestionAwardedPoints', {points: instance_question.points, max_points: assessment_question.max_points}); %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="text-center">
            <% if (instance_question_info.prev_instance_question_id) { %>
            <a class="btn btn-primary" href="<%= urlPrefix %>/instance_question/<%= instance_question_info.prev_instance_question_id %>/">Previous question</a>
            <% } else { %>
            <a class="btn btn-primary disabled">Previous question</a>
            <% } %>
          </p>
          <p class="text-center">
            <% if (instance_question_info.next_instance_question_id) { %>
            <a class="btn btn-primary" href="<%= urlPrefix %>/instance_question/<%= instance_question_info.next_instance_question_id %>/">Next question</a>
            <% } else { %>
            <a class="btn btn-primary disabled">Next question</a>
            <% } %>
          </p>
          <% if (video) { %>
          <div class="modal" id="youtubemodal">
            <div class="modal-dialog" style="width: 620px">
              <div class="modal-content">
                <div class="modal-body no-overflow">
                  <iframe id="player" width="560" height="315" data-url="https://www.youtube.com/embed/{{video}}?rel=0&wmode=Opaque&enablejsapi=1&autoplay=1" frameborder="0"></iframe>
                  <button type="button" class="close" data-dismiss="modal" id="youtubeclose">x</button>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">
            <a class="btn btn-warning" href="#youtubemodal" data-toggle="modal">Help video</a>
          </p>
          <% } %>

        </div>
      </div>
    </div>
  </body>
</html>
