<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover({sanitize: false})
      });
    </script>
    <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'courses'}); %>
    <main id="content" class="container-fluid">
      <%- include('../administratorCourseRequests/courseRequestsTable', {'show_all': false}) %>

      <div id="courses" class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Courses
          <button type="button" class="btn btn-sm btn-light ml-auto"
             id="courseInsertButton" tabindex="0"
             data-toggle="popover" data-container="body"
             data-html="true" data-placement="auto" title="Add new course"
             data-content="<%= include('courseInsertForm', {id: 'courseInsertButton'}) %>"
             data-trigger="manual" onclick="$(this).popover('show')">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-inline">Add course</span>
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped">
            <thead>
              <tr>
                <th>Institution</th>
                <th>Short name</th>
                <th>Title</th>
                <th>Timezone</th>
                <th>Path</th>
                <th>Repository</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% courses.forEach(function(course, i) { %>
              <tr>
                <td><%= course.institution.short_name %></td>
                <%- include('courseUpdateColumn', {column_name: 'short_name',       label: 'short name', course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'title',            label: 'title',      course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'display_timezone', label: 'timezone',   course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'path',             label: 'path',       course: course, i: i}) %>
                <%- include('courseUpdateColumn', {column_name: 'repository',       label: 'repository', course: course, i: i}) %>
                <td class="align-middle">
                  <button type="button" class="btn btn-sm btn-danger float-right"
                     id="courseDeleteButton<%= i %>" tabindex="0"
                     data-toggle="popover" data-container="body"
                     data-html="true" data-placement="auto" title="Really delete <%= course.short_name %>?"
                     data-content="<%= include('courseDeleteForm',
                                   {id: 'courseDeleteButton' + i, course: course, i: i}) %>"
                     data-trigger="manual" onclick="$(this).popover('show')">
                    <i class="fa fa-times" aria-hidden="true"></i> Delete course
                  </button>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <small>
            When a course is synced, if the <strong>path</strong> does
            not exist on disk then a <code>git clone</code> is
            performed from the <strong>repository</strong>, otherwise
            a <code>git pull</code> is run in
            the <strong>path</strong> directory. The <strong>short
            name</strong> and <strong>title</strong> are updated from
            the JSON configuration file in the repository during the
            sync.
          </small>
        </div>
      </div>
    </main>
  </body>
</html>
