<form name="edit-course-column-form" method="POST">
  <input type="hidden" name="__action" value="courses_update_column">
  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
  <input type="hidden" name="course_id" value="<%= course.id %>">
  <input type="hidden" name="column_name" value="institution_id">
  <div class="form-group">
    <select name="value" id="input<%= id %>" class="form-control">
        <% institutions.forEach(function(inst, i) { %>
            <option value="<%= inst.id %>" <%= (inst.id == course.institution.id) ? 'selected' : '' %>> <%= inst.short_name %> </option>
        <% }); %>
    </select>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" onclick="$('#<%= id %>').popover('hide')">Cancel</button>
    <button type="submit" class="btn btn-primary">Change</button>
  </div>
</form>
