<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageNote: 'Preview', pageTitle: question.qid}); %>
    <%- compiled_script_tag('question.ts') %>
    <script defer src="<%= node_modules_asset_path('mathjax/es5/startup.js') %>"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= asset_path('javascripts/require.js') %>"></script>
    <script src="<%= asset_path('localscripts/question.js') %>"></script>
    <script src="<%= asset_path(`localscripts/question${effectiveQuestionType}.js`) %>"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <main id="content" class="container">
      <div class="row">
          <div class="col-lg-9 col-sm-12">
              <%- include('../partials/question', {question_context: 'instructor'}); %>
          </div>

          <div class="col-lg-3 col-sm-12">
              <div class="card mb-4">
                  <div class="card-header bg-secondary text-white">Student view placeholder</div>
                  <div class="card-body">
                      <div class="d-flex justify-content-center">
                          In student views this area is used for assessment and score info.
                      </div>
                  </div>
              </div>
              <%- include('../partials/instructorInfoPanel', {question_context: 'instructor'}); %>
          </div>
      </div>

    </main>
  </body>
</html>
