<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>

    <%- include('../partials/navbar', {navPage: 'admin', navSubPage: 'access'}); %>
    <div id="content" class="container">
      <%- include('../partials/instructorAdminTabs', {navSubPage: 'access'}); %>


        <!-- ###################################################################### -->
        <!-- ###################################################################### -->

        <div class="card mb-4">
          <div class="card-header bg-primary text-white">
            <%= course_instance.long_name %> course instance access rules
          </div>

          <div class="table-responsive">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Role</th>
                  <th>UIDs</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Institution</th>
                </tr>
              </thead>
              <tbody>
                <% access_rules.forEach(function(access_rule) { %>
                <tr>
                  <td><%= access_rule.role %></td>
                  <td><%= access_rule.uids %></td>
                  <td><%= access_rule.start_date %></td>
                  <td><%= access_rule.end_date %></td>
                  <td><%= access_rule.institution %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    </body>
    </html>
