<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('../partials/head'); %>
    <link href="<%= asset_path('stylesheets/home.css') %>" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <% if (isAuthenticated) { %>
      <%- include('../partials/navbar', {navPage: 'home'}); %>
      <% } %> <!-- isAuthenticated -->
    </header>

    <main class="flex-grow-1">
      <div class="jumbotron bg-white rounded-0 my-0 <%= isAuthenticated ? 'py-0' : 'py-5' %>">
        <div class="container">
          <div class="row align-items-center">
            <div class="pb-4 <%= isAuthenticated ? 'd-none' : 'col-md-6 col-lg-7' %>">
              <h1 class="display-4 font-weight-normal">PrairieLearn</h1>
              <p class="lead font-weight-normal">
                <i class="fa fa-sync-alt fa-fw" aria-hidden="true"></i>
                Mastery learning meets online assessment
              </p>
              <a href="<%= plainUrlPrefix %>/login" class="btn btn-lg btn-primary">
                <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                Log in
              </a>
            </div> <!-- col -->

            <div class="<%= isAuthenticated ? 'col-12' : 'col-md-6 col-lg-5' %>">
              <div class="row">
                <div class="<%= isAuthenticated ? 'col-md-6' : 'col-12' %>">
                  <div class="card rounded-pill my-1">
                    <div class="card-body d-flex align-items-center p-2">
                      <span class="fa-stack <%= isAuthenticated ? 'fa-1x mr-1' : 'fa-2x mr-2' %>" aria-hidden="true">
                        <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fas fa-user-graduate fa-stack-1x text-light"></i>
                      </span>
                      <span>
                        <p class="<%= isAuthenticated ? 'h6 d-inline-block my-0 ml-n1' : 'h6' %>">
                          <% if (isAuthenticated) { %>
                          <span class="btn btn-xs my-0 align-text-bottom btn-white justify-content-center font-weight-bold text-uppercase disabled">
                            Students
                          </span>
                          <% } else { %>
                          Are you a student?
                          <% } %>
                        </p>
                        <a href="<%= plainUrlPrefix %>/enroll" class="btn btn-<%= isAuthenticated ? 'xs my-0 align-text-bottom' : 'sm mb-1' %> btn-outline-primary justify-content-center">
                          Enroll course
                        </a>
                      </span>
                    </div><!-- card-body -->
                  </div> <!-- card -->
                </div><!-- col -->
                <div class="<%= isAuthenticated ? 'col-md-6' : 'col-12' %>">
                  <div class="card rounded-pill my-1">
                    <div class="card-body d-flex align-items-center p-2">
                      <span class="fa-stack <%= isAuthenticated ? 'fa-1x mr-1' : 'fa-2x mr-2' %>" aria-hidden="true">
                        <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fas fa-user-tie fa-stack-1x text-light"></i>
                      </span>
                      <span>
                        <p class="<%= isAuthenticated ? 'h6 d-inline-block my-0 ml-n1' : 'h6' %>">
                          <% if (isAuthenticated) { %>
                          <span class="btn btn-xs my-0 align-text-bottom btn-white justify-content-center font-weight-bold text-uppercase disabled">
                            Instructors
                          </span>
                          <% } else { %>
                          Are you an instructor?
                          <% } %>
                        </p>
                        <a href="<%= plainUrlPrefix %>/request_course" class="btn btn-<%= isAuthenticated ? 'xs my-0 align-text-bottom' : 'sm mb-1' %> btn-outline-primary justify-content-center">
                          Request course
                        </a>
                        <a href="https://prairielearn.readthedocs.io/en/latest" class="btn btn-<%= isAuthenticated ? 'xs my-0 align-text-bottom' : 'sm mb-1' %> btn-outline-primary justify-content-center">
                          View docs
                        </a>
                      </span>
                    </div><!-- card-body -->
                  </div> <!-- card -->
                </div><!-- col -->
              </div><!-- row -->
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- jumbotron -->

      <% if (isAuthenticated) { %>
      <div id="content" class="container py-5">
        <% if (devMode) { %>
        <div class="card mb-4">
          <div class="card-header bg-primary text-white">Development Mode</div>
          <div class="card-body">
            <p>
              PrairieLearn is running in Development Mode. Click
              the <strong>“Load from disk”</strong> button above to load
              question and assessment definitions from JSON files on
              disk.
            </p>
            <p>
              You need to click “Load from disk” every time that a JSON
              file is changed on disk. Changes to other files (JS, HTML,
              etc) will be automatically loaded every time you navigate
              to a different page or if you reload the current page in
              your web browser.
            </p>
            <p class="mb-0">
              See the
              <a href="https://prairielearn.readthedocs.io">
                PrairieLearn documentation
              </a>
              for information on creating questions and assessments.
            </p>
          </div><!-- card-body -->
        </div><!-- card -->
        <% } %> <!-- devMode -->

        <% if (locals.instructor_courses && instructor_courses.length > 0) { %>
          <div class="card mb-4">
            <div class="card-header bg-primary text-white">Courses with instructor access</div>

            <table class="table table-sm table-hover table-striped">
              <tbody>
                <% instructor_courses.forEach(function(course) { %>
                  <tr>
                    <td class="w-50 align-middle">
                      <% if (course.do_link) { %>
                        <a href="<%= plainUrlPrefix %>/course/<%= course.id %>"><%= course.label %></a>
                      <% } else { %>
                        <%= course.label %>
                      <% } %>
                    </td>
                    <td>
                      <% course.course_instances.forEach(function(course_instance) { %>
                        <a class="btn btn-outline-primary btn-sm my-1" href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instructor">
                          <%= course_instance.label %>
                        </a>
                      <% }); %>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        <% } %>

        <div class="card mb-4">
          <div class="card-header bg-primary text-white d-flex align-items-center">
            <% if (locals.instructor_courses && instructor_courses.length > 0) { %>
              Courses with student access
            <% } else { %>
              Courses
            <% } %>
            <% if (authn_provider_name !== 'LTI') { %>
              <a href="<%= plainUrlPrefix %>/enroll" class="btn btn-light btn-sm ml-auto">
                <i class="fa fa-edit" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">Add or remove courses</span>
              </a>
            <% } %>
          </div>

          <% if (locals.student_courses && student_courses.length == 0) { %>

            <% if (locals.instructor_courses && instructor_courses.length > 0) { %>
              <div class="card-body">
                No courses found with student access. Courses with instructor access are found in the list above.
                <% if (authn_provider_name !== 'LTI') { %>
                  Use the “Add or remove courses” button to add a course as a student.
                <% } %>
              </div>
            <% } else if (devMode) { %>
              <div class="card-body">
                No courses loaded. Click <strong>“Load from disk”</strong>
                above and then click <strong>“PrairieLearn”</strong> in the top left corner to come back to
                this page.
              </div>
            <% } else { %> <!-- devMode -->
              <div class="card-body">
                No courses found.
                <% if (authn_provider_name !== 'LTI') { %>
                  Use the “Add or remove courses” button to add one.
                <% } %>
              </div>
            <% } %> <!-- devMode -->

          <% } else { %> <!-- student_courses.length -->

            <table class="table table-sm table-hover table-striped">
              <tbody>
                <% student_courses.forEach(function(course_instance) { %>
                  <tr>
                    <td>
                      <a href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>">
                        <%= course_instance.label %>
                      </a>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>

          <% } %> <!-- student_courses.length -->
        </div><!-- card -->
      </div><!-- container -->
      <% } else { %> <!-- isAuthenticated -->
      <div class="position-relative bg-students text-white text-center pt-5">
        <div class="container">
          <h2 class="pt-3 pb-5 text-uppercase font-weight-bold">Empower students to master content</h2>
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col pb-5">
              <div class="card bg-transparent text-center border-0">
                <div class="card-img-top text-light text-center display-2">
                  <i class="fas fa-clock" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Real-time</h3>
                  <p class="card-text">
                    Students receive immediate feedback about mastery level
                  </p>
                </div>
              </div> <!-- card -->
            </div> <!-- col -->
            <div class="col pb-5">
              <div class="card bg-transparent text-center border-0">
                <div class="card-img-top text-light text-center display-2">
                  <i class="fas fa-random" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Randomized</h3>
                  <p class="card-text">
                    Students solve randomized question variants until mastery
                  </p>
                </div>
              </div> <!-- card -->
            </div> <!-- col -->
            <div class="col pb-5">
              <div class="card bg-transparent text-center border-0">
                <div class="card-img-top text-light text-center display-2">
                  <i class="fas fa-brain" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Repetition</h3>
                  <p class="card-text">
                    Students are incentivized to repeat questions until mastery
                  </p>
                </div>
              </div> <!-- card -->
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- container -->
        <div class="flare-students"></div>
      </div>

      <div class="position-relative bg-instructors text-center pt-5">
        <div class="container">
          <h2 class="pt-3 pb-5 text-uppercase font-weight-bold">Improve teaching workflows</h2>
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col pb-5">
              <div class="card bg-transparent text-center border-0">
                <div class="card-img-top text-center display-2">
                  <i class="fas fa-tasks text-dark" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Adaptive</h3>
                  <p class="card-text">
                    Score adaptively based on student mastery and question difficulty
                  </p>
                </div>
              </div> <!-- card -->
            </div> <!-- col -->
            <div class="col pb-5">
              <div class="card bg-transparent text-center border-0">
                <div class="card-img-top text-center display-2">
                  <i class="fas fa-magic text-dark" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Automated</h3>
                  <p class="card-text">
                    Automate the submission and grading process
                  </p>
                </div>
              </div> <!-- card -->
            </div> <!-- col -->
            <div class="col pb-5">
              <div class="card bg-transparent text-center border-0">
                <div class="card-img-top text-center display-2">
                  <i class="fas fa-chart-line text-dark" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                  <h3 class="card-title">Analytics</h3>
                  <p class="card-text">
                    Analyze assessment quality and student outcomes
                  </p>
                </div>
              </div> <!-- card -->
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- container -->
        <div class="flare-instructors"></div>
      </div>

      <div class="jumbotron bg-white rounded-0 my-3">
        <div class="container px-5">
          <h2 class="text-center">Jumpstart your assessments with PrairieLearn elements</h2>
          <p class="text-center lead mb-5">
            PrairieLearn offers a wide range of built-in widgets to accelerate your question writing development
          </p>
          <div class="card-columns">
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                Selectors
              </h3>
              <div class="card-body py-2">
                <p class="card-text">
                  Select correct answers from a pool of distractors
                </p>
              </div>
              <ul class="list-group list-group-flush small font-italic">
                <li class="list-group-item py-1">Radio buttons</li>
                <li class="list-group-item py-1">Checkboxes</li>
                <li class="list-group-item py-1">Dropdowns</li>
              </ul>
            </div> <!-- card -->
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                Inputs
              </h3>
              <div class="card-body py-2">
                <p class="card-text">
                  Fill in the blank
                </p>
              </div>
              <ul class="list-group list-group-flush small font-italic">
                <li class="list-group-item py-1">Numerics</li>
                <li class="list-group-item py-1">Integers</li>
                <li class="list-group-item py-1">Strings</li>
                <li class="list-group-item py-1">Symbolic expressions</li>
                <li class="list-group-item py-1">Pandas dataframes</li>
              </ul>
            </div> <!-- card -->
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                Editors
              </h3>
              <div class="card-body py-2">
                <p class="card-text">
                  Work with in-browser, live-preview editors
                </p>
              </div>
              <ul class="list-group list-group-flush small font-italic">
                <li class="list-group-item py-1">Markdown</li>
                <li class="list-group-item py-1">LaTeX</li>
              </ul>
            </div> <!-- card -->
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                Visualizations
              </h3>
              <div class="card-body py-2">
                <p class="card-text">
                  Display 2D and 3D visuals
                </p>
              </div>
              <ul class="list-group list-group-flush small font-italic">
                <li class="list-group-item py-1">Images (static or generated)</li>
                <li class="list-group-item py-1">GraphViz graphs</li>
                <li class="list-group-item py-1">Drawing canvases</li>
                <li class="list-group-item py-1">Element overlays</li>
                <li class="list-group-item py-1">3D scenes and objects</li>
              </ul>
            </div> <!-- card -->
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                Files
              </h3>
              <div class="card-body py-2">
                <p class="card-text">
                  Work with external files
                </p>
              </div>
              <ul class="list-group list-group-flush small font-italic">
                <li class="list-group-item py-1">File uploads</li>
                <li class="list-group-item py-1">File downloads</li>
              </ul>
            </div> <!-- card -->
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                Draggables
              </h3>
              <div class="card-body py-2">
                <p class="card-text">
                  Drag and drop items into order or orientation
                </p>
              </div>
              <ul class="list-group list-group-flush small font-italic">
                <li class="list-group-item py-1">Lines of code</li>
                <li class="list-group-item py-1">Chronological events</li>
                <li class="list-group-item py-1">2D vectors</li>
                <li class="list-group-item py-1">3D objects</li>
              </ul>
            </div> <!-- card -->
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                Workspaces
              </h3>
              <div class="card-body py-2">
                <p class="card-text">
                  Work remotely in custom Docker containers via in-browser frontends
                </p>
              </div>
              <ul class="list-group list-group-flush small font-italic">
                <li class="list-group-item py-1">Visual Studio Code</li>
                <li class="list-group-item py-1">Jupyter notebooks</li>
                <li class="list-group-item py-1">RStudio</li>
              </ul>
              <div class="card-footer small font-weight-bold py-1 border-0">
                <i class="fas fa-hourglass-half" aria-hidden="true"></i>
                Coming soon!
              </div>
            </div> <!-- card -->
            <div class="card shadow">
              <h3 class="h6 card-header font-weight-bold py-2">
                And more &hellip;
              </h3>
              <div class="card-body pt-2 pb-3">
                <p class="card-text">
                  Check out the docs to see more elements or how to roll your own!
                </p>
                <a class="btn btn-outline-primary btn-sm btn-block" href="https://prairielearn.readthedocs.io/en/latest/elements">
                  <i class="fas fa-shapes" aria-hidden="true"></i>
                  Use elements
                </a>
                <a class="btn btn-outline-primary btn-sm btn-block" href="https://prairielearn.readthedocs.io/en/latest/devElements">
                  <i class="fas fa-laptop-code" aria-hidden="true"></i>
                  Write elements
                </a>
              </div>
            </div> <!-- card -->
          </div> <!-- card-columns -->
        </div> <!-- container -->
      </div> <!-- jumbotron -->

      <div class="jumbotron bg-light rounded-0 mb-0">
        <div class="container">
          <h2>Ready to get started as an instructor?</h2>
          <p class="lead">
            Start by requesting a course and creating some content. Join the Slack workspace for ad hoc
            assistance or some random banter!
          </p>
          <a class="btn btn-outline-dark btn-lg mr-2 mb-2" href="<%= plainUrlPrefix %>/request_course">
            <i class="fab fa-wpforms" aria-hidden="true"></i>
            Request your course
          </a>
          <a class="btn btn-outline-dark btn-lg mr-2 mb-2" href="https://prairielearn.readthedocs.io/en/latest/getStarted">
            <i class="fas fa-laptop-code" aria-hidden="true"></i>
            Create your content
          </a>
          <a class="btn btn-outline-dark btn-lg mb-2" href="https://prairielearn.slack.com">
            <i class="fab fa-slack" aria-hidden="true"></i>
            Join our community
          </a>
        </div> <!-- container -->
      </div> <!-- jumbotron -->

      <div class="jumbotron bg-dark rounded-0 text-light text-right mb-0">
        <div class="container">
          <h2>Want to contribute?</h2>
          <p class="lead">
            PrairieLearn is open source, so anyone can add features or fix bugs!
          </p>
          <a class="btn btn-outline-light btn-lg mb-2" href="https://github.com/PrairieLearn/PrairieLearn">
            <i class="fab fa-github" aria-hidden="true"></i>
            GitHub
          </a>
          <a class="btn btn-outline-light btn-lg ml-2 mb-2" href="https://prairielearn.slack.com">
            <i class="fab fa-slack" aria-hidden="true"></i>
            Slack
          </a>
          <a class="btn btn-outline-light btn-lg ml-2 mb-2" href="https://prairielearn.readthedocs.io/en/latest/dev-guide">
            <i class="fas fa-book" aria-hidden="true"></i>
            Developer guide
          </a>
        </div> <!-- container -->
      </div> <!-- jumbotron -->
      <% } %> <!-- isAuthenticated -->
    </main>

    <% if (config.homepageFooterText && config.homepageFooterTextHref) { %>
      <footer class="footer font-weight-light text-light <%= isAuthenticated ? 'tiny text-center' : 'small text-right bg-dark py-3' %>">
        <div class="<%= isAuthenticated ? 'bg-secondary p-1' : 'container' %>">
          <a class="text-light" href="<%= config.homepageFooterTextHref %>"><%= config.homepageFooterText %></a>
        </div>
      </footer>
    <% } %>
  </body>
</html>
