<% if (count > 0) { %>
    <% if (!(typeof suppressLink != 'undefined' && suppressLink)) { %>
        <% if (typeof issueQid != 'undefined') { %>
            <a class="badge badge-pill badge-danger" href="<%= urlPrefix %>/course_admin/issues?q=is%3Aopen+qid%3A<%= issueQid %>">
        <% } else { %>
            <a class="badge badge-pill badge-danger" href="<%= urlPrefix %>/course_admin/issues">
        <% } %>
        <%= count %></a>
    <% } else { %>
        <span class="badge badge-pill badge-danger"><%= count %></span>
    <% } %>
<% } %>
