
    <%# Course admin %> 
    <li class="nav-item btn-group" id="navbar-course-switcher">
        <a
            class="nav-link <% if (navPage == 'course_admin' && !(typeof navSubPage !== 'undefined' && (navSubPage == 'issues' || navSubPage == 'questions' || navSubPage == 'syncs'))) { %> active <% } %> <% if (!authz_data.has_course_permission_view) { %> disabled <% } %>"
            href="<%= urlPrefix %>/course_admin"
            role="button"
        >
            <%= course.short_name %>
        </a>
        <a
            class="nav-link dropdown-toggle dropdown-toggle-split"
            href="#"
            id="navbarDropdownMenuCourseAdminLink"
            role="button"
            data-toggle="dropdown"
            aria-label="Change course"
            aria-haspopup="true"
            aria-expanded="false"
            <% if (!authz_data.overrides) { %>
            hx-get="/pl/navbar/course/<%= course.id %>/switcher"
            hx-trigger="show-course-switcher once delay:200ms"
            hx-target="#navbarDropdownMenuCourseAdmin"
            <% } %>
        >
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuCourseAdminLink" id="navbarDropdownMenuCourseAdmin">
            <% if (authz_data.overrides) { %>
                <span class="dropdown-item-text small">Effective users may not switch between courses</span>
            <% } else { %>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading courses...</span>
                    </div>
                </div>
            <% }%>
        </div>
    </li>

    <li class="nav-item <% if (navPage == "course_admin" && typeof navSubPage !== 'undefined' && navSubPage == "issues") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/course_admin/issues">Issues <%- include('issueBadge', {count: navbarOpenIssueCount, suppressLink: true}) %></a></li>
    <li class="nav-item <% if (navPage == "course_admin" && typeof navSubPage !== 'undefined' && navSubPage == "questions") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/course_admin/questions">Questions</a></li>
    <li class="nav-item <% if (navPage == "course_admin" && typeof navSubPage !== 'undefined' && navSubPage == "syncs") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/course_admin/syncs">Sync</a></li>

    <% if (locals.course_instance) { %>

        <%# Instance admin %> 
        <li class="navbar-text mx-2 no-select">/</li>
        <li class="nav-item btn-group" id="navbar-course-instance-switcher">
            <a class="nav-link <% if (navPage == "instance_admin" && !(typeof navSubPage !== 'undefined' && (navSubPage == "assessments" || navSubPage == "gradebook"))) { %>active<% } %>" href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instructor/instance_admin" role="button">
                <%= course_instance.short_name %>
            </a>
            <a
                class="nav-link dropdown-toggle dropdown-toggle-split"
                href="#"
                id="navbarDropdownMenuInstanceAdminLink"
                role="button"
                data-toggle="dropdown"
                aria-label="Change course instance"
                aria-haspopup="true"
                aria-expanded="false"
                hx-get="/pl/navbar/course/<%= course.id %>/course_instance_switcher/<%= course_instance.id %>"
                hx-trigger="show-course-instance-switcher once delay:200ms"
                hx-target="#navbarDropdownMenuInstanceAdmin"
            ></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuInstanceAdminLink" id="navbarDropdownMenuInstanceAdmin">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading course instances...</span>
                    </div>
                </div>
            </div>
        </li>

        <%# Instance non-admin %> 
        <li class="nav-item <% if (navPage == "instance_admin" && typeof navSubPage !== 'undefined' && navSubPage == "assessments") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/instance_admin/assessments">Assessments</a></li>

        <li class="nav-item <% if (navPage == "instance_admin" && typeof navSubPage !== 'undefined' && navSubPage == "gradebook") { %>active<% } %>"><a class="nav-link" href="<%= urlPrefix %>/instance_admin/gradebook">Gradebook</a></li>

        <% if (typeof assessment_label != 'undefined' && typeof assessment != 'undefined') { %>
            <li class="navbar-text mx-2 no-select">/</li>
            <li class="nav-item btn-group">
                <a class="nav-link <% if (navPage == "assessment") { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= assessment.id %>" role="button">
                    <%= assessment_label %>
                </a>
                <% if (typeof assessments != 'undefined') { %>
                    <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Change assessment">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="navbarDropwdownMenuInstructorAssessment">
                        <% assessments.forEach(function(a) { %>
                            <a class="dropdown-item <% if (navPage == "assessment" && assessment.id == a.id) { %>active<% } %>" href="<%= urlPrefix %>/assessment/<%= a.id %><% if (navPage == "assessment" && typeof navSubPage !== 'undefined' && navSubPage != "file_edit") { %>/<%= navSubPage %><% } %>"><%= a.assessment_label %></a>
                        <% }); %>
                    </div>
                <% } %>
            </li>
        <% } %>
    <% } else { %>
        <li class="navbar-text mx-2 no-select">/</li>

        <li class="nav-item dropdown" id="navbar-course-instance-switcher">
            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuInstanceChooseLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                hx-get="/pl/navbar/course/<%= course.id %>/course_instance_switcher"
                hx-trigger="show-course-instance-switcher once delay:200ms"
                hx-target="#navbarDropdownMenuInstanceChoose"
            >
                Choose course instance...
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuInstanceChooseLink" id="navbarDropdownMenuInstanceChoose">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading course instances...</span>
                    </div>
                </div>
            </div>
        </li>
    <% } %>
