<% if (question_context !== 'manual_grading') { %>
  <div class="card-footer" id="question-panel-footer">
    <% if (question.type !== 'Freeform') { %><form class="question-form" name="question-form" method="POST"><% } %>
    <% if (showTrueAnswer && (question_context == 'student_exam')) { %>
    This question is complete and cannot be answered again.
    <% } else if (locals.authz_result && (!authz_result.authorized_edit)) { %>
      <div class="alert alert-warning mt-2" role="alert">
        You are viewing the question instance of a different user and so are not authorized to save answers, to submit answers for grading, or to try a new variant of this same question.
      </div>
    <% } else { %>
    <div class="row">
      <div class="col d-flex justify-content-between">
        <span class="d-flex align-items-center">
          <% if (showSaveButton) { %>
            <button
              class="btn btn-info question-save disable-on-submit order-2"
              <%= disableSaveButton ? "disabled" : "" %>
              <% if (question.type === 'Freeform') { %>name="__action" value="save"<% } %>
            >
              <% if (showGradeButton) { %>
                Save only
              <% } else { %>
                Save
              <% } %>
            </button>
          <% } %>
          <% if (showGradeButton) { %>
            <button
              class="btn btn-primary question-grade disable-on-submit order-1 mr-1"
              <%= disableGradeButton ? "disabled" : "" %>
              <% if (question.type === 'Freeform') { %>name="__action" value="grade"<% } %>
            >
              Save &amp; Grade
              <% if (variantAttemptsTotal > 0) { %>
                <% if (variantAttemptsLeft > 1) { %>
                  <small class="font-italic ml-2"><%= variantAttemptsLeft %> attempts left</small>
                <% } else if (variantAttemptsLeft == 1 && variantAttemptsTotal > 1) { %>
                  <small class="font-italic ml-2">Last attempt</small>
                <% } else if (variantAttemptsLeft == 1) { %>
                  <small class="font-italic ml-2">Single attempt</small>
                <% } %>
              <% } else if (question_context != 'instructor') { %>
                <small class="font-italic ml-2">Unlimited attempts</small>
              <% } %>
            </button>
          <% } %>
          <% if (locals.assessment?.group_config?.has_roles &&
                 !locals.instance_question?.group_role_permissions?.can_submit) { %>
            <button
              type="button"
              class="btn btn-xs order-3"
              data-toggle="popover"
              data-trigger="focus"
              data-content="Your group role (<%= assessment_instance.user_group_roles %>) is not allowed to submit this question."
              aria-label="Submission blocked">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </button>
          <% } %>
        </span>
        <span class="d-flex">
          <% if (question.type === 'Freeform') { %>
            <input type="hidden" name="__variant_id" value="<%= variant.id %>">
          <% } else { %>
            <input type="hidden" name="postData" class="postData">
            <input type="hidden" name="__action" class="__action">
          <% } %>
          <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
          <% if (showNewVariantButton) { %><a href="<%= newVariantUrl %>" class="btn btn-primary disable-on-click ml-1">New variant</a>
          <% } else if (showTryAgainButton) { %><a href="<%= tryAgainUrl %>" class="btn btn-primary disable-on-click ml-1">Try a new variant</a>
          <% } else if (hasAttemptsOtherVariants) { %>
          <small class="font-italic align-self-center">Additional attempts available with new variants</small>
          <a class="btn btn-xs align-self-center" data-toggle="popover" data-html="true" data-content="<%= include('newVariantInfo') %>" data-placement="auto" data-trigger="focus" data-container="body" tabindex="0">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
          </a>
          <% } %>
          <% if (question_context == 'student_exam' && instance_question.points_list) { %>
          <% const rounded_points = instance_question.points_list.map((p) => Math.round(p * 100) / 100); %>
          <small class="font-italic align-self-center text-right">
              <% if (rounded_points[0] == 1) { %>
              1 point available for this attempt
              <% } else { %>
              <%= rounded_points[0] %> points available for this attempt
              <% } %>
              <% if (assessment_question?.max_manual_points > 0) { %>
                <% if (rounded_points[0] > assessment_question?.max_manual_points) { %>
                  &mdash; <%= Math.round((rounded_points[0] - assessment_question?.max_manual_points) * 100) / 100 %> auto-graded, <%= assessment_question?.max_manual_points %> manually graded
                <% } else { %>
                  &mdash; manually graded
                <% } %>
              <% } %>
              <% if (rounded_points.length == 2) { %>
              <br />(following attempt is worth: <%= rounded_points[1] %>)
              <% } else if (rounded_points.length > 2) { %>
              <br />(following attempts are worth: <%= rounded_points.slice(1).join(', ') %>)
              <% } %>
          </small>
          <% } %>
        </span>
      </div>
    </div>
    <%- include('submitRateFooter') %>
    <% } %>
    <% if (question.type !== 'Freeform') { %></form><% } %>
  </div>
<% } %>
