<% include('pointsFormatter'); %>

<% const MAX_DISPLAYED_VARIANTS = 10; %>

<% if (previous_variants) { %>
    <%
        const collapseClass = `variants-points-collapse-${instance_question_id}`;
        const collapseButtonId = `variants-points-collapse-button-${instance_question_id}`;
    %>
    <% if (previous_variants.length > MAX_DISPLAYED_VARIANTS) { %>
        <button
            id="<%= collapseButtonId %>"
            class="bg-white text-body p-0 m-0 border-0 rounded-0"
            aria-label="Show older variants"
            onclick="
                // show all the hidden variant score buttons
                document.querySelectorAll('.<%= collapseClass %>').forEach(e => e.style.display = '');
                // hide the ... button that triggered the expansion
                document.querySelectorAll('#<%= collapseButtonId %>').forEach(e => e.style.display = 'none');
            "
        >
            &ctdot;
        </button>
    <% } %>
    <% for (var i = 0; i < previous_variants.length; i++) { %>
        <a
            class="badge badge-secondary <%= collapseClass %>"
            <% if (i < previous_variants.length - MAX_DISPLAYED_VARIANTS) { %>
                style="display: none"
            <% } %>
            href="<%= urlPrefix %>/instance_question/<%= instance_question_id %>/?variant_id=<%= previous_variants[i].variant_id %>"
        >
            <%= Math.floor(previous_variants[i].max_submission_score * 100) + "%"  %>
        </a>
    <% } %>
<% } %>
