<div class="card mb-4" id="question-score-panel">
  <div class="card-header bg-secondary text-white">Question <%= instance_question.question_number %></div>
  <table class="table table-sm two-column-description-no-header">
    <tbody>
      <tr>
        <td>Submission status:</td>
        <td><%- include('../partials/examQuestionStatus', {instance_question}); %></td>
      </tr>
      <% if (assessment.allow_real_time_grading && (assessment_question.max_auto_points || !assessment_question.max_manual_points)) { %>
      <tr>
        <td>Best submission:</td>
        <td><%- include('../partials/examQuestionScore', {instance_question}); %></td>
      </tr>
      <% } %>
      <% if (assessment.type == 'Homework') { %>
      <tr>
        <td>History:</td>
        <td><%- include('../partials/questionAwardedPoints', {awarded_points: instance_question.variants_points_list, init_points: assessment_question.init_points});  %></td>
      </tr>
      <% } else if (assessment_question.max_auto_points) { %>
      <tr>
        <td>Available points:</td>
        <td><%- include('../partials/examQuestionAvailablePoints', {open: assessment_instance.open && instance_question.open, currentWeight: instance_question.points_list_original[instance_question.number_attempts] - assessment_question.max_manual_points, points_list: instance_question.points_list.map((p) => (p - assessment_question.max_manual_points)), highest_submission_score: instance_question.highest_submission_score}); %></td>
      </tr>
      <% } %>
      <% let list_grading_method = true; %>
      <% if (assessment_question.max_auto_points && (assessment_question.max_manual_points || instance_question.manual_points || instance_question.requires_manual_grading)) { %>
      <% list_grading_method = false; %>
      <tr>
        <td>Auto-grading:</td>
        <td><%- include('../partials/instanceQuestionPoints', {component: 'auto'}); %></td>
      </tr>
      <tr>
        <td>Manual grading:</td>
        <td><%- include('../partials/instanceQuestionPoints', {component: 'manual'}); %></td>
      </tr>
      <% } %>
      <tr>
        <td>Total points:</td>
        <td><%- include('../partials/instanceQuestionPoints', {component: 'total'}); %></td>
      </tr>
      <% if (list_grading_method && assessment_question.max_points) { %>
      <tr>
        <td colspan="2" class="text-right">
          <small>
            <% if (!assessment_question.max_auto_points) { %>
            Manually-graded question
            <% } else { %>
            Auto-graded question
            <% } %>
          </small>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <% if (assessment.allow_issue_reporting) { %>
  <div class="card-footer">
    <% if (locals.authz_result && !authz_result.authorized_edit) { /* instructor viewing student assessment */ %>
      <div class="alert alert-warning mt-2" role="alert">
        You are viewing the question instance of a different user and so are not authorized to report an error.
      </div>
    <% } else { %>
      <button class="btn btn-xs btn-secondary" type="button" data-toggle="collapse" data-target="#issueCollapse" aria-expanded="false" aria-controls="issueCollapse">
        Report an error in this question <i class="far fa-caret-square-down"></i>
      </button>
      <div class="collapse" id="issueCollapse">
        <form method="POST">
          <p class="small mt-3">
            This form is only for reporting errors in the question
            itself. Do not use this form if you just don't know how to
            answer the question.
          </p>
          <div class="form-group">
            <textarea class="form-control" rows="5" name="description" placeholder="Describe the error in this question"></textarea>
          </div>
          <input type="hidden" name="__variant_id" value="<%= variant.id %>">
          <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
          <div class="form-group text-right">
            <button class="btn btn-small btn-warning" name="__action" value="report_issue">Report error
          </div>
        </form>
      </div>
    <% } %>
  </div>
  <% } %>
</div>
