<%
let classes = ['btn', 'text-white', 'mb-3'];
let show_lock = false;
if (!question.id) {
  classes.push('btn-primary', 'disabled');
} else if (!question.sequence_locked && (locals.group_role_permissions?.can_view ?? true)) {
  classes.push('btn-primary');
} else {
  classes.push('btn-secondary', 'pl-sequence-locked');
  show_lock = true;
}
let classes_str = classes.join(' ');
%>
<a
  id="<%= button.id %>"
  class="<%= classes_str %>"
  <% if (question.id && !question.sequence_locked && (locals.group_role_permissions?.can_view ?? true)) { %>
    href="<%= urlPrefix %>/instance_question/<%= question.id %>/"
  <% } else if (question.id) { %>
    tabindex="0" role="button"
    data-toggle="popover" data-trigger="focus" data-container="body"
    data-html="true"
    <% if (question.sequence_locked) { %>
      data-content="You must score at least <b><%= advance_score_perc %>%</b> on a submission to this question in order to unlock the next. If you run out of attempts, the next question will unlock automatically."
    <% } else if (!(locals.group_role_permissions?.can_view ?? true)) { %>
      data-content="Your current group role (<%= assessment_instance.user_group_roles %>) restricts access to the <%= button.label.toLowerCase() %>."
    <% } %>
  <% } %>
>
  <%= button.label %>
  <% if (show_lock) { %>
    <i class="fas fa-lock ml-1" aria-label="Locked"></i>
  <% } %>
</a>