<% if (notInGroup) { %>
  <% if (!groupConfig.student_authz_join && !groupConfig.student_authz_create) { %>
    <p class="text-center">
      This is a group homework. Please wait for the instructor to assign groups.
   </p>
  <% } else { %>
<p class="text-center">
  <% if (groupConfig.minimum > 1) { %>
  This is a group assessment.
  A group must have <% if (groupConfig.maximum) { %>between <%= groupConfig.minimum %> and <%= groupConfig.maximum %><% } else { %>at least <%= groupConfig.minimum %><% } %> students.
  <% } else { %>
  This assessment can be done individually or in groups. <% if (groupConfig.maximum) { %>A group must have no more than <%= groupConfig.maximum %> students.<% } %>
  <br/>To work individually, you must also create a group, but you don't need to share your join code.
  <% } %>
</p>
<%- include('../shared/groupWorkInitial.ejs', {groupConfig: groupConfig}); %>
<% } %>
<% } else {%>
  <%- include('./groupWorkInfoContainer.ejs'); %>
  <% if (start && locals.assessment.type === 'Exam' && locals.assessment.require_honor_code) { %>
    <div class="card card-secondary mb-4 test-class-honor-code">
      <ul class="list-group list-group-flush">
        <li class="list-group-item py-2">I certify that I am <%= user.name %> and our group is allowed to take this assessment.</li>
        <li class="list-group-item py-2">We pledge on our honor that we will not give or receive any unauthorized assistance on this assessment and that all work will be our own.</li>
      </ul>

      <div class="card-footer text-center border-top-0 py-2">
        <span class="form-check d-inline">
          <input type="checkbox" class="form-check-input" id="certify-pledge">
          <label class="form-check-label font-weight-bold" for="certify-pledge">I certify and pledge the above.</label>
        </span>
      </div>
    </div>

  <% } %>
  <form id="confirm-form" name="confirm-form" method="POST" class="mt-4 d-flex justify-content-center">
    <input type="hidden" name="__action" value="new_instance">
    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
    <button id="start-assessment" type="submit" class="btn btn-primary"<% if ((locals.assessment.type === 'Exam' && locals.assessment.require_honor_code) || !start) { %> disabled<% } %>>Start assessment</button>
  </form>
  <% if (groupConfig.minimum - groupSize > 0) { %>
  <p class="text-center">
    * Minimum group size is <%= groupConfig.minimum %>. You need at least <%= groupConfig.minimum - groupSize %> more group member(s) to start.
  </p>
  <% } %>
<% } %>
