<div class="modal fade" id="submissionInfoModal-<%= submission.id %>" tabindex="-1" role="dialog" aria-labelledby="submissionInfoModalLabel-<%= submission.id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submissionInfoModalLabel-<%= submission.id %>">Submission info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <% if (!submission.grading_job_stats) { %>
        <p>This submission has not been graded.</p>
      <% } else { %>

        <table class="table table-sm table-borderless two-column-description mb-0">
          <tbody>
            <tr>
              <th>Submission time</th>
              <td><%= submission.formatted_date %></td>
            </tr>
            <% if (question.grading_method == 'External') { %>
            <tr>
              <th><span class="text-dark mr-2">&bull;</span>Submit duration</th>
              <td><%= submission.grading_job_stats.submitDuration %></td>
            </tr>
            <tr>
              <th><span class="text-warning mr-2">&bull;</span>Queue duration</th>
              <td><%= submission.grading_job_stats.queueDuration %></td>
            </tr>
            <tr>
              <th><span class="text-primary mr-2">&bull;</span>Prepare duration</th>
              <td><%= submission.grading_job_stats.prepareDuration %></td>
            </tr>
            <tr>
              <th><span class="text-success mr-2">&bull;</span>Run duration</th>
              <td><%= submission.grading_job_stats.runDuration %></td>
            </tr>
            <tr>
              <th><span class="text-danger mr-2">&bull;</span>Report duration</th>
              <td><%= submission.grading_job_stats.reportDuration %></td>
            </tr>
            <tr>
              <th>Total duration</th>
              <td><%= submission.grading_job_stats.totalDuration %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% if (question.grading_method == 'External') { %>
        <div class="d-flex mt-2 mb-2">
          <span style="display: inline-block; width: <%= submission.grading_job_stats.phases[0] %>%; height: 10px;" class="bg-dark m-0"></span>
          <span style="display: inline-block; width: <%= submission.grading_job_stats.phases[1] %>%; height: 10px;" class="bg-warning m-0"></span>
          <span style="display: inline-block; width: <%= submission.grading_job_stats.phases[2] %>%; height: 10px;" class="bg-primary m-0"></span>
          <span style="display: inline-block; width: <%= submission.grading_job_stats.phases[3] %>%; height: 10px;" class="bg-success m-0"></span>
          <span style="display: inline-block; width: <%= submission.grading_job_stats.phases[4] %>%; height: 10px;" class="bg-danger m-0"></span>
        </div>
        <% if (typeof course_instance != 'undefined' && course_instance != null) { %>
        <a class="btn btn-primary mt-2" href="<%= plainUrlPrefix %>/course_instance/<%= course_instance.id %>/instructor/grading_job/<%= submission.grading_job_id %>">View grading job <%= submission.grading_job_id %></a>
        <% } else { %>
        <a class="btn btn-primary mt-2" href="<%= urlPrefix %>/grading_job/<%= submission.grading_job_id %>">View grading job <%= submission.grading_job_id %></a>
        <% } %>
        <% } %>

      <% } %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
