<% let auto_submission_status_prefix = ''; %>
<% if (locals.assessment_question ? (assessment_question.max_manual_points || instance_question.manual_points || instance_question.requires_manual_grading) : question.grading_method == 'Manual') { %>
    <% auto_submission_status_prefix = 'auto-grading: '; %>
    <%# The manual grading status only applies to the latest submission %>
    <% if (submission.submission_number == submissionCount) { %>
        <% if (!locals.assessment_question || instance_question.requires_manual_grading) { %>
            <% if (!submission.gradable && !locals.assessment_question?.max_auto_points) { %>
                <span class="badge badge-danger">invalid, not gradable</span><br/>
            <% } else { %>
                <span class="badge badge-secondary">manual grading: waiting for grading</span><br/>
            <% } %>
        <% } else { %>
        <% const manual_percentage = assessment_question.max_points
           ? Math.floor(instance_question.manual_points * 100 / (assessment_question.max_manual_points || assessment_question.max_points)) + '%'
           : ((instance_question.manual_points > 0 ? '+' : '') + instance_question.manual_points + (Math.abs(instance_question.manual_points) > 1 ? ' pts' : ' pt')); %>
        <% if (instance_question.manual_points <= 0) { %>
            <span class="badge badge-danger">manual grading: <%= manual_percentage %></span><br/>
        <% } else if (instance_question.manual_points >= assessment_question.max_manual_points) { %>
            <span class="badge badge-success">manual grading: <%= manual_percentage %></span><br/>
        <% } else { %>
            <span class="badge badge-warning">manual grading: <%= manual_percentage %></span><br/>
        <% } %>
        <% } %>
    <% } %>
<% } %>
<% if (locals.assessment_question ? (assessment_question.max_auto_points || !assessment_question.max_manual_points) : question.grading_method != 'Manual') { %>
    <% if (submission.graded_at == null) { %>
        <% if (submission.grading_requested_at == null) { %>
            <% if (submission.gradable) { %>
                <span class="badge badge-info"><%= auto_submission_status_prefix %>saved, not graded</span>
            <% } else { %>
                <span class="badge badge-danger"><%= auto_submission_status_prefix %>invalid, not gradable</span>
            <% } %>
        <% } else { %>
            <% if (question.grading_method == 'External') { %>
                <% if (submission.gradable) { %>
                    <span class="badge badge-secondary"><%= auto_submission_status_prefix %><span id="grading-status-<%= submission.id %>"></span></span>
                <% } else { %>
                    <span class="badge badge-danger"><%= auto_submission_status_prefix %>invalid, not gradable</span>
                <% } %>
            <% } else { %>
                <span class="badge badge-secondary"><%= auto_submission_status_prefix %>waiting for grading</span>
            <% } %>
        <% } %>
    <% } else if (!submission.gradable) { %>
        <% /* If an error ocurred during grading, there will be a `graded_at` timestamp but the submission will be marked ungradable. */ %>
        <span class="badge badge-danger"><%= auto_submission_status_prefix %>invalid, not gradable</span>
    <% } else if (submission.score == 1) { %>
        <% if ((typeof submission.v2_score !== 'undefined') && (submission.v2_score !== null) && (submission.v2_score < 1)) { %>
            <span class="badge badge-success"><%= auto_submission_status_prefix %>100% (rounded up from <%= Math.floor(submission.v2_score * 100) %>%)</span>
        <% } else { %>
            <span class="badge badge-success"><%= auto_submission_status_prefix %>100%</span>
        <% } %>
    <% } else if (submission.score > 0) { %>
        <span class="badge badge-warning"><%= auto_submission_status_prefix %><%= Math.floor(submission.score * 100) %>%</span>
    <% } else { %>
        <% if ((typeof submission.v2_score !== 'undefined') && (submission.v2_score !== null) && (submission.v2_score >= 0.01)) { %>
            <span class="badge badge-danger"><%= auto_submission_status_prefix %>0% (rounded down from <%= Math.floor(submission.v2_score * 100) %>%)</span>
        <% } else { %>
            <span class="badge badge-danger"><%= auto_submission_status_prefix %>0%</span>
        <% } %>
    <% } %>
<% } %>
