<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageNote: news_item.formatted_date, pageTitle: news_item.title}); %>
    <link href="<%= asset_path('stylesheets/issues.css') %>" rel="stylesheet" />
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'news_item'}); %>
    <main id="content" class="container">
      <article>
        <header>
          <a class="btn btn-primary mb-4" href="<%= urlPrefix %>/news_items" role="button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back to news list
          </a>

          <h1>
            <%= news_item.title %>
          </h1>

          <p>
            <i class="mr-2 text-muted">
              Posted on <%= news_item.formatted_date %>
              <% if (news_item.author) { %>
              by <%- news_item.author %>
              <% } %>
            </i>
            <% if (news_item.show_student_badge) { %>
                <span class="badge badge-secondary">Visible to students</span>
            <% } %>
          </p>
        </header>

        <%- news_item_html %>

        <aside>
          <p class="text-right small border-top mt-5 pt-3">
            Want to help make PrairieLearn better? It's open source and contributions are welcome <a href="https://github.com/PrairieLearn/PrairieLearn" target="_blank">on GitHub</a>!
          </p>
        </aside>
      </article>
    </main>
  </body>
</html>
