<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/localscripts/question.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <%- extraHeadersHtml %>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <script type="text/javascript" src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Question <%= question.qid %></h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr>
              <th>Title</th>
              <td><%= question.title %></td>
            </tr>
            <tr>
              <th>QID</th>
              <td><%= question.qid %></td>
            </tr>
            <tr>
              <th>Type</th>
              <td><%= question.type %></td>
            </tr>
            <tr>
              <th>Topic</th>
              <td><%- include('../partials/topic', {topic: topic}); %></td>
            </tr>
            <tr>
              <th>Tags</th>
              <td><%- include('../partials/tags', {tags: tags}); %></td>
            </tr>
            <tr>
              <th>Assessments</th>
              <td><%- include('../partials/assessments', {assessments: assessments}); %></td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <%- include('../partials/question'); %>

    </div>
  </body>
</html>
