<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/localscripts/question.js"></script>
    <%- extraHeaders %>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <script type="text/javascript" src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Question <%= question.qid %></h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr>
              <th>Title</th>
              <td><%= question.title %></td>
            </tr>
            <tr>
              <th>QID</th>
              <td><%= question.qid %></td>
            </tr>
            <tr>
              <th>Type</th>
              <td><%= question.type %></td>
            </tr>
            <tr>
              <th>Topic</th>
              <td><%- include('../partials/topic', {topic: topic}); %></td>
            </tr>
            <tr>
              <th>Tags</th>
              <td><%- include('../partials/tags', {tags: tags}); %></td>
            </tr>
            <tr>
              <th>Assessments</th>
              <td><%- include('../partials/assessments', {assessments: assessments}); %></td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="question-0" class="question-container">
        <div hidden="true" class="question-data"><%= questionJsonBase64 %></div>

        <div class="panel panel-primary question-block">
          <% if (question.type == 'Freeform') { %>
          <form class="question-form" name="question-form" method="POST">
          <% } %>
          <div class="panel-heading">
            <h3 class="panel-title"><%= question.title %></h3>
          </div>
          <div class="panel-body question-body">
            <%- questionHtml %>
          </div>
          <div class="panel-footer">
            <% if (question.type == 'Freeform') { %>
            <button class="btn btn-primary freeform-question-submit">Submit</button>
            <a class="btn btn-info" href=".">New variant</a>
            <% } else { %>
            <button class="btn btn-primary question-submit">Submit</button>
            <a class="btn btn-info" href=".">New variant</a>
            <form class="question-form" name="question-form" method="POST">
            <% } %>
            <input type="hidden" name="postAction" value="submitQuestionAnswer">
            <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
            <% if (question.type != 'Freeform') { %>
            <input type="hidden" name="postData" class="postData">
            </form>
            <% } %>
          </div>
          <% if (question.type == 'Freeform') { %>
          </form>
          <% } %>
        </div>

        <% if (submission) { %>

        <div class="panel panel-info grading-block">
          <div class="panel-heading">
            <h3 class="panel-title">Correct answer</h3>
          </div>
          <div class="panel-body answer-body">
            <%- answerHtml %>
          </div>
        </div>

        <div class="panel panel-info submission-block">
          <div class="panel-heading">
            <h3 class="panel-title">
              Submitted answer
              &nbsp;&nbsp;&nbsp;
              <%- include('../partials/submissionStatus', {submission: submission, reloadUrl: urlPrefix + '/question' + question.id + '/'}); %>
            </h3>
          </div>
          <div class="panel-body submission-body">
              <%- submissionHtml %>
          </div>
        </div>
        <% } %>

      </div> <!-- question-container -->

    </div>
  </body>
</html>
