<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
    <script type="text/javascript" src="/localscripts/stacked_histogram.js"></script>
    <script type="text/javascript" src="/localscripts/histmini.js"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/require.js"></script>
    <script type="text/javascript" src="/localscripts/question.js"></script>
    <script type="text/javascript" src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Question <%= question.qid %></h3>
        </div>

        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr>
              <th>Title</th>
              <td><%= question.title %></td>
            </tr>
            <tr>
              <th>QID</th>
              <td><%= question.qid %> 
                  <% if (questionGHLink) { %>(<a target="_blank" href="<%= questionGHLink %>">view on GitHub</a>)<% } %>
              </td>
            </tr>
            <tr>
              <th>Type</th>
              <td><%= question.type %></td>
            </tr>
            <tr>
              <th>Topic</th>
              <td><%- include('../partials/topic', {topic: topic}); %></td>
            </tr>
            <tr>
              <th>Tags</th>
              <td><%- include('../partials/tags', {tags: tags}); %></td>
            </tr>
            <tr>
              <th>Issues</th>
              <td><%- include('../partials/issueBadge', {count: open_issue_count}); %></td>
            </tr>
            <tr>
              <th>Assessments</th>
              <td><%- include('../partials/assessments', {assessments: assessments}); %></td>
            </tr>
            <% if (question.type == 'Freeform') { %>
            <tr>
              <th>Tests</th>
              <td>
                <form method="POST">
                  <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                  <button class="btn btn-xs btn-default" name="__action" value="test_once">
                    Test once with full details
                  </button>
                  <button class="btn btn-xs btn-default" name="__action" value="test_100">
                    Test 100 times with only results
                  </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div class="panel-footer">
          <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#issueCollapse" aria-expanded="false" aria-controls="issueCollapse">
            Report an issue with this question
          </button>
          <div class="collapse" id="issueCollapse">
            <hr />
            <form method="POST">
              <div class="form-group">
                <textarea class="form-control" rows="5" name="description" placeholder="Describe the issue"></textarea>
              </div>
              <input type="hidden" name="__variant_id" value="<%= variant.id %>">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <div class="form-group text-right">
                <button class="btn btn-small btn-warning" name="__action" value="report_issue">Report issue
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include('../partials/question', {question_context: 'instructor'}); %>

      <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">-->
          <!--<h3 class="panel-title">Num Attempts</h3>-->
        <!--</div>-->
        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <% if (question_attempts_histogram && question_attempts_before_giving_up_histogram) { %>
              <tr>
                <th> Num Attempts Histogram Exams </th>
                <td>
                  <%- include('../partials/attempts-histogram', {
                    question_attempts_histogram: question_attempts_histogram,
                    question_attempts_before_giving_up_histogram: question_attempts_before_giving_up_histogram,
                    title: 'exams'
                  }); %>
              </td>
              </tr>
            <% } %>
            <% if (question_attempts_histogram_hw && question_attempts_before_giving_up_histogram_hw) { %>
              <tr>
                <th> Num Attempts Histogram HW </th>
                <td>
                  <%- include('../partials/attempts-histogram', {
                    question_attempts_histogram: question_attempts_histogram_hw,
                    question_attempts_before_giving_up_histogram: question_attempts_before_giving_up_histogram_hw,
                  title: 'hw'
                  }); %>
              </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      <!--</div>-->

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Detailed assessment statistics</h3>
        </div>

        <div class="table-responsive">

          <table id="questionsTable" class="table table-condensed table-hover tablesorter table-bordered">
            <thead>
            <tr>
              <th class="cell-center">Course Instance</th>
              <th class="cell-center">Assessment</th>
                <% Object.keys(stat_descriptions).forEach(function(stat) {%>
              <th
                      class="cell-center"
                      title="<%- stat_descriptions[stat].description %>">
                  <%- stat_descriptions[stat].title %>
              </th>
                <% }); %>

            </tr>
            </thead>
            <tbody>
            <% assessment_stats.forEach(function(row, i) { %>
            <tr>
              <td>
                  <%= row.course_title %>
              </td>
              <td style="width: 1%">
                <a href="/pl/course_instance/<%= row.course_instance_id %>/instructor/assessment/<%= row.assessment_id %>/" class="btn btn-<%=
                  row.color %> btn-xs" role="button"><%= row.label %></a>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.mean_question_score, parseFloatOne) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.question_score_variance, parseFloatOne) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.discrimination, parseFloatOne) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.some_submission_perc, parseFloatOne) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.some_perfect_submission_perc, parseFloatOne) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.some_nonzero_submission_perc, parseFloatOne) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.average_first_submission_score, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.first_submission_score_variance, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <% if (row.first_submission_score_hist !== null) { %>
                <div id="firstSubmissionScoreHist<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.average_last_submission_score, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.last_submission_score_variance, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <% if (row.last_submission_score_hist !== null) { %>
                <div id="lastSubmissionScoreHist<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.average_max_submission_score, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.max_submission_score_variance, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <% if (row.max_submission_score_hist !== null) { %>
                <div id="maxSubmissionScoreHist<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.average_average_submission_score, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.average_submission_score_variance, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <% if (row.average_submission_score_hist !== null) { %>
                <div id="averageSubmissionScoreHist<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <td class="cell-center">
                  <% if (row.submission_score_array_averages !== null) { %>
                <div id="submissionScoreArray<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <td class="cell-center">
                  <% if (row.incremental_submission_score_array_averages !== null) { %>
                <div id="incrementalSubmissionScoreArray<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <td class="cell-center">
                <% if (row.type !== 'Homework') { %>
                  <% if (row.incremental_submission_points_array_averages !== null) { %>
                    <div id="incrementalSubmissionPointsArray<%= i %>" class="miniHist"></div>
                  <% } %>
                <% } else { %>
                  N/A
                <% } %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.average_number_submissions, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <%= ifNotNullThen(row.number_submissions_variance, parseFloatTwo) %>
              </td>
              <td class="cell-center">
                  <% if (row.number_submissions_hist !== null) { %>
                <div id="numberSubmissionsHist<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <td class="cell-center">
                  <% if (row.quintile_question_scores !== null) { %>
                <div id="quintileQuestionScoresHist<%= i %>" class="miniHist"></div>
                  <% } %>
              </td>
              <script>
                  $(function() {
                      function drawHistogram(data, idBase, percentages, barchart, ymax) {
                          if (data && data.length > 0) {
                              if (percentages) {
                                  data = toPercentages(data);
                              }
                              var options = {
                                  width: 60,
                                  height: 20,
                                  ymax: 1
                              };
                              if (ymax) {
                                  options.ymax = ymax;
                              }
                              histmini("#" + idBase + "<%= i %>", data, options, barchart);
                          }
                      }

                      function fill(arr) {
                          <% if (row.points_list) { %>
                            const pointsListSize = <%= row.points_list.length %>;
                            return arr.concat(new Array(pointsListSize - arr.length).fill(0));
                          <% } else { %>
                            return arr;
                          <% } %>
                      }

                      drawHistogram([<%= row.first_submission_score_hist %>], "firstSubmissionScoreHist", true);
                      drawHistogram([<%= row.last_submission_score_hist %>], "lastSubmissionScoreHist", true);
                      drawHistogram([<%= row.max_submission_score_hist %>], "maxSubmissionScoreHist", true);
                      drawHistogram([<%= row.average_submission_score_hist %>], "averageSubmissionScoreHist", true);
                      drawHistogram(fill([<%= row.submission_score_array_averages %>]), "submissionScoreArray", false, true);
                      drawHistogram(fill([<%= row.incremental_submission_score_array_averages %>]), "incrementalSubmissionScoreArray", false, true);
                      drawHistogram([<%= row.incremental_submission_points_array_averages %>], "incrementalSubmissionPointsArray", false, true, <%= row.max_points %>);
                      drawHistogram([<%= row.number_submissions_hist %>], "numberSubmissionsHist", true);
                      drawHistogram([<%= row.quintile_question_scores %>], "quintileQuestionScoresHist", false, false, 100);
                  });
              </script>
            </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <p>
            Download <a href="<%= urlPrefix %>/question/<%= question.id %>/<%= assessmentStatsCsvFilename %>"><%= assessmentStatsCsvFilename %></a>
          </p>
          <small>
            <ul>
                <% Object.keys(stat_descriptions).forEach(function(stat) {%>
              <li>
                <strong>
                    <%- stat_descriptions[stat].title %>:
                </strong>
                  <%- stat_descriptions[stat].description %>
              </li>
                <% }); %>
            </ul>
          </small>
          <p class="no-bottom-margin">
            <b>
              * In the rare case that a student takes an assessment multiple times (e.g. if the assessment is a
              practice exam), we are calculating the above statistics by first averaging submission statistics over all
              assessment instances for the student. <br/>
              * μ<sub>Incr. Sub. Points Array</sub> is only available for exams.
            </b>
          </p>

        </div>
      </div>

    </div>
  </body>
</html>
