<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script src="/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/d3.min.js"></script>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/localscripts/stacked_histogram.js"></script>
    <script src="/localscripts/histmini.js"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <script src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: ''}); %>
    <div id="content" class="container">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Question <%= question.qid %></div>

        <div class="table-responsive">
          <table class="table table-sm table-hover two-column-description">
            <tbody>
              <tr>
                <th>Title</th>
                <td><%= question.title %></td>
              </tr>
              <tr>
                <th>QID</th>
                <td><%= question.qid %>
                    <% if (questionGHLink) { %>(<a target="_blank" href="<%= questionGHLink %>">view on GitHub</a>)<% } %>
                </td>
              </tr>
              <tr>
                <th>Type</th>
                <td><%= question.type %></td>
              </tr>
              <tr>
                <th>Topic</th>
                <td><%- include('../partials/topic', {topic: topic}); %></td>
              </tr>
              <tr>
                <th>Tags</th>
                <td><%- include('../partials/tags', {tags: tags}); %></td>
              </tr>
              <tr>
                <th>Issues</th>
                <td><%- include('../partials/issueBadge', {count: open_issue_count, issueQid: question.qid}); %></td>
              </tr>
              <tr>
                <th>Assessments</th>
                <td><%- include('../partials/assessments', {assessments: assessments}); %></td>
              </tr>
              <% if (question.type == 'Freeform') { %>
              <tr>
                <th class="align-middle">Tests</th>
                <td>
                  <form method="POST">
                    <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                    <button class="btn btn-sm btn-outline-primary" name="__action" value="test_once">
                      Test once with full details
                    </button>
                    <% if (question.grading_method !== 'External') { %>
                    <button class="btn btn-sm btn-outline-primary" name="__action" value="test_100">
                      Test 100 times with only results
                    </button>
                    <% } %>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#issueCollapse" aria-expanded="false" aria-controls="issueCollapse">
            Report an issue with this question
          </button>
          <div class="collapse" id="issueCollapse">
            <hr />
            <form method="POST">
              <div class="form-group">
                <textarea class="form-control" rows="5" name="description" placeholder="Describe the issue"></textarea>
              </div>
              <input type="hidden" name="__variant_id" value="<%= variant.id %>">
              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
              <div class="form-group text-right">
                <button class="btn btn-small btn-warning" name="__action" value="report_issue">Report issue</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include('../partials/question', {question_context: 'instructor'}); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          Num Attempts
        </div>
        <table class="table table-condensed table-hover two-column-description">
          <tbody>
            <tr>
              <th> Num Attempts Histogram Exams </th>
              <td>
                  <% if (exam_stats && exam_stats.number_submissions_hist_with_perfect_submission &&
                          exam_stats.number_submissions_hist_with_no_perfect_submission) { %>
                    <%- include('../partials/attempts-histogram', {
                    question_attempts_histogram: exam_stats.number_submissions_hist_with_perfect_submission,
                    question_attempts_before_giving_up_histogram: exam_stats.number_submissions_hist_with_no_perfect_submission,
                    title: 'exams'
                    }); %>
                  <% } else { %>
                    No data
                  <% } %>
              </td>
            </tr>
            <tr>
              <th> Num Attempts Histogram HW </th>
              <td>
                  <% if (hw_stats && hw_stats.number_submissions_hist_with_perfect_submission &&
                          hw_stats.number_submissions_hist_with_no_perfect_submission) { %>
                    <%- include('../partials/attempts-histogram', {
                    question_attempts_histogram: hw_stats.number_submissions_hist_with_perfect_submission,
                    question_attempts_before_giving_up_histogram: hw_stats.number_submissions_hist_with_no_perfect_submission,
                    title: 'hw'
                    }); %>
                  <% } else { %>
                    No data
                  <% } %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card-footer">
          Key:
          <br>
          <span class="outlineBarColor">Blue</span>: some perfect submission
          <br>
          <span class="outlineBarRedColor">Red</span>: no perfect submission
        </div>
      </div>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">Detailed assessment statistics</div>

        <div class="table-responsive">
          <table id="questionsTable" class="table table-sm table-hover tablesorter table-bordered">
            <thead>
              <tr>
                <th class="text-center">Course Instance</th>
                <th class="text-center">Assessment</th>
                  <% Object.keys(stat_descriptions).forEach(function(stat) {%>
                    <th
                        class="text-center"
                        title="<%- stat_descriptions[stat].description %>">
                      <%- stat_descriptions[stat].title %>
                    </th>
                  <% }); %>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < question_stats.length; i++) {
                  var domain_obj = question_stats[i];
                  var stats = domain_obj.stats; %>
                  <tr>
                    <td>Average over <%= domain_obj.domain_name %></td>
                    <td>---</td>
                    <% if (stats) { %>
                      <%- include('statsHtml', {row: stats, i: domain_obj.domain_code, is_average_row: true}); %>
                    <% } else { %>
                      <%- include('statsHtml', {row: {}, i: "", is_average_row: true}); %>
                    <% } %>
                  </tr>
              <% } %>
              <% assessment_stats.forEach(function(row, i) { %>
                  <tr>
                    <td>
                      <%= row.course_title %>
                    </td>
                    <td style="width: 1%">
                          <a href="/pl/course_instance/<%= row.course_instance_id %>/instructor/assessment/<%= row.assessment_id %>/" class="btn btn-<%=
                              row.color %> color-hover" role="button"><%= row.label %></a>
                    </td>
                    <%- include('statsHtml', {row: row, i: i, is_average_row: false}); %>
                  </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <p>
            Download <a href="<%= urlPrefix %>/question/<%= question.id %>/<%= questionStatsCsvFilename %>"><%= questionStatsCsvFilename %></a>
          </p>
          <small>
            <ul>
                <% Object.keys(stat_descriptions).forEach(function(stat) {%>
              <li>
                <strong>
                    <%- stat_descriptions[stat].title %>:
                </strong>
                  <%- stat_descriptions[stat].description %>
              </li>
                <% }); %>
            </ul>
            <p class="mb-0">
              In the case that a student takes this assessment multiple
              times (e.g., if this assessment is a practice exam), we
              are calculating the above statistics by first averaging
              over all assessment instances for each student, then
              averaging over students.
            </p>
          </small>
        </div>
      </div>

    </div>
  </body>
</html>
