<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>
    <link href="/stylesheets/theme.bootstrap.css" rel="stylesheet" />
    <script src="/javascripts/jquery.tablesorter.min.js"></script>
    <script src="/javascripts/jquery.tablesorter.widgets.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'courseQuestions'}); %>
    <div id="content" class="container">

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-- Course Questions ------------------------------------------------------------>      
      
      <div id="content" class="container-fluid">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          Questions
          <button class="btn btn-sm btn-light ml-auto" id="resetFilter">Clear all filters</button>
        </div>

        <div class="table-responsive">
          <table id="questionsTable" class="table table-sm table-hover tablesorter">
            <thead>
              <tr>
                <th>Title</th>
                <th>QID</th>
                <th class="filter-select filter-exact" data-placeholder="Choose topic">Topic</th>
                <th data-placeholder="Choose tag">Tags</th>
                <% course_instance_list.forEach( function(ci) { %>
                <th><%= ci.course_instance_short_name %></th>
                <% }); %>
              </tr>
            </thead>
            <tbody>
              <% questions.forEach(function(question) { %>
              <tr>
                <td class="align-middle">
                  <a href="<%= urlPrefix %>/question/<%= question.id %>/"><%= question.title %></a>
                  <%- include('../partials/issueBadge', {count: question.open_issue_count, issueQid: question.qid}); %>
                </td>
                <td class="align-middle"><%= question.qid %></td>
                <td class="align-middle"><%- include('../partials/topic', {topic: question.topic}); %></td>
                <td class="align-middle"><%- include('../partials/tags', {tags: question.tags}); %></td>
                <% question.course_instances.forEach(function(course_instance) { %>
                <td class="align-middle"><%- include('../partials/assessments', {assessments: course_instance.assessments}); %></td>
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <script>
          $(function(){
              $("#questionsTable").tablesorter({
                  theme: "bootstrap",
                  widthFixed: true,
                  headerTemplate: '{content} {icon}',
                  widgets: ["uitheme", "filter", "zebra"],
                  widgetOptions: {
                      zebra: ["even", "odd"],
                      filter_reset : "#resetFilter",
                      filter_cssFilter: "form-control",
                      filter_functions: {
                          3: {
                              <% all_tags.forEach(function(tag) { %>
                                  "<%= tag.name %>": function(e, n, f, i, $r, c, data) { return /\b<%= tag.name %>\b/.test(e); },
                              <% }); %>
                          },
                      },
                  },
              });
          });
        </script>
      </div>
    </div>

      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->
      <!-------------------------------------------------------------------------------->

    </div>
  </body>
</html>
