<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageNote: question.qid}); %>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <style>
      .popover{
        max-width: 50%;
      }
    </style>
  </head>
  <body>
    <script>
      $(function() {
        $('[data-toggle="popover"]').popover({
          sanitize: false
        });
      });
    </script>
    <%- include('../partials/navbar'); %>
    <main id="content" class="container-fluid">
      <%- include('../partials/questionSyncErrorsAndWarnings'); %>
      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex">
          Question <%= question.qid %>
        </div>

        <table class="table table-sm two-column-description">
          <tbody>
            <tr>
              <th>Title</th>
              <td><%= question.title %></td>
            </tr>
            <tr>
              <th>QID</th>
              <td>
                  <span class="mr-2"><%= question.qid %></span>
                  <% if ((authz_data.has_course_permission_edit) && (!course.example_course)) { %>
                  <button type="button" class="btn btn-xs btn-secondary mr-2" id="changeQidButton" data-toggle="popover" data-container="body" data-html="true" data-placement="auto" title="Change QID" data-content="<%= include('../partials/changeIdForm', {id_label: 'QID', buttonID: 'changeQidButton', id_old: question.qid, ids: qids}) %>" data-trigger="manual" onclick="$(this).popover('show')">
                      <i class="fa fa-i-cursor"></i>
                      <span>Change QID</span>
                  </button>
                  <% } %>
                  <% if (questionGHLink) { %>(<a target="_blank" href="<%= questionGHLink %>">view on GitHub</a>)<% } %>
              </td>
            </tr>
            <tr>
              <th>Configuration</th>
              <td>
                <% if (authz_data.has_course_permission_view) { %>
                  <a href="<%= urlPrefix %>/question/<%= question.id %>/file_view/<%= infoPath %>">
                    info.json
                  </a>
                  <% if ((authz_data.has_course_permission_edit) && (!course.example_course)) { %>
                    <a role="button" class="btn btn-xs btn-secondary mx-2" href="<%= urlPrefix %>/question/<%= question.id %>/file_edit/<%= infoPath %>">
                      <i class="fa fa-edit"></i>
                      <span>Edit</span>
                    </a>
                  <% } %>
                <% } else { %>
                  info.json
                <% } %>
              </td>
            </tr>
            <tr>
              <th>Type</th>
              <td><%= question.type %></td>
            </tr>
            <tr>
              <th>Topic</th>
              <td><%- include('../partials/topic', {topic: topic}); %></td>
            </tr>
            <tr>
              <th>Tags</th>
              <td><%- include('../partials/tags', {tags: tags}); %></td>
            </tr>
            <tr>
              <th>Issues</th>
              <td><%- include('../partials/issueBadge', {count: open_issue_count, issueQid: question.qid}); %></td>
            </tr>
            <tr>
              <th>Assessments</th>
              <td><% if (locals.assessments) { %><%- include('../partials/assessments', {assessments: assessments}); %><% } %></td>
            </tr>
            <% if (sharing_enabled) { %>
            <tr>
              <th class="align-middle">Sharing</th>
              <td data-testid="shared-with">
                <% if (question.shared_publicly) { %>
                  <span class="badge color-green3">Public</span>
                  This question is publicly shared.
                <% } else { %>
                  <% if (sharing_sets_in.length === 0) { %>
                    Not Shared
                  <% } else { %>
                    Shared With:
                    <% sharing_sets_in.forEach(function(sharing_set) { %>
                      <span class="badge color-gray1"><%= sharing_set.name %></span>
                    <% }); %>
                  <% } %>
                  <% if (authz_data.has_course_permission_own) { %>
                    <% if (sharing_sets_other.length > 0) { %>
                    <form name="sharing-set-add" method="POST" class="d-inline">
                      <input type="hidden" name="__action" value="sharing_set_add">
                      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                      <div class="btn-group btn-group-sm" role="group">
                        <button id="addSharingSet" type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Add...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="addSharingSet">
                            <% sharing_sets_other.forEach(function(sharing_set) { %>
                              <button class="dropdown-item" type="submit" name="unsafe_sharing_set_id" value="<%= sharing_set.id %>">
                                <%= sharing_set.name %>
                              </button>
                          <% }); %>
                        </div>
                      </div>
                    </form>
                    <% } %>
                    <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="modal" data-target="#publiclyShareModal">
                      Share Publicly
                    </button>
                    <div class="modal fade" id="publiclyShareModal" tabindex="-1" role="dialog" aria-labelledby="publiclyShareModalTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document" >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="publiclyShareModalTitle">
                              Confirm Publicly Share Question
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>
                              Are you sure you want to publicly share this question?
                            </p>
                            <p>
                              Once this question is publicly shared, anyone will be able to view it
                              or use it as a part of their course. This operation cannot be undone.
                            </p>
                            <% if (isEnterprise) { %>
                            <p>
                              You retain full ownership of all shared content as described in the
                              <a href="https://www.prairielearn.com/legal/terms#2-user-content" target="_blank">Terms of Service</a>.
                              To allow PrairieLearn to share your content to other users you agree to the
                              <a href="https://www.prairielearn.com/legal/terms#3-user-content-license-grant" target="_blank">User Content License Grant</a>.
                            </p>
                            <% } %>
                          </div>
                          <div class="modal-footer">
                            <form name="share-publicly" method="POST">
                              <input type="hidden" name="__action" value="share_publicly">
                              <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cancel
                              </button>
                              <button class="btn btn-primary" type="submit">
                                Publicly Share "<%= question.qid %>"
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>
                <% } %>
              </td>
            </tr>
            <% } %>
            <% if (question.type == 'Freeform' && question.grading_method != 'External' && authz_data.has_course_permission_view) { %>
            <tr>
              <th class="align-middle">Tests</th>
              <td>
                <form name="question-tests-form" method="POST" action="<%= questionTestPath %>">
                  <input type="hidden" name="__csrf_token" value="<%= questionTestCsrfToken %>">
                  <button class="btn btn-sm btn-outline-primary" name="__action" value="test_once">
                    Test once with full details
                  </button>
                  <button class="btn btn-sm btn-outline-primary" name="__action" value="test_100">
                    Test 100 times with only results
                  </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>

        <!--
          We only want to show the card footer if it will have something inside. Since it is easy
          to make a mistake when merging logical conditions, we will simply "or" them all.
        -->
        <% if ((editable_courses && (editable_courses.length > 0) && authz_data.has_course_permission_view) ||
               ((authz_data.has_course_permission_edit) && (!course.example_course))) { %>
        <div class="card-footer">
          <div class="row">
            <% if (editable_courses && (editable_courses.length > 0) && authz_data.has_course_permission_view && question.course_id === course.id) { %>
            <div class="col-auto">
              <button type="button" class="btn btn-sm btn-primary" id="copyQuestionButton" data-toggle="popover" data-container="body" data-html="true" data-placement="auto" title="Copy this question" data-content="<%= include('copyForm', {buttonID: 'copyQuestionButton'}) %>" data-trigger="manual" onclick="$(this).popover('show')">
                  <i class="fa fa-clone"></i>
                  <span>Make a copy of this question</span>
              </button>
            </div>
            <% } %>
            <% if ((authz_data.has_course_permission_edit) && (!course.example_course)) { %>
            <div class="col-auto">
              <button class="btn btn-sm btn-primary" href="#" data-toggle="modal" data-target="#deleteQuestionModal"><i class="fa fa-times" aria-hidden="true"></i> Delete this question</button>
            </div>
            <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuestionModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="deleteQuestionModalLabel">Delete question</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      Are you sure you want to delete the question <strong><%= question.qid %></strong>?
                    </p>
                    <% if (a_with_q_for_all_ci) { %>
                    <p>
                      It is included by these assessments:
                    </p>
                    <ul class="list-group my-4">
                      <% a_with_q_for_all_ci.forEach(function(a_with_q) {%>
                      <li class="list-group-item">
                        <h6><%= a_with_q.title %></h6>
                        <% a_with_q.assessments.forEach(function(a) {%>
                          <a href="/pl/course_instance/<%= a_with_q.course_instance_id %>/instructor/assessment/<%= a.assessment_id %>" class="badge color-<%= a.color %> color-hover">
                            <%= a.label %>
                          </a>
                        <% }); %>
                      </li>
                      <% }); %>
                    </ul>
                    <p>
                      So, if you delete it, you will be unable to sync your course content to the database until you either remove the question from these assessments or create a new question with the same QID.
                    </p>
                    <% } %>
                  </div>
                  <div class="modal-footer">
                    <form name="delete-question-form" method="POST">
                      <input type="hidden" name="__action" value="delete_question">
                      <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
