<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar', {navPage: 'assessment', navSubPage: 'overview'}); %>
    <div id="content" class="container">

      <h1><%= assessment_set.name %> <%= assessment.number %></h1>

      <ul class="list-group">
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/questions/">Questions</a></li>
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/access/">Access control</a></li>
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_statistics/">Assessment statistics</a></li>
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/question_statistics/">Question statistics</a></li>
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/downloads/">Downloads</a></li>
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/uploads/">Uploads</a></li>
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/regrading/">Regrading</a></li>
        <li class="list-group-item list-group-item-action"><a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/instances/">Student assessments</a></li>
      </ul>

    </div>
  </body>
</html>
