<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageNote: 'Preview', pageTitle: question.qid}); %>
    <%- include('../partials/mathjax'); %>
    <script src="<%= node_modules_asset_path('socket.io-client/dist/socket.io.min.js') %>"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <script src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
    <%- extraHeadersHtml %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <div id="content" class="container">
      <div class="row">
          <div class="col-lg-9 col-sm-12">
              <%- include('../partials/question', {question_context: 'instructor'}); %>
          </div>

          <div class="col-lg-3 col-sm-12">
              <%- include('../partials/instructorGradingPanel', {question_context: 'instructor'}); %>
              <div class="card mb-4">
                  <div class="card-header bg-secondary text-white">Student view placeholder</div>
                  <div class="card-body">
                      <div class="d-flex justify-content-center">
                          In student views this area is used for assessment and score info.
                      </div>
                  </div>
              </div>
              <%- include('../partials/instructorInfoPanel', {question_context: 'instructor'}); %>
          </div>
      </div>

    </div>
    <!-- Needs to be located below element scripts -->
    <script src="/localscripts/questionPageScripts.js"></script>
  </body>
</html>
