<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {pageNote: 'Preview', pageTitle: question.qid}); %>
    <%- include('../partials/mathjax'); %>
    <script src="/node_modules/socket.io-client/dist/socket.io.slim.js"></script>
    <script>
      document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/require.js"></script>
    <script src="/localscripts/question.js"></script>
    <script src="/localscripts/question<%= effectiveQuestionType %>.js"></script>
    <% } %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <div id="content" class="container">
      <div class="row">
          <div class="col-lg-9 col-sm-12">
          </div>

          <div class="col-lg-3 col-sm-12">
              <div class="card mb-4">
                  <div class="card-header bg-secondary text-white">Student view placeholder</div>
                  <div class="card-body">
                      <div class="d-flex justify-content-center">
                          In student views this area is used for assessment and score info.
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% if (typeof submission_updated !== 'undefined' && submission_updated === true) { %>
        <blockquote style="color: red">Submission updated</blockquote>
      <% } %>
      <form name="instance_question-mamual-grade-update-form" method="POST">
        <input type="hidden" name="__action" value="add_manual_grade">
        <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
        <input type="hidden" name="assessment_instance_id" class="modal-assessment-instance-id" value="">
        Score: <input name="submission-score" value="5"/>
      <p>Note: <input name="submission-note" value="Good job.">
      <p>Submission id: <input name="submission-id" value="<%= submission.id %>">
        <button type="submit" class="btn btn-danger">Submit Manual Grade</button>
      </form>

    </div>
    <!-- Needs to be located below element scripts -->
    <script src="/localscripts/questionPageScripts.js"></script>
  </body>
</html>
