<div class="form-group">
  <span class="w-100">
    <label for="js-<%= type %>-score-value-input-points-<%= context %>" class="js-manual-grading-points">
      <%= type_label %> Points:
    </label>
    <% if (assessment_question.max_points) { %>
    <label for="js-<%= type %>-score-value-input-percentage-<%= context %>" class="js-manual-grading-percentage">
      <%= type_label %> Score:
    </label>
    <% } %>
    <span class="float-right">
      <% if (!show_input) { %>
        <span class="js-manual-grading-points">
          <span class="js-<%= type %>-score-value-info">
            <span class="js-value-<%= type %>-points"><%= Math.round(points * 100) / 100 %></span> / <%= max_points %>
          </span>
        </span>
        <% if (assessment_question.max_points) { %>
        <span class="js-manual-grading-percentage">
          <span class="js-<%= type %>-score-value-info">
            <span class="js-value-<%= type %>-percentage"></span>%
          </span>
        </span>
        <% } %>
      <% } %>
      <div class="btn-group btn-group-sm" role="group">
        <% if (show_input_edit && authz_data.has_course_instance_permission_edit) { %>
          <button type="button" class="btn btn-outline-secondary js-enable-<%= type %>-score-edit js-<%= type %>-score-value-info">
            <i class="fas fa-pencil"></i>
          </button>
        <% } %>
        <% if (show_rubric_button && authz_data.has_course_instance_permission_edit) { %>
          <button type="button" class="btn btn-outline-secondary js-show-rubric-settings-button">
            <i class="fas fa-list-check"></i> Rubric
          </button>
        <% } %>
      </div>
    </span>
  </span>
  <div class="js-manual-grading-points">
    <div class="input-group js-<%= type %>-score-value-input <% if (!show_input) { %> d-none<% } %>">
      <input type="number" step="any" required
             id="js-<%= type %>-score-value-input-points-<%= context %>"
             class="form-control js-grading-score-input js-<%= type %>-score-value-input-points"
             data-max-points="<%= max_points %>"
             name="score_<%= type %>_points"
             value="<%= Math.round(points * 100) / 100 %>"
      <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
      <span class="input-group-append">
        <span class="input-group-text">/ <%= max_points %></span>
      </span>
    </div>
  </div>
  <% if (assessment_question.max_points) { %>
  <div class="js-manual-grading-percentage">
    <div class="input-group js-<%= type %>-score-value-input <% if (!show_input) { %> d-none<% } %>">
      <input type="number" step="any" required
             id="js-<%= type %>-score-value-input-percentage-<%= context %>"
             class="form-control js-grading-score-input js-<%= type %>-score-value-input-percentage"
             name="score_<%= type %>_percent"
      <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
      <span class="input-group-append">
        <span class="input-group-text">%</span>
      </span>
    </div>
  </div>
  <% } %>
</div>
