<!DOCTYPE html>
<html lang="en">
  <head>
    <%# instance_question_info is reset to keep the default title from showing the student question number %>
    <%- include('../../partials/head', {pageNote: `Instance - question ${instance_question_info.instructor_question_number}`, instance_question_info: undefined}); %>
    <%- compiled_script_tag('question.ts') %>
    <script defer src="<%= node_modules_asset_path('mathjax/es5/startup.js') %>"></script>
    <script>
     document.urlPrefix = '<%= urlPrefix %>';
    </script>
    <% if (question.type != 'Freeform') { %>
    <script src="<%= asset_path('javascripts/lodash.min.js') %>"></script>
    <script src="<%= asset_path('javascripts/require.js') %>"></script>
    <script src="<%= asset_path('localscripts/question.js') %>"></script>
    <script src="<%= asset_path(`localscripts/question${effectiveQuestionType}.js`) %>"></script>
    <% } %>
    <%- extraHeadersHtml %>
    <%- compiled_script_tag('instructorAssessmentManualGradingInstanceQuestion.js') %>
  </head>
  <body>
    <%- include('../../partials/navbar'); %>
    <div class="container-fluid">
      <%- include('../../partials/questionSyncErrorsAndWarnings'); %>
    </div>
    <%- include('rubricSettingsModal'); %>
    <main id="content" class="container-fluid">
      <% if (assessment_instance.open) { %>
      <div class="alert alert-danger" role="alert">
        This assessment instance is still open. Student may still be able to submit new answers.
      </div>
      <% } %>
      <% if (conflict_grading_job) { %>
      <div id="conflictGradingJobModal" class="modal fade">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header bg-danger text-light">
              <div class="modal-title">Grading conflict identified</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert">
                The submission you have just graded has already been graded by <%= instance_question.last_grader_name %>. Your score
                and feedback have not been applied. Please review the feedback below and select how you would like to proceed.
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <div><strong>Existing score and feedback</strong></div>
                  <div><%= instance_question.modified_at_formatted %>, by <%= instance_question.last_grader_name %></div>
                </div>
                <div class="col-6">
                  <div><strong>Conflicting score and feedback</strong></div>
                  <div><%= conflict_grading_job.grading_date_formatted %>, by <%= conflict_grading_job.grader_name %></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="card">
                  <%- include('gradingPanel',{
                    disable: true,
                    skip_text: 'Accept existing score',
                    context: 'existing'
                  }); %>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                  <%- include('gradingPanel', {
                    score_perc: conflict_grading_job.score * 100,
                    points: conflict_grading_job.score * assessment_question.max_points,
                    auto_points: conflict_grading_job.auto_points,
                    manual_points: conflict_grading_job.manual_points,
                    submission: conflict_grading_job,
                    context: 'conflicting'
                  }); %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <div class="row">
        <div class="col-lg-8 col-12">
          <%- include('../../partials/question', {question_context: 'manual_grading'}); %>
        </div>

        <div class="col-lg-4 col-12">
          <div class="card mb-4 border-info">
            <div class="card-header bg-info text-white">Grading</div>
            <div class="js-main-grading-panel">
              <%- include('gradingPanel', {context: 'main'}); %>
            </div>
          </div>

          <% if (file_list.length > 0) { %>
            <%- include('../../partials/attachFilePanel', {question_context: 'manual_grading'}) %>
          <% } %>

          <%- include('../../partials/instructorInfoPanel', {question_context: 'manual_grading'}); %>
        </div>
      </div>

    </main>
  </body>
</html>
