<% if (locals.rubric_data) { %>
  <style>
   .js-selectable-rubric-item-label {
       border-color: rgba(0,0,0,0);
       border-width: 1px;
       border-style: solid;
   }
   .js-selectable-rubric-item-label:has(input:checked) {
       border-color: rgba(0,0,0,.125);
       background-color: var(--light);
   }
   .js-selectable-rubric-item-label p {
       margin-bottom: 0;
   }
  </style>
  <% rubric_data.rubric_items?.forEach((item) => { %>
    <div>
      <label class="js-selectable-rubric-item-label w-100">
        <input type="checkbox" name="rubric_item_selected_manual"
               class="js-selectable-rubric-item"
               value="<%= item.id %>" <% if (submission.rubric_grading?.rubric_items?.[item.id]?.score) { %>checked<% } %>
               <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %>
               data-rubric-item-points="<%= item.points %>"
               data-key-binding="<%= item.key_binding %>">
        <span class="badge badge-info"><%= item.key_binding %></span>
        <span class="float-right text-<%= item.points >= 0 ? 'success' : 'danger' %>">
          <strong>
            <span class="js-manual-grading-points" data-testid="rubric-item-points">
              [<%= (item.points >= 0 ? '+' : '') + (Math.round(item.points * 100) / 100) %>]
            </span>
            <% if (assessment_question.max_points) { %>
            <span class="js-manual-grading-percentage">
              [<%= (item.points >= 0 ? '+' : '') + (Math.round(item.points * 10000 / (assessment_question.max_manual_points || assessment_question.max_points)) / 100) %>%]
            </span>
            <% } %>
          </strong>
        </span>
        <span>
          <div class="d-inline-block" data-testid="rubric-item-description">
            <%- item.description_rendered %>
          </div>
          <div class="small text-muted" data-testid="rubric-item-explanation">
            <%- item.explanation_rendered %>
          </div>
          <div class="small text-muted" data-testid="rubric-item-grader-note">
            <%- item.grader_note_rendered %>
          </div>
        </span>
      </label>
    </div>
  <% }); %>
  <div class="js-adjust-points d-flex justify-content-end">
    <button type="button" class="js-adjust-points-enable btn btn-sm btn-link <%= (submission.rubric_grading?.adjust_points || locals.disable || !authz_data.has_course_instance_permission_edit) ? 'd-none' : '' %>">
      Apply adjustment
    </button>
    <div class="js-adjust-points-input-container w-25 <%= submission.rubric_grading?.adjust_points ? '' : 'd-none' %>">
      <label>
        <span class="small">Adjustment:</span>
        <div class="js-manual-grading-points">
          <div class="input-group input-group-sm">
            <input type="number" step="any"
                   class="form-control js-adjust-points-points"
                   name="score_manual_adjust_points"
                   data-max-points="<%= (assessment_question.max_manual_points || assessment_question.max_points) %>"
                   value="<%= (Math.round(submission.rubric_grading?.adjust_points * 100) / 100) || '' %>"
            <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
          </div>
        </div>
        <% if (assessment_question.max_points) { %>
        <div class="js-manual-grading-percentage">
          <div class="input-group input-group-sm">
            <input type="number" step="any"
                   class="form-control js-adjust-points-percentage"
                   name="score_manual_adjust_percent"
                   data-max-points="<%= (assessment_question.max_manual_points || assessment_question.max_points) %>"
                   value="<%= (Math.round((submission.rubric_grading?.adjust_points || 0) * 10000 / (assessment_question.max_manual_points || assessment_question.max_points)) / 100) || '' %>"
            <% if (locals.disable || !authz_data.has_course_instance_permission_edit) { %>disabled<% } %> />
            <span class="input-group-append">
              <span class="input-group-text">%</span>
            </span>
          </div>
        </div>
        <% } %>
      </label>
    </div>
  </div>
<% } %>
