<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.name %> <%= assessment.number %>: Manual Grading Queue
        </div>

        <div class="table-responsive">
          <table id="instanceQuestionGradingTable" class="table table-sm table-hover">
            <thead>
              <tr>
                <th></th>
                <th>QID</th>
                <th>Points</th>
                <th>Number of Submissions</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% questions.forEach(function(question, i) { %>
              <tr>
                <td>
                  <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_question/<%= question.id %>/manual_grading">
                    <% if (question.alternative_group_size == 1) { %>
                    <%= question.alternative_group_number %>.
                    <% } else { %>
                    <%= question.alternative_group_number %>.<%= question.number_in_alternative_group %>.
                    <% } %>
                    <%= question.title %>
                  </a>
                </td>
                <td><%= question.qid %></td>
                <td>
                  <% if (assessment.type == "Exam") { %><%= question.points_list %><% } %>
                  <% if (assessment.type == "Homework") { %><%= question.init_points %>/<%= question.max_points %><% } %>
                </td>
                <td class="text-center">
                  <%= question.num_submissions %>
                </td>
                <td>
                  <% if (question.num_ungraded_submissions > 0) { %>
                  <a class="btn btn-primary" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_question/<%= question.id %>/next_ungraded">
                    Grade <%= question.num_ungraded_submissions %> submission<% if (question.num_ungraded_submissions > 1) { %>s<% } %>
                  </a>
                  <% } %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
