<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="<%= node_modules_asset_path('tablesorter/dist/css/theme.bootstrap.min.css') %>" rel="stylesheet" />
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('tablesorter/dist/js/jquery.tablesorter.widgets.min.js') %>"></script>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <!-- ###################################################################### -->
      <!-- ###################################################################### -->

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <%= assessment_set.name %> <%= assessment.number %>: Manual Grading Queue
        </div>

        <div class="table-responsive">
          <table id="instance-question-grading-table" class="table table-sm table-hover">
            <thead>
              <tr>
                <th class="question-title-header"></th>
                <th class="qid-header">QID</th>
                <th class="points-header">Points</th>
                <th class="ungraded-header">Ungraded</th>
                <th class="graded-header">Graded</th>
                <th class="grading-contributors-header">Grading Contributors</th>
                <th class="grade-next-header"></th>
              </tr>
            </thead>
            <tbody>
              <% questions.forEach(function(question, i) { %>
              <tr>
                <td class="question-title-value">
                  <a href="<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_question/<%= question.id %>/manual_grading">
                    <% if (question.alternative_group_size == 1) { %>
                    <%= question.alternative_group_number %>.
                    <% } else { %>
                    <%= question.alternative_group_number %>.<%= question.number_in_alternative_group %>.
                    <% } %>
                    <%= question.title %>
                  </a>
                </td>
                <td class="qid-value"><%= question.qid %></td>
                <td class="points-value">
                  <% if (assessment.type == "Exam") { %><%= question.points_list %><% } %>
                  <% if (assessment.type == "Homework") { %><%= question.init_points %>/<%= question.max_points %><% } %>
                </td>
                <td class="ungraded-value text-center">
                  <%= question.num_ungraded %>
                </td>
                <td class="graded-value text-center">
                  <%= question.num_graded %>
                </td>
                <td class="grading-contributors-value text-center">
                  <%= question.manual_grading_users && question.manual_grading_users.join(', ') %>
                </td>
                <td>
                  <% if (question.num_ungraded > 0) { %>
                  <a class="grade-next-value btn btn-primary" href="<%= urlPrefix %>/assessment/<%= assessment.id %>/assessment_question/<%= question.id %>/next_ungraded">
                    Grade Next 
                  </a>
                  <% } %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
