<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/adminNavbar', {navPage: 'questions'}); %>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= result.title %> (<%= result.qid %>)</h3>
        </div>

        <table class="table table-condensed table-hover">
          <tbody>
            <tr>
              <th>Title</th>
              <td><%= result.title %></td>
            </tr>
            <tr>
              <th>QID</th>
              <td><%= result.qid %></td>
            </tr>
            <tr>
              <th>Type</th>
              <td><%= result.type %></td>
            </tr>
            <tr>
              <th>Topic</th>
              <td><%= result.topic_name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="content" class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= result.title %> (<%= result.qid %>)</h3>
        </div>
        <div class="panel-body">
          <%- questionHtml %>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary">Submit</button>
          <button class="btn btn-info">Show true answer</button>
        </div>
      </div>
    </div>
  </body>
</html>
